<!-- basic scripts -->
<script type="text/javascript">
    var gs_prg_id = '<%= prg_id %>';
</script>
<script src="/js/setup/PMS0810070_setup.js"></script>

<div class="holidayDateSet">
    <div class="page-header">
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="myTab3">
                    <li class="active">
                        <a data-toggle="tab" href="#holidayDateSetTaTab01">
                            假日日期設定
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="holidayDateSetTaTab01" class="tab-pane in active">

                        <div class="col-sm-12 col-xs-12 holidayDateSet-content">
                            <div class="row">
                                <div class="col-sm-11 col-xs-11">
                                    <div class="row">
                                        <div class="grid holidayDateGrid">
                                            <div class="grid-item">
                                                <label>館別</label>
                                                <select>
                                                    <option value="hotel01">德安大飯店</option>
                                                    <option value="hotel02">美麗華大飯店</option>
                                                    <option value="hotel03">讀朵辛拉大飯店</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="grid holidayDateGrid">
                                            <div class="grid-item holidayDateSelect">
                                                <label class="float-left">日期別</label>
                                                <select class="input-small float-left" name="color_scheme" id="color_scheme">
                                                    <option value="#fff" selected="selected">平日</option>
                                                    <option value="#000">假日</option>
                                                    <option value="datePin03">旺日</option>
                                                </select>
                                                <div class="datePin01 float-left" style="background: #000;"></div>
                                            </div>
                                            <div class="grid-item time-daterange">
                                                <label class="float-left">日期起</label>
                                                <div class="input-daterange input-group float-left">
                                                    <input type="text" class="input-sm form-control" name="start" />
                                                    <span class="input-group-addon">
                                                                    <i class="fa fa-exchange"></i>
                                                                </span>
                                                    <input type="text" class="input-sm form-control" name="end" />
                                                </div>
                                            </div> <!-- grid-item -->
                                            <div class="grid-item weekDate">
                                                <span class="choiceDay">Sun</span>
                                                <span class="choiceDay">Mon</span>
                                                <span class="choiceDay">Tue</span>
                                                <span class="choiceDay">Wed</span>
                                                <span class="choiceDay">Thu</span>
                                                <span class="choiceDay">Fri</span>
                                                <span class="choiceDay">Sat</span>
                                            </div>
                                        </div>
                                        <div class="space-6"></div>
                                        <!--// 日期列表-->
                                        <!-- 套件:http://www.bootstrap-year-calendar.com/#Examples/Full example -->
                                        <div class="calendar-list"></div>

                                    </div>
                                </div>
                                <div class="col-xs-1 col-sm-1">
                                    <div class="row">
                                        <div class="right-menu-co">
                                            <ul>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth holiday-btn"
                                                            role="button">save</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.col-sm-12 -->
                        <div class="clearfix"></div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</div><!-- /.roomNumPlanPage -->


