<div class="col-xs-12">
    <div class="row">
        <label class="prg_idLbH3"><%= prg_id %></label>
    </div>
</div>

<div class="" id="PMS0830070App">

    <!-- 查詢 -->
    <search-comp
            :search-fields="searchFields"
            :search-cond.sync="searchCond"
            :fetch-data="loadDataGridByPrgID">
    </search-comp>

    <div class="col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right">
                    <table id="PMS0830070_dg" class="prg_dgHt_search"></table>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth cashierSetting-btn"
                                        @click="addRoute"
                                        role="button">Add
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="delRoutes"
                                        role="button">Delete
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pms0830070-comp
            :editing-row="editingRow"
            :single-data="singleData"
            :single-data-dt="singleDataDt"
            :tmp-c-u-d="tmpCUD"
            :dt2-item-nos-data-list="dt2ItemNosDataList">
    </pms0830070-comp>
</div>

<script>
    var gs_prg_id = '<%=prg_id%>';
</script>

<%-include ../vueTemplate/PMS0830070Tmp %>
<%- include ../vueTemplate/searchTmp.ejs %>

<!-- subSystem 共用 js -->
<script src="/js/webInit/initResizeHt.js"></script>
<script src="/js/setup/vueCompLib/searchComp.js"></script>
<script src="/js/setup/PMS0830070_setup.js"></script>