<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 業務員組別設定 Page-->
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-11">
                <div class="row no-margin-right">
                    <div class="col-xs-6">
                        <div class="row no-margin-right">
                            <div id="areaTree"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="gridTableHt">
                                <!-- 業務員組別 dataGrid -->
                                <table id="PMS0860060-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" onclick="areaTree_create();"
                                        role="button">Add</button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth" onclick="areaTree_delete();"
                                        role="button">Delete</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" onclick="areaTree_rename();"
                                        role="button">Edit</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Save</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Change Log</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
</div><!-- /.page-content -->

<script type="text/javascript">


    $(function () {

        // PMS0860060 業務員設定(多筆) dataGrid
        $('#PMS0860060-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/PMS0860060.json',
            method: 'get',
            columns: [[
                {field: 'clerkID', title: '業務員代號', width: 100},
                {field: 'clerkName', title: '業務員姓名', width: 150},
                {field: 'hotelSales', title: '飯店業務', width: 100},
                {field: 'restSales', title: '餐飲業務', width: 100},
                {field: 'memberSales', title: '會員業務', width: 100}
            ]]

        });

    })
    function areaTree_create() {
        var ref = $('#areaTree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        sel = ref.create_node(sel, {"type":"file"});
        if(sel) {
            ref.edit(sel);
        }
    };
    function areaTree_rename() {
        var ref = $('#areaTree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        ref.edit(sel);
    };
    function areaTree_delete() {
        var ref = $('#areaTree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        ref.delete_node(sel);
    };
    // areaTree demo
    $('#areaTree').jstree({
        "core" : {
            "animation" : 0,
//                'force_text' : true,
            "themes" : { "stripes" : true },
            //不可多選
            "multiple" : false,
            "check_callback" : true,
            'data' : {
                "url" : "/jsonData/areaTree.json",
                "dataType" : "json" // needed only if you do not supply JSON headers
            }
        },
        "checkbox" : {
            "keep_selected_style" : true,
            "whole_node" : false,
            // 選取時，false只會選到父節點，不會選到子結點
            "tie_selection":false
//                "visible":true
        },
        "dnd" : {
            "dnd" : true,
            "drag_selection" : true,
            "check_while_dragging" : true
        },
        "types" : {
            "#" : { "max_children" : 1, "max_depth" : 4, "valid_children" : ["root"] },
            "root" : { "icon" : "/images/icon/taiwan.png", "valid_children" : ["default"] },
            "default" : {"icon" : "/images/icon/taiwan.png",  "valid_children" : ["default","file"] },
            "file" : { "icon" : "fa fa-user", "valid_children" : [] }
        },
        "plugins" : [  "dnd", "search", "state", "types", "wholerow","checkbox" ]
    });

    var form_data ={};
    $(document).on("dnd_stop.vakata", function ( e, data) {
        console.log(data);


    })

    //tree change时事件
    $('#areaTree').on("changed.jstree", function (e, data) {
//        console.log("The selected nodes are:");
//        console.log(data.node.id);  //选择的node id
//        console.log(data.node.text);  //选择的node text
        form_data.ay = data.node.text;
        form_data.ay_id = data.node.id;
    });
</script>
