<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 房價稽核表 Page-->
    <div class="pageMain">

        <!-- main content -->
        <!--房型 SSU-->
        <div class="col-xs-12 specRoomTypeSet">
            <div class="">
                <div class="col-xs-1 leftTitle">
                    <div class="row no-margin-right">
                        房型 SSU
                    </div>
                </div>
                <div class="col-xs-11 horizTable-outer">
                    <div class="row">
                        <table class="css_table horizTable" style="width: 100%;">
                            <tbody class="css_tbody text-center">

                            <tr class="css_tr">
                                <td class="css_td" style="width: 10%;">322</td>
                                <td class="css_td" style="width: 10%;">323</td>
                                <td class="css_td" style="width: 10%;">324</td>
                                <td class="css_td" style="width: 10%;">325</td>
                                <td class="css_td" style="width: 10%;">326</td>
                                <td class="css_td" style="width: 10%;">327</td>
                                <td class="css_td" style="width: 10%;">422</td>
                                <td class="css_td" style="width: 10%;">423</td>
                                <td class="css_td" style="width: 10%;">424</td>
                                <td class="css_td" style="width: 10%;">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="dottedLine"></div>
                <div class="col-xs-11 col-xs-offset-1 totalInfo">
                    <div class="row">
                        <span class="title">小計：</span>
                        <span class="num">52</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--房型 SSV-->
        <div class="col-xs-12 specRoomTypeSet">
            <div class="">
                <div class="col-xs-1 leftTitle">
                    <div class="row no-margin-right">
                        房型 SSV
                    </div>
                </div>
                <div class="col-xs-11 horizTable-outer">
                    <div class="row">
                        <table class="css_table horizTable" style="width: 100%;">
                            <tbody class="css_tbody text-center">

                            <tr class="css_tr">
                                <td class="css_td" style="width: 10%;">322</td>
                                <td class="css_td" style="width: 10%;">323</td>
                                <td class="css_td" style="width: 10%;">324</td>
                                <td class="css_td" style="width: 10%;">325</td>
                                <td class="css_td" style="width: 10%;">326</td>
                                <td class="css_td" style="width: 10%;">327</td>
                                <td class="css_td" style="width: 10%;">422</td>
                                <td class="css_td" style="width: 10%;">423</td>
                                <td class="css_td" style="width: 10%;">424</td>
                                <td class="css_td" style="width: 10%;">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td">325</td>
                                <td class="css_td">326</td>
                                <td class="css_td">327</td>
                                <td class="css_td">422</td>
                                <td class="css_td">423</td>
                                <td class="css_td">424</td>
                                <td class="css_td">425</td>
                            </tr>
                            <tr class="css_tr">
                                <td class="css_td">322</td>
                                <td class="css_td">323</td>
                                <td class="css_td">324</td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                                <td class="css_td"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="dottedLine"></div>
                <div class="col-xs-11 col-xs-offset-1 totalInfo">
                    <div class="row">
                        <span class="title">小計：</span>
                        <span class="num">52</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--房型 SUT-->
        <div class="col-xs-12 specRoomTypeSet">
            <div class="">
                <div class="col-xs-1 leftTitle">
                    <div class="row no-margin-right">
                        房型 SUT
                    </div>
                </div>
                <div class="col-xs-11 horizTable-outer">
                    <div class="row">
                        <table class="css_table horizTable" style="width: 100%;">
                            <tbody class="css_tbody text-center">

                            <tr class="css_tr">
                                <td class="css_td" style="width: 10%;">322</td>
                                <td class="css_td" style="width: 10%;">323</td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="dottedLine"></div>
                <div class="col-xs-11 col-xs-offset-1 totalInfo">
                    <div class="row">
                        <span class="title">小計：</span>
                        <span class="num">2</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--房型 TAS-->
        <div class="col-xs-12 specRoomTypeSet">
            <div class="">
                <div class="col-xs-1 leftTitle">
                    <div class="row no-margin-right">
                        房型 TAS
                    </div>
                </div>
                <div class="col-xs-11 horizTable-outer">
                    <div class="row">
                        <table class="css_table horizTable" style="width: 100%;">
                            <tbody class="css_tbody text-center">

                            <tr class="css_tr">
                                <td class="css_td" style="width: 10%;">322</td>
                                <td class="css_td" style="width: 10%;">323</td>
                                <td class="css_td" style="width: 10%;">400</td>
                                <td class="css_td" style="width: 10%;">500</td>
                                <td class="css_td" style="width: 10%;">700</td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="dottedLine"></div>
                <div class="col-xs-11 col-xs-offset-1 totalInfo">
                    <div class="row">
                        <span class="title">小計：</span>
                        <span class="num">5</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--房型 zzzz-->
        <div class="col-xs-12 specRoomTypeSet">
            <div class="">
                <div class="col-xs-1 leftTitle">
                    <div class="row no-margin-right">
                        房型 zzzz
                    </div>
                </div>
                <div class="col-xs-11 horizTable-outer">
                    <div class="row">
                        <table class="css_table horizTable" style="width: 100%;">
                            <tbody class="css_tbody text-center">

                            <tr class="css_tr">
                                <td class="css_td" style="width: 10%;">1322</td>
                                <td class="css_td" style="width: 10%;">3123</td>
                                <td class="css_td" style="width: 10%;">1400</td>
                                <td class="css_td" style="width: 10%;">1500</td>
                                <td class="css_td" style="width: 10%;">1700</td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                                <td class="css_td" style="width: 10%;"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="dottedLine"></div>
                <div class="col-xs-11 col-xs-offset-1 totalInfo">
                    <div class="row">
                        <span class="title">小計：</span>
                        <span class="num">5</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 specRoomTypeSet">
            <div class="col-xs-11 col-xs-offset-1 totalAllInfo">
                <div class="row">
                    <span class="title red">總計：</span>
                    <span class="num">208</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>