<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- Page-->
    <div class="pageMain">

        <div class="col-xs-12">
            <h2>欄位屬性編輯界面</h2>
            <div id="prgPropsSetupVM">
                <sys-prg-select @set-active-prg="setActivePrg"></sys-prg-select>
                <prg-props-tabs :active-prg="activePrg"></prg-props-tabs>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

</div>

<script src="/js/system/PrgPropsSetup.js"></script>