<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- Page-->
    <div class="pageMain">
        <div class="col-xs-12">
            <div id="prgPropsSetupVM">
                <sys-prg-select></sys-prg-select>
                <prg-props-tabs></prg-props-tabs>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

</div>

<script src="/js/system/PrgPropsSetup.js"></script>