
<!--excample : http://doc.huangsw.com/vue-easytable/app.html#/table-->
<link rel="stylesheet" href="/css/vue/vue-easytable.css" />
<style>
    #setPageProSize .el-input .el-input__inner {
        width: 500px;
        max-width: 100%;
    }

    #setPageProSize .title,
    #setPageProSize_tabs .title {
        font-size: 1.2em;
        color: #555;
        margin: auto auto 5px auto;
    }

    /*@import url("//unpkg.com/vue-easytable/umd/css/index.css");*/
    /*.cell-edit-color{*/
    /*color:#2db7f5;*/
    /*font-weight: bold;*/
    /*}*/

</style>

<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- Page-->
    <div class="pageMain">
        <div class="col-xs-12">
            <div id="setPageProSize">
                <!--子系統-->
                <div class="title">
                    <i class="fa fa-pencil"></i>
                    選擇子系統
                </div>
                <el-cascader placeholder="選擇業務" :options="options" filterable></el-cascader>
                <div class="space-6"></div>

                <!--子系統業務-->
                <div class="title">
                    <i class="fa fa-pencil"></i>
                    選擇子系統業務
                </div>
                <div class="borderFrame">

                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="房型類別設定">
                                    房型類別設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="房型設定">
                                    房型設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="國籍設定">
                                    國籍設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="洲別設定">
                                    洲別設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="交通接駁設定">
                                    交通接駁設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="居住地設定">
                                    居住地設定
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-4"></div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="假日日期設定">
                                    假日日期設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="市場類別群組設定">
                                    市場類別群組設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="市場類別設定">
                                    市場類別設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="訂房卡來源群組設定">
                                    訂房卡來源群組設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="訂房卡來源設定">
                                    訂房卡來源設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="訂房折扣及房種升等授權者設定">
                                    訂房折扣及房種升等授權者設定
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-4"></div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="前檯訂房分析設定">
                                    前檯訂房分析設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="FOC設定">
                                    FOC設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="訂房類別設定">
                                    訂房類別設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="訂房取消原因設定">
                                    訂房取消原因設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="假日類別設定">
                                    假日類別設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="GATWAY轉入訂單設定">
                                    GATWAY轉入訂單設定
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-4"></div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="訂房確認書E-MAIL內容格式設定">
                                    訂房確認書E-MAIL內容格式設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="交辦事項設定">
                                    交辦事項設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="活動/展期名稱設定">
                                    活動/展期名稱設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="交通類別設定">
                                    交通類別設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary btn-white btn-defaultWidth moreHide"
                                        role="button"
                                        data-rel="tooltip" data-placement="bottom" title="房價設定">
                                    房價設定
                                </button>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="space-6"></div>
            </div>

            <div id="datatables">
                <template>
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="單筆" name="single">


                        </el-tab-pane>
                        <el-tab-pane label="多筆" name="mult">

                        </el-tab-pane>
                    </el-tabs>
                </template>

                <!--<div v-show="activeName == 'single'"  class="col-xs-12 col-sm-12" >-->
                <div v-show="activeName == 'single'" class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-11 col-sm-11">
                            <div class="row no-margin-right">
                                <template>
                                    <!--column-width-drag  **拖拉table內寬度-->
                                    <!--:height="200" **header 固定-->
                                    <v-table is-horizontal-resize=""
                                             column-width-drag
                                             style="width:100%"
                                             :columns="columns"
                                             :table-data="tableData" row-hover-color="#eee" row-click-color="#edf7ff"
                                             :cell-edit-done="cellEditDone"
                                             :height="200">

                                    </v-table>

                                </template>
                            </div>
                        </div>

                        <div class="col-xs-1 col-sm-1">
                            <div class="row">
                                <div class="right-menu-co">
                                    <ul>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                    role="button">
                                                Save
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="activeName == 'mult'">
                    test
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

</div>


<!-- /.page-content -->
<script>
    //<!--子系統-->
    var selectSystem = {
        data() {
            return {
                options: [{
                    value: 'PMS',
                    label: '飯店前檯系統',
                    children: [
                        {
                            value: 'reservations',
                            label: '訂房',
                            children: [
                                {
                                    value: 'PMS0110000',
                                    label: '訂房作業'
                                }, {
                                    value: 'PMS0120000',
                                    label: '訂房其他作業'
                                }]
                        },
                        {
                            value: 'frontDesk',
                            label: '接待',
                            children: [
                                {
                                    value: 'PMS0210000',
                                    label: '接待作業'
                                }, {
                                    value: 'PMS0220000',
                                    label: '排房其他作業 '
                                }
                            ]
                        },
                        {
                            value: 'setUp',
                            label: '設定',
                            children: [
                                {
                                    value: 'setUp_reservations',
                                    label: '訂房'
                                }, {
                                    value: 'setUp_frontDesk',
                                    label: '接待 '
                                }, {
                                    value: 'setUp_cashier',
                                    label: '出納'
                                }, {
                                    value: 'setUp_houseKeeping',
                                    label: '房務'
                                }, {
                                    value: 'setUp_nightAudit',
                                    label: '夜核'
                                }, {
                                    value: 'setUp_sales',
                                    label: '業務'
                                }
                            ]
                        }
                    ]
                }]
            };
        }
    };
    var Ctor = Vue.extend(selectSystem)
    new Ctor().$mount('#setPageProSize')

    // tabs 控制 && datagridTable
    var dataTables = new Vue({

        el: "#datatables",
        data: {

            // tabs 控制
            activeName: 'single',
            tableData: [{
                "user_athena_id": "赵伟",
                "user_id": "156*****1987",
                "athena_id": "钢琴、书法、唱歌",
                "prg_id": "11",
                "page_id": "11",
                "tab_page_id": "11",
                "template_id": "11",
                "ui_field_name": "11",
                "ui_type": "11",
                "ui_field_length": "11",
                "ui_field_num_point": "11",
                "row_seq": "11",
                "height": "11",
                "col_seq": "11",
                "label_width": "11",
                "width": "11",
                "visiable": "11",
                "modificable": "11",
                "requirable": "11",
                "keyable": "11",
                "multi_lang_table": "11",
                "format_func_name": "11",
                "rule_func_name": "11",
                "attr_func_name": "11"
            }, {
                "user_athena_id": "赵伟",
                "user_id": "156*****1987",
                "athena_id": "钢琴、书法、唱歌",
                "prg_id": "11",
                "page_id": "11",
                "tab_page_id": "11",
                "template_id": "11",
                "ui_field_name": "11",
                "ui_type": "11",
                "ui_field_length": "11",
                "ui_field_num_point": "11",
                "row_seq": "11",
                "height": "11",
                "col_seq": "11",
                "label_width": "11",
                "width": "11",
                "visiable": "11",
                "modificable": "11",
                "requirable": "11",
                "keyable": "11",
                "multi_lang_table": "11",
                "format_func_name": "11",
                "rule_func_name": "11",
                "attr_func_name": "11"
            },
                {
                    "user_athena_id": "赵伟",
                    "user_id": "156*****1987",
                    "athena_id": "钢琴、书法、唱歌",
                    "prg_id": "11",
                    "page_id": "11",
                    "tab_page_id": "11",
                    "template_id": "11",
                    "ui_field_name": "11",
                    "ui_type": "11",
                    "ui_field_length": "11",
                    "ui_field_num_point": "11",
                    "row_seq": "11",
                    "height": "11",
                    "col_seq": "11",
                    "label_width": "11",
                    "width": "11",
                    "visiable": "11",
                    "modificable": "11",
                    "requirable": "11",
                    "keyable": "11",
                    "multi_lang_table": "11",
                    "format_func_name": "11",
                    "rule_func_name": "11",
                    "attr_func_name": "11"
                },
                {
                    "user_athena_id": "赵伟",
                    "user_id": "156*****1987",
                    "athena_id": "钢琴、书法、唱歌",
                    "prg_id": "11",
                    "page_id": "11",
                    "tab_page_id": "11",
                    "template_id": "11",
                    "ui_field_name": "11",
                    "ui_type": "11",
                    "ui_field_length": "11",
                    "ui_field_num_point": "11",
                    "row_seq": "11",
                    "height": "11",
                    "col_seq": "11",
                    "label_width": "11",
                    "width": "11",
                    "visiable": "11",
                    "modificable": "11",
                    "requirable": "11",
                    "keyable": "11",
                    "multi_lang_table": "11",
                    "format_func_name": "11",
                    "rule_func_name": "11",
                    "attr_func_name": "11"
                },
                {
                    "user_athena_id": "赵伟",
                    "user_id": "156*****1987",
                    "athena_id": "钢琴、书法、唱歌",
                    "prg_id": "11",
                    "page_id": "11",
                    "tab_page_id": "11",
                    "template_id": "11",
                    "ui_field_name": "11",
                    "ui_type": "11",
                    "ui_field_length": "11",
                    "ui_field_num_point": "11",
                    "row_seq": "11",
                    "height": "11",
                    "col_seq": "11",
                    "label_width": "11",
                    "width": "11",
                    "visiable": "11",
                    "modificable": "11",
                    "requirable": "11",
                    "keyable": "11",
                    "multi_lang_table": "11",
                    "format_func_name": "11",
                    "rule_func_name": "11",
                    "attr_func_name": "11"
                }],
            columns: [
                {
                    field: 'user_athena_id',
                    title: 'user_athena_id',
                    width: 80,
                    titleAlign: 'center',
                    columnAlign: 'center',
                    isEdit: true,
                    formatter: function formatter(rowData, rowIndex, pagingIndex, field) {
                        return "<span class='cell-edit-color'>" + rowData[field] + "</span>";
                    },
                    isResize: true,
                    isFrozen: true
                },
                {
                    field: 'user_id',
                    title: 'user_id',
                    width: 80,
                    titleAlign: 'center',
                    columnAlign: 'center',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'athena_id',
                    title: 'athena_id',
                    width:100,
                    titleAlign: 'center',
                    columnAlign: 'center',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'prg_id',
                    title: 'prg_id',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'page_id',
                    title: 'page_id',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'tab_page_id',
                    title: 'tab_page_id',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'template_id',
                    title: 'template_id',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'ui_field_name',
                    title: 'ui_field_name',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'ui_type',
                    title: 'ui_type',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'ui_field_length',
                    title: 'ui_field_length',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'ui_field_num_point',
                    title: 'ui_field_num_point',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'row_seq',
                    title: 'row_seq',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'height',
                    title: 'height',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'col_seq',
                    title: 'col_seq',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'label_width',
                    title: 'label_width',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'width',
                    title: 'width',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'visiable',
                    title: 'visiable',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'modificable',
                    title: 'modificable',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'requirable',
                    title: 'requirable',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'keyable',
                    title: 'keyable',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'multi_lang_table',
                    title: 'multi_lang_table',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'format_func_name',
                    title: 'format_func_name',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'rule_func_name',
                    title: 'rule_func_name',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                },
                {
                    field: 'attr_func_name',
                    title: 'attr_func_name',
                    width: 100,
                    titleAlign: 'center',
                    columnAlign: 'left',
                    isEdit: true,
                    isResize: true
                }]

        },

        methods: {

            // 单元格编辑回调
            cellEditDone: function cellEditDone(newValue, oldValue, rowIndex, rowData, field) {

                this.tableData[rowIndex][field] = newValue;

                // 接下来处理你的业务逻辑，数据持久化等...
            },
            // tabs 控制
            handleClick(tab, event) {
//                alert(this.activeName);
                console.log(tab, event);
            }
        }
    });
</script>