
<div class="col-xs-12 col-sm-12">
    <div class="row">
        <div class="col-xs-11 col-sm-11">
            <div class="row no-margin-right">
                <div class="main-content-data">
                    <div class="row">
                        <div class="col-sm-5 col-xs-5">
                            <div class="borderFrame">
                                <div class="horizTable-outer table-middle table-ht2x">
                                    <table class="css_table horizTable">
                                        <tbody class="css_tbody text-right">
                                            <tr class="css_tr">
                                                <th class="css_th" style="min-width:150px;">消費總額</th>
                                                <td class="css_td" style="min-width:100px;">2000</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <th class="css_th">
                                                    <i class="fa fa-plus green pointer"></i>&nbsp;<span>代支金額</span></th>
                                                <td class="css_td">500</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <th class="css_th"><i class="fa fa-plus green pointer"></i>&nbsp;<span>外加稅額</span></th>
                                                <td class="css_td">0</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <th class="css_th"><i class="fa fa-minus red pointer"></i>&nbsp;<span>預付金額</span></th>
                                                <td class="css_td">1000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr class="hr-10">
                                <div class="horizTable-outer table-middle table-ht2x">
                                    <table class="css_table horizTable">
                                        <tbody class="css_tbody text-right">
                                            <tr class="css_tr">
                                                <th class="css_th" style="min-width:150px;">=應收合計</th>
                                                <td class="css_td" style="min-width:100px;">1500</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-7">
                            <div class="row no-margin-right borderFrame">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>結帳類別</label>
                                        <select class="input-medium medium-c3-col2Spc">
                                            <option value="5">5:住客</option>
                                            <!--<option value="-1">住客類別:類別名稱</option>-->
                                            <option value="0">0:一班客戶</option>
                                            <option value="1">1:會員</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Company</label>
                                        <input type="text" class="input-medium medium-c3"
                                               placeholder="公司編號"/>
                                        <span class="ml-4">
                                                        <input type="text" class="input-medium medium-c3"
                                                               placeholder="公司名稱"/>
                                                    </span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>統一編號</label>
                                        <input type="text" class="input-medium medium-c3" placeholder=""/>
                                        <span class="ml-4">
                                                        <input type="text" class="input-medium medium-c3" placeholder="聯數"/>
                                                    </span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>發票抬頭</label>
                                        <input type="text" class="input-medium medium-c3-col2Spc"
                                               placeholder=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="row no-margin-right borderFrame">
                                <div class="horizTable-outer table-middle">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                            <tr class="css_tr">
                                                <th class="css_th" style="min-width:25px;">
                                                    <i class="fa fa-plus green pointer"></i>
                                                </th>
                                                <th class="css_th text-center" style="min-width:184px;">付款方式
                                                </th>
                                                <th class="css_th text-center" style="min-width:150px;">付款金額
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                            <tr class="css_tr">
                                                <td class="css_td">
                                                    <i class="fa fa-minus red pointer"></i>
                                                </td>
                                                <td class="css_td">
                                                    <select class="input-medium medium-c1">
                                                        <option value="1">A0:沖客房預收</option>
                                                        <option value="2">10:現金</option>
                                                        <option value="3">11:Visa信用卡</option>
                                                    </select>
                                                </td>
                                                <td class="css_td">
                                                    <input type="text" class="input-medium medium-c3 text-right"
                                                           placeholder=""/>
                                                </td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">
                                                    <i class="fa fa-minus red pointer"></i>
                                                </td>
                                                <td class="css_td">A0:沖客房預收</td>
                                                <td class="css_td text-right">1000</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">
                                                    <i class="fa fa-minus red pointer"></i>
                                                </td>
                                                <td class="css_td">10:現金</td>
                                                <td class="css_td text-right">500</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">
                                                    <i class="fa fa-minus red pointer"></i>
                                                </td>
                                                <td class="css_td">11:Visa信用卡</td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">
                                                    <i class="fa fa-minus red pointer"></i>
                                                </td>
                                                <td class="css_td">12:Master信用卡</td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">
                                                    <i class="fa fa-minus red pointer"></i>
                                                </td>
                                                <td class="css_td">13:沖訂金</td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                        </tbody>

                                        <thead class="css_tbody">
                                            <tr class="css_tr">
                                                <td class="css_td"></td>
                                                <th class="css_th text-center" style="min-width:150px;">未付金額
                                                </th>
                                                <th class="css_th text-center" style="min-width:150px;">已付金額
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="css_tbody text-right">
                                            <tr class="css_tr">
                                                <td class="css_td"></td>
                                                <td class="css_td font-lg bold">1000</td>
                                                <td class="css_td font-lg bold">1500</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--main-content-data-->
            </div>
        </div>
        <div class="col-xs-1 col-sm-1">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <!--li.checkbox-->
                        <li class="btn-gray">
                                         <span class="checkbox">
                                              <label class="checkbox-width">
                                                  <input name="form-field-checkbox" type="checkbox" class="ace"
                                                         disabled>
                                                  <span class="lbl font-btn">分發票</span>
                                              </label>
                                          </span>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">Settle
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">Clear
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">Gift C.
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">Quit
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>