<div>
    <!-- 選項 PMS0120010Option 彈出視窗 -->
    <div id="PMS0120010Option-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">

                    <div class="main-content-data">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Pick up</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Pbx/Tv</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Trace</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="space-6"></div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Message</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Lost&found</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">拆併床</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="space-6"></div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Item Ity</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">PM</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div><!--main-content-data-->

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.選項 opPMS0120010Optiontion -->
</div>
