<div>
    <!-- 選項 PMS0120010Option 彈出視窗 -->
    <div id="PMS0120010Option-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">

                    <div class="main-content-data">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Pick up</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Pbx/Tv</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Trace</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="space-6"></div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Message</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Lost&found</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">拆併床</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="space-6"></div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Item Ity</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">PM</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div><!--main-content-data-->

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.選項 opPMS0120010Optiontion -->

    <!-- walkIn foCnt_walkIn 彈出視窗 -->
    <div id="foCnt_walkIn-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">

                <div class="row">

                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">

                            <div class="main-content-data borderFrame">

                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住宿夜數</label>
                                        <select class="input-medium resvCard-col2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>Agent</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="2017/04/01" disabled/>
                                    </div>
                                </div>

                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Full Name</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>住客類別</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="一般住客"/>
                                    </div>
                                </div>

                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>房價代號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--4-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>計價房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>使用房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="DXT:豪華雙" disabled/>
                                    </div>
                                </div>

                                <!--5-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房價</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂金代號</label>
                                        <input type="text" class="input-medium resvCard-col2Remark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>

                                <!--6-->
                                <div class="grid">
                                    <div class="pull-left">
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>服務費</label>
                                                <input type="text" class="input-medium resvCard-col2Remark2" placeholder="0"/>
                                                <span class="moreClick">授權</span>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>大人/小孩</label>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="1"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="grid-item">
                                            <label class="pull-left">Guest Remark</label>
                                            <textarea class="input-medium resvCard-col2Remark pull-left input-hCol2 marginLeft-5" placeholder="pick guy"></textarea>
                                            <span class="moreClick pull-left marginLeft-5">...</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>預刷卡費用</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>車號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--8-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>行動電話</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>電子郵件</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <div class="border-double1"></div>

                                <!--9-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房租</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>服務費</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>其他</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>合計</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Check In</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">製卡</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">入帳</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">結帳</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">服務項目</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">旅客登記卡</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">螢幕簽名</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.walkIn foCnt_walkIn -->

    <!-- dayUse foCnt_dayUse 彈出視窗 -->
    <div id="foCnt_dayUse-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">

                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">

                            <div class="main-content-data borderFrame">

                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住宿夜數</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>C/O日期</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="2017/03/31" disabled/>
                                    </div>
                                </div>

                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Full Name</label>
                                        <select class="input-medium resvCard-col2">
                                            <option value="1">休息</option>
                                            <option value="2">住宿</option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>住客類別</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="一般散客"/>
                                    </div>
                                </div>

                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>來源</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="Rest"/>
                                    </div>
                                </div>

                                <!--4-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房價代號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="Rest：休息"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>離店時間</label>
                                        <input type="time" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--5-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>計價房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="SPR:精緻雙人客房"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>使用房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="SPR:精緻雙人客房" disabled/>
                                    </div>
                                </div>

                                <!--6-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房價</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder="1,000"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂金代號</label>
                                        <input type="text" class="input-medium resvCard-col2Remark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>

                                <!--7-->
                                <div class="grid">
                                    <div class="pull-left">
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>服務費</label>
                                                <input type="text" class="input-medium resvCard-col2Remark2" placeholder="0"/>
                                                <span class="moreClick">授權</span>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>大人/小孩</label>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="1"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="grid-item">
                                            <label class="pull-left">Guest Remark</label>
                                            <textarea class="input-medium resvCard-col2Remark pull-left input-hCol2 marginLeft-5" placeholder="pick guy"></textarea>
                                            <span class="moreClick pull-left marginLeft-5">...</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <!--8-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>預刷卡費用</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>車號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--9-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>行動電話</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>電子郵件</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <div class="border-double1"></div>

                                <!--10-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房租</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>服務費</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>其他</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>合計</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Check In</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">製卡</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">入帳</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.dayUse foCnt_dayUse -->
</div>
