<div>

    <!-- PMS0210020 Extra Room foCnt_extraRm 彈出視窗 -->
    <div id="foCnt_extraRm-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">

                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住宿夜數</label>
                                        <select class="input-medium resvCard-col2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>Agent</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="2017/04/01" disabled/>
                                    </div>
                                </div>

                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Full Name</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>市場類別</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="一般住客"/>
                                    </div>
                                </div>

                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>房價代號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--4-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>計價房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>使用房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="DXT:豪華雙" disabled/>
                                    </div>
                                </div>

                                <!--5-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房價</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂金代號</label>
                                        <input type="text" class="input-medium resvCard-col2Remark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>

                                <!--6-->
                                <div class="grid">
                                    <div class="pull-left">
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>服務費</label>
                                                <input type="text" class="input-medium resvCard-col2Remark2" placeholder="0"/>
                                                <span class="moreClick">授權</span>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>大人/小孩</label>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="1"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="grid-item">
                                            <label class="pull-left">Guest Remark</label>
                                            <textarea class="input-medium resvCard-col2Remark pull-left input-hCol2 marginLeft-5" placeholder="pick guy"></textarea>
                                            <span class="moreClick pull-left marginLeft-5">...</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>預刷卡費用</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>車號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--8-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>行動電話</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>電子郵件</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <div class="border-double1"></div>

                                <!--9-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房租</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>服務費</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>其他</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>合計</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Extra Rm</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">服務項目</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">旅客登記卡</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">螢幕簽名</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.Extra Room foCnt_extraRm -->

    <!-- PMS0210020 Rate chg foCnt_rateChg 彈出視窗 -->
    <div id="foCnt_rateChg-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">
                                <p class="red no-margin-bottom">修改期間：[2017/05/10]~[2017/05/10]</p>

                                <div class="space-4"></div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Full Name</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="張嘉誠" disabled/>
                                    </div>
                                </div>


                                <div class="horizTable-outer">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                            <tr class="css_tr">
                                                <th class="css_th" style="min-width:94px;"></th>
                                                <th class="css_th" style="min-width:60px;">計價房種</th>
                                                <th class="css_th" style="min-width:140px;">Rate Cod</th>
                                                <th class="css_th" style="min-width:80px;">定價</th>
                                                <th class="css_th" style="min-width:80px;">房價</th>
                                                <th class="css_th" style="min-width:80px;">服務費</th>
                                                <th class="css_th" style="min-width:80px;">Package</th>
                                            </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                            <tr class="css_tr">
                                                <td class="css_td">目前房價</td>
                                                <td class="css_td">STD:標準房型</td>
                                                <td class="css_td text-right">N004:2016散客價</td>
                                                <td class="css_td text-right">0</td>
                                                <td class="css_td text-right">0</td>
                                                <td class="css_td text-right">0</td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td notice">本次異動</td>
                                                <td class="css_td">
                                                    <select class="input-medium">
                                                        <option value="1">STD</option>
                                                        <option value="2">SUP</option>
                                                        <option value="3">DXK</option>
                                                        <option value="4">DXT</option>
                                                    </select>
                                                </td>
                                                <td class="css_td text-right">
                                                    <input type="text" placeholder="N004:2016散客價" class="input-medium addedDate input_sta_required"/>
                                                </td>
                                                <td class="css_td text-right">2,880</td>
                                                <td class="css_td text-right">
                                                    <input type="text" placeholder="2,880" class="input-medium medium-c3-sm input_sta_required"/>
                                                </td>
                                                <td class="css_td text-right">
                                                    <input type="text" placeholder="288" class="input-medium medium-c3-sm input_sta_required"/>
                                                </td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="space-4"></div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>扣除授權人</label>
                                        <input type="text" class="input-medium medium-c1-Full input_sta_required" placeholder="" />
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>異動原因</label>
                                        <input type="text" class="input-medium medium-c1-Full input_sta_required" placeholder="" />
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Save</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.Extra Room foCnt_extraRm -->

    <!-- PMS0210020 Rm chg foCnt_rmChg 彈出視窗 -->
    <div id="foCnt_rmChg-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">

                                <div class="grid">
                                    <div class="grid-item">
                                        <label class="pull-left">換房備註</label>
                                        <textarea class="input-medium popWindow-s1v2-lg pull-left input-hCol2 marginLeft-5" placeholder=""></textarea>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">確定</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.Extra Room foCnt_extraRm -->

    <!-- PMS0210030 Room Assign -> Auto Assign 彈出視窗 -->
    <div id="foCnt_autoAssign-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>Search</span>
                            </div>
                            <div class="row">

                                <div class="search-co-content col-xs-12 rece-search-detail">
                                    <div class="row search-footer-btn">
                                        <div class="footer-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                        <div class="icon-reStyle icon-co-14"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                        <div class="icon-reStyle icon-co-11"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  <!-- /.footer-btn-menu-co -->
                                    </div> <!-- /.search-footer-btn -->
                                    <div class="width-95">
                                        <!--1-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>C/I日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2 input_sta_required" placeholder="" />
                                            </div>
                                            <div class="grid-item">
                                                <label>速查</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="" />
                                            </div>
                                        </div>
                                        <!--2-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>訂房卡號</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="" />
                                            </div>
                                            <div class="grid-item">
                                                <label>排房狀態</label>

                                                <select class="input-medium popWindow-s1v2-col2">
                                                    <option value="1">未排完</option>
                                                    <option value="2">已排完</option>
                                                    <option value="3">全部</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="border-double1"></div>

                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>狀態</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="乾淨" />
                                            </div>
                                            <div class="grid-item">
                                                <label>樓層</label>

                                                <input type="date" class="input-medium popWindow-s1v2-col2RM" placeholder="" disabled/>
                                                <span class="moreClick">...</span>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>分佈規則</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="循序分佈" />
                                            </div>
                                            <div class="grid-item">
                                                <label>房間特色</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2RM" placeholder="" disabled/>
                                                <span class="moreClick">...</span>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>開始房號</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="循序分佈" />
                                            </div>
                                        </div>

                                        <div class="row search-footer-btn" style="top: 60px;">
                                            <div class="footer-btn-menu-co">
                                                <ul>
                                                    <li>
                                                        <div class="" data-rel="tooltip" data-placement="bottom" title="重設規則">
                                                            <div class="icon-reStyle icon-co-11"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>  <!-- /.footer-btn-menu-co -->
                                        </div> <!-- /.search-footer-btn -->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div> <!-- row-->
                        </div> <!-- /.search-co -->
                    </div> <!-- /.row  search-content-->

                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">

                                <!-- Auto Assign foCnt_autoAssign-table dataGrid -->
                                <table id="foCnt_autoAssign-table"></table>
                            </div><!--main-content-data-->
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth foCnt_autoAssignSGL"
                                                role="button">Assign
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Fill
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /PMS0210030 Room Assign -> Auto Assign 彈出視窗 -->

    <!-- PMS0210030 Room AssignSGL -> Auto AssignSGL 彈出視窗 -->
    <div id="foCnt_autoAssignSGL-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">

                                <!-- Auto Assign foCnt_autoAssign-table dataGrid -->
                                <table id="foCnt_autoAssignSGL-table"></table>
                            </div><!--main-content-data-->
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Save
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Clear
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /PMS0210030 Room Assign -> Auto Assign 彈出視窗 -->


</div>
