<div>

    <!--旅客登記卡 彈出視窗-->
    <div id="registration-card-message" class="hide padding-5" style="top: 200px !important;">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">

                        <div class="main-content-data">
                            <div class="grid lost-found-wrap">
                                <div class="grid-item">
                                    <label>旅客登記卡格式</label>

                                    <select class="input-medium resvCard-col2">
                                        <option value="1">rCard_royalch_20170215</option>
                                        <option value="2">rCard_royalch_20170215</option>
                                        <option value="3">rCard_royalch_20170215</option>
                                    </select>
                                </div>
                                <div class="grid-item">
                                    <div class="searchCheckbox">
                                                <span class="checkbox">
                                                  <label class="checkbox-width">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                                      <span class="lbl">列印房租</span>
                                                  </label>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div><!--main-content-data-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">列印
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.旅客登記卡 入帳 -->

    <!--住客帳入帳作業 彈出視窗-->
    <div id="frontDeskRecorded-message" class="hide padding-5" style="top: 200px !important;">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">

                        <div class="main-content-data">
                            <table id="frontDeskRecorded1-table"></table>
                        </div><!--main-content-data-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth frontDeskRecorded_Btn"
                                                role="button">Post
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top10">
                    <div class="col-xs-11 col-sm-11">

                        <div class="main-content-data">
                            <table id="frontDeskRecorded2-table"></table>
                        </div><!--main-content-data-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                新增<input class="input-medium resvCard-2xs margin-3" type="text">筆
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.住客帳入帳作業 入帳 -->

    <!--開班登入 入帳 彈出視窗-->
    <div id="frontDesk_depoisits-message" class="hide padding-5" style="top: 200px !important;">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">

                        <div class="main-content-data">

                            <div class="grid">
                                <div class="grid-item">
                                    <label>日期</label>
                                    <input type="text" class="input-medium popWindow-s1-col2" placeholder="2017/07/21" disabled>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>廳別</label>
                                    <select class="input-medium popWindow-s1-col2">
                                        <option value="1">FO:櫃檯</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>班別</label>
                                    <select class="input-medium popWindow-s1-col2">
                                        <option value="1">Ａ:早班</option>
                                        <option value="1">Ｂ:晚班</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>使用者</label>
                                    <input type="text" class="input-medium popWindow-s1-col2" placeholder="cio">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>密碼</label>
                                    <input type="password" class="input-medium popWindow-s1-col2" placeholder="">
                                </div>
                            </div>

                        </div><!--main-content-data-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth frontDeskRecorded_Btn"
                                                role="button">確定
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.開班登入 入帳 -->
    <!-- PMS0210020 Extra Room foCnt_extraRm 彈出視窗 -->
    <div id="foCnt_extraRm-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">

                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住宿夜數</label>
                                        <select class="input-medium resvCard-col2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>Agent</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="2017/04/01" disabled/>
                                    </div>
                                </div>

                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Full Name</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>市場類別</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="一般住客"/>
                                    </div>
                                </div>

                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>房價代號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--4-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>計價房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>使用房種</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="DXT:豪華雙" disabled/>
                                    </div>
                                </div>

                                <!--5-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房價</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂金代號</label>
                                        <input type="text" class="input-medium resvCard-col2Remark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>

                                <!--6-->
                                <div class="grid">
                                    <div class="pull-left">
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>服務費</label>
                                                <input type="text" class="input-medium resvCard-col2Remark2" placeholder="0"/>
                                                <span class="moreClick">授權</span>
                                            </div>
                                        </div>
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>大人/小孩</label>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="1"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                                <span>/</span>
                                                <input type="text" class="input-medium resvCard-sm text-right" placeholder="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="grid-item">
                                            <label class="pull-left">Guest Remark</label>
                                            <textarea class="input-medium resvCard-col2Remark pull-left input-hCol2 marginLeft-5" placeholder="pick guy"></textarea>
                                            <span class="moreClick pull-left marginLeft-5">...</span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>預刷卡費用</label>
                                        <input type="text" class="input-medium resvCard-col2 text-right" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>車號</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <!--8-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>行動電話</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>電子郵件</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                </div>

                                <div class="border-double1"></div>

                                <!--9-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房租</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>服務費</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>其他</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>合計</label>
                                        <input type="text" class="input-medium resvCard text-right" placeholder="0" disabled/>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Extra Rm</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">服務項目</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth registration-cardBtn"
                                                role="button">旅客登記卡</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">螢幕簽名</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.Extra Room foCnt_extraRm -->

    <!-- PMS0210020 Rate chg foCnt_rateChg 彈出視窗 -->
    <div id="foCnt_rateChg-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">
                                <p class="red no-margin-bottom">修改期間：[2017/05/10]~[2017/05/10]</p>

                                <div class="space-4"></div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Full Name</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="張嘉誠" disabled/>
                                    </div>
                                </div>


                                <div class="horizTable-outer">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                            <tr class="css_tr">
                                                <th class="css_th" style="min-width:94px;"></th>
                                                <th class="css_th" style="min-width:60px;">計價房種</th>
                                                <th class="css_th" style="min-width:140px;">Rate Cod</th>
                                                <th class="css_th" style="min-width:80px;">定價</th>
                                                <th class="css_th" style="min-width:80px;">房價</th>
                                                <th class="css_th" style="min-width:80px;">服務費</th>
                                                <th class="css_th" style="min-width:80px;">Package</th>
                                            </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                            <tr class="css_tr">
                                                <td class="css_td">目前房價</td>
                                                <td class="css_td">STD:標準房型</td>
                                                <td class="css_td text-right">N004:2016散客價</td>
                                                <td class="css_td text-right">0</td>
                                                <td class="css_td text-right">0</td>
                                                <td class="css_td text-right">0</td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td notice">本次異動</td>
                                                <td class="css_td">
                                                    <select class="input-medium">
                                                        <option value="1">STD</option>
                                                        <option value="2">SUP</option>
                                                        <option value="3">DXK</option>
                                                        <option value="4">DXT</option>
                                                    </select>
                                                </td>
                                                <td class="css_td text-right">
                                                    <input type="text" placeholder="N004:2016散客價" class="input-medium addedDate input_sta_required"/>
                                                </td>
                                                <td class="css_td text-right">2,880</td>
                                                <td class="css_td text-right">
                                                    <input type="text" placeholder="2,880" class="input-medium medium-c3-sm input_sta_required"/>
                                                </td>
                                                <td class="css_td text-right">
                                                    <input type="text" placeholder="288" class="input-medium medium-c3-sm input_sta_required"/>
                                                </td>
                                                <td class="css_td text-right">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="space-4"></div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>扣除授權人</label>
                                        <input type="text" class="input-medium medium-c1-Full input_sta_required" placeholder="" />
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>異動原因</label>
                                        <input type="text" class="input-medium medium-c1-Full input_sta_required" placeholder="" />
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Save</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.Extra Room foCnt_extraRm -->

    <!-- PMS0210020 Rm chg foCnt_rmChg 彈出視窗 -->
    <div id="foCnt_rmChg-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房號</label>
                                        <input type="text" class="input-medium popWindow-s1v2-lg" placeholder="" />
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label class="pull-left">換房備註</label>
                                        <textarea class="input-medium popWindow-s1v2-lg pull-left input-hCol2 marginLeft-5" placeholder=""></textarea>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">確定</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.Extra Room foCnt_extraRm -->

    <!-- PMS0210030 Room Assign -> Auto Assign 彈出視窗 -->
    <div id="foCnt_autoAssign-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>Search</span>
                            </div>
                            <div class="search-co-content col-xs-12 rece-search-detail">
                                <div class="row search-footer-btn">
                                    <div class="footer-btn-menu-co">
                                        <ul>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                    <div class="icon-reStyle icon-co-14"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                    <div class="icon-reStyle icon-co-11"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  <!-- /.footer-btn-menu-co -->
                                </div> <!-- /.search-footer-btn -->
                                <div class="width-95">
                                    <!--1-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>C/I日期</label>
                                            <input type="date" class="input-medium popWindow-s1v2-col2 input_sta_required" placeholder="" />
                                        </div>
                                        <div class="grid-item">
                                            <label>速查</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="" />
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>訂房卡號</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="" />
                                        </div>
                                        <div class="grid-item">
                                            <label>排房狀態</label>

                                            <select class="input-medium popWindow-s1v2-col2">
                                                <option value="1">未排完</option>
                                                <option value="2">已排完</option>
                                                <option value="3">全部</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="border-double1"></div>

                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>狀態</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="乾淨" />
                                        </div>
                                        <div class="grid-item">
                                            <label>樓層</label>

                                            <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="" disabled/>
                                            <span class="moreClick">...</span>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>分佈規則</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="循序分佈" />
                                        </div>
                                        <div class="grid-item">
                                            <label>房間特色</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="" disabled/>
                                            <span class="moreClick">...</span>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>開始房號</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="循序分佈" />
                                        </div>
                                    </div>

                                    <div class="row search-footer-btn" style="top: 60px;">
                                        <div class="footer-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="重設規則">
                                                        <div class="icon-reStyle icon-co-11"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  <!-- /.footer-btn-menu-co -->
                                    </div> <!-- /.search-footer-btn -->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div> <!-- /.search-co -->
                    </div> <!-- /.row  search-content-->
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">

                                <!-- Auto Assign foCnt_autoAssign-table dataGrid -->
                                <table id="foCnt_autoAssign-table"></table>
                            </div><!--main-content-data-->
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth foCnt_autoAssignSGL"
                                                role="button">Assign</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button" >以下全選</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button" >以下不選</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /PMS0210030 Room Assign -> Auto Assign 彈出視窗 -->

    <!-- PMS0210030 Room AssignSGL -> Auto AssignSGL 彈出視窗 -->
    <div id="foCnt_autoAssignSGL-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">
                                <!-- Auto Assign foCnt_autoAssign-table dataGrid -->
                                <table id="foCnt_autoAssignSGL-table"></table>
                            </div><!--main-content-data-->
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Save
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Clear
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /PMS0210030 Room Assign -> Auto Assign 彈出視窗 -->

    <!-- PMS0210070 fast Co  彈出視窗 -->
    <div id="foCnt_fastCo-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">
                                <div class="row">
                                    <div class="col-sm-5 col-xs-5">
                                        <div class="borderFrame">
                                            <div class="horizTable-outer table-middle table-ht2x">
                                                <table class="css_table horizTable">

                                                    <tbody class="css_tbody text-right">
                                                        <tr class="css_tr">
                                                        <th class="css_th" style="min-width:150px;">消費總額</th>
                                                        <td class="css_td" style="min-width:100px;">2000</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <th class="css_th">+代支金額</th>
                                                            <td class="css_td">500</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <th class="css_th">+外加稅額</th>
                                                            <td class="css_td">0</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <th class="css_th">-預付金額</th>
                                                            <td class="css_td">1000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr class="hr-10">
                                            <div class="horizTable-outer table-middle table-ht2x">
                                            <table class="css_table horizTable">
                                                <tbody class="css_tbody text-right">
                                                    <tr class="css_tr">
                                                        <th class="css_th" style="min-width:150px;">=應收合計</th>
                                                        <td class="css_td" style="min-width:100px;">1500</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-xs-7">
                                        <div class="row no-margin-right borderFrame">
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>結帳類別</label>
                                                    <select class="input-medium medium-c3-col2Spc">
                                                        <option value="5">5:住客</option>
                                                        <!--<option value="-1">住客類別:類別名稱</option>-->
                                                        <option value="0">0:一班客戶</option>
                                                        <option value="1">1:會員</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>Company</label>
                                                    <input type="text" class="input-medium medium-c3" placeholder="公司編號" />
                                                    <input type="text" class="input-medium medium-c3" placeholder="公司名稱" />
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>統一編號</label>
                                                    <input type="text" class="input-medium medium-c3" placeholder="" />
                                                    <input type="text" class="input-medium medium-c3" placeholder="聯數" />
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>發票抬頭</label>
                                                    <input type="text" class="input-medium medium-c3-col2Spc" placeholder="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="row no-margin-right borderFrame">
                                            <div class="horizTable-outer table-middle">
                                                <table class="css_table horizTable">
                                                    <thead class="css_thead">
                                                        <tr class="css_tr">
                                                            <th class="css_th text-center" style="min-width:184px;">付款方式</th>
                                                            <th class="css_th text-center" style="min-width:150px;">付款金額</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="css_tbody text-right">
                                                        <tr class="css_tr">
                                                            <td class="css_td">

                                                                <select class="input-medium medium-c1">
                                                                    <option value="1">A0:沖客房預收</option>
                                                                    <option value="2">10:現金</option>
                                                                    <option value="3">11:Visa信用卡</option>
                                                                </select>
                                                            </td>
                                                            <td class="css_td">
                                                                <input type="text" class="input-medium medium-c3" placeholder="" />
                                                            </td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">A0:沖客房預收</td>
                                                            <td class="css_td">1000</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">10:現金</td>
                                                            <td class="css_td">500</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">11:Visa信用卡</td>
                                                            <td class="css_td">0</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">12:Master信用卡</td>
                                                            <td class="css_td">0</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">13:沖訂金</td>
                                                            <td class="css_td">0</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td"></td>
                                                            <td class="css_td"></td>
                                                        </tr>
                                                    </tbody>

                                                    <thead class="css_tbody">
                                                        <tr class="css_tr">
                                                            <th class="css_th text-center" style="min-width:150px;">未付金額</th>
                                                            <th class="css_th text-center" style="min-width:150px;">已付金額</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="css_tbody text-right">
                                                        <tr class="css_tr">
                                                            <td class="css_td font-lg bold">1000</td>
                                                            <td class="css_td font-lg bold">1500</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <!--li.checkbox-->
                                    <li>
                                         <span class="checkbox">
                                              <label class="checkbox-width">
                                                  <input name="form-field-checkbox" type="checkbox" class="ace">
                                                  <span class="lbl font-btn">分發票</span>
                                              </label>
                                          </span>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Settle</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Clear</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Gift C.</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0210070 開立現金帳 彈出視窗 -->

    <!-- PMS0210070 Departure > group > tourGuide (foCnt_tourGuide) 彈出視窗 -->
    <div id="foCnt_tourGuide-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-10 col-sm-10">
                        <div class="main-content-data">
                            <div class="grid">
                                <div class="grid-item">
                                    <label>團號/團名</label>
                                    <input type="text" class="input-medium popWindow-s1v2-col2 input_sta_required" placeholder="Long Chua Chen">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>導遊姓名</label>
                                    <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>聯絡電話</label>
                                    <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>房號</label>
                                    <input type="time" class="input-medium popWindow-s1v2-col2" placeholder="">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>晨呼時間</label>
                                    <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                </div>
                            </div>
                        </div><!--main-content-data-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth resv_depositsStep2"
                                                role="button">確定
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.PMS0210070 Departure > group > tourGuide (foCnt_tourGuide) -->

    <!-- PMS0210070 Departure > group > post master (foCnt_cslPostMaster) 彈出視窗 -->
    <div id="foCnt_cslPostMaster-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">

                                <!--PMS0210020 editCoDate table-->
                                <table id="foCnt_cslPostMaster-table" style="height: 200px;"></table>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">確定</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">離開</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">以下全選</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">以下不選</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0210070 Departure > group > post master (foCnt_cslPostMaster) -->

    <!-- PMS0210070 Departure > group > Folio (foCnt_folio) 彈出視窗 -->
    <div id="foCnt_folio-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">
                                <div class="grid-item">
                                    <label>Type</label>
                                    <select class="input-medium medium-c5">
                                        <option value="">前台出納帳單</option>
                                        <option value="">後台出納帳單</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="folioRadio">
                                    <div class="folioWrap">
                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">標準帳單</span>
                                              </label>
                                            </span>
                                        </div>

                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">標準帳單(含消費備註)</span>
                                              </label>
                                            </span>
                                        </div>

                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">項目帳單</span>
                                              </label>
                                            </span>
                                        </div>

                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">小分類帳單</span>
                                              </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="folioWrap">
                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">中分類帳單</span>
                                              </label>
                                            </span>
                                        </div>
                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">日期帳單</span>
                                              </label>
                                            </span>
                                        </div>
                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">日期/項目帳單</span>
                                              </label>
                                            </span>
                                        </div>
                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">彙總一筆(房費)</span>
                                              </label>
                                            </span>
                                        </div>
                                        <div class="searchRadio lineHeight24">
                                            <span class="radio">
                                              <label class="checkbox-width width-auto">
                                                  <input name="form-field-checkbox" value="addMorningRadio3" type="radio" class="ace">
                                                  <span class="lbl">房務掛帳明細列印</span>
                                              </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">預覽</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">列印</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消</button>
                                    </li>
                                    <li>
                                        <input type="text" class="input-medium form-control text-right defHt" placeholder="1" />
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">調整帳單</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0210070 Departure > group > post master (foCnt_cslPostMaster) -->

    <!-- PMS0210070 Departure > group > 房租總額 (foCnt_totalRent) 彈出視窗 -->
    <div id="foCnt_totalRent-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data borderFrame">
                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房卡號</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="00489001"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>公帳號</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="Ｇ52"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>預估FOC金額</label>
                                        <input type="text" class="input-medium medium-c1 text-right" placeholder="0"/>
                                    </div>
                                </div>

                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房租總額</label>
                                        <input type="text" class="input-medium medium-c1 text-right" placeholder="4,488"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>其他總額</label>
                                        <input type="text" class="input-medium medium-c1 text-right" placeholder="0"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>總計</label>
                                        <input type="text" class="input-medium medium-c1 text-right" placeholder="4,488"/>
                                    </div>
                                </div>
                            </div><!--main-content-data-->
                            <div class="clearfix"></div>
                            <div class="space-6"></div>

                            <!-------- tabPage -------->
                            <div class="easyui-tabs easyUi-custom1" style="height: 400px; overflow-y: auto;">
                                <!--大標題寫法：titleInfo-->
                                <div title="預估帳款" class="padding-tabs">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="row">
                                            <div class="horizTable-outer">
                                                <table class="css_table horizTable" style="width:100%;">
                                                    <thead class="css_thead">
                                                    <tr class="css_tr">
                                                        <th class="css_th" style="width:10%;">服務日期</th>
                                                        <th class="css_th" style="width:20%;">住房房種</th>
                                                        <th class="css_th" style="width:10%;">間數</th>
                                                        <th class="css_th" style="width:15%;">房價</th>
                                                        <th class="css_th" style="width:15%;">服務費</th>
                                                        <th class="css_th" style="width:15%;">Package</th>
                                                        <th class="css_th" style="width:15%;">合計</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="css_tbody">
                                                    <tr class="css_tr">
                                                        <td class="css_td">2017/05/14</td>
                                                        <td class="css_td">DXT:豪華雙人</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">4,080</td>
                                                        <td class="css_td text-right">408</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">4,088</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td">2017/05/14</td>
                                                        <td class="css_td">DXT:豪華雙人</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">4,080</td>
                                                        <td class="css_td text-right">408</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">4,088</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td">2017/05/14</td>
                                                        <td class="css_td">DXT:豪華雙人</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">4,080</td>
                                                        <td class="css_td text-right">408</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">4,088</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td"></td>
                                                        <td class="css_td">合計：</td>
                                                        <td class="css_td">3</td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right">12,264</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="space-6"></div>
                                            <div class="horizTable-outer">
                                                <table class="css_table horizTable" style="width:100%;">
                                                    <thead class="css_thead">
                                                    <tr class="css_tr">
                                                        <th class="css_th" style="width:20%;">服務日期</th>
                                                        <th class="css_th" style="width:20%;">服務項目</th>
                                                        <th class="css_th" style="width:20%;">數量</th>
                                                        <th class="css_th" style="width:20%;">單價</th>
                                                        <th class="css_th" style="width:20%;">總金額</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="css_tbody">
                                                        <tr class="css_tr">
                                                            <td class="css_td">2017/05/14</td>
                                                            <td class="css_td">旅遊-山之旅</td>
                                                            <td class="css_td text-right">1</td>
                                                            <td class="css_td text-right">500</td>
                                                            <td class="css_td text-right">500</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">2017/05/14</td>
                                                            <td class="css_td">旅遊-山之旅</td>
                                                            <td class="css_td text-right">1</td>
                                                            <td class="css_td text-right">500</td>
                                                            <td class="css_td text-right">500</td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td"></td>
                                                            <td class="css_td"></td>
                                                            <td class="css_td text-right"></td>
                                                            <td class="css_td text-right">合計:</td>
                                                            <td class="css_td text-right">13,042</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div title="已產生帳款" class="padding-tabs">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="row">
                                            <div class="horizTable-outer">
                                                <table class="css_table horizTable" style="width:100%;">
                                                    <thead class="css_thead">
                                                    <tr class="css_tr">
                                                        <th class="css_th" style="width:10%;">服務日期</th>
                                                        <th class="css_th" style="width:20%;">住房房種</th>
                                                        <th class="css_th" style="width:10%;">間數</th>
                                                        <th class="css_th" style="width:15%;">房價</th>
                                                        <th class="css_th" style="width:15%;">服務費</th>
                                                        <th class="css_th" style="width:15%;">Package</th>
                                                        <th class="css_th" style="width:15%;">合計</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="css_tbody">
                                                    <tr class="css_tr">
                                                        <td class="css_td">2005/11/06</td>
                                                        <td class="css_td">JWS:和洋房</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">2,800</td>
                                                        <td class="css_td text-right">2,800</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td">2005/11/06</td>
                                                        <td class="css_td">JWS:和洋房</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">2,800</td>
                                                        <td class="css_td text-right">2,800</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td">2005/11/06</td>
                                                        <td class="css_td">JWS:和洋房</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">2,800</td>
                                                        <td class="css_td text-right">2,800</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td">2005/11/06</td>
                                                        <td class="css_td">JWS:和洋房</td>
                                                        <td class="css_td">1</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">0</td>
                                                        <td class="css_td text-right">2,800</td>
                                                        <td class="css_td text-right">42,800</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td"></td>
                                                        <td class="css_td">合計：</td>
                                                        <td class="css_td">14</td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right">12,264</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="space-6"></div>
                                            <div class="horizTable-outer">
                                                <table class="css_table horizTable" style="width:100%;">
                                                    <thead class="css_thead">
                                                    <tr class="css_tr">
                                                        <th class="css_th" style="width:20%;">服務日期</th>
                                                        <th class="css_th" style="width:20%;">服務項目</th>
                                                        <th class="css_th" style="width:20%;">數量</th>
                                                        <th class="css_th" style="width:20%;">單價</th>
                                                        <th class="css_th" style="width:20%;">總金額</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="css_tbody">
                                                    <tr class="css_tr">
                                                        <td class="css_td">2017/05/14</td>
                                                        <td class="css_td">自助燭光晚餐</td>
                                                        <td class="css_td text-right">1</td>
                                                        <td class="css_td text-right">1,280</td>
                                                        <td class="css_td text-right">1,280</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td">2017/05/14</td>
                                                        <td class="css_td">組合六</td>
                                                        <td class="css_td text-right">2</td>
                                                        <td class="css_td text-right">1,900</td>
                                                        <td class="css_td text-right">3,800</td>
                                                    </tr>
                                                    <tr class="css_tr">
                                                        <td class="css_td"></td>
                                                        <td class="css_td"></td>
                                                        <td class="css_td text-right"></td>
                                                        <td class="css_td text-right">合計:</td>
                                                        <td class="css_td text-right">13,042</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-------- /.tabPage -------->

                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0210070 Departure > group > 房租總額 (foCnt_totalRent)  -->

</div>
