<!-- /***
    * PMS0210020 綜合櫃檯-彈窗內容
*/ -->
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 foCounter">
            <div class="row no-margin-right">
                <div class="floorPlan-table">
                    <table>
                        <tr>
                            <td class="roomNum text-center" colspan="2" rowspan="2">
                                201
                            </td>
                            <td>
                                <span style="line-height: 20px;">勿擾</span>&nbsp;
                                <img src="/images/intCounter/do-not-disturb.png"
                                     style="width: 20px;height: 20px;"/>
                            </td>
                            <td>
                                <span style="line-height: 20px;">髒房</span>&nbsp;
                                <img src="/images/intCounter/broom.png"
                                     style="width: 20px;height: 20px;"/>
                            </td>
                            <td>
                                <span style="line-height: 20px;">排房</span>&nbsp;
                                <img src="/images/intCounter/assign.png"
                                     style="width: 20px;height: 20px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="line-height: 20px;">留言</span>&nbsp;
                                <img src="/images/intCounter/msg.png" class="message-btn pointer"
                                     style="width: 20px;height: 20px;"/>
                                <!--<button class="btn btn-gray btn-table-wt message-btn" role="button">Message-->
                                <!--</button>-->
                            </td>
                            <td>
                                <span style="line-height: 20px;">失物</span>&nbsp;
                                <img src="/images/intCounter/lost.png" class="resvLostFound pointer"
                                     style="width: 20px;height: 20px;"/>

                                <!--<button class="btn btn-primary no-border btn-table-wt resvLostFound"-->
                                <!--role="button">-->
                                <!--<i class="fa fa-check white"></i>-->
                                <!--Lost & found-->
                                <!--</button>-->
                            </td>
                            <td>交辦&nbsp;
                                <img src="/images/intCounter/trace.png"
                                     class="resv_guestDetail-btn1 pointer"
                                     style="width: 20px;height: 20px;"/>
                            </td>
                        </tr>
                    </table>
                    <div class="grid-item-rk">
                        <label>房間備註</label>
                        <input type="text" class="selectHt"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>瑕疵原因</label>
                        <input type="text" class="selectHt"/>
                    </div>
                    <div class="space-6"></div>
                    <table>
                        <tr>
                            <th style="width: 35%;">住客姓名</th>
                            <th style="width: 20%;">狀態</th>
                            <th style="width: 25%;">住客帳餘額</th>
                            <th style="width: 20%;"></th>
                        </tr>
                        <tr>
                            <td>Rick Chen</td>
                            <td>開帳</td>
                            <td class="text-right">5,300</td>
                            <td>
                                <button class="moreInfo cashierGstLedger_Single width-100">
                                    Billing
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Janet Jackson</td>
                            <td>關帳</td>
                            <td class="text-right">0</td>
                            <td>
                                <button class="moreInfo cashierGstLedger_Single width-100">
                                    Billing
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="grid-item-rk">
                        <label>退房提醒</label>
                        <input type="text" class="selectHt" placeholder="GUI:23598233"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>客房備註</label>
                        <input type="text" class="selectHt" placeholder="separate bill"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_details">住客畫面
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">修改退房日期
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">住客帳維護
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_rateChg">改房價
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_rmChg">換房
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="clean_btn">清掃
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth foCnt_details"
                                    role="button">勿擾設定
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="reservationDialog_1">訂房卡資訊
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="publiceAccountSetting_btn">公帳號
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth related-set1"
                                    role="button" @click="related_set1(this)">{{roomNum_status}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
