<!-- /***
    * PMS0210020 綜合櫃檯-彈窗內容
*/ -->

<h4 class="popInfo-title">空房房間選單</h4>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 foCounter">
            <div class="row no-margin-right">
                <div class="floorPlan-table">

                    <div class="pull-left width-30 roomNum">
                        <div class="num">201</div>
                    </div>
                    <div class="pull-left width-70 pl-10">
                        <div class="grid-item-rk">
                            <label>清掃人員</label>
                            <input type="text" class="selectHt" placeholder="E001:王大明"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-6"></div>
                    <div class="grid-item-rk">
                        <label>清掃人員</label>
                        <input type="text" class="selectHt" placeholder="E001:王大明"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>房間備註</label>
                        <input type="text" class="selectHt"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>瑕疵原因</label>
                        <input type="text" class="selectHt"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_walkIn">Walk In
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth foCnt_dayUse"
                                    role="button" @click="foCnt_dayUse">Day use
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="clean_btn">清掃
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth"
                                    role="button" @click="foCnt_bedSetting">拆併床
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>