<!-- /***
    * PMS0210020 綜合櫃檯-彈窗內容
*/ -->

<h4 class="popInfo-title">住人房間選單</h4>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 foCounter">
            <div class="row no-margin-right">
                <div class="floorPlan-table">
                    <div class="pull-left width-30 roomNum">
                        <div class="num">201</div>
                    </div>
                    <div class="pull-left width-70 pl-10">
                        <div class="grid-item-rk">
                            <label>清掃人員</label>
                            <input type="text" class="selectHt" placeholder="E001:王大明"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-6"></div>
                    <div class="grid-item-rk">
                        <label>房間備註</label>
                        <input type="text" class="selectHt"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>瑕疵原因</label>
                        <input type="text" class="selectHt"/>
                    </div>
                    <div class="space-6"></div>
                    <table class="foCounter-table">
                        <thead>
                        <tr>
                            <th style="width: 30%;">住客姓名</th>
                            <th style="width: 25%;">住客帳餘額</th>
                            <th class="center" style="width: 9%;">
                                <div class="tooltip-sp">
                                    <img src="/images/intCounter/billing-blue.png" class="icon-sz1"/>
                                    <span class="tooltip-text sty-1">住客帳</span>
                                </div>
                            </th>
                            <th class="center" style="width: 9%;">
                                <div class="tooltip-sp">
                                    <img src="/images/intCounter/msg-blue.png" class="icon-sz1"/>
                                    <span class="tooltip-text sty-1">留言</span>
                                </div>
                            </th>
                            <th class="center" style="width: 9%;">
                                <div class="tooltip-sp">
                                    <img src="/images/intCounter/lost-blue.png" class="icon-sz1"/>
                                    <span class="tooltip-text sty-1">失物</span>
                                </div>
                            </th>
                            <th class="center" style="width: 9%;">
                                <div class="tooltip-sp">
                                    <img src="/images/intCounter/trace-blue.png" class="icon-sz1"/>
                                    <span class="tooltip-text sty-1">交辦</span>
                                </div>
                            </th>
                            <th class="center" style="width: 9%;">
                                <div class="tooltip-sp">
                                    <img src="/images/intCounter/plane-blue.png" class="icon-sz1"/>
                                    <span class="tooltip-text sty-1">接送機</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Rick Chen</td>
                            <td class="text-right">5,300</td>
                            <td class="center"><i class="fa fa-check green pointer"
                                                  @click="cashierGstLedger_Single"></i></td>
                            <td class="center"><i class="fa fa-check green pointer" @click="message_btn"></i></td>
                            <td class="center"><i class="fa fa-check green pointer" @click="resvLostFound"></i></td>
                            <td class="center"><i class="fa fa-check green pointer" @click="resv_guestDetailBtn1"></i>
                            </td>
                            <td class="center"><i class="fa fa-check green pointer" @click="resvPickUp"></i></td>
                        </tr>
                        <tr>
                            <td>Janet Jackson</td>
                            <td class="text-right">0</td>
                            <td class="center"><i class="fa fa-check green pointer"
                                                  @click="cashierGstLedger_Single"></i></td>
                            <td class="center"><i class="fa fa-check green pointer" @click="message_btn"></i></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"><i class="fa fa-check green pointer" @click="resvPickUp"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="space-6"></div>
                    <div class="grid-item-rk">
                        <label>退房提醒</label>
                        <input type="text" class="selectHt" placeholder="GUI:23598233"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>客房備註</label>
                        <input type="text" class="selectHt" placeholder="separate bill"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_details">住客畫面
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_editCoDate">修改退房日期
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_rateChg">改房價
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_rmChg">換房
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="reservationDialog_1">訂房卡資訊
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="publiceAccountSetting_btn">公帳號
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth related-set1"
                                    role="button" @click="related_set1(this)">{{roomNum_status}}
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="clean_btn">清掃
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth"
                                    role="button" @click="resv_amenitiesIny">櫃台備品
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth"
                                    role="button" @click="foCnt_bedSetting">拆併床
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth"
                                    role="button" @click="addMorning_btn">晨呼
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth"
                                    role="button" @click="pax_btn">電話開關
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
