<!-- /***
    * PMS0210020 綜合櫃檯-彈窗內容
*/ -->

<h4 class="popInfo-title">空房房間選單</h4>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 foCounter">
            <div class="row no-margin-right">
                <div class="floorPlan-table">
                    <table>
                        <tr>
                            <td class="roomNum text-center width-30" rowspan="2">
                                201
                            </td>
                            <td class="gap">
                                <span>髒房</span>&nbsp;
                            </td>
                            <td class="gap">
                                <span>排房</span>&nbsp;
                            </td>
                            <td class="gap">
                                <span>拆併床</span>&nbsp;
                            </td>
                            <td class="gap">
                                <span>瑕疵</span>
                            </td>
                            <td class="gap">
                                <span>勿擾</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="ico-wt">
                                <img src="/images/intCounter/broom.png"/>
                            </td>
                            <td class="ico-wt">
                                <img src="/images/intCounter/assign.png"/>
                            </td>
                            <td class="ico-wt">
                                <img src="/images/intCounter/bed.png"/>
                            </td>
                            <td class="ico-wt">
                                <img src="/images/intCounter/wrench.png"/>
                            </td>
                            <td class="ico-wt">
                                <img src="/images/intCounter/do-not-disturb.png"/>
                            </td>
                        </tr>
                    </table>
                    <div class="grid-item-rk">
                        <label>清掃人員</label>
                        <input type="text" class="selectHt" placeholder="E001:王大明"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>房間備註</label>
                        <input type="text" class="selectHt"/>
                    </div>
                    <div class="grid-item-rk">
                        <label>瑕疵原因</label>
                        <input type="text" class="selectHt"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="foCnt_walkIn">Walk In
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth foCnt_dayUse"
                                    role="button" @click="foCnt_dayUse">Day use
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button" @click="clean_btn">清掃
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-skin btn-defaultWidth"
                                    role="button" @click="foCnt_bedSetting">拆併床
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>