<div id="PMS0210020-info">
    <div class="horizTable-outer pull-left chooseCount" style="min-width: 30px; max-width:5%;">
        <table class="css_table horizTable center table-lg width-100">
            <!--<thead class="css_thead">-->
            <!--<tr class="css_tr">-->
            <!--<th class="css_th center">Folio No.</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody class="css_tbody">
            <tr class="css_tr">
                <td class="css_td active">All</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">1F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">2F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">3F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">4F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">5F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">6F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">7F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">8F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">9F</td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">10F</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="main-content-data pull-left borderFrame padding-2 resultCount" style="max-width: 95%;">

        <div class="counterPage frontTableHt">
            <div class="counterRow">
                <el-popover placement="bottom" trigger="click" width="400">
                    <%- include PMS0210020_popInfo.ejs %>
                    <div class="counterBlock cb-vc-vd" slot="reference">
                        <div class="head">
                            <span class="left txt-lg">203223</span>
                            <span class="right content-ico">
                                <img src="/images/intCounter/do-not-disturb.png" class="float-left foCnt_icon"/>
                                <img src="/images/intCounter/broom.png" class="float-left foCnt_icon"/>
                                <img src="/images/intCounter/assign.png" class="float-left foCnt_icon"/>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content" style="top: 23px;">
                            <div class="left">
                                <span class="counterRmType">DxT</span>
                            </div>
                            <div class="right">
                                04/29-04/30
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content-sub">
                            <span class="left" style="top: 48px;">木村拓哉,nakamura</span>
                        </div>
                        <div class="clearfix"></div>
                        <!--style="background: #fff; width: 124px;"-->
                        <div class="content-ico" style="right: 6px; top: 66px;">
                            <!--<div class="float-left">-->
                            <!--<img src="/images/intCounter/do-not-disturb.png" class="float-left foCnt_icon"/>-->
                            <!--<img src="/images/intCounter/broom.png" class="float-left foCnt_icon"/>-->
                            <!--<img src="/images/intCounter/assign.png" class="float-left foCnt_icon"/>-->
                            <!--</div>-->
                            <div class="float-left">
                                <span class="counterPrice">$133,600</span>
                            </div>
                        </div>
                    </div>
                </el-popover>
                <el-popover placement="bottom" trigger="click" width="400">
                    <%- include PMS0210020_popInfo.ejs %>
                    <div class="counterBlock cb-vc-vd" slot="reference">
                        <div class="head">
                            <span class="left txt-lg">201223</span>
                            <span class="right content-ico">
                            <span class="counterPrice">$133,600</span>
                        </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content" style="top: 23px;">
                            <div class="left">
                                <span class="counterRmType">DxT</span>
                            </div>
                            <div class="right">
                                04/29-04/30
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content-sub">
                            <span class="left" style="top: 48px;">木村拓哉,nakamura</span>
                        </div>
                        <div class="clearfix"></div>
                        <!--style="background: #fff; width: 124px;"-->
                    </div>
                </el-popover>
                <el-popover placement="bottom" trigger="click">
                    <el-table :data="gridData">
                        <el-table-column width="150" property="status" label="功能選單"></el-table-column>
                    </el-table>
                    <div class="counterBlock cb-vc-vd" slot="reference">
                        <div class="head">
                            <span class="left txt-lg">202</span>
                            <span class="right">DxT</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content">
                        </div>
                        <div class="clearfix"></div>
                        <div class="content-sub">
                            <span class="left"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </el-popover>
                <el-popover placement="bottom" trigger="click">
                    <el-table :data="gridData">
                        <el-table-column width="150" property="status" label="功能選單"></el-table-column>
                    </el-table>
                    <div class="counterBlock cb-vc-vd active" slot="reference">
                        <div class="head">
                            <span class="left txt-lg">203</span>
                            <span class="right">DxT</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content">
                        </div>
                        <div class="clearfix"></div>
                        <div class="content-sub">
                            <span class="left"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </el-popover>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">204</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-ooo">
                    <div class="head">
                        <span class="left txt-lg">205</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-ob">
                    <div class="head">
                        <span class="left txt-lg">301</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">302</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="counterBlock cb-ob">
                    <div class="head">
                        <span class="left txt-lg">303</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">304</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-doc-dod">
                    <div class="head">
                        <span class="left txt-lg">305</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-doc-dod">
                    <div class="head">
                        <span class="left txt-lg">306</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-oos">
                    <div class="head">
                        <span class="left txt-lg ">307</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">401</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-oc-od">
                    <div class="head">
                        <span class="left txt-lg">402</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg ">403</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg ">404</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-oos">
                    <div class="head">
                        <span class="left txt-lg">501</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">502</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-doc-dod">
                    <div class="head">
                        <span class="left txt-lg">503</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">504</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">505</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">506</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-oc-od">
                    <div class="head">
                        <span class="left txt-lg">507</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>

                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">601</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">602</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">603</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">604</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">605</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">606</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">607</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">608</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">701</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">702</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">703</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-doc-dod">
                    <div class="head">
                        <span class="left txt-lg">704</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-vc-vd">
                    <div class="head">
                        <span class="left txt-lg">705</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-dod">
                    <div class="head">
                        <span class="left txt-lg">706</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-vc-vdGreen">
                    <div class="head">
                        <span class="left txt-lg">801</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-dod">
                    <div class="head">
                        <span class="left txt-lg">802</span>
                        <span class="right">DxT</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-s">
                    <div class="head">
                        <span class="left txt-lg">803</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-oc-od">
                    <div class="head">
                        <span class="left txt-lg">804</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-dod">
                    <div class="head">
                        <span class="left txt-lg">805</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-s">
                    <div class="head">
                        <span class="left txt-lg">806</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-vc-vdGreen">
                    <div class="head">
                        <span class="left txt-lg">901</span>
                    </div>
                </div>
                <div class="counterBlock cb-s related-set-block">
                    <div class="head">
                        <span class="left txt-lg">902</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-doc-dod">
                    <div class="head">
                        <span class="left txt-lg">903</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-vc-vdGreen">
                    <div class="head">
                        <span class="left txt-lg">904</span>
                    </div>
                </div>
                <div class="counterBlock cb-oc-od">
                    <div class="head">
                        <span class="left txt-lg">905</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>

                </div>
                <div class="counterBlock cb-ooo">
                    <div class="head">
                        <span class="left txt-lg">906</span>
                    </div>
                </div>
                <div class="counterBlock cb-oc-od">
                    <div class="head">
                        <span class="left txt-lg">907</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>
                </div>
                <div class="counterBlock cb-doc-dod related-set-block">
                    <div class="head">
                        <span class="left txt-lg">908</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-sub">
                        <span class="left">木村拓哉,nakamura</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-ico">
                        <div class="float-left">
                            <img src="/images/intCounter/alarm.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/dirty.svg" class="float-left foCnt_icon"/>
                            <img src="/images/intCounter/key-2.svg" class="float-left foCnt_icon"/>
                        </div>
                    </div>

                </div>
                <div class="counterBlock cb-s">
                    <div class="head">
                        <span class="left txt-lg">306</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="counterBlock cb-s">
                    <div class="head">
                        <span class="left txt-lg">306</span>
                        <span class="right">
                            <span class="counterPrice">$133,600</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <div class="left">
                            <span class="counterRmType">DxT</span>
                        </div>
                        <div class="right">
                            04/29-04/30
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div><!--main-content-data-->

</div>