<!-- /***
    * PMS0210020 綜合櫃檯-彈窗內容
*/ -->
<div class="col-xs-12 foCounter">
    <div class="row">
        <table class="foCounter-table additional-chg-1">
            <thead>
            <tr>
                <th>功能選單</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="pointer" @click="foCnt_walkIn">Walk In</td>
            </tr>
            <tr>
                <td class="pointer" @click="clean_btn">清掃</td>
            </tr>
            <tr>
                <td class="pointer" @click="">待檢查</td>
            </tr>
            <tr>
                <td class="pointer" @click="">房間備註</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
