<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 客戶購買授權 Page-->
    <div class="pageMain">
        <div class="col-xs-12">
            <div class="search-content">
                <div class="search-co">
                    <div class="row">
                        <div class="search-co-content col-xs-12 search-S2">
                            <div class="width-95 searchMain-S2">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>程式編號</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>操作功能</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>網址</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row search-footer-btn">
                                <div class="footer-btn-menu-co">
                                    <ul>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="查詢">
                                                <div class="icon-reStyle icon-co-14"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="清除">
                                                <div class="icon-reStyle icon-co-11"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-moreSearch show-search-detail">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>  <!-- /.footer-btn-menu-co -->
                            </div> <!-- /.search-footer-btn -->
                        </div>

                        <div class="search-co-content col-xs-12 search-S2-con rece-search-detail"
                             style="display: none;">
                            <div class="width-95">
                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>操作時間</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>集團別</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>公司別</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                </div>
                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>館別</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>使用者</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>執行時間</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> <!-- row-->
                </div> <!-- /.search-co -->
            </div> <!-- /.row  search-content-->
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <div>
                        <!-- 客戶購買授權 SER0510010-table dataGrid -->
                        <table id="SER0510010-table" class="gridTableHt"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                        role="button">新增
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                        role="button">修改
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1 resv-view"
                                        role="button">瀏覽
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

    </div>
</div><!-- /.page-content -->
<script type="text/javascript">
    $(function () {
        // 訂房卡多筆 dataGrid
        $('#SER0510010-table').datagrid({
            singleSelect: true,
            collapsible: true,
            url: '/jsonData/customerService/SER0510010-table.json',
            method: 'get',
            columns: [[
                {field: 'prg_id', title: '程式編號', width: 100},
                {field: 'func_id', title: '操作功能', width: 100},
                {field: 'url', title: '網址', width: 180},
                {field: 'event_time', title: '操作時間', width: 100},
                {field: 'athena_id', title: '集團別', width: 100},
                {field: 'comp_cod', title: '公司別', width: 100},
                {field: 'hotel_cod', title: '館別', width: 100},
                {field: 'id', title: '使用者', width: 100},
                {field: 'execution_time', title: '執行時間', width: 100},
            ]]
        });
    })
</script>

<!-- subSystem 共用 js -->
<%- include ../common/viewsComJs.ejs %>
<!--  /.End subSystem 共用 js  -->