<!-- 客戶授權 -->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 客戶授權 Page-->
    <div class="pageMain">
        <div class="col-sm-12 custom-authorized">
            <div class="con-head">
                <div class="col-sm-10">
                    <div class="title">選擇模板</div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <button class="btn btn-primary btn-white btn-defaultWidth new-authorized-click"
                                role="button">新增模板
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="col-sm-4">
                    <div class="con-top"></div>
                    <div class="content">
                        <div class="con-h1">
                            Lite
                        </div>
                        <div class="con-line"></div>
                        <div class="con-sub">
                            輕量系統、讓控管不再是惡夢。
                        </div>
                        <!-- jq動數：{import-sys:控制換頁} -->
                        <div class="con-button">
                            <button class="btn btn-primary btn-s import-sys"
                                    role="button">匯入
                            </button>
                            <div class="space-4"></div>
                            <div class="pull-right">
                                <a href="#">修改模板內容</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="focus-tip-wrap">
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>訂房子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>接待子系統</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="con-top"></div>
                    <div class="content">
                        <div class="con-h1">
                            Business
                        </div>
                        <div class="con-line"></div>
                        <div class="con-sub">
                            微量升級、享受更多。
                        </div>
                        <div class="con-button">
                            <button class="btn btn-primary btn-s import-sys"
                                    role="button">匯入
                            </button>
                            <div class="space-4"></div>
                            <div class="pull-right">
                                <a href="#">修改模板內容</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="focus-tip-wrap">
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>訂房子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>接待子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>出納子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>業務子系統</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="con-top"></div>
                    <div class="content">
                        <div class="con-h1">
                            Enterprise
                        </div>
                        <div class="con-line"></div>
                        <div class="con-sub">
                            重量出擊、一台電腦操控全飯店。
                        </div>
                        <div class="con-button">
                            <button class="btn btn-primary btn-s import-sys"
                                    role="button">匯入
                            </button>
                            <div class="space-4"></div>
                            <div class="pull-right">
                                <a href="#">修改模板內容</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="focus-tip-wrap">
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>訂房子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>接待子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>出納子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>業務子系統</span>
                        </div>
                        <div class="focus-tip">
                            <i class="fa fa-check green"></i>
                            <span>夜核子系統</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 authorized-tree" style="display: none;">

            <div class="col-sm-5">
                <div class="title">Lite版功能</div>
                <div id="lite-sysTuncTree"></div>
            </div>
            <div class="col-sm-1 menu-mar">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth"
                                        role="button">刪除&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<i
                                            class="fa fa-remove"></i>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">還原設定
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button"><i class="fa fa-long-arrow-left"></i>&nbsp;新增
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">儲存
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="title">所有功能</div>
                <div id="all-sysTuncTree"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 new-authorized-tree" style="display: none;">
            <div class="col-sm-11">
                <div class="row no-margin-right">
                    <div class="title">
                        <label class="title-2x">新增模板名字：</label>
                        <input type="text" placeholder="新增模板名字"/>
                    </div>
                    <div class="clearfix"></div>
                    <div id="new-all-sysTuncTree"></div>
                </div>
            </div>
            <div class="col-sm-1 menu-mar">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth back-custom-authorized"
                                        role="button">新增模板
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- subSystem 共用 js -->
<%- include ../common/viewsComJs.ejs %>
<!--  /.End subSystem 共用 js  -->

<script src="/js/tree/jstree.min.js"></script>
<script type="text/javascript">
    function sysTuncTree_create() {
        var ref = $('#lite-sysTuncTree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        sel = ref.create_node(sel, {"type": "file"});
        if (sel) {
            ref.edit(sel);
        }
    };
    function sysTuncTree_rename() {
        var ref = $('#lite-sysTuncTree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        ref.edit(sel);
    };
    function sysTuncTree_delete() {
        var ref = $('#lite-sysTuncTree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        ref.delete_node(sel);
    };
    // lite版 功能呈現
    $('#lite-sysTuncTree').jstree({
        "core": {
            "animation": 0,
//          'force_text' : true,
            "themes": {"stripes": true},
            //不可多選
            "multiple": false,
            "check_callback": true,
            'data': {
                "url": "/jsonData/lite-sysFunc.json",
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        },
        "checkbox": {
            "keep_selected_style": true
//                "visible":true
        },
        "dnd": {
            "dnd": true,
            "drag_selection": true,
            "check_while_dragging": true
        },
        "types": {
            "#": {"max_children": 1, "max_depth": 4, "valid_children": ["root"]},
            "root": {"icon": "", "valid_children": ["default"]},
            "default": {"icon": "", "valid_children": ["default", "file"]},
            "file": {"icon": "fa fa-user", "valid_children": []}
        },
        "plugins": ["dnd", "search", "state", "types", "wholerow", "checkbox"]
    });
    // all版 功能呈現
    $('#all-sysTuncTree').jstree({
        "core": {
            "animation": 0,
//          'force_text' : true,
            "themes": {"stripes": true},
            //不可多選
            "multiple": false,
            "check_callback": true,
            'data': {
                "url": "/jsonData/all-sysFunc.json",
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        },
        "checkbox": {
            "keep_selected_style": true
//                "visible":true
        },
        "dnd": {
            "dnd": true,
            "drag_selection": true,
            "check_while_dragging": true
        },
        "types": {
            "#": {"max_children": 1, "max_depth": 4, "valid_children": ["root"]},
            "root": {"icon": "", "valid_children": ["default"]},
            "default": {"icon": "", "valid_children": ["default", "file"]},
            "file": {"icon": "fa fa-user", "valid_children": []}
        },
        "plugins": ["dnd", "search", "state", "types", "wholerow", "checkbox"]
    });
    // 新增 all版 功能呈現
    $('#new-all-sysTuncTree').jstree({
        "core": {
            "animation": 0,
//          'force_text' : true,
            "themes": {"stripes": true},
            //不可多選
            "multiple": false,
            "check_callback": true,
            'data': {
                "url": "/jsonData/all-sysFunc.json",
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        },
        "checkbox": {
            "keep_selected_style": true
//                "visible":true
        },
        "dnd": {
            "dnd": true,
            "drag_selection": true,
            "check_while_dragging": true
        },
        "types": {
            "#": {"max_children": 1, "max_depth": 4, "valid_children": ["root"]},
            "root": {"icon": "", "valid_children": ["default"]},
            "default": {"icon": "", "valid_children": ["default", "file"]},
            "file": {"icon": "fa fa-user", "valid_children": []}
        },
        "plugins": ["dnd", "search", "state", "types", "wholerow", "checkbox"]
    });

    var form_data = {};
    $(document).on("dnd_stop.vakata", function (e, data) {
    })

    //tree change时事件
    $('#lite-sysTuncTree').on("changed.jstree", function (e, data) {
        form_data.ay = data.node.text;
        form_data.ay_id = data.node.id;
    });
    $('#all-sysTuncTree').on("changed.jstree", function (e, data) {
        form_data.ay = data.node.text;
        form_data.ay_id = data.node.id;
    });
    $('#new-all-sysTuncTree').on("changed.jstree", function (e, data) {
        form_data.ay = data.node.text;
        form_data.ay_id = data.node.id;
    });

    // 點擊匯入時，展示過場按鈕
    $(document).on('click', '.import-sys', function () {
        $('.custom-authorized').fadeOut(800);
        $('.authorized-tree').fadeIn(500);
    });
    $(document).on('click', '.new-authorized-click', function () {
        $('.custom-authorized').fadeOut(800);
        $('.new-authorized-tree').fadeIn(500);
    });
    $(document).on('click', '.back-custom-authorized', function () {
        $('.new-authorized-tree').fadeOut(800);
        $('.custom-authorized ').fadeIn(500);
    });
</script>


