<script type="text/x-template" id="staffCompTmp">
    <p class="topTitle">人員權限</p>
    <div class="easyui-panel tree-body" style="width: 100%;">
        <ul id="tt" class="easyui-tree"></ul>
    </div>
</script>