<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 房價稽核表 Page-->
    <div class="pageMain">
        <div style="display:none;">
            <!-- search content -->
            <div class="col-xs-12">
                <div class="search-content">
                    <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                    <div class="search-co">
                        <div class="search-co-h">
                            <i class="ace-icon fa fa-search search-icon"></i>
                            <span>Search</span>
                            <div class="row search-right-btn">
                                <div class="right-btn-menu-co">
                                    <ul>
                                        <li>
                                            <i class="fa fa-chevron-down show-search-detail"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="search-co-content col-xs-12">
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">

                                </div>
                            </div>
                            <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                <div class="row search-footer-btn">
                                    <div class="footer-btn-menu-co">
                                        <ul>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                    <div class="icon-reStyle icon-co-14"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                    <div class="icon-reStyle icon-co-11"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  <!-- /.footer-btn-menu-co -->
                                </div> <!-- /.search-footer-btn -->
                                <div class="width-95">
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>Date</label>
                                            <input type="text" class="input-medium medium-c1" placeholder="2017/4/7"/>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>Sort By</label>
                                            <input type="text" class="input-medium medium-c1" placeholder="1:依訂房卡"/>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid-item">
                                            <div class="ttrial-noice blue">
                                                房價稽核表為夜間稽核作業前列印，供夜間稽核人員查核房價用查尋歷史資料時，查詢結果可能與實際情形不符
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div> <!-- row-->
                    </div> <!-- /.search-co -->
                </div> <!-- /.row  search-content-->
            </div>
            <div class="clearfix"></div>

            <!-- main content -->
            <!--<div class="row">-->
            <div class="col-xs-12">
                <div class="row no-margin-right">
                    <div class="col-sm-12">
                    <span class="col-sm-3">
                        <div class="light-grey">通用80報表紙</div>
                        <div class="dark-purple bold">製表者ID：cio <br> 製表者：德安資訊
                        </div>
                        <div class="">列印條件：查詢日期2017/04/07</div>
                    </span>
                        <h2 class="text-center lineHt24 col-sm-6">
                            <div class="blue bigger-120">ATHENA GARDEN HOTEL</div>
                            <div class="bigger-110">TRIAL BALANCE</div>
                        </h2>
                        <span class="col-sm-3">
                        <div class="dark-purple bold">製表日：2017/07/30 11:55:09</div>
                        <div class="dark-purple bold">頁次：Page1 of 1</div>
                    </span>
                        <div class="clearfix"></div>

                        <div class="ttrial-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="width-10">Type</th>
                                        <th class="width-10">RV No.<br>Post Master</th>
                                        <th class="width-20" colspan="">Company<br>Reservation Rate code</th>
                                        <th class="width-25" colspan="">FOC Code<br>In House Rate code</th>
                                        <th class="width-25" colspan="">FOC Amt.</th>
                                        <th class="width-20" colspan=""></th>
                                    </tr>
                                    <tr>
                                        <th>RM No.</th>
                                        <th>Full Name</th>
                                        <th class="ttrial-th">
                                            <div class="t">Rm Type</div>
                                            <span>C/I~C/O</span>
                                            <span>Reservation</span>
                                            <span>InHouse</span>
                                        </th>
                                        <th class="ttrial-th">
                                            <div class="t">Reservation</div>
                                            <span>Rm.C</span>
                                            <span>Svc.C</span>
                                            <span>Others</span>
                                            <span>Commsion</span>
                                        </th>
                                        <th class="ttrial-th width-15">
                                            <div class="t">Estimate</div>
                                            <span>Rm.C</span>
                                            <span>Svc.C</span>
                                            <span>Others</span>
                                            <span>Commsion</span>
                                        </th>
                                        <th class="ttrial-th">
                                            <div class="t">Upd By</div>
                                            <span>Rm.C</span>
                                            <span>Svc.C</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 1101-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0222333 <br> 1101<br>張千千 <br><span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                德安酒店台北館 <br> 16PKG002：2016chamcham<br>03/13~04/12 STD STD <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                16PKG002：2016chamcham
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>2,800*</span><span>288*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>2,800</span><span>288</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 2203-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0556655 <br> 2203<br>王德安 <br> <span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                <br> N004:2016散客價<br>03/16~04/10 Q2 Q1 <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                N004:2016散客價
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>6,000*</span><span>520*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>6,000</span><span>520</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 1101-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0222333 <br> 1101<br>張千千 <br><span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                德安酒店台北館 <br> 16PKG002：2016chamcham<br>03/13~04/12 STD STD <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                16PKG002：2016chamcham
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>2,800*</span><span>288*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>2,800</span><span>288</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 2203-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0556655 <br> 2203<br>王德安 <br> <span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                <br> N004:2016散客價<br>03/16~04/10 Q2 Q1 <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                N004:2016散客價
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>6,000*</span><span>520*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>6,000</span><span>520</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 1101-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0222333 <br> 1101<br>張千千 <br><span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                德安酒店台北館 <br> 16PKG002：2016chamcham<br>03/13~04/12 STD STD <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                16PKG002：2016chamcham
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>2,800*</span><span>288*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>2,800</span><span>288</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 2203-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0556655 <br> 2203<br>王德安 <br> <span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                <br> N004:2016散客價<br>03/16~04/10 Q2 Q1 <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                N004:2016散客價
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>6,000*</span><span>520*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>6,000</span><span>520</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 1101-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0222333 <br> 1101<br>張千千 <br><span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                德安酒店台北館 <br> 16PKG002：2016chamcham<br>03/13~04/12 STD STD <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                16PKG002：2016chamcham
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>2,800*</span><span>288*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>2,800</span><span>288</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 2203-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0556655 <br> 2203<br>王德安 <br> <span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                <br> N004:2016散客價<br>03/16~04/10 Q2 Q1 <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                N004:2016散客價
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>6,000*</span><span>520*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>6,000</span><span>520</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 1101-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0222333 <br> 1101<br>張千千 <br><span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                德安酒店台北館 <br> 16PKG002：2016chamcham<br>03/13~04/12 STD STD <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                16PKG002：2016chamcham
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>2,800*</span><span>288*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>2,800</span><span>288</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                <br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lineHeight17">
                                                散客 <br> 2203-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                0556655 <br> 2203<br>王德安 <br> <span class="test">Sub.Total:</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="lineHeight17">
                                                <br> N004:2016散客價<br>03/16~04/10 Q2 Q1 <br> 1間
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br>
                                                N004:2016散客價
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                                <br>
                                                <span>0</span><span>0</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>6,000*</span><span>520*</span><span>0</span><span>0</span>
                                                <br>
                                                <span>6,000</span><span>520</span><span>0</span><span>0</span>
                                            </div>
                                        </td>
                                        <td class="ttrial-price">
                                            <div class="lineHeight17">
                                                <br><br>
                                                <span>cio</span><span>cio</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include nightAudit_module/PMS-processUi.ejs %>

    </div>
</div>
<!-- subSystem 共用 js -->
<%- include ../common/viewsComJs.ejs %>
<!--  /.End subSystem 共用 js  -->