<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 業務員(Sales Rep) Page-->
    <div class="pageMain">

        <div class="col-xs-12">
            <div class="search-content">
                <div class="search-co">

                    <div class="row">
                        <div class="search-co-content col-xs-12 search-S2">
                            <div class="width-95 searchMain-S2">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Sales Id</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>Name</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>Team</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row search-footer-btn">
                                <div class="footer-btn-menu-co">
                                    <ul>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="查詢">
                                                <div class="icon-reStyle icon-co-14"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="清除">
                                                <div class="icon-reStyle icon-co-11"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-moreSearch show-search-detail">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>  <!-- /.footer-btn-menu-co -->
                            </div> <!-- /.search-footer-btn -->
                        </div>

                        <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                            <div class="grid width-95">
                                <div class="grid-item">
                                    <label>Hotel</label>

                                    <select class="input-medium medium-c1">
                                        <option value="1">顯示</option>
                                        <option value="2">不顯示</option>
                                        <option value="3">全部</option>
                                    </select>
                                </div>
                                <div class="grid-item">
                                    <label>F&B</label>
                                    <select class="input-medium medium-c1">
                                        <option value="1">顯示</option>
                                        <option value="2">不顯示</option>
                                        <option value="3">全部</option>
                                    </select>
                                </div>
                                <div class="grid-item">
                                    <label>Membership</label>
                                    <select class="input-medium medium-c1">
                                        <option value="1">顯示</option>
                                        <option value="2">不顯示</option>
                                        <option value="3">全部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> <!-- row-->
                </div> <!-- /.search-co -->

            </div> <!-- /.row  search-content-->
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

        <div class="col-xs-12">
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <div style="float:left; min-width: 30px; max-width: 3%;">
                        <table id="clerkDataGridResult_Chk-table"></table>
                    </div>
                    <div class="gridTableHt">
                        <!-- 業務員多筆 dataGrid -->
                        <table id="clerkDataGridResult-table"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales_changeBusiness"
                                        role="button">Add
                                </button>
                            </li>

                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth"
                                        role="button">Delete
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales_changeBusiness"
                                        role="button">Edit
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>


    <!--  業務 彈出視窗內容(jing)-->
    <%- include sales_module/sales_Btn_1.ejs %>
    <!--  /.End 業務 彈出視窗內容 -->
</div><!-- /.page-content -->
<!--<div style="background: url('./images/initialPageImg.gif') no-repeat;"></div>-->

<div style=" margin: 0 auto; display: none;" align="center">
    <img src="../images/initialPageImg2.jpg" style=" opacity: 0.4;" />
    <!--<img src="../images/initialPageImg.gif" style=" width: 25%; height: 25%; margin-left: -70px;"/>-->
    <!--<img src="../images/initialPageImg.gif" style="  width: 25%; height: 25%;margin-left: -70px;"/>-->
    <!--<img src="../images/initialPageImg.gif" style=" width: 25%; height: 25%;margin-left: -70px;"/>-->
    <!--<img src="../images/initialPageImg.gif" style="  width: 25%; height: 25%;margin-left: -70px;"/>-->
</div>
<!--  業務 initial js -->
<%- include sales_module/sales_includeJs.ejs %>
<!--  /.End 業務 initial js  -->

