
<div id="PMS0620020App" class=" padding-5">
    <div class="businessCompanyData">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-sm-11 col-xs-11">

                    <div class="borderFrame main-content-data">
                        <div class="grid">
                            <div class="grid-item">
                                <label>Sales ID</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">A0001</option>
                                    <option value="2">A0002</option>
                                    <option value="3">A0003</option>
                                </select>
                            </div>
                            <div class="grid-item">
                                <label>Status</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">All</option>
                                    <option value="2">Q:離職</option>
                                    <option value="3">N:在職</option>
                                </select>
                            </div>

                            <div class="grid-item checkboxGrid">
                                <div class="popCheckbox">
                                        <span class="checkbox">
                                          <label class="checkbox-width">
                                              <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                              <span class="lbl">Hotel</span>
                                          </label>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Name</label>
                                <input type="text" class="input-medium medium-c1-col2v2" placeholder="張三" />
                            </div>
                            <div class="grid-item checkboxGrid">
                                <div class="popCheckbox">
                                        <span class="checkbox">
                                          <label class="checkbox-width">
                                              <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                              <span class="lbl">F&B</span>
                                          </label>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Team</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">001</option>
                                    <option value="2">002</option>
                                </select>
                            </div>
                            <div class="grid-item">
                                <label>User ID</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">B0001</option>
                                    <option value="2">B0002</option>
                                </select>
                            </div>

                            <div class="grid-item checkboxGrid">
                                <div class="popCheckbox">
                                            <span class="checkbox">
                                              <label class="checkbox-width">
                                                  <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                                  <span class="lbl">Membership</span>
                                              </label>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Telephone</label>
                                <input class="input-medium medium-c1" type="text" />
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Add Date</label>
                                <input class="input-medium medium-c1" type="text" placeholder="2017-05-05 10:30:45" disabled/>
                                <!--<input format-date="YYYY/MM/DD" format-datetime="YYYY/MM/DD HH:mm:ss"-->
                                <!--class="input-medium medium-c1 dateClass SelectDisable" type="date"-->
                                <!--value="2017-05-05" required="" disabled>-->
                            </div>
                            <div class="grid-item">
                                <label>Add By</label>
                                <input class="input-medium medium-c1" type="text" placeholder="admin" disabled/>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Upd Date</label>
                                <input class="input-medium medium-c1" type="text" placeholder="2017-05-06 10:30:45" disabled/>
                            </div>
                            <div class="grid-item">
                                <label>Upd By</label>
                                <input class="input-medium medium-c1" type="text" placeholder="admin" disabled/>
                            </div>
                        </div>
                    </div>


                    <!-------- tabPage -------->
                    <div class="easyui-tabs easyUi-custom1" style="min-height: 0; height: 380px !important; overflow-y: auto;">
                        <div title="Property" class="padding-tabs">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="main-content-data">
                                        <div class="col-xs-11 col-sm-11">
                                            <div class="row no-margin-right">
                                                <div class="horizTable-outer">
                                                    <table class="css_table horizTable" style="width:100%;">
                                                        <thead class="css_thead">
                                                        <tr class="css_tr">
                                                            <th class="css_th" style="width:50%;">館別</th>
                                                            <th class="css_th" style="width:25%;">狀態</th>
                                                            <th class="css_th" style="width:25%;">停用年月</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="css_tbody">
                                                        <tr class="css_tr">
                                                            <td class="css_td">
                                                                <select id="" class="input-medium medium-c1">
                                                                    <option value="1">01:德安大酒店</option>
                                                                    <option value="2">02:顆顆大酒店</option>
                                                                    <option value="3">03:呵呵大飯店</option>
                                                                    <option value="4">04:維多利亞大飯店</option>
                                                                    <option value="5">05:海棉寶寶城市商旅</option>
                                                                    <option value="6">06:測試大飯店</option>
                                                                    <option value="7">07:321大飯店</option>
                                                                </select>
                                                            </td>
                                                            <td class="css_td">N:正常</td>
                                                            <td class="css_td"></td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">
                                                                <select id="" class="input-medium medium-c1">
                                                                    <option value="1">01:德安大酒店</option>
                                                                    <option value="2">02:顆顆大酒店</option>
                                                                    <option value="3">03:呵呵大飯店</option>
                                                                    <option value="4">04:維多利亞大飯店</option>
                                                                    <option value="5">05:海棉寶寶城市商旅</option>
                                                                    <option value="6">06:測試大飯店</option>
                                                                    <option value="7">07:321大飯店</option>
                                                                </select>
                                                            </td>
                                                            <td class="css_td">X:停用</td>
                                                            <td class="css_td">2017/06</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-1 col-xs-1">
                                            <div class="row">
                                                <div class="right-menu-co">
                                                    <ul>
                                                        <li>
                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                    role="button">New
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="btn btn-danger btn-white btn-defaultWidth"
                                                                    role="button">Delete
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--main-content-data-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div title="組別異動紀錄" class="padding-tabs">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="main-content-data">
                                        <!--業務員資料維護-->
                                        <table id="sales_clerkSGL-table"></table>
                                    </div><!--main-content-data-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-------- /.tabPage -------->

                </div>
                <div class="col-sm-1 col-xs-1 right-menu-co">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">Save
                                    </button>
                                </li>
                                <!--<li><button  id="" class="btn btn-primary btn-white btn-defaultWidth NewVisit" role="button">New Visit</button></li>-->
                                <!--<li><button class="btn btn-primary btn-white btn-defaultWidth NewDetail" role="button">New Detail</button></li>-->
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth PMS0620010changeLog"
                                            role="button">Change Log
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">Quit
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sales_changeBusiness-page" class="hide padding-5">
    <div class="businessCompanyData">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-sm-11 col-xs-11">

                    <div class="borderFrame main-content-data">
                        <div class="grid">
                            <div class="grid-item">
                                <label>Sales ID</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">A0001</option>
                                    <option value="2">A0002</option>
                                    <option value="3">A0003</option>
                                </select>
                            </div>
                            <div class="grid-item">
                                <label>Status</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">All</option>
                                    <option value="2">Q:離職</option>
                                    <option value="3">N:在職</option>
                                </select>
                            </div>

                            <div class="grid-item checkboxGrid">
                                <div class="popCheckbox">
                                        <span class="checkbox">
                                          <label class="checkbox-width">
                                              <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                              <span class="lbl">Hotel</span>
                                          </label>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Name</label>
                                <input type="text" class="input-medium medium-c1-col2v2" placeholder="張三" />
                            </div>
                            <div class="grid-item checkboxGrid">
                                <div class="popCheckbox">
                                        <span class="checkbox">
                                          <label class="checkbox-width">
                                              <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                              <span class="lbl">F&B</span>
                                          </label>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Team</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">001</option>
                                    <option value="2">002</option>
                                </select>
                            </div>
                            <div class="grid-item">
                                <label>User ID</label>
                                <select id="" class="input-medium medium-c1">
                                    <option value="1">B0001</option>
                                    <option value="2">B0002</option>
                                </select>
                            </div>

                            <div class="grid-item checkboxGrid">
                                <div class="popCheckbox">
                                            <span class="checkbox">
                                              <label class="checkbox-width">
                                                  <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                                  <span class="lbl">Membership</span>
                                              </label>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Telephone</label>
                                <input class="input-medium medium-c1" type="text" />
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Add Date</label>
                                <input class="input-medium medium-c1" type="text" placeholder="2017-05-05 10:30:45" disabled/>
                                <!--<input format-date="YYYY/MM/DD" format-datetime="YYYY/MM/DD HH:mm:ss"-->
                                <!--class="input-medium medium-c1 dateClass SelectDisable" type="date"-->
                                <!--value="2017-05-05" required="" disabled>-->
                            </div>
                            <div class="grid-item">
                                <label>Add By</label>
                                <input class="input-medium medium-c1" type="text" placeholder="admin" disabled/>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>Upd Date</label>
                                <input class="input-medium medium-c1" type="text" placeholder="2017-05-06 10:30:45" disabled/>
                            </div>
                            <div class="grid-item">
                                <label>Upd By</label>
                                <input class="input-medium medium-c1" type="text" placeholder="admin" disabled/>
                            </div>
                        </div>
                    </div>


                    <!-------- tabPage -------->
                    <div class="easyui-tabs easyUi-custom1" style="min-height: 0; height: 380px !important; overflow-y: auto;">
                        <div title="Property" class="padding-tabs">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="main-content-data">
                                        <div class="col-xs-11 col-sm-11">
                                            <div class="row no-margin-right">
                                                <div class="horizTable-outer">
                                                    <table class="css_table horizTable" style="width:100%;">
                                                        <thead class="css_thead">
                                                        <tr class="css_tr">
                                                            <th class="css_th" style="width:50%;">館別</th>
                                                            <th class="css_th" style="width:25%;">狀態</th>
                                                            <th class="css_th" style="width:25%;">停用年月</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="css_tbody">
                                                        <tr class="css_tr">
                                                            <td class="css_td">
                                                                <select id="" class="input-medium medium-c1">
                                                                    <option value="1">01:德安大酒店</option>
                                                                    <option value="2">02:顆顆大酒店</option>
                                                                    <option value="3">03:呵呵大飯店</option>
                                                                    <option value="4">04:維多利亞大飯店</option>
                                                                    <option value="5">05:海棉寶寶城市商旅</option>
                                                                    <option value="6">06:測試大飯店</option>
                                                                    <option value="7">07:321大飯店</option>
                                                                </select>
                                                            </td>
                                                            <td class="css_td">N:正常</td>
                                                            <td class="css_td"></td>
                                                        </tr>
                                                        <tr class="css_tr">
                                                            <td class="css_td">
                                                                <select id="" class="input-medium medium-c1">
                                                                    <option value="1">01:德安大酒店</option>
                                                                    <option value="2">02:顆顆大酒店</option>
                                                                    <option value="3">03:呵呵大飯店</option>
                                                                    <option value="4">04:維多利亞大飯店</option>
                                                                    <option value="5">05:海棉寶寶城市商旅</option>
                                                                    <option value="6">06:測試大飯店</option>
                                                                    <option value="7">07:321大飯店</option>
                                                                </select>
                                                            </td>
                                                            <td class="css_td">X:停用</td>
                                                            <td class="css_td">2017/06</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-1 col-xs-1">
                                            <div class="row">
                                                <div class="right-menu-co">
                                                    <ul>
                                                        <li>
                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                    role="button">New
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="btn btn-danger btn-white btn-defaultWidth"
                                                                    role="button">Delete
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--main-content-data-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div title="組別異動紀錄" class="padding-tabs">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="main-content-data">
                                        <!--業務員資料維護-->
                                        <table id="sales_clerkSGL-table"></table>
                                    </div><!--main-content-data-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-------- /.tabPage -------->

                </div>
                <div class="col-sm-1 col-xs-1 right-menu-co">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">Save
                                    </button>
                                </li>
                                <!--<li><button  id="" class="btn btn-primary btn-white btn-defaultWidth NewVisit" role="button">New Visit</button></li>-->
                                <!--<li><button class="btn btn-primary btn-white btn-defaultWidth NewDetail" role="button">New Detail</button></li>-->
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth PMS0620010changeLog"
                                            role="button">Change Log
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">Quit
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sales/PMS0620020.js"></script>


