<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <div class="row">

        <div class="col-xs-12">
            <div class="search-content">
                <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                <div class="search-co">
                    <div class="search-co-h">
                        <i class="ace-icon fa fa-search search-icon"></i>
                        <span>Search</span>
                        <div class="row search-right-btn">
                            <div class="right-btn-menu-co">
                                <ul>
                                    <li>
                                        <i class="fa fa-chevron-down show-search-detail"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="search-co-content col-xs-12">
                            <div class="width-95" style="padding-top: 10px; padding-bottom: 5px;">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>公司編號</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>狀態</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row search-footer-btn" style="top: -10px;">
                                <div class="footer-btn-menu-co">
                                    <ul>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="查詢">
                                                <div class="icon-reStyle icon-co-14"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="清除">
                                                <div class="icon-reStyle icon-co-11"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>  <!-- /.footer-btn-menu-co -->
                            </div> <!-- /.search-footer-btn -->
                        </div>
                        <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                            <div class="width-95">

                                <div class="grid">
                                    <div class="grid-item">
                                        <label classs="">公司名稱</label>
                                        <input type="text" class="input-medium input-spc-1"/>
                                    </div>
                                    <div class="searchCheckbox pull-left">
                                                    <span class="checkbox">
                                                      <label class="checkbox-width">
                                                          <input name="form-field-checkbox" type="checkbox" class="ace">
                                                          <span class="lbl">關鍵字</span>
                                                      </label>
                                                  </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>種類</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>合約狀態</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>業務員</label>
                                        <input type="text" class="input-medium input-spc-key"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>公司類別</label>
                                        <input type="text" class="input-medium input-spc-key"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>行業別</label>
                                        <input type="text" class="input-medium input-spc-key"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>區域別</label>
                                        <input type="text" class="input-medium input-spc-key"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>輸入日</label>
                                        <input type="date" class="input-medium medium-c1"/>
                                    </div>
                                    <!--input-mLeft-1 對齊帳號所屬代號-->
                                    <div class="grid-item input-mLeft-1">
                                        <label>等級</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>帳號所屬代號</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>可簽帳</label>
                                        <select class="input-medium medium-c1">
                                            <option value="y">是</option>
                                            <option value="n">否</option>
                                            <option value="all">全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>信用額度</label>
                                        <input type="date" class="input-medium medium-c1"/>
                                    </div>
                                    <div class="grid-item input-mLeft-1">
                                        <label>目前簽帳金額</label>
                                        <input type="text" class="input-medium medium-c1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> <!-- row-->
                </div> <!-- /.search-co -->
            </div> <!-- /.row  search-content-->
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>


        <div class="col-xs-12 col-sm-12 businessCompanyData">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right">
                    <!-- 商務公司 table -->
                    <table id="bs-companyMain-table" style="width: 100%;"></table>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth bs-company-totalMain"
                                        role="button">Add
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth"
                                        role="button">Delete
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth bs-company-totalMain"
                                        role="button">Edit
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth bs-company-statusChg"
                                        role="button">Status chg.
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Save As
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  業務 彈出視窗內容(jing)-->
    <%- include sales_module/sales_Btn_1.ejs %>
    <!--  /.End 業務 彈出視窗內容 -->
</div><!-- /.page-content -->

<!--  業務 initial js -->
<%- include sales_module/sales_includeJs.ejs %>
<!--  /.End 業務 initial js  -->

