<!-- page-content -->
<div id="PMS0620050App">
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 拜訪紀錄(Visit Record) Page-->
    <div class="pageMain">
        <!--查詢條件-->
        <!-- 查詢 -->
        <search-comp
                :search-fields="searchFields"
                :search-cond.sync="searchCond"
                :fetch-data="loadDataGridByPrgID">
        </search-comp>
        <div class="col-xs-12">
            <div class="search-content" >
                <div class="search-co">
                    <div class="row">
                        <div class="search-co-content col-xs-12 search-S2">
                            <div class="width-95 searchMain-S2">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Co. ID</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="a2322"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>Visit Status</label>
                                        <select id="" class="input-medium medium-c1">
                                            <option value="1">預約拜訪</option>
                                            <option value="2">已拜訪</option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>Sales Rep</label>
                                        <input type="text" class="input-medium medium-c1Rm" placeholder="陳瑞克" disabled/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row search-footer-btn">
                                <div class="footer-btn-menu-co">
                                    <ul>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="查詢">
                                                <div class="icon-reStyle icon-co-14"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="" data-rel="tooltip" data-placement="bottom"
                                                 title="清除">
                                                <div class="icon-reStyle icon-co-11"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-moreSearch show-search-detail">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>  <!-- /.footer-btn-menu-co -->
                            </div> <!-- /.search-footer-btn -->
                        </div>
                        <div class="search-co-content col-xs-12 search-S2-con rece-search-detail" style="display: none;">
                            <div class="width-95">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Co. Name</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="人人公司"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>Status</label>
                                        <select id="" class="input-medium medium-c1">
                                            <option value="1">正常</option>
                                            <option value="2">刪除</option>
                                            <option value="3">黑名單</option>
                                            <option value="4">潛力</option>
                                            <option value="5">全部</option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>Contract</label>
                                        <input type="text" class="input-medium medium-c1Rm" placeholder="已簽約" disabled/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Co. Type</label>
                                        <input type="text" class="input-medium medium-c1-col2v3Rm" placeholder="簽約公司" disabled/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>Planned Visit</label>
                                        <input type="date" class="input-medium medium-c1"/>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Region</label>
                                        <input type="text" class="input-medium medium-c1-col2v3Rm" placeholder="北區" disabled/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>Actual Visit</label>
                                        <input type="date" class="input-medium medium-c1"/>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Industry</label>
                                        <input type="text" class="input-medium medium-c1-col2v3Rm" placeholder="資訊業" disabled/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>Method</label>
                                        <select id="" class="input-medium medium-c1">
                                            <option value="1">電訪</option>
                                            <option value="2">家訪</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Purpose</label>
                                        <input type="text" class="input-medium medium-c1-col2v3"/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>Remarks</label>
                                        <input type="text" class="input-medium medium-c1-col2v3"/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> <!-- row-->
                </div> <!-- /.search-co -->
            </div> <!-- /.row  search-content-->
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <div>
                        <!-- 拜訪紀錄 dataGrid -->
                        <table id="PMS0620050_dg" class="gridTableHt"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth "
                                        role="button" @click="editRow">修改拜訪紀錄
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

    </div>

    <single-grid-pms0620050-tmp
            :row-data="editingRow"
            :is-modifiable="isModifiable"
    >
    </single-grid-pms0620050-tmp>

    <!--  業務 彈出視窗內容(jing)-->

    <!--  /.End 業務 彈出視窗內容 -->
</div><!-- /.page-content -->

<!-- subSystem 共用 js -->

<!--  /.End subSystem 共用 js  -->

<!--  業務 initial js -->

<!--  /.End 業務 initial js  -->
<%- include ./vueTemplate/searchTmp.ejs %>
<%- include ./vueTemplate/PMS0620050Tmp.ejs %>


<script src="/js/sales/vueCompLib/searchComp.js"></script>
<script src="/js/sales/PMS0620050.js"></script>
