<div style="font-size: large">
    <h2><%=__("SystemWarn.Not_found_program")%></h2>
    <span for=""><%=__("SystemCommon.ProgramID")%> : </span>
    <span style="color: red;"><%=prg_id%></span>
</div>