$font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Arial, sans-serif
body
  font-family: $font-family
  font-size: $font-default
a
  text-decoration: none
  cursor: pointer

/*-- header.html --*/
.navbar-container
  padding-left: 10px
  padding-right: 10px
  background: $navbar-bg
  &.container
    padding-left: 0
    padding-right: 0
  .nav-header-inline
    float: left
  .breadcrumbs
    color: $white
    background-color: $navbar-bg
    border-bottom: none
  .breadcrumb
    margin: 6px 6px 0 6px
  .breadcrumb > li > a
    color: #ffffff
    font-weight: bold
  .breadcrumb > li, .breadcrumb > li
    padding: 0
  .breadcrumb > li, .breadcrumb > li.active
    color: #e5e5e5
  .ace-nav>li.info
    padding: 0 10px
    span
      color: #fff
  .navbar-toggle
    background: #75B3D7
    &.pull-left
      margin: 5px 0 4px 6px
    &:hover
      background-color: #61a8d1
      border-color: rgba(255, 255, 255, 0.1)
    &:focus
      background-color: #75B3D7
      border-color: transparent
    .icon-bar
      background-color: $white
      border-radius: 0
      width: 24px
  .header-other-choice
    margin: 4px 0 4px 0
  .brand-txt
    color: $gold
    font-weight: bold
  @media screen and (max-width: 1030px)
    font-size: 12px
/*-- optionSystem --/
.optionSystem
  .banner
    width: 100%
    height: 150px
  p
    margin: 0 0 10px
    line-height: $lineHeight22
  // optionSystem hover text
  .system-block-all
    margin: 50px 0 0 0
  .system-block
    margin: 0 0 0 30px
    display: inline-block
  .imgWrap
    position: relative
    display: inline-block
    margin: 0 15px 0 0
    span.text-content
      background: rgba(0,0,0,0.5)
      color: white
      cursor: pointer
      display: table
      height: 150px
      position: absolute
      left: 0
      top: 0
      width: 150px
      border-radius: 150px
      opacity: 0
    span.text-content span
      display: table-cell
      text-align: center
      vertical-align: middle
    &:hover .text-content
      visibility: visible
      opacity: 1

/*-- footer --*/
.bacchus-footer
  padding-top: 220px
  .footerImg
    margin: 30px 0 20px 0
    img
      width: 200px
      height: auto

/*-- top-sec-menu --*/
.top-sec-ul
  max-width: 100%
  display: inline-block
  padding: 5px 0 0 0
  background: #F5F5F5
  .top-ul
    cursor: pointer
    width: 100%
    margin-left: 10px
    ul
      margin-left: 0 !important
      margin-bottom: 5px !important
      width: 100%
      li
        font-size: $font-14
        background: #ffbb22
        color: #fff
        //padding: 5px 20px //edit 符合1024
        padding: 3px 5px
        //min-width: 100px //edit 符合1024
        min-width: 80px
        max-width: 100%
        text-align: center
        display: inline-block
        box-sizing: border-box
        margin-right: 4px
        &:last-child
          margin-right: 0
        &:hover
          background: #ffc666
        &.active_01
          background: #D15B47

  .secondMenu-ul
    margin: 5px 0 5px 10px
    ul
      margin-left: 0 !important
      li
        //padding: 3px 20px  //edit 符合1024
        padding: 3px 5px
        //min-width: 100px //edit 符合1024
        min-width: 80px
        max-width: 100%
        text-align: center
        display: inline-block
        box-sizing: border-box
        color: #555
        cursor: pointer
        margin-right: 4px
        &:last-child
          margin-right: 0
        &:hover
          background: #c6c6c6
          color: #fff
      li.activeThis
        background: #888
        color: #fff
      a
        //margin: 0 0 10px 0
        //padding: 3px 20px  //edit 符合1024
        padding: 3px 5px
        //min-width: 100px //edit 符合1024
        min-width: 80px
        max-width: 100%
        text-align: center
        display: inline-block
        box-sizing: border-box
        color: #555
        cursor: pointer
        &:hover
          background: #c6c6c6
          color: #fff
      a.active_01
        background: #888
        color: #fff
    .icon-2-style
      width: 12px
      height: 12px
      //margin: 0 10px 3px //edit 符合1024
      margin: 0 3px

/*-- standard-table --*/
.standard-table
  width: 100%
  border-collapse: collapse
  position: relative
  th,td
    border: 1px solid $border-color
    padding-left: 5px
    position: relative
  .td-disable
    background: #d6d6d6
  .moreClick
    position: absolute
    right: 0
    bottom: 0
    //width: 25px
    height: 20px
    //line-height: $inputHeight-medium
    border: 1px solid #888
    background: $border-color
    border-radius: 5px
    padding: 0 5px 0 5px
    box-sizing: border-box
    cursor: pointer


/*-- authorityNewActor 新增權限 --*/
.authorityTree
  .tree
    &:before
      border: none !important
  p
    &.topTitle
      margin: 5px auto
  .authRadio
    margin-right: 2px
    //height: 11px
  .tree-body
    padding: 5px
  .author-navbar
    margin-bottom: 10px
    .author-nav-btn
      button
        float: left
        margin: auto 5px
        &.delete
          border-width: 1px
  .icon-style
    margin-left: 5px
  .authorWall
    padding: 5px
    border: 1px solid #555
    min-height: 100px
    max-height: 100%
    overflow: auto
    width: 100%

/*-- singleGridDialogTmp 新增權限 --*/
#singleGridDialog
  position: relative
  overflow-y: hidden
  margin-top: 5px
  padding-top: 15px
  padding-bottom: 15px
  .singleRelative
    position: relative
  .singleEditStatus
    padding-left: 5px
    position: absolute
    top: 5px
    right: 5px
    //display: block
    //top: 10px
    .btn-defaultWidth
      display: block
      //width: auto !important
      //display: block !important
      margin-top: 5px
      max-width: 85px
      right: 11px
      padding: 5px
  // TODO
  // resize dialog can not correct
  .singleGridContent
    //height: auto
    //height: 300px
    max-height: 100%
    overflow-y: auto
    box-sizing: border-box
  .singleBtnBottom
    position: fixed
    bottom: 50px


/*-- 訂房確認書 email --*/
.reserveCheckMail
  .block-item
    //margin: 10px auto
    vertical-align: middle
    label, .spaceColon, input,button,textarea
      display: inline-block
      vertical-align: middle
    label
      //width: 75px
      text-align: right
      vertical-align: middle
      position: relative
      padding: 0
    .spaceColon
      width: 15px
      text-align: center
      min-width: 15px
    //input
      //height: 30px
    button
      margin-left: 10px
    .block-item-content
      position: relative
      .btnCheck
        position: absolute
        top: 0
        margin-left: 14px
    .relative
      position: relative
      display: inline-block
      .tip
        position: absolute
        right: 0
        bottom: -30px
        font-size: 0.85em
        color: #ff625f

  .tipWall
    border: 1px solid #ff625f
    color: #ff625f
    padding: 10px
    p,li
      line-height: $lineHeight22
  .changeChoice
    margin: 10px auto
    ul
      display: inline
      margin-left: 0
      li
        display: inline
        margin: 0
        padding: 5px 10px
        background: #feffac
        border: 1px solid #ffd530
/*-- 搜尋列表 --*/
.search-content
  position: relative
  padding: 0 0 15px 0
  //margin-left: 5px
  .search-co
    position: relative
    height: auto
    border: 1px solid #0063ae
    .search-co-h
      position: relative
      font-size: 14px
      background: #c0d6ee
      padding: 0 0 0 10px
      height: 28px
      line-height: 28px
      border-bottom: 1px solid #0063ae
      i
        color: #fff
      span
        margin: 0 0 0 5px
      .search-right-btn
        position: absolute
        right: 20px
        top: 0
        .right-btn-menu-co
          text-align: center
          ul
            li
              //float: left
              list-style: none
              padding: 0 5px
              i
                cursor: pointer
              div.icon-reStyle
                width: 32px
                height: 32px
                border-radius: 32px
                margin: 0 auto 4px auto
                box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5)
    .search-co-content
      text-align: left
      border-collapse: collapse
      .grid-item
        label
          margin: 0 5px 0 0
          text-align: right
          width: 90px
          //min-width: 90px
          //max-width: 100%
          font-size: 13px
        label.key-Word
          margin: 0 0 0 -20px
        label.more-Word
          margin: 0 0 0 -68px
        .moreClick
          //width: 25px
          height: $inputHeight-medium
          //line-height: $inputHeight-medium
          border: 1px solid $border-color
          background: $border-color
          border-radius: 5px
          padding: 3px 5px 4px 5px
          box-sizing: border-box
          cursor: pointer
          //margin-top: -1px
      .search-footer-btn
        position: absolute
        right: 20px
        top: 30px // 如果search-h 變小 top:20px
        padding: 0 10px 0 0
        .footer-btn-menu-co
          text-align: center
          ul
            li
              float: left
              list-style: none
              padding: 4px
              div.icon-reStyle
                width: 28px
                height: 28px
                border-radius: 28px
                margin: 0 auto 0 auto
                box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5)
        .right-menu-co
          margin: 3px 5px auto auto

      &.rece-search-detail
        padding-top: 10px
        padding-bottom: 10px
        .search-footer-btn
          top: -10px
      .searchCheckbox
        .checkbox
          margin: 3px auto 0 auto
          label
            padding-left: 10px
            .lbl
              &:before
                margin-right: 3px


/*-- colorPicker 修改(假日類別設定) --*/
.spectrumColor
  padding: 0 !important

/*-- tab-content 介面大小 --*/
.tab-content-subSet
  padding: 0 10px 0 5px
  box-sizing: border-box
  margin-left: -15px

/*-- 訂房特殊版型 日期 --*/
@mixin datePin($bk: #5367ff)
  background: $bk //#5367ff
  width: 32px
  height: 32px
  margin: 1px auto auto 5px
  vertical-align: middle
.holidayDateSet
  .holidayDateSet-content
    .holidayDateGrid
      label
        min-width: 50px
        max-width: 100%
      select,input
        height: 34px
      .time-daterange
        label
          vertical-align: middle
          height: 34px
          margin-right: 5px
          line-height: 34px
        .input-daterange
          width: 220px
      .weekDate
        .choiceDay
          height: 34px
          line-height: 34px
          border: 1px solid #438EB9
          padding: 6px
          cursor: pointer
          box-sizing: border-box
          &:hover
            background: #eeeeee
            border: 2px solid #438EB9
            color: #438EB9
          &.all
            background: #438EB9
            color: #eee
            &:hover
              background: rgba(67, 142, 185, .7)
              border: 1px solid rgba(67, 142, 185, .7)
              //color: #888
      .holidayDateSelect
        .datePin01
          +datePin($bk: #5367ff)
        .datePin02
          +datePin($bk: #8effa9)
        .datePin03
          +datePin($bk: #ff5f4e)
        label
          vertical-align: middle
          height: 34px
          margin-right: 5px
          line-height: 34px

/*-- 商務公司資料編輯 --*/
@mixin bsCompany-content
  label
    width: 90px
    text-align: right
    margin-right: 0
  .mainData-tip
    font-size: 12px
    margin: auto auto auto 100px
    line-height: 22px
    color: #777
.businessCompanyData
  .main-content-data
    +bsCompany-content
    .input-spc-1
      +input-s1
      height: $inputHeight-medium
  .tab-block
    +bsCompany-content
    .checkbox-width
      width: auto
      padding-left: 10px
    //margin: auto auto 10px auto
    &.billCheckbox
      height: 25px
      .checkbox
        margin: 2px auto 0 auto
        label
          min-height: initial
          cursor: auto
    &.relatedCheck
      margin-left: 75px
      .checkbox label input[type=checkbox].ace + .lbl
        &:before
          margin-right: 3px
  .billInfo
    //border: 1px solid #eee
    .billInfo-head
      padding-top: 5px
      padding-bottom: 5px
      border-bottom: 1px solid #eee
      margin-bottom: 10px
      .billInfo-title
        font-size: $font-lg
      p
        margin-bottom: 0
    .textarea-title
      margin: 10px auto

  //彈出視窗button
  .btn-lg-width
    width: 120%
    margin-top: 10px
  .dealContent-select
    margin-bottom: 10px
    .checkbox
      margin-top: 5px
      margin-bottom: 0
      .lbl
        .txt
          margin: auto 5px
  .bs-otherRemark-content
    .marginB-c1
      margin-bottom: 10px
  .bs-contribution-content
    //.tab-block
      //margin: 5px auto
  .bs-changeRecord
    +bsCompany-content
    margin: 10px auto
    border-left: 2px solid #D15B47
    border-bottom: 1px solid #eee
    &:first-child
      margin: 0 auto 10px auto
    //&:nth-child(odd)
    //  border-left: 2px solid #D15B47
    //&:nth-child(even)
    //  border-right: 2px solid #D15B47
    .grid
      .grid-item
        width: 30%
        height: auto
  // 修改業務員
  .clerkCheckbox
    margin: auto auto auto 10px
    .lbl
      .txt
        margin: auto 5px

//ho-修改業務員表格
.ChangeBusiness-wrap
  .input-medium.medium-c1
    width: 190px !important
.businessModify-Left
  margin: 19px 0
  .businessModify-head
    padding-top: 5px
    padding-bottom: 5px
    border-bottom: 1px solid #eee
    margin-bottom: 10px
    .businessModify-title
      font-size: 1.2em
  .tab-block label
    //width: 100px !important
    text-align: right
    margin-right: 5px
    margin-bottom: 0
    //vertical-align: text-top
  .single
    width: 600px
  .checkboxGrid
    .checkLabel
      width: 0px !important
  .checkboxGroup
    margin-left: 110px
  .checkboxGrid
    width: 150px
  .BusinessProperty-wrap
    margin-top: 10px
    .input-medium
      width: 300px
      margin-top: 5px
    .BusinessProperty
      text-align: center
input[type="date"]
  padding: 1px 3px
input[type="radio"], input[type="checkbox"]
  margin: 0
.BusinessModify-Right
  ul
    margin-top: 19px
.Large-input .input-medium.medium-c1
  +input-s1(240px)
.XLarge-input .input-medium.medium-c1
  +input-s1(270px !important)
//ho-修改業務員表格end

//ho-異動紀錄
.BusinessChangeLog
  width: 570px
  margin: 0 auto
  .bs-changeRecord
    margin: 10px auto
    border-left: 2px solid #D15B47
    border-bottom: 1px solid #eee
    .grid
      padding-top: 5px
      padding-bottom: 5px
      .grid-item
        width: 30%
        height: auto
//ho-異動紀錄end

//ho-禁止輸入
.SelectDisable
  cursor: not-allowed
  background-color: #eee
  color: $grey
//禁止輸入end

//ho-新增拜訪記錄
.NewVisit-Iquire
  margin: 19px 0
  .NewVisit-head
    padding-top: 5px
    padding-bottom: 5px
    border-bottom: 1px solid #eee
    margin-bottom: 10px
    .NewVisit-title
      font-size: 1.2em
  .checkboxGrid
    label
      &.checkLabel
        width: 40px
  //查詢結果表格
.result-panel-body
  td
    padding: 3px !important
  //新增拜訪編輯
.NewVisitRecord-wrap
  margin: 10px 0
.newVisit-textarea
  margin-left: 110px
  margin-top: -14px
ul.newVisitOther-btn
  margin-top: 30px
//ho-新增拜訪記錄end

//修改拜訪記錄
.NewDetail-wrap
  .input-medium.medium-c1
    width: 300px
  .tab-block.grid-item.single-input
    width: 600px
//修改拜訪記錄end

@media screen and (min-width: 768px) and (max-width: 1030px)
  .businessCompanyData
    .main-content-data
      .medium-c1
        +input-s1(120px)
      .input-spc-1
        +input-s1(349px)

/*-- 商務公司資料編輯 修改easyUI dataGrid 樣式 --*/
.easyUi-custom1
  .tabs-header
    background: #fff
    border-color: #fff
    .tabs-wrap
      ul
        &.tabs
          padding: 0
          li
            margin: 0 0 -1px 0
            &.tabs-selected
              color: #576373
              border-color: #C5D0DC
              border-top: 2px solid #4C8FBD !important
              border-bottom-color: transparent
              background-color: #FFF
              z-index: 1
              //line-height: 18px
              margin-top: -1px
              box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15)
              .tabs-title
                color: #576373
              a
                background: #fff
            a
              border-radius: 0 !important
              border-color: #C5D0DC
              background: #F9F9F9
              color: #999
              margin-right: -1px
              position: relative
              //font-weight: 300
              //line-height: 18px
              &:hover
                background-color: #FFF
                color: #4C8FBD
                border-color: #C5D0DC

  .tabs-panels
    // 右側border 消失
    //margin-left: 1px
    border:  1px solid #C5D0DC
    .panel-body
      &.padding-tabs
        padding: 8px 6px

// 訂房 住客歷史
// 來管資料
.reserveShopInfo
  p
    &.title
      font-size: $font-16
      margin: 5px 0
.borderFrame
  border: 1px solid #C5D0DC
  padding: 5px
.borderFrame2
  border: 1px solid #C5D0DC
  padding-top: 5px
  margin: auto 5px
//文字匡排版
.textFrame
  +bsCompany-content
  .contentInput
    width: 78.5%
    margin-left: 3px
  .textArea-w1
    width: 414px
    margin-left: 3px
//reservationRoomType.ejs 右上列資料
.resvTabs-topTxt
  position: absolute
  right: 10px
  //top: 10px
  z-index: 2
  .resvTabs-content
    span
      padding-left: 5px
      padding-right: 5px
      &.subCon
        font-weight: bold
      &.subCon
        color: #8A8A8A
        min-width: 40px
        max-width: 100%

// reservationRoomType.ejs 訂房卡table資料
// margin-left: 25px 看html-->min-width
.resvCard-data
  margin-left: 25px
  span
    padding-right: 20px

// 訂房卡 changeLog
.resv-changeRecord
  +bsCompany-content
  margin: 5px auto
  border-left: 2px solid #D15B47
  border-bottom: 1px solid #eee
  &:first-child
    margin: 0 auto 5px auto
  .grid
    .grid-item
      width: 23%
      height: auto
    .grid-item-left
      //width: 12.6%
      float: left
    .grid-item-right
      float: left
      width: 80%
    .changeRecord-txt2
      word-break: break-all
      word-wrap: break-word

// 訂房卡 Memo
.resv-memo
  +bsCompany-content
  margin: 5px auto
  border-left: 2px solid #D15B47
  border-bottom: 1px solid #eee
  &:first-child
    margin: 0 auto 5px auto
  .grid
    .grid-item-1
      width: 30%
      height: auto
    .grid-item-2
      height: auto
    .grid-item-left
      //width: 12.6%
      float: left
    .grid-item-right
      float: left
      width: 80%
    .changeRecord-txt2
      word-break: break-all
      word-wrap: break-word

//int_Counter．html
.rulesOfSeparation
  //position: relative
  max-height: 600px
  overflow: auto
  .counterRow
    //margin: 0 auto
    .counterBlock
      float: left
      margin: 0 1px 1px 0
      border: 2px solid #fff
      position: relative
      padding: 5px
      //min-width: 100%
      //min-height: 100%
      width: 129px
      height: 55px
      line-height: 23px
      box-sizing: border-box
      background: #c0d6ee
      color: #000
      cursor: pointer
      @include color-bk
      &:hover
        opacity: 0.6
      .head
        .left
          position: absolute
          top: 5px
          left: 5px
        .right
          position: absolute
          top: 5px
          right: 5px
        .txt-lg
          font-weight: bold
          font-size: 18px
          line-height: 18px
      .content
        position: absolute
        top: 25px
        left: 5px
      .content-sub
        .left
          position: absolute
          top: 45px
          left: 5px
      .foot
        position: absolute
        bottom: 5px
        left: 5px
        .red-tip
          span
            color: #ff0000
      //font-weight: bold
      //font-size: 14px
      .foot-right
        position: absolute
        bottom: 5px
        right: 5px
        span
          color: #D15B47


//Ho-鎖控
.bloch-btn-single
  margin-bottom: 137px
.blockSetting-heading
  font-size: 16px

//ho改holidayDateSet
.holidayDateSet .holidayDateSet-content .holidayDateGrid .weekDate .choiceDay:active
  background-color: #438EB9
  color: #fff

//ho 接送機
.resvBtn-group
  margin-top: 30px
.reservation-pickUp-wrap .right-menu-co
  margin-top: 30px

  //ho批次修改
.input-medium.medium-c5
  width: 300px
  max-width: 100%
  height: 25px

//ho訂房卡列印、列印預覽
.print-preview-content
  .main-content-data
    width: 650px
    margin: 20px auto 0 auto
.print-preview-content
  border: 1px solid blue
  margin: 15px
  display: inline-block
  padding: 0 15px
  padding-bottom: 20px
  h4
    text-align: center
  .grid-item
    width: 48%
    text-align: center
    label
      width: 90px
    span
      display: inline-block
      width: 160px
      text-align: left
      margin-top: 5px
.grid-border
  border: 1px solid #000
  width: 100%
  display: inline-block
.grid-item.grid-item3
  width: auto
  text-align: left
  span
    display: inline
.print-preview-container
  .horizTable-outer
    overflow-x: hidden
    border-top: 1px solid #000
    padding: 10px 0
    border-bottom: 1px solid #000
    margin-bottom: 20px
.preview-textBox
  width: 80%
  margin: 0px auto
.signal-select
  width: 95%
  margin: 31px auto 0 auto
#reservationDialog-confirm-print,
#reservationDialog-print
  overflow-y: hidden
.preview-textBox
  p
    font-size: 14px
.en-text
  line-height: 1.4
.printTableSec
  margin-top: 20px
.confirm-preview-content
  .main-content-data
    width: 80%
    margin: 20px auto 0 auto
.confirm-preview-content
  border: 1px solid blue
  margin: 15px
  display: inline-block
  padding: 0 15px
  padding-bottom: 20px
.preview-textBox
  .grid-item
    margin: auto 10px 0 auto
.rvType-top
  width: 360px
  margin: 0 auto
  margin-top: 15px
  .right-menu-co
    vertical-align: top
    display: inline-block
    margin-left: 20px
    li
      margin-left: 2px
      display: inline-block
      padding: 0
      button
        padding: 3px 11px
    li:first-child
      padding: 0
.rvType-grid
  display: inline-block
  select
    border-radius: 5px
.rvType-w1
  width: 170px
  max-width: 100%
  height: 25px
.rvType-code
  background-color: #82b9ae
  color: #fff
.rvType-table-container
  margin-top: 10px

//ho changeRecords表格
.dropdown-select
  margin-bottom: 15px
  .btn-group
    .btn
      .caret
        margin-top: 0
.table-temporarily
  width: 500px
  margin-bottom: 15px
  .horizTable-outer .css_table.horizTable td,
  .horizTable-outer .css_table.horizTable th
    padding: 6px
  .horizTable-outer .css_table .css_th
    background: linear-gradient(#eee, #c4c4c4 )

//ho 房號訂房首頁
.plan-btn-group
  text-align: center
  width: 300px
  margin: 0 0 4px 4px
  ul
    margin-left: 0
    margin-bottom: 0
    li
      list-style: none
      display: inline
      button
        border: 0
      span
        font-weight: bold
.btn-inlineWidth
  width: 19%
  padding: 3px 9px
  font-size: 12px
  padding-left: 0
  padding-right: 0
  white-space: normal
.roomPlan-btn
  margin-top: 42px
.roomPlan-table
  //min-width: 100%
.empty-color
  background: #e3efdb !important
.room-color
  background: #ffe5d5 !important
.name-color
  background: #f7ccac !important
  text-align: center
.datecolor
  background: #DAEAFC !important
.roomPlanTable tbody td
  //min-width: 50px
  //padding: 0 1px
  //white-space: nowrap
.room-table-container
  overflow: hidden
  display: block
  .roomPlan-table
    .ca-center
      i
        margin-top: 7px
        margin-left: 5px
    .room-color
      i
        margin-left: 4px
        padding: 0
.roomPlan-Num
  position: absolute
  right: 4%
  border-left: 1px solid #888
  padding-left: 5px
  padding-right: 5px
  padding-bottom: 1px
.roomPlan-Num2
  position: absolute
  right: 19%
  border-left: 1px solid #888
  padding-left: 5px
  padding-right: 5px
  padding-bottom: 1px
th.dateColor
  text-align: center
.roomPlanTable.fancyTable tbody tr td .datecolor
  background-color: #DAEAFC !important
.roomPlanTable td
  min-width: 60px
  white-space: nowrap
.roomPlanTable thead:first-child
  min-width: 200px
.fancyTable.roomPlanTable tbody tr td
  background-color: #DAEAFC
  color: #262c31

//ho 其他聯絡人彈出視窗
.otherContact-box
  margin-top: 20px
  font-size: 14px
.otherContact-insideBtn
  margin-top: 70px

//進入頁
.system-box-Wrap
  width: 150px
  height: 150px
  display: inline-block
  margin-left: 20px
.system-box-Wrap .circle-background
  width: 150px
  height: 150px
  border-radius: 50%
  background: #438EB9
  font-size: 36px
  color: #fff
  display: block
  float: left
  padding: 49px 10px 0px 10px
  text-align: center
  vertical-align: top
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.system-block-all
  display: inline-block
  text-align: center

//.message-lbl
//  position: relative
//  display: inline-block
//  margin: 0
//  line-height: 20px
//  min-height: 18px
//  width: 100px
//  font-weight: normal
//  cursor: pointer

.message-wrap .checkbox
  display: inline-block
.message-wrap .checkbox label input[type=checkbox].ace + .lbl
  width: 100px
.marginLeft-57
  margin-left: 57px
.marginLeft-93
  margin-left: 93px
.marginLeft-30
  margin-left: 30px
.marginBottom-10
  margin-bottom: 10px
.input-medium.input-fourlb
  width: 419px
.input-medium.input-fourlb2
  width: 395px
.text-top
  vertical-align: top !important
.input-h70
  height: 70px !important
.input-medium.medium-157
  width: 157px
  max-width: 100%
  height: 25px
.suggestion-wrap-mid label
  width: 55px
  text-align: right
  margin-right: 0
.input-medium.resvCard-xxs
  width: 23px
  max-width: 100%
  height: 25px
.sug-btn
  margin-bottom: 10px
.input-medium.medium-c4
  width: 176px
  max-width: 100%
  height: 25px
.input-medium.input-spc-2
  width: 455px
  max-width: 100%
  height: 25px
  height: 25px
.input-medium.input-more-1
  width: 431px
  max-width: 100%
  height: 25px
  height: 25px
.input-medium.input-spc-3
  width: 349px
  max-width: 100%
  height: 25px
input[type="datetime-local"]
  font-size: 10px
.input-hCol35
  height: 35px !important
.suggestion-btnGroup
  width: 70%
  margin: 20px auto 0 auto
.th-h30
  height: 40px
.roomNum-wrap
  border-top: 1px solid #778899
  height: 20px
  display: table-cell
  i
    padding-right: 0 !important
.month-wrap
  padding: 5px 0
.room-Num-Right
  border-left: 1px solid #778899
  display: inline-block
  height: 30px
  padding-right: 10px
.room-Num-Left
  display: inline-block
  height: 30px
span.roomNum-text
  vertical-align: sub
  padding-left: 3px
.roomPlanTable .height-fntThead
  padding-bottom: 0px !important