body
  font-family: $font-family
  font-size: $font-default

a
  text-decoration: none
  cursor: pointer

/*-- header.html --*/
.navbar-container
  padding-left: 10px
  padding-right: 10px
  background: $navbar-bg
  &.container
    padding-left: 0
    padding-right: 0
  .nav-header-inline
    float: left
  .breadcrumbs
    color: $white
    background-color: $navbar-bg
    border-bottom: none
  .breadcrumb
    margin: 6px 6px 0 6px
  .breadcrumb > li > a
    color: #ffffff
    font-weight: bold
  .breadcrumb > li, .breadcrumb > li
    padding: 0
  .breadcrumb > li, .breadcrumb > li.active
    color: #e5e5e5
  .ace-nav > li.info
    padding: 0 10px
    span
      color: #fff
  .navbar-toggle
    background: #75B3D7
    &.pull-left
      margin: 5px 0 4px 6px
    &:hover
      background-color: #61a8d1
      border-color: rgba(255, 255, 255, 0.1)
    &:focus
      background-color: #75B3D7
      border-color: transparent
    .icon-bar
      background-color: $white
      border-radius: 0
      width: 24px
  .header-other-choice
    margin: 4px 0 4px 0
  .brand-txt
    color: $gold
    font-weight: bold
  @media screen and (max-width: 1030px)
    font-size: 12px
/*-- optionSystem --/
@mixin optionCircle($w:150px,$h:150px)
  width: $w
  height: $h

.optionSystem
  .banner
    width: 100%
    height: 150px
  p
    margin: 0 0 10px
    line-height: $lineHeight22
  // optionSystem hover text
  .system-block-all
    display: inline-block
    .system-block
      display: inline-block
      .imgWrap
        +optionCircle
        position: relative
        display: inline-block
        margin: 0 15px 0 0
        .circle-bg
          +optionCircle
          +border-radius(50%)
          border: 0px solid #000000
          background: #438EB9
          font-size: 36px
          color: #fff
          display: inline-block
          padding: 49px 10px 0px 10px
          text-align: center
          vertical-align: top
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          &.circle-bg-blue
            background: #438EB9
          &.circle-bg-orange
            background: $orange
          &.circle-bg-green
            background: $green
        span.text-content
          +optionCircle
          background: rgba(0, 0, 0, 0.5)
          color: white
          cursor: pointer
          display: table
          position: absolute
          left: 0
          top: 0
          border-radius: 150px
          opacity: 0
          .optionTip
            display: table-cell
            text-align: center
            vertical-align: middle
        &:hover .text-content
          visibility: visible
          opacity: 1

// optionSystem 改版二
.boxy
  padding: 0
  display: inline-block
  text-align: center
  width: 150px
  height: 150px
  &:after
    content: ''
    display: table
    clear: both
  &:hover
    h3
      opacity: 0
      transition: all 0.8s ease-in-out
  .inner-item:before
    content: ''
    display: table

  .inner-item
    width: 100%
    height: 100%
    background: #aaaaaa
    border-radius: 50%
    overflow: hidden
    position: relative
    cursor: pointer
    //margin: 20px
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1)
    +transition(all 0.4s ease-in-out)
    &:hover
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1)
      .sub
        +transform(scale(1))
        opacity: 1
        p
          opacity: 1
    h3
      position: relative
      color: #fff
      text-transform: uppercase
      letter-spacing: 2px
      font-size: 35px
      margin: 0 30px
      padding: 58px 0 0 0
      height: 100px
      font-weight: 700
      text-shadow: 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, 0.2)

    .sub
      position: absolute
      background: rgba(244, 130, 34, 0.8)
      width: inherit
      height: inherit
      border-radius: 50%
      overflow: hidden
      opacity: 0
      +transition(all 0.4s ease-in-out)
      +transform(scale(0))
      &.circle-bg-blue
        background: #438EB9
      &.circle-bg-orange
        background: $orange
      &.circle-bg-green
        background: $green
      p
        color: #fff
        padding: 10px 5px
        font-style: normal
        font-weight: 700
        text-transform: uppercase
        font-size: 16px
        letter-spacing: 1px
        //margin: 140px 30px
        position: absolute
        left: 0
        right: 0
        top: 15%
        border-top: 5px solid rgba(255, 255, 255, 0.5)
        opacity: 0
        +transition(all 0.4s ease-in-out 0.8s)
// if 將”a“tab 往前移會變成一個蛋
//a
//  display: block
//  color: rgba(255, 255, 255, 0.7)
//  font-style: normal
//  font-weight: 700
//  text-transform: uppercase
//  font-size: 11px
//  letter-spacing: 2px
//  padding-top: 7px
//  text-decoration: none
//  &:hover
//    color: rgba(173, 221, 234, 1)
//    padding: 5px
//    border-radius: 101px
//    border: 2px solid #BA611D
//    background-color: rgba(186, 97, 29, 0.1)
//    //text-decoration: none


/*-- footer --*/

// navBar 修改高度低於540 帳號下拉問題
.dropdown-rz-sm
  top: 25% !important
  right: 40% !important
  transform: translate(-50%, -50%)
//width: 60%
@media only screen and (max-width: 767px)
  .user-menu.dropdown-close.dropdown-menu-right
    &.dropdown-rz-sm
      right: 25% !important

// 舊的css 搬過來
// todo 待刪除
.companyInfo
  margin: 10px 0 0 7px
  display: none
// /.待刪除

.deleteAddAccount
  cursor: pointer
  margin-left: 10px
  font-weight: bold
  color: $redDefault
  line-height: $lineHeight34

@mixin exLinkIcon
  i
    +transition(transform .5s)
    &:hover
      //color: $blue
      +transform(scale(1.2))
      animation: exLinkIcon_Active 1.2s
      @keyframes exLinkIcon_Active
        0%
          +transform(rotate(0deg))
        25%
          +transform(rotate(45deg))
        50%
          +transform(rotate(-90deg))
        100%
          +transform(rotate(0deg))
/*-- top-sec-menu --*/
.top-sec-ul
  max-width: 100%
  display: inline-block
  padding: 5px 0 0 0
  background: #F5F5F5
  .top-ul
    cursor: pointer
    width: 100%
    margin-left: 15px
    ul
      margin-left: 0 !important
      margin-bottom: 5px !important
      width: 100%
      li
        font-size: $font-14
        background: #ffbb22
        color: #fff
        //padding: 5px 20px //edit 符合1024
        padding: 3px 5px
        //min-width: 100px //edit 符合1024
        min-width: 80px
        max-width: 100%
        text-align: center
        display: inline-block
        box-sizing: border-box
        margin-right: 4px
        &:last-child
          margin-right: 0
        &:hover
          background: #ffc666
        &.active_01
          background: #D15B47

  .secondMenu-ul
    margin: 5px 0 5px 15px
    ul
      margin-left: 0 !important
      li
        //padding: 3px 20px  //edit 符合1024
        padding: 3px 5px
        //min-width: 100px //edit 符合1024
        min-width: 80px
        max-width: 100%
        text-align: center
        display: inline-block
        box-sizing: border-box
        color: #555
        cursor: pointer
        margin-right: 4px
        &:last-child
          margin-right: 0
        &:hover
          background: #c6c6c6
          color: #fff
      li.activeThis
        background: #888
        color: #fff
      a
        //margin: 0 0 10px 0
        //padding: 3px 20px  //edit 符合1024
        padding: 3px 5px
        //min-width: 100px //edit 符合1024
        min-width: 80px
        max-width: 100%
        text-align: center
        display: inline-block
        box-sizing: border-box
        color: #555
        cursor: pointer
        &:hover
          background: #c6c6c6
          color: #fff
      a.active_01
        background: #888
        color: #fff
      .exLinkIcon
        +exLinkIcon
    .icon-2-style
      width: 12px
      height: 12px
      //margin: 0 10px 3px //edit 符合1024
      margin: 0 3px

  .subnav
    float: left !important
    //min-width: 80px
    /*max-width: 100%*/
    text-align: center
    display: inline-block
    box-sizing: border-box
    color: #555
    cursor: pointer
    margin-right: 4px
    border: 1px solid #F5F5F5
    .subnav-txt
      padding: 3px 5px 3px 2px
      &:hover
        background: #c6c6c6
        color: #fff
    a
      color: #333
      z-index: 9999 !important

    .exLinkIcon
      padding: 3px 5px
      &:hover
        background: #c6c6c6
      a
        &:hover
          color: #fff
      +exLinkIcon
    &.activeThis
      background: #888
      color: #fff
      a
        color: #fff
      .exLinkIcon, .subnav-txt
        background: #888
        color: #fff
    &.btn-gray
      .exLinkIcon, .subnav-txt
        &:hover
          background: #ebebeb
          color: #a2a2a2
    &.btn-skin
      .exLinkIcon, .subnav-txt
        &:hover
          background: #ffece3
          color: #a2a2a2
/*-- authorityNewActor 新增權限 --*/
.authorityTree
  .tree
    &:before
      border: none !important
  p
    &.topTitle
      margin: 5px auto
      font-size: 1.2em
      //background: #468EB7
      color: #ffffff
      padding-left: 10px
      padding-top: 3px
      padding-bottom: 3px
      background: linear-gradient(314deg, rgba(93, 203, 179, 0.5) 15%, rgba(70, 142, 183, 1) 60%)
      background: -moz-linear-gradient(314deg, rgba(93, 203, 179, 0.5) 15%, rgba(70, 142, 183, 1) 60%)
      background: -o-linear-gradient(314deg, rgba(93, 203, 179, 0.5) 15%, rgba(70, 142, 183, 1) 60%)
  //background: linear-gradient(314deg, rgba(74, 207, 179, 1)55%, rgba(0, 169, 255, 1)81%)
  //background: -moz-linear-gradient(314deg, rgba(74, 207, 179, 1)55%, rgba(0, 169, 255, 1)81%)
  //background: -webkit-linear-gradient(314deg, rgba(74, 207, 179, 1)55%, rgba(0, 169, 255, 1)81%)
  //background: -o-linear-gradient(314deg, rgba(74, 207, 179, 1)55%, rgba(0, 169, 255, 1)81%)

  .authRadio
    margin-right: 2px
  //height: 11px
  .tree-body
    padding: 5px
  .author-navbar
    margin-bottom: 10px
    .author-nav-btn
      button
        float: left
        margin: auto 5px
        &.delete
          border-width: 1px
    .authorSelect
      padding-right: 10px
      padding-left: 10px
  .icon-style
    margin-left: 5px
  .authorWall
    padding: 5px
    border: 1px solid #555
    min-height: 100px
    max-height: 100%
    overflow: auto
    width: 100%

/*-- singleGridDialogTmp 新增權限 --*/
#singleGridDialog
  position: relative
  overflow-y: hidden
  //margin-top: 5px
  //padding-top: 15px
  //padding-bottom: 15px
  .singleRelative
    position: relative
  .singleEditStatus
    padding-left: 5px
    position: absolute
    top: 5px
    //right: 0
    //display: block
    //top: 10px
    .btn-defaultWidth
      display: block
      //width: auto !important
      //display: block !important
      //margin-top: 5px
      max-width: 85px
      right: 11px
      padding: 5px
  // TODO
  // resize dialog can not correct
  .singleGridContent
    //height: auto
    //height: 300px
    padding-top: 5px
    padding-bottom: 5px
    max-height: 100%
    overflow-y: auto
    box-sizing: border-box
  .singleBtnBottom
    position: fixed
    bottom: 50px

/*-- 訂房確認書 email --*/
.reserveCheckMail
  .block-item
    //margin: 10px auto
    vertical-align: middle
    label, .spaceColon, input, button, textarea
      display: inline-block
      vertical-align: middle
    label
      //width: 75px
      text-align: right
      vertical-align: middle
      position: relative
      padding: 0
    .spaceColon
      width: 15px
      text-align: center
      min-width: 15px
    //input
      //height: 30px
    button
      margin-left: 10px
    .block-item-content
      position: relative
      .btnCheck
        position: absolute
        top: 0
        margin-left: 14px
    .relative
      position: relative
      display: inline-block
      .tip
        position: absolute
        right: 0
        bottom: -30px
        font-size: 0.85em
        color: #ff625f

  .tipWall
    border: 1px solid #ff625f
    color: #ff625f
    padding: 10px
    p, li
      line-height: $lineHeight22
  .changeChoice
    margin: 10px auto
    ul
      display: inline
      margin-left: 0
      li
        display: inline
        margin: 0
        padding: 5px 10px
        background: #feffac
        border: 1px solid #ffd530

/*-- 搜尋列表 --*/
.search-content
  position: relative
  padding: 0 0 5px 0
  //0 0 15px 0
  //margin-left: 5px
  .search-co
    position: relative
    height: auto
    border: 1px solid #0063ae
    .search-co-h
      position: relative
      font-size: 14px
      background: #c0d6ee
      padding: 0 0 0 10px
      height: 28px
      line-height: 28px
      border-bottom: 1px solid #0063ae
      i
        color: #fff
      span
        margin: 0 0 0 5px
      .search-right-btn
        position: absolute
        right: 20px
        top: 0
        .right-btn-menu-co
          text-align: center
          ul
            li
              //float: left
              list-style: none
              padding: 0 5px
              i
                cursor: pointer
              div.icon-reStyle
                width: 32px
                height: 32px
                border-radius: 32px
                margin: 0 auto 4px auto
                box-shadow: 2px 2px 3px rgba(20%, 20%, 40%, 0.5)
    .search-co-content
      text-align: left
      border-collapse: collapse
      .grid-item
        label.key-Word
          margin: 0 0 0 -20px
        label.more-Word
          margin: 0 0 0 -68px
      //.moreClick
      //  //width: 25px
      //  height: $defHt
      //  //line-height: $defHt
      //  border: 1px solid $border-color
      //  background: $border-color
      //  border-radius: 5px
      //  padding: 3px 5px 4px 5px
      //  box-sizing: border-box
      //  cursor: pointer
      //margin-top: -1px
      .search-footer-btn
        position: absolute
        right: 20px
        top: 30px
        // 如果search-h 變小 top:20px
        padding: 0 10px 0 0
        .footer-btn-menu-co
          text-align: center
          ul
            li
              float: left
              list-style: none
              padding: 4px
              cursor: pointer
              div.icon-reStyle
                width: 28px
                height: 28px
                border-radius: 28px
                margin: 0 auto 0 auto
                box-shadow: 2px 2px 3px rgba(20%, 20%, 40%, 0.5)
        .right-menu-co
          margin: 3px 5px auto auto

      &.rece-search-detail
        padding-top: 10px
        padding-bottom: 10px
        .search-footer-btn
          top: -10px
      .searchCheckbox
        .checkbox
          margin: 3px auto 0 auto
          label
            padding-left: 10px
            .lbl
              &:before
                margin-right: 3px

      // 170906新樣式
      &.search-S2
        .searchMain-S2
          padding-top: 10px
        .search-footer-btn
          top: -10px
          .icon-moreSearch
            border-radius: 100px
            border: 1px solid #A3A0A1
            padding: 3px 6px
            margin-top: 1px
            width: 28px
            height: 28px
            box-shadow: 2px 2px 3px rgba(51, 51, 102, 0.5)
            i
              color: #438EB9
              +transform(rotate(0deg))
              //-webkit-transform: rotate(0deg)
              +animation(outAnimation 1s)
              //-webkit-animation: outAnimation 1s
              &.active
                +animation(inAnimation 1s)
                //-webkit-animation: inAnimation 1s
                +transform(rotate(180deg))
                -webkit-transform: rotate(180deg)
                @-webkit-keyframes inAnimation
                  0%
                    -webkit-transform: rotate(-135deg)
                  100%
                    -webkit-transform: rotate(180deg)
                @-webkit-keyframes outAnimation
                  0%
                    -webkit-transform: rotate(45deg)
                  100%
                    -webkit-transform: rotate(360deg)
            &:hover
              background: #0A4E9D
              i
                color: #fff
      &.search-S2-con
        // 170920 最後將 “rece-search-detail” 的padding拿掉
        &.rece-search-detail
          padding-top: 0

/*-- colorPicker 修改(假日類別設定) --*/
.spectrumColor
  padding: 0 !important

/*-- tab-content 介面大小 --*/
.tab-content-subSet
  padding: 0 10px 0 5px
  box-sizing: border-box
  margin-left: -15px

/*-- 訂房特殊版型 日期 --*/
@mixin datePin($bk: #5367ff)
  background: $bk
  //#5367ff
  width: 32px
  height: 32px
  margin: 1px auto auto 5px
  vertical-align: middle

.holidayDateSet
  .holidayDateSet-content
    .holidayDateGrid
      label
        min-width: 50px
        max-width: 100%
      select, input
        height: 34px
      .time-daterange
        label
          vertical-align: middle
          height: 34px
          margin-right: 5px
          line-height: 34px
        .input-daterange
          width: 220px
      .weekDate
        .choiceDay
          height: 34px
          line-height: 34px
          border: 1px solid #438EB9
          padding: 6px
          cursor: pointer
          box-sizing: border-box
          &:hover
            background: #eeeeee
            border: 2px solid #438EB9
            color: #438EB9
          &.all
            background: #438EB9
            color: #eee
            &:hover
              background: rgba(67, 142, 185, .7)
              border: 1px solid rgba(67, 142, 185, .7)
      //color: #888
      .holidayDateSelect
        .datePin01
          +datePin($bk: #5367ff)
        .datePin02
          +datePin($bk: #8effa9)
        .datePin03
          +datePin($bk: #ff5f4e)
        label
          vertical-align: middle
          height: 34px
          margin-right: 5px
          line-height: 34px

/*-- 商務公司資料編輯 --*/
@mixin bsCompany-content
  label
    width: 90px
    text-align: right
    &.label-spc
      width: 82px
      margin-right: 2px !important
    &.label-spc-2
      width: 70px
    &.label_w80
      width: 80px
  .mainData-tip
    font-size: 12px
    margin: auto auto auto 100px
    line-height: 22px
    color: #777

.businessCompanyData
  .main-content-data
    +bsCompany-content
    .input-spc-1
      +input-s1
      height: $defHt
  .grid-item
    +bsCompany-content
    .checkbox-width
      width: auto
      padding-left: 10px
    //margin: auto auto 10px auto
    &.billCheckbox
      height: 25px
      .checkbox
        margin: 2px auto 0 auto
        label
          min-height: initial
          cursor: auto
          &.ckBox_label
            width: 90px
    &.relatedCheck
      margin-left: 75px
      .checkbox label input[type=checkbox].ace + .lbl
        &:before
          margin-right: 3px
  .billInfo
    //border: 1px solid #eee
    .billInfo-head
      padding-top: 5px
      padding-bottom: 5px
      border-bottom: 1px solid #eee
      margin-bottom: 10px
      .billInfo-title
        font-size: $font-lg
      p
        margin-bottom: 0
    .textarea-title
      margin: 10px auto

  //彈出視窗button
  .btn-lg-width
    width: 120%
    margin-top: 10px
  .dealContent-select
    margin-bottom: 10px
    .checkbox
      margin-top: 5px
      margin-bottom: 0
      .lbl
        .txt
          margin: auto 5px
  .bs-otherRemark-content
    .marginB-c1
      margin-bottom: 10px
  .bs-contribution-content
  //.tab-block
    //margin: 5px auto
  .bs-changeRecord
    +bsCompany-content
    margin: 10px auto
    border-left: 2px solid #D15B47
    border-bottom: 1px solid #eee
    &:first-child
      margin: 0 auto 10px auto
    //&:nth-child(odd)
    //  border-left: 2px solid #D15B47
    //&:nth-child(even)
    //  border-right: 2px solid #D15B47
    .grid
      .grid-item
        width: 30%
        height: auto
  // 修改業務員
  .clerkCheckbox
    margin: auto auto auto 10px
    .lbl
      .txt
        margin: auto 5px

//ho-修改業務員表格
.ChangeBusiness-wrap
  .input-medium.medium-c1
    width: 190px !important

.businessModify-Left
  //margin: 19px 0
  .businessModify-head
    padding-top: 5px
    padding-bottom: 5px
    border-bottom: 1px solid #eee
    margin-bottom: 10px
    .businessModify-title
      font-size: 1.2em
  .tab-block label
    //width: 100px !important
    text-align: right
    margin-right: 5px
    margin-bottom: 0
  //vertical-align: text-top
  .single
    width: 600px
  .checkboxGrid
    .checkLabel
      width: 0px !important
  .checkboxGroup
    margin-left: 110px
  .checkboxGrid
    width: 150px
  .BusinessProperty-wrap
    margin-top: 10px
    .input-medium
      width: 300px
      margin-top: 5px
    .BusinessProperty
      text-align: center

input[type="date"]
  padding: 1px 3px

input[type="radio"], input[type="checkbox"]
  margin: 0

.Large-input .input-medium.medium-c1
  +input-s1(240px)

.XLarge-input .input-medium.medium-c1
  +input-s1(270px !important)
//ho-修改業務員表格end

//ho-異動紀錄
.BusinessChangeLog
  width: 570px
  margin: 0 auto
  .bs-changeRecord
    margin: 10px auto
    border-left: 2px solid #D15B47
    border-bottom: 1px solid #eee
    .grid
      padding-top: 5px
      padding-bottom: 5px
      .grid-item
        width: 30%
        height: auto
//ho-異動紀錄end

//ho-禁止輸入
.SelectDisable
  cursor: not-allowed
  background-color: #eee
  color: $grey
//禁止輸入end

//ho-新增拜訪記錄
.NewVisit-Iquire
  margin: 19px 0
  .NewVisit-head
    padding-top: 5px
    padding-bottom: 5px
    border-bottom: 1px solid #eee
    margin-bottom: 10px
    .NewVisit-title
      font-size: 1.2em
  .checkboxGrid
    label
      &.checkLabel
        width: 40px
//查詢結果表格
.result-panel-body
  td
    padding: 3px !important
//新增拜訪編輯
.newVisitRecord-wrap
  margin: 10px 0

.newVisit-textarea
  margin-left: 110px
  margin-top: -14px

ul.newVisitOther-btn
  margin-top: 30px
//ho-新增拜訪記錄end

//修改拜訪記錄
.NewDetail-wrap
  .input-medium.medium-c1
    width: 300px
  .tab-block.grid-item.single-input
    width: 600px
//修改拜訪記錄end

@media screen and (min-width: 768px) and (max-width: 1030px)
  .businessCompanyData
    .main-content-data
//.medium-c1
//  +input-s1(120px)
//.input-spc-1
//  +input-s1(349px)

/*-- 商務公司資料編輯 修改easyUI dataGrid 樣式 --*/
.easyUi-custom1
  .tabs-header
    background: #fff
    border-color: #fff
    .tabs-wrap
      ul
        &.tabs
          padding: 0
          li
            margin: 0 0 -1px 0
            &.tabs-selected
              color: #576373
              border-color: #C5D0DC
              border-top: 2px solid #4C8FBD !important
              border-bottom-color: transparent
              background-color: #FFF
              z-index: 1
              //line-height: 18px
              margin-top: -1px
              box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15)
              .tabs-title
                color: #576373
              a
                background: #fff
            a
              border-radius: 0 !important
              border-color: #C5D0DC
              background: #F9F9F9
              color: #999
              margin-right: -1px
              position: relative
              //font-weight: 300
              //line-height: 18px
              &:hover
                background-color: #FFF
                color: #4C8FBD
                border-color: #C5D0DC

  .tabs-panels
    // 右側border 消失
    //margin-left: 1px
    border: 1px solid #C5D0DC
    .panel-body
      &.padding-tabs
        padding: 8px 6px

// 訂房 住客歷史
// 來管資料
.reserveShopInfo
  p
    &.title
      font-size: $font-16
      margin: 5px 0

.borderFrame
  border: 1px solid #C5D0DC
  padding: 5px

.borderFrame2
  border: 1px solid #C5D0DC
  padding-top: 5px
  margin: auto 5px
//文字匡排版
.textFrame
  +bsCompany-content
  .contentInput
    width: 78.5%
    margin-left: 3px
  .textArea-w1
    width: 414px
    margin-left: 3px
//reservationRoomType.ejs 右上列資料
.resvTabs-topTxt
  position: absolute
  right: 0
  //top: 10px
  z-index: 2
  .resvTabs-content
    span
      padding-left: 5px
      padding-right: 5px
      &.subCon
        font-weight: bold
      &.subCon
        color: #8A8A8A
        min-width: 40px
        max-width: 100%

// reservationRoomType.ejs 訂房卡table資料
// margin-left: 25px 看html-->min-width
.resvCard-data
  margin: 5px auto auto 10px
  .divideLine
    padding: 2px 0 0 0
  span
    padding-right: 5px
//&:last-child
//  padding-right: 0

// 訂房卡 changeLog
.resv-changeRecord
  +bsCompany-content
  margin: 5px auto
  border-left: 2px solid #D15B47
  border-bottom: 1px solid #eee
  &:first-child
    margin: 0 auto 5px auto
  .grid
    .grid-item
      width: 23%
      height: auto
    .grid-item-left
      //width: 12.6%
      float: left
    .grid-item-right
      float: left
      width: 80%
    .changeRecord-txt2
      word-break: break-all
      word-wrap: break-word

// 訂房卡 Memo
.resv-memo
  +bsCompany-content
  margin: 5px auto
  border-left: 2px solid #D15B47
  border-bottom: 1px solid #eee
  &:first-child
    margin: 0 auto 5px auto
  .grid
    .grid-item-1
      width: 30%
      height: auto
    .grid-item-2
      height: auto
    .grid-item-left
      //width: 12.6%
      float: left
    .grid-item-right
      float: left
      width: 80%
    .changeRecord-txt2
      word-break: break-all
      word-wrap: break-word

// PMS0110000 訂房卡 分帳規則
.rulesOfSeparation
  //position: relative
  max-height: 600px
  overflow: auto
  .counterRow
    //margin: 0 auto
    .counterBlock
      float: left
      margin: 0 1px 1px 0
      border: 2px solid #fff
      position: relative
      padding: 5px
      //min-width: 100%
      //min-height: 100%
      width: 129px
      height: 55px
      line-height: 23px
      box-sizing: border-box
      background: #c0d6ee
      color: #000
      cursor: pointer
      @include color-bk
      &:hover
        opacity: 0.6
      .head
        .left
          position: absolute
          top: 5px
          left: 5px
        .right
          position: absolute
          top: 5px
          right: 5px
        .txt-lg
          font-weight: bold
          font-size: 18px
          line-height: 18px
      .content
        position: absolute
        top: 25px
        left: 5px
        span
          width: 103px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          display: inline-block
          vertical-align: top
      .content-sub
        .left
          position: absolute
          top: 45px
          left: 5px
      .foot
        position: absolute
        bottom: 5px
        left: 5px
        .red-tip
          span
            color: #ff0000
      //font-weight: bold
      //font-size: 14px
      .foot-right
        position: absolute
        bottom: 5px
        right: 5px
        span
          color: #D15B47
  &.customHt
    max-height: 400px

// PMS0210020 綜合櫃檯
.foCounter
  .counterPage
    //position: relative
    max-height: 600px
    overflow: auto
    .counterRow
      //margin: 0 auto
      .counterBlock
        float: left
        margin: 0 1px 1px 0
        border: 2px solid #fff
        position: relative
        padding: 5px
        //min-width: 100%
        //min-height: 100%
        width: 124px
        height: 86px
        line-height: 23px
        box-sizing: border-box
        background: #c0d6ee
        color: #000
        font-size: 11px
        cursor: pointer
        @include color-bk
        &:hover
          opacity: 0.6
        .head
          .left
            position: absolute
            top: 5px
            left: 5px
          .right
            position: absolute
            top: 5px
            right: 5px
          .txt-lg
            font-weight: bold
            font-size: 18px
            line-height: 18px
            &.cb-dirty
              color: #000
            &.cb-clean
              color: #fff
            &.cb-rmAssign-d
              color: #000
              border-bottom: 1px solid #000
            &.cb-rmAssign-c
              color: #fff
              border-bottom: 1px solid #fff
            &.cb-ischeck
              color: #7b3ec3
        .content
          position: absolute
          top: 25px
          left: 5px
        .content-sub
          .left
            position: absolute
            top: 45px
            left: 5px
        .content-ico
          position: absolute
          top: 61px
          .foCnt_icon
            width: 12px
            height: 12px
            margin: 4px 1px auto 1px
        .foot
          position: absolute
          bottom: 5px
          left: 5px
          .red-tip
            span
              color: #ff0000
        //font-weight: bold
        //font-size: 14px
        .foot-right
          position: absolute
          bottom: 5px
          right: 5px
          span
            color: #D15B47

  .counter-right
    min-height: 200px
    max-height: 100%
    overflow-y: auto
    label
      font-size: 9px

  // int_counter floorPlan-table
  .floorPlan-table
    table
      border: 1px solid #a0a8b4
      width: 100%
      th, td
        border: 1px solid #a0a8b4
        padding-left: 2px
      tr
        th
          background: #c0d6ee
        td
          word-break: break-all
          .moreInfo
            background: #bfbfbf
            border: none
            float: right
            height: 20px
          .float-left
            float: left
          .float-right
            float: right
          &.roomNum
            box-sizing: border-box
            font-size: 1.5em
            font-style: italic
            font-weight: bold
            color: #DD5A43
            border: 2px solid #DD5A43
          &.roomBigTitle
            text-align: center
            box-sizing: border-box
            font-size: 1.2em
            font-weight: bold
    //color: #555
    .customInfo-table
      width: 100%
      .table-left, .table-right
        float: left
      .table-left
        width: 25%
        margin: 0 3% 0 0
      .table-right
        width: 72%
    .fav
      table
        width: 100%
        th
          width: 20%
        td
          width: 80%

  //.show-intCounterRight
  //  display: none
  .intCounterRight
    display: none
  .intCounterleft
    position: relative
  .show-intCounterRight
    float: right
    display: block
    i
      border: 1px solid #8fbcd9
      padding: 3px 10px
      cursor: pointer
    color: #70a0c1
    //line-height: 1.42857143
    span
      margin: 0 0 0 2px
      font-size: 14px
      line-height: 2

//Ho-鎖控
.bloch-btn-single
  margin-bottom: 137px

.blockSetting-heading
  font-size: 16px

//ho改holidayDateSet
.holidayDateSet .holidayDateSet-content .holidayDateGrid .weekDate .choiceDay:active
  background-color: #438EB9
  color: #fff

//ho 接送機
.resvBtn-group
  margin-top: 30px

.reservation-pickUp-wrap .right-menu-co
  margin-top: 30px

//ho批次修改
.input-medium.medium-c5
  width: 300px
  max-width: 100%
  height: 25px

//ho訂房卡列印、列印預覽
.print-preview-content
  .main-content-data
    width: 650px
    margin: 20px auto 0 auto

.print-preview-content
  border: 1px solid blue
  margin: 15px
  display: inline-block
  padding: 0 15px
  padding-bottom: 20px
  h4
    text-align: center
  .grid-item
    width: 48%
    text-align: center
    label
      width: 90px
    span
      display: inline-block
      width: 160px
      text-align: left
      margin-top: 5px

.grid-border
  border: 1px solid #000
  width: 100%
  display: inline-block

.grid-item.grid-item3
  width: auto
  text-align: left
  span
    display: inline

.print-preview-container
  .horizTable-outer
    overflow-x: hidden
    border-top: 1px solid #000
    padding: 10px 0
    border-bottom: 1px solid #000
    margin-bottom: 20px

.preview-textBox
  width: 80%
  margin: 0px auto

.signal-select
  width: 95%
  margin: 31px auto 0 auto

#reservationDialog-confirm-print,
#reservationDialog-print
  overflow-y: hidden

.preview-textBox
  p
    font-size: 14px

.en-text
  line-height: 1.4

.printTableSec
  margin-top: 20px

.confirm-preview-content
  .main-content-data
    width: 80%
    margin: 20px auto 0 auto

.confirm-preview-content
  border: 1px solid blue
  margin: 15px
  display: inline-block
  padding: 0 15px
  padding-bottom: 20px

.preview-textBox
  .grid-item
    margin: auto 10px 0 auto

.rvType-top
  width: 360px
  margin: 0 auto
  margin-top: 15px
  .right-menu-co
    vertical-align: top
    display: inline-block
    margin-left: 20px
    li
      margin-left: 2px
      display: inline-block
      padding: 0
      button
        padding: 3px 11px
    li:first-child
      padding: 0

.rvType-grid
  display: inline-block
  select
    border-radius: 5px

.rvType-w1
  width: 170px
  max-width: 100%
  height: 25px

.rvType-code
  background-color: #82b9ae
  color: #fff

.rvType-table-container
  margin-top: 10px

//ho changeRecords表格
.dropdown-select
  margin-bottom: 15px
  .btn-group
    .btn
      .caret
        margin-top: 0

.table-temporarily
  width: 500px
  margin-bottom: 15px
  .horizTable-outer .css_table.horizTable td,
  .horizTable-outer .css_table.horizTable th
    padding: 6px
  .horizTable-outer .css_table .css_th
    background: linear-gradient(#eee, #c4c4c4)

//ho 房號訂房首頁
.plan-btn-group
  width: auto
  margin: 0 0 4px 0
  ul
    margin-left: 0
    margin-bottom: 0
    li
      list-style: none
      display: inline
      button
        border: 0
        width: auto
        padding-right: 20px
        padding-left: 20px
      span
        font-weight: bold
  .btn-inlineWidth
    padding: 3px 9px
    font-size: 12px
    white-space: normal
    cursor: default

.roomPlan-btn
  margin-top: 42px

.empty-color
  background: #fff !important

.room-color
  background: #ffe5d5 !important

.name-color
  background: #fff !important
  text-align: center

.status_a
  background: $status_a

.status_o
  background: $status_o

.status_s
  background: $status_s

.status_ooo
  background: $status_ooo

.datecolor
  background: #DAEAFC !important
//.roomPlanTable
.room-table-container
  overflow-y: auto
  display: block
  .roomPlan-table
    .ca-center
      i
        margin-top: 7px
        margin-left: 5px
    .room-color
      i
        margin-left: 4px
        padding: 0

.roomPlan-Num
  position: absolute
  right: 4%
  border-left: 1px solid #888
  padding-left: 5px
  padding-right: 5px
  padding-bottom: 1px

.roomPlan-Num2
  //position: absolute
  //right: calc(100% - 79%)
  border-left: 1px solid #888
  padding-left: 5px
  padding-right: 5px
  padding-bottom: 1px

th.dateColor
  text-align: center

.roomPlanTable.fancyTable tbody tr td .datecolor
  background-color: #DAEAFC !important

.roomPlanTable td,
.roomPlanTable th
  //min-width: 30px
  white-space: nowrap

.roomPlanTable thead:first-child
  min-width: 200px

.fancyTable.roomPlanTable tbody tr td
  background-color: #DAEAFC
  color: #262c31

.fancyTable.bg-white tbody tr td
  background-color: #fff

//ho 其他聯絡人彈出視窗
.otherContact-box
  margin-top: 20px
  font-size: 14px

.otherContact-insideBtn
  margin-top: 70px

//.message-lbl
//  position: relative
//  display: inline-block
//  margin: 0
//  line-height: 20px
//  min-height: 18px
//  width: 100px
//  font-weight: normal
//  cursor: pointer

.message-wrap .checkbox
  display: inline-block

.message-wrap .checkbox label input[type=checkbox].ace + .lbl
  width: 100px

.marginLeft-57
  margin-left: 57px

.marginLeft-30
  margin-left: 30px

.marginBottom-10
  margin-bottom: 10px

.input-medium.input-fourlb
  width: 419px

.input-medium.input-fourlb2
  width: 395px

.text-top
  vertical-align: top !important

.input-h70
  height: 70px !important

.input-medium.medium-157
  width: 157px
  max-width: 100%
  height: 25px

.suggestion-wrap-mid label
  width: 55px
  text-align: right
  margin-right: 0

.input-medium.resvCard-xxs
  width: 23px
  max-width: 100%
  height: 25px

.sug-btn
  margin-bottom: 10px

.input-medium.medium-c4
  width: 176px
  max-width: 100%
  height: 25px

input[type="datetime-local"]
  font-size: 10px

.input-hCol35
  height: 35px !important

.suggestion-btnGroup
  width: 70%
  margin: 20px auto 0 auto

.th-h30
  height: 40px

.roomNum-wrap
  border-top: 1px solid #778899
  height: 19px
  margin-bottom: 0
  //display: table-cell
  .roomNum-text
    margin-left: -23%
    i
      padding-right: 0 !important
//.month-wrap
//  padding: 3px 0
.room-Num-Right
  border-left: 1px solid #778899

.room-Num-Left
  display: inline-block

.room-Num-Left, .room-Num-Right, .roomPlan-Num2, .roomPlan-Num1
  display: inline-block
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
//height: 30px
span.roomNum-text
  //vertical-align: sub
  padding-left: 3px

.roomPlanTable .height-fntThead
  padding-bottom: 0px !important
////ho 備品表格td寬度
.input-medium.resvCard-xxs
  width: 27px
  height: 18px
//td div.triangle-box
//  width: 100%
//  line-height: 20px
//  background: mediumaquamarine
//  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%)
//  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%)

@mixin triangle_before($triangle_bg: #f8cbac , $triangle_txt: #555)
  &:before, &:after
    content: ""
    border-style: solid
    border-width: 0
    height: 19px
    position: absolute
    width: 0
    border-color: transparent $triangle_bg
  &:before
    left: 0px
    border-width: 9px 10px 9px 0px
  &:after
    right: 0px
    border-width: 9px 0 9px 10px
  &.triangle-text
    width: 100%
    display: inline-block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: $triangle_txt
    border-right: 10px solid #fff
    border-left: 10px solid #fff

//ho-表格td長六角形
td
  div
    &.triangle-box
      width: 100%
      height: 19px
      color: #000
      position: relative
      background-color: #f8cbac
      z-index: 3
      &.colspan-1
        width: 100%
      &.colspan-2
        width: 200%
      span
        +triangle_before
        height: 19px
      &.status_a
        span
          background: $status_a
          +triangle_before($status_a, #fff)
      &.status_o
        span
          background: $status_o
          +triangle_before($status_o, #fff)
      &.status_s
        span
          background: $status_s
          +triangle_before($status_s, #fff)
      &.status_ooo
        span
          background: $status_ooo
          +triangle_before($status_ooo, #fff)

    // todo 多行不會隱藏
    &.act-box
      margin: 0px auto
      color: #000
      position: relative
      &:before, &:after
        content: ""
        border-style: solid
        border-width: 0
        position: absolute
        width: 0
        border-color: transparent #f8cbac
      span
        &.act-text
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis

//ho-分帳規則
.cashierSetting-btn-wrap
  margin-top: 10px

.rules-notice
  color: red
//.rules-wrap
//  margin-bottom: 30px
//.rules-wrap .counterRow .counterBlock
//  //background: #8080ff
.purple-text
  color: #DD5A43 !important

.cashierSetting-left
  &.css_table
    .css_td
      background: #e6e6ff
      &.active
        background: #fff !important
        color: #000 !important

.month-wrap
  width: 90%
  margin: 0 auto
  padding: 5px 0

.roomPlanTable
  .col-xs-6
    text-align: center
    display: inline-table

.cashier-top-wrap
  margin: 15px 15px
  padding-top: 10px

.rulesOfSeparation
  .counterBlock
    span
      width: 70px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      display: inline-block

//Lost&found
.lost-found-wrap
  .grid-item
    label
      width: 120px
//L&F
.lf-btn-box
  ul
    li
      button
        margin-bottom: 5px

.lf-more-topWrap
  margin-bottom: 5px
//pbx
.pbx-clean-box
  //width: 360px
  padding-top: 7px
  fieldset
    display: block
    //height: 300px
    border: 1px solid #000
    padding: 12px
    legend
      width: auto
      border-bottom: 0px
      margin-bottom: 3px
  hr
    clear: both

.green-box
  width: 70px
  height: 25px
  border-radius: 5px
  float: right
  background: green
  margin-left: 5px
  border: 1px solid #D5D5D5

.single-grid
  width: 300px

.pbxPhone-box
  margin-top: 14px
  .grid
    width: 70%
    margin: 0 auto
    button
      width: 100%
      margin-bottom: 11px

//已結帳處理
.historyLedger-wrap
  .historyLedger-details-btn
    margin-top: 30px
  .reserveShopInfo
    .title
      color: blue
      font-weight: bold
      font-size: 14px

.input-medium.medium-c1-410
  width: 410px
  max-width: 100%
  height: 25px

.input-medium.medium-xs-82
  width: 82px
  max-width: 100%
  height: 25px
//彈出視窗 PM 設定公帳號
.paSetting-wrap
  border-bottom: 1px solid #0063ae
  margin-bottom: 12px
  .grid
    button
      width: 25% !important

.paChoosed-wrap
  select
    border-color: #8aafce
    color: #537c9f !important
    margin-bottom: 5px

.paBuild-wrap
  .main-content-data
    margin-top: 15px
    .pa-auto-btn
      width: 15%
//異動紀錄
.input-medium.width-122
  width: 122px
  max-width: 100%
  height: 25px

.input-medium.width-263
  width: 257px
  max-width: 100%
  height: 25px

.custab
  border: 0px solid #ccc
  padding: 5px
  //margin: 2% 0
  box-shadow: 3px 3px 2px #ccc
  position: relative
  &.custab-gray
    box-shadow: none
    thead
      tr
        background: #eee !important
        color: #000
        height: $defHt
        th
          border: 1px solid #cccccc !important
          font-weight: 400
          padding-left: 5px
          padding-right: 5px
    tbody
      tr
        &:nth-child(odd)
          background-color: #fff
        &:nth-child(even)
          background-color: #fff
        height: $defHt
        td
          border: 1px solid #cccccc !important
          color: #555
          padding-left: 5px
          padding-right: 5px
  thead
    tr
      background: $tableBg !important
      background-image: none
      color: #fff
      th
        border: 1px solid #fff !important
  tbody
    //position: absolute
    //overflow-y: scroll
    tr
      &:nth-child(odd)
        background-color: #d2ddf1
      &:nth-child(even)
        background-color: #f3f3f7
      td
        border: 1px solid #fff !important
        color: #000
// table上排固定
.fixHeadTable
  table
    width: 100%
    table-layout: fixed
  .tbl-header02
  .tbl-content02
    overflow-x: auto
    margin-top: 0px
    td
      padding-left: 5px

.grayBg
  background: #EEEEEE !important
//排房作業
.qt1
  background: #b94db3

.qt2
  background: #a0563d
//夜核
.ttrial-table
  margin-top: 20px
  thead
    border-top: 2px solid #000
    border-bottom: 2px solid #000
    tr
      background: #fff !important
      background-image: none !important
      th
        border-bottom: 0
        &.ttrial-th
          span + span
            margin-left: 10px
  tbody
    tr
      &:nth-of-type(odd)
        background: #F0F3F5
      td
        &.ttrial-price
          span
            display: inline-block
            width: 49px
            text-align: right
        .test
          margin-left: 30px

.lineHeight17
  line-height: 1.7

.ttrial-noice
  font-size: 14px
  margin-left: 86px

// 大標樣式
.titleInfo
  //border: 1px solid #eee
  .titleInfo-head
    //padding-top: 5px
    padding-bottom: 0
    border-bottom: 1px solid #eee
    margin: 5px auto
    .titleInfo-title
      font-size: $font-lg
    p
      margin-bottom: 0
  .textarea-title
    margin: 5px auto

// 陰影
.div_shadow
  border: 1px solid #8aafce
  box-shadow: 3px 3px 2px #ccc
//+box-shadow(inset 3px 4px 20px 0px #8F8888,5px 5px 5px 1px #707070)

// Room Assign 排房
.townPage
  //position: relative
  height: 500px
  overflow: auto
  .townRow
    //margin: 3px auto auto 3px
    .townBlock
      float: left
      margin: 0 1px 1px 0
      //border: 1px solid #555
      //position: absolute

      position: relative
      padding: 5px
      //min-width: 100%
      //min-height: 100%
      width: 85px
      height: 85px
      box-sizing: border-box
      background: #a0563d
      color: #ede3d1
      font-size: 10px
      cursor: pointer
      border: 2px solid #fff
      &.no-show
        background: #b94db3
      &:hover
        opacity: 0.6
      .content-sub
        height: 18px
      .head, .content-sub, .foot
        .left
          float: left
        //top: 0
        //left: 5px
        //color: #0000A1
        .right
          float: right
        //top: 0
        //right: 5px
        .txt-lg
          font-weight: bold
          font-size: 16px
          line-height: 16px
        .fa
          font-size: 16px
          margin-top: 8px
      //排房active
      &.active
        border: 2px solid red
      //padding: 2px !important
      //margin: 0 3px 3px 0

      .foCnt_icon
        width: 12px
        height: 12px
        margin: 4px 1px auto 1px

.roomAssign
  .select-group
    display: inline
  /* townHouse.html */
  .room-special
    margin-bottom: 5px
    .spec-title
      margin: 5px auto
    .checkbox
      margin: 5px auto
  .roomAssign-p
    padding: 2px 1px

// 綜合櫃檯
.select-group
  //margin-top: 5px
  .btn-group, .form-group
    float: right
    margin: 0 0 5px 5px
  .status-view
    float: right
    div
      width: 60px
      height: 25px
      line-height: 25px
      float: left
      text-align: center
      margin: 5px 0 5px 5px
      &.status-tip
        @include color-bk
  .status-btn
    float: left
    margin: 5px 5px 5px 0
    img
      width: 24px
      height: auto
      padding: 0 5px 0 0

.house-noDetail
  margin: 10px 14px
  .house-num
    margin: 0 auto
    text-align: center
    max-width: 100%
    //min-height: 80px
    max-height: 100%
    line-height: 70px
    border: 1px solid #555
    color: $blue
    font-size: 18px
    font-style: italic
    font-weight: bolder
    border-radius: 10px
  .house-info
    width: 21%
    display: inline-block
    .quantityTip
      min-width: 140px
      max-width: 100%
      min-height: 35px
      max-height: 100%
      line-height: 25px
      .quantityTip-txt, .quantityTip-icon
        display: inline
      .quantityTip-txt
        min-width: 100px
        max-width: 100%
        min-height: 25px
        max-height: 100%
        text-align: center
        margin: 0 0 5px 0
        padding: 5px
        box-sizing: border-box
        border-radius: 5px
        font-size: 14px
        span
          line-height: 25px
          height: 25px
          color: #fff
          font-weight: bold
          &.red
        &.blue
      .quantityTip-icon
        margin: 0 0 0 10px
    .middle
      span.lbl
        font-size: 13px
        min-width: 120px
        max-width: 100%

//房務入帳
.hk-boxs-wrap
  height: 450px
  overflow: auto
  .hk-boxsRow
    .hk-boxsBlock
      float: left
      margin: 0 5px 5px 0
      padding: 6px
      width: 85px
      height: 85px
      box-sizing: border-box
      background: #a6caf0
      color: #000
      font-size: 10px
      cursor: pointer
      border: 1px solid #616161
      border-radius: 7px
      &:hover
        opacity: 0.6

.hk-back-btn
  position: absolute
  bottom: 0
  right: 0

.hk-boxsMid
  .hk-MidBoxsBlock
    padding: 6px
    width: 85px
    height: 85px
    box-sizing: border-box
    color: #000
    font-size: 10px
    cursor: pointer
    border: 1px solid #616161
    border-radius: 7px
    margin: 5px auto
    background: #c0dcc0
    &:hover
      opacity: 0.6
    &.active
      background: green
      color: #fff

.hk-boxs-container
  background: #c0dcc0
  border: 1px solid

.margin-top20
  margin-top: 20px

.hk-posting-frist
  height: 468px
  padding: 20px 12px
  border: 1px solid #000
  .hk-foot
    font-size: 16px
    padding: 3px 10px
    text-align: right

.hk-footer
  color: blue
  font-size: 18px
  margin-top: 10px
  margin-left: 20px
//房務管理
.list-grap-tab
  width: 70px
  margin-top: 3px
  display: inline-block

.hk-table-container
  .counterPage
    .counterRow
      .counterBlock
        color: #fff
        .content-sub
          position: absolute
          bottom: 2px
          left: 57px
          font-size: 14px
        .content
          position: absolute
          top: 23px
          font-size: 16px
          left: 47px

.hk-grap-wrap
  .panel
    padding-left: 5px

.width-48
  width: 48% !important

.width-4
  width: 4% !important

.marginLeft-27
  margin-left: 27px

.businessCompanyData
  .main-content-data
    .hk-posting-frist
      label
        width: 70px
        text-align: right
//打掃安排
.bg-red
  background: red
  color: #fff

.bg-green
  background: green
  color: #fff

.bg-blue
  background: #01ffff

.bg-yellow
  background: yellow

.bg-gray
  background: gray

.cleanArngmts
  .cleanArngmtsBox
    width: 16px
    height: 16px
    display: inline-block
    vertical-align: sub
    border: 1px solid

  .checkbox-header
    //border-bottom: 1px solid
    padding-top: 10px
    padding-bottom: 5px
    .checkbox
      margin: 0
      margin-top: -1px
    .cleanCheckbox-left, .cleanCheckbox-right
      float: left
      margin-top: -1px
    //display: inline-block
    .cleanCheckbox-left
      .cleanArngmtsBox, .checkbox
        float: left
      .grid-item
        min-width: 146px
        max-width: 100%
        .checkbox
          label
            width: auto
            padding-left: 5px
    .cleanCheckbox-right
      margin-left: 20px
      .cc-right
        width: 100px
        display: inline-block
      .cc-right-down
        margin-top: 6px
        display: inline-block

    .checkbox label input[type=checkbox].ace + .lbl
      margin: 0
    label
      display: inline-block !important
  .bigBox
    label
      width: 146px !important
  .clean-table-container
    //margin-left: 10px
    margin-top: 20px
    display: inline-block
    .clean-table-wrap
      height: 250px
      overflow: auto
    .clean-text-box
      text-align: right
      margin-right: 11px
  .footer-textbox-wrap
    margin-top: 30px
  .blue-text
    color: blue
//rateInfo
.margin-top10
  margin-top: 10px

.margin-top5
  margin-top: 5px

.navy-line
  margin-top: 10px
  margin-bottom: 10px
  border: 0
  border-top: 1px solid #8aafce

//shareRate
.shareRateLeft, .shareRateRight
  float: left

.shareRateRight
  margin-left: 20px

//PMS0820020房間設定
.specRoomTypeSet
  margin: auto auto 50px auto
  .leftTitle
  //width: 100px
  .dottedLine
    margin: 10px auto
    border: 1px dotted
  .totalInfo
    //margin-left: 100px
    .title
      font-weight: bold
  .totalAllInfo
    font-size: $font-lg
    font-weight: bold

.BgBacchusBlue
  background: #c0d6ee
  color: #000

//Departure > Folio
.folioRadio
  .folioWrap
    float: left
    margin-left: 85px
    .radio
      margin-top: 5px
      margin-bottom: 5px

.PMS0830070_table
  th, td
    padding: 3px

.vue-treeselect__menu label
  text-align: left
  width: auto

.vue-treeselect
  display: inline-block

/***** vue 問題 *****/
@import editDefault/_editVue.sass

#prgPropsSetupVM
  .title
    font-size: 1.2em
    color: #555
    margin: auto auto 5px auto
  .borderFrame
    min-height: 100px

.title-cellBg
  background-color: $tableBg
  color: #fff

.prgSelectBtnAct
  &.btn-white.btn-primary
    background: #5f79ce !important
    color: #fff !important
  &.btn-white.btn-primary:focus,
  &.btn-white.btn-primary:active
    background: #5f79ce !important
    color: #fff !important
    border: none !important
    box-shadow: none !important

/* 新增 fixtable新套件樣式、修改房號訂房table */
.triangle-box
  //右邊無頭
  &.only-oneArrow-right
    width: 100%
    right: 0px
    .triangle-text
      border-right: 0 !important
      span
      &:after
        right: 0
        border-width: 0 !important
  //左邊無頭
  &.only-oneArrow-left
    width: 100%
    right: 0px
    .triangle-text
      border-left: 0 !important
      span
      &:before
        left: 0
        border-width: 0
  //兩邊頭無頭
  &.both-arrow-none
    width: 100%
    right: 0px
    .triangle-text
      border-left: 0 !important
      border-right: 0 !important
      span
      &:before,&:after
        border-width: 0
//fixtable套件bug修正
.fixed-table-container
  table
    thead
      tr
        td, th
          background-clip: padding-box !important
          font-size: 14px
          font-weight: bold
          z-index: 4
          box-shadow: 1px 1px 1px 1px #778899
          -moz-box-shadow: 1px 1px 1px 1px #778899
          -webkit-box-shadow: 1px 1px 1px 1px #778899
        th
          &.td-first
            z-index: 99 !important
        .rp-first-th
          z-index: 99 !important
          box-shadow: 0px 0px 0px 2px #778899
          -moz-box-shadow: 0px 0px 0px 2px #778899
          -webkit-box-shadow: 0px 0px 0px 2px #778899
    tbody
      tr
        td
          background-clip: padding-box
          border: 1px solid #778899
          &.middle.td-first
            z-index: 9
            box-shadow: 1px 1px 0px 1px rgba(119, 136, 153, 1)
            -moz-box-shadow: 1px 1px 0px 1px rgba(119, 136, 153, 1)
            -webkit-box-shadow: 1px 1px 0px 1px rgba(119, 136, 153, 1)

//fixTable新套件-firefox相容性處理
@-moz-document url-prefix()
  .fixed-table-container
    table
      thead
        tr
          td, th
            box-shadow: 1px 0px 1px 1px #778899
          .rp-first-th
            box-shadow: 1px 0px 1px 1px #778899
          th
            &.td-first
              box-shadow: 1px 0px 1px 1px #778899

//客製化房型訂房
.cus-roomType-table
  table
    width: 100%
    thead
      tr
        th
        .rp-first-th
          width: 188px
          min-width: 188px
          .caSelect
            margin: 12px 0 10px 0
            .el-icon-date
              &:before
                content: none
            .el-input__icon + .el-input__inner
              padding: 0
            .el-input__inner
              text-align: center
          .caIcon
            margin-top: 6px
    tbody
      tr
        td
          min-width: 35px
          &.middle.td-first
            height: 21px
            &.subTree-title, .room-field-text
              padding-left: 4px
            .roomNumTip
              width: 42px
              text-align: center
//客製化房號訂房table
.cus-roomPlan-table
  max-height: 800px
  table
    //width: 100%
    thead
      tr
        td, th
          min-width: 70px
        .rp-first-th
          width: 321px
          min-width: 321px
          .caSelect
            margin: 10px 0 12px 0
            .el-icon-date
              &:before
                content: none
            .el-input__icon + .el-input__inner
              padding: 0
            .el-input__inner
              text-align: center
            i
              padding-top: 10px
    tbody
      tr
        td
          height: 22px
          min-width: 30px
          max-width: 30px
          &:nth-child(odd):not(:first-child)
            border-left: 0
          &:nth-child(even)
            border-right: 0
          div
            &.triangle-box
              &.colspan-0
                width: 30 - 1 + px

.th-width-s
  width: 100px
  float: left
  padding: 0 7px

.th-width-l
  width: 120px
  float: left
  padding: 0 7px

//產生房號訂房內容各種長度
@for $i from 1 through 28
  $width: 30 * $i
  $error-value: 1
  td
    div
      &.triangle-box
        &.colspan-#{$i}
          width: $width - $error-value + px

@media screen and (min-width: 1470px)
  .cus-roomPlan-table
    table
      tbody
        tr
          td
            min-width: 33px
            max-width: 33px
            div
              &.triangle-box
                &.colspan-0
                  width: 33 - 1 + px
  @for $i from 1 through 28
    $width: 33 * $i
    $error-value: 1
    td
      div
        &.triangle-box
          &.colspan-#{$i}
            width: $width - $error-value + px

@media screen and (min-width: 1570px)
  .cus-roomPlan-table
    table
      tbody
        tr
          td
            min-width: 36px
            max-width: 36px
            div
              &.triangle-box
                &.colspan-0
                  width: 36 - 1 + px
  @for $i from 1 through 28
    $width: 36 * $i
    $error-value: 1
    td
      div
        &.triangle-box
          &.colspan-#{$i}
            width: $width - $error-value + px
@media screen and (min-width: 1670px)
  .cus-roomPlan-table
    table
      tbody
        tr
          td
            min-width: 39px
            max-width: 39px
            div
              &.triangle-box
                &.colspan-0
                  width: 39 - 1 + px
  @for $i from 1 through 28
    $width: 39 * $i
    $error-value: 1
    td
      div
        &.triangle-box
          &.colspan-#{$i}
            width: $width - $error-value + px
@media screen and (min-width: 1770px)
  .cus-roomPlan-table
    table
      tbody
        tr
          td
            min-width: 43px
            max-width: 43px
            div
              &.triangle-box
                &.colspan-0
                  width: 43 - 1 + px
  @for $i from 1 through 28
    $width: 43 * $i
    $error-value: 1
    td
      div
        &.triangle-box
          &.colspan-#{$i}
            width: $width - $error-value + px
//住客歷史easy-ui 調整
.pagination-page-list
  padding-right: 15px
/*---- 達美樂介面 ----*/
@import partials/_dominosStyle.sass

