<!-- 彈出視窗 -->
<script type="text/x-template" id="RS0W202010Tmp">
<div id="gs-order-page" class="hide padding-5" style="top: 50px !important;">
    <div class="businessCompanyData">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-11 col-sm-11">
                    <div class="row no-margin-right">
                        <div class="gs-order-container">
                            <div class="borderFrame">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂席單號</label>
                                        <input type="text" v-model="singleData.bquet_nos" class="input-medium w142px"/>
                                    </div>
                                    <div class="grid-item-inline no-margin-left">
                                        <label>館別</label>
                                        <input type="text" v-model="singleData.hotel_cod" class="input-medium resvCard-m"/>
                                    </div>
                                    <div class="grid-item-inline">
                                        <label>訂席狀態</label>
                                        <select v-model="singleData.order_sta" class="input-medium resvCard-m">
                                            <option v-for="opt in selectOption.order_sta" :value="opt.value">
                                                {{opt.display}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="grid-item-inline">
                                        <label>等待</label>
                                        <input type="text" v-model="singleData.wait_seq" class="input-medium resvCard-m"/>
                                    </div>
                                    <div class="grid-item-inline">
                                        <label>預約處理</label>
                                        <select v-model="singleData.proc_sta" class="input-medium resvCard-date">
                                        <option v-for="opt in selectOption.proc_sta" :value="opt.value">
                                            {{opt.display}}
                                        </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="borderFrame">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>客戶姓名</label>
                                        <input type="popupgrid" v-model="singleData.alt_nam" class="input-medium rateCode-s1"/>
                                    </div>
                                    <div class="grid-item">
                                        <select v-model="singleData.contact1_cod" class="input-medium resvCard-date">
                                            <option v-for="opt in selectOption.contact1_cod" :value="opt.value">
                                                {{opt.display}}
                                            </option>
                                        </select>
                                        <input type="text" v-model="singleData.contact1_rmk" class="input-medium resvCard-date"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>聯絡人</label>
                                        <input type="popupgrid" v-model="singleData.atten_nam" class="input-medium resvCard-date"/>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>客戶編號</label>
                                        <input type="text" v-model="singleData.show_cod" class="input-medium rateCode-s1"/>
                                    </div>
                                    <div class="grid-item">
                                        <select v-model="singleData.contact2_cod" class="input-medium resvCard-date">
                                            <option v-for="opt in selectOption.contact2_cod" :value="opt.value">
                                                {{opt.display}}
                                            </option>
                                        </select>
                                        <input type="text" v-model="singleData.contact2_rmk" class="input-medium resvCard-date"/>
                                    </div>
                                </div>
                            </div>

                            <div class="borderFrame">
                                <div class="grid">
                                    <div class="grid-item inline-grid">
                                        <label>宴會日期</label>
                                        <div id="gs-feast-date" class="element-date-wrap">
                                            <template>
                                                <div class="block">
                                                    <el-date-picker type="date"  v-model="singleData.begin_dat" placeholder="選擇日期">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="grid-item-inline gs-timePicker margin-right-10">
                                        <div class="inquire-timePicker">
                                            <template>
                                                <el-time-select v-model="singleData.begin_tim" placeholder="開始時間">
                                                </el-time-select>
                                                <el-time-select v-model="singleData.end_tim" placeholder="結束時間">
                                                </el-time-select>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <label>是否確認</label>
                                        <span class="checkbox">
                                            <label class="checkbox-width">
                                            <input name="confirm" type="radio" class="ace">
                                            <span class="lbl radius-circle">是</span>
                                            </label>
                                        </span>
                                        <span class="checkbox">
                                            <label class="checkbox-width">
                                            <input name="confirm" type="radio" class="ace">
                                            <span class="lbl radius-circle">否</span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>宴會名稱</label>
                                        <input type="text" v-model="singleData.title_nam" class="input-medium w348px"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>主要廳別</label>
                                        <select v-model="singleData.rspt_cod" class="input-medium w240px">
                                        <option v-for="opt in selectOption.rspt_cod" :value="opt.value">
                                            {{opt.display}}
                                        </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>使用類別</label>
                                        <select v-model="singleData.use_typ" class="input-medium w152comma4px">
                                        <option v-for="opt in selectOption.use_typ" :value="opt.value">
                                            {{opt.display}}
                                        </option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label class="width-35px">餐別</label>
                                        <select v-model="singleData.meal_typ" class="input-medium w152comma4px">
                                        <option v-for="opt in selectOption.meal_typ" :value="opt.value">
                                            {{opt.display}}
                                        </option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂席來源</label>
                                        <select v-model="singleData.bquet_src" class="input-medium w240px">
                                        <option v-for="opt in selectOption.bquet_src" :value="opt.value">
                                            {{opt.display}}
                                        </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label class="">預/保桌數</label>
                                        <input type="text" v-model="singleData.desk_qnt" class="input-medium consumeCode-g1-ss text-right"
                                               placeholder="30">
                                        <span>/</span>
                                        <input type="text" v-model="singleData.pmdesk_qnt" class="input-medium consumeCode-g1-ss text-right"
                                               placeholder="30">
                                    </div>

                                    <div class="grid-item">
                                        <label class="width-82px">預/保人數</label>
                                        <input type="text" v-model="singleData.adult_qnt" class="input-medium consumeCode-g1-ss text-right">
                                        <span>/</span>
                                        <input type="text" v-model="singleData.poadult_qnt" class="input-medium consumeCode-g1-ss text-right">
                                    </div>
                                    <div class="grid-item">
                                        <label class="width-135px">業務員</label>
                                        <input type="text" v-model="singleData.sales_cod" class="input-medium w240px"/>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>主婚人</label>
                                        <input type="text" v-model="singleData.sponsor_nam" class="input-medium w152comma4px"/>
                                    </div>
                                    <div class="grid-item">
                                        <label class="width-35px">婚企</label>
                                        <select v-model="singleData.opsales_cod" class="input-medium w152comma4px">
                                            <option v-for="opt in selectOption.opsales_cod" :value="opt.value">
                                                {{opt.display}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="grid-item">
                                        <label>新郎</label>
                                        <input type="text" v-model="singleData.bride_nam" class="input-medium w96c2"/>
                                    </div>
                                    <div class="grid-item">
                                        <label class="width-35px">新娘</label>
                                        <input type="text" v-model="singleData.groom_nam" class="input-medium w96c2"/>
                                    </div>

                                </div>
                            </div>
                            <div class="borderFrame">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>保留日</label>
                                        <div id="gs-save-date" class="element-date-wrap">
                                            <template>
                                                <div class="block">
                                                    <el-date-picker type="date" v-model="singleData.expire_dat" placeholder="選擇日期">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <label>計算服務費</label>
                                        <span class="checkbox">
                                        <label class="checkbox-width">
                                        <input name="serviceFee" type="radio" class="ace">
                                        <span class="lbl radius-circle">是</span>
                                        </label>
                                    </span>
                                        <span class="checkbox">
                                        <label class="checkbox-width">
                                        <input name="serviceFee" type="radio" class="ace">
                                        <span class="lbl radius-circle">否</span>
                                        </label>
                                    </span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>場地金額</label>
                                        <input type="text" v-model="singleData.place_amt" class="input-medium addedDate"/>
                                    </div>
                                    <div class="grid-item">
                                        <label class="width-103px">應收訂金</label>
                                        <input type="text" v-model="singleData.hpdpst_amt" class="input-medium resvCard"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>已付訂金</label>
                                        <input type="text" v-model="singleData.deposit_amt" class="input-medium resvCard-date"/>
                                    </div>
                                </div>
                            </div>
                            <div class="borderFrame">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label class="">輸入者/日</label>
                                        <input type="text" v-model="singleData.ins_usr" class="input-medium resvCard-m">
                                        <input type="text" v-model="singleData.ins_dat" class="input-medium">
                                        <input type="text" v-model="singleData.ins_tim" class="input-medium resvCard-m">
                                    </div>

                                    <div class="grid-item">
                                        <label class="">最後修改者/日</label>
                                        <input type="text" v-model="singleData.upd_usr" class="input-medium resvCard-m">
                                        <input type="text" v-model="singleData.upd_dat" class="input-medium">
                                        <input type="text" v-model="singleData.upd_tim" class="input-medium resvCard-m">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="space-6"></div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 place-btbGroup">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">離開</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">存檔</button>
                                </li>

                                <div class="btn-group width-100 margin-tb15">
                                    <div class="btn-groupBorder-box">
                                        <fieldset>
                                            <legend class="blue">訂席狀態</legend>
                                            <div class="grid">
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">取消</button>
                                                </li>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button" disabled>預約</button>
                                                </li>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">等待</button>
                                                </li>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button">詢價</button>
                                                </li>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="row no-margin-right">
                        <!-------- tabPage -------->
                        <div class="easyui-tabs easyUi-custom1 margin-top20" style="overflow-y: auto; width: 100%;">
                            <div title="場地(1)" class="padding-tabs">
                                <div class="col-xs-11 col-sm-11">
                                    <div class="row foCounter">
                                        <div class="main-content-data floorPlan-table gs-order-table-wrap">
                                            <table id="RS0W202010_dt" class="css_table horizTable" style="width:100%;"></table>
                                        </div><!--main-content-data-->
                                    </div>
                                </div>
                                <div class="col-xs-1 col-sm-1 place-left-wrap">
                                    <div class="row">
                                        <div class="right-menu-co">
                                            <ul>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">選取場地
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">刪除場地
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">庫存檢查
                                                    </button>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div title="備註" class="padding-tabs">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="main-content-data">
                                            <textarea class="width-100 pull-left" v-model="singleData.bquet_rmk" rows="5"></textarea>
                                        </div><!--main-content-data-->
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-------- /.tabPage -------->
                        <div class="space-6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</script>