@charset "UTF-8";
/* line 2, ../sass/bacchusStyle.sass */
body {
  font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------  共用區public ------ */
/* line 2, ../sass/modules/_public.sass */
.float-left, .pull-left {
  float: left;
}

/* line 4, ../sass/modules/_public.sass */
.float-right, .pull-right {
  float: right;
}

/* line 6, ../sass/modules/_public.sass */
.no-padding {
  padding: 0;
}

/* line 8, ../sass/modules/_public.sass */
.no-padding-left {
  padding-left: 0;
}

/* line 10, ../sass/modules/_public.sass */
.no-padding-right {
  padding-right: 0;
}

/* line 12, ../sass/modules/_public.sass */
.padding-5 {
  padding: 5px;
}

/* line 14, ../sass/modules/_public.sass */
.no-margin {
  margin: 0 !important;
}

/* line 16, ../sass/modules/_public.sass */
.no-margin-top {
  margin-top: 0 !important;
}

/* line 18, ../sass/modules/_public.sass */
.margin-top91 {
  margin-top: 87px;
}

/* line 20, ../sass/modules/_public.sass */
.margin-5 {
  margin: 5px;
}

/* line 22, ../sass/modules/_public.sass */
.height87 {
  height: 87px;
}

/* line 25, ../sass/modules/_public.sass */
.height60 {
  height: 60px;
}

/* line 29, ../sass/modules/_public.sass */
.width-5 {
  width: 5% !important;
}

/* line 31, ../sass/modules/_public.sass */
.width-10 {
  width: 10% !important;
}

/* line 33, ../sass/modules/_public.sass */
.width-15 {
  width: 15% !important;
}

/* line 35, ../sass/modules/_public.sass */
.width-20 {
  width: 20% !important;
}

/* line 38, ../sass/modules/_public.sass */
.pointer {
  cursor: pointer;
}

/* line 40, ../sass/modules/_public.sass */
.notice {
  color: #ff0000;
  font-weight: bold;
}

/* line 43, ../sass/modules/_public.sass */
.bold {
  font-weight: bold;
}

/* line 45, ../sass/modules/_public.sass */
.markOne {
  color: #478FCA;
  font-weight: bold;
}

/* line 48, ../sass/modules/_public.sass */
.lineHeight14 {
  line-height: 14px;
}

/* line 50, ../sass/modules/_public.sass */
.lineHeight18 {
  line-height: 18px;
}

/* line 52, ../sass/modules/_public.sass */
.lineHeight24 {
  line-height: 24px;
}

/* line 54, ../sass/modules/_public.sass */
.lineHeight27 {
  line-height: 27px;
}

/* line 56, ../sass/modules/_public.sass */
.lineHeight34 {
  line-height: 34px;
}

/* line 59, ../sass/modules/_public.sass */
.font-14 {
  font-size: 14px;
}

/* line 61, ../sass/modules/_public.sass */
.font-15 {
  font-size: 15px;
}

/* line 63, ../sass/modules/_public.sass */
.font-default {
  font-size: 13px;
}

/* line 65, ../sass/modules/_public.sass */
.font-lg {
  font-size: 1.2em;
}

/* line 67, ../sass/modules/_public.sass */
.font-2x {
  font-size: 1.5em;
}

/* line 69, ../sass/modules/_public.sass */
.font-3x {
  font-size: 1.8em;
}

/* line 71, ../sass/modules/_public.sass */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 76, ../sass/modules/_public.sass */
.dark {
  color: #333 !important;
}

/* line 78, ../sass/modules/_public.sass */
.white {
  color: #fff !important;
}

/* line 80, ../sass/modules/_public.sass */
.red {
  color: #DD5A43 !important;
}

/* line 82, ../sass/modules/_public.sass */
.red2 {
  color: #E08374 !important;
}

/* line 84, ../sass/modules/_public.sass */
.light-red {
  color: #FF7777 !important;
}

/* line 86, ../sass/modules/_public.sass */
.blue {
  color: #478FCA !important;
}

/* line 88, ../sass/modules/_public.sass */
.light-blue {
  color: #93CBF9 !important;
}

/* line 90, ../sass/modules/_public.sass */
.green {
  color: #69AA46 !important;
}

/* line 92, ../sass/modules/_public.sass */
.light-green {
  color: #B0D877 !important;
}

/* line 94, ../sass/modules/_public.sass */
.orange {
  color: #FF892A !important;
}

/* line 96, ../sass/modules/_public.sass */
.orange2 {
  color: #FEB902 !important;
}

/* line 98, ../sass/modules/_public.sass */
.light-orange {
  color: #FCAC6F !important;
}

/* line 100, ../sass/modules/_public.sass */
.purple {
  color: #A069C3 !important;
}

/* line 102, ../sass/modules/_public.sass */
.pink {
  color: #C6699F !important;
}

/* line 104, ../sass/modules/_public.sass */
.pink2 {
  color: #D6487E !important;
}

/* line 106, ../sass/modules/_public.sass */
.brown {
  color: brown !important;
}

/* line 108, ../sass/modules/_public.sass */
.grey {
  color: #777 !important;
}

/* line 110, ../sass/modules/_public.sass */
.light-grey {
  color: #BBB !important;
}

/* line 115, ../sass/modules/_public.sass */
.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 6px 0 5px;
}

/* line 120, ../sass/modules/_public.sass */
.space-custom-5 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 0 0 5px;
}

/* line 126, ../sass/modules/_public.sass */
.input_sta_required {
  background-color: #c6f2d9 !important;
  /* (186, 242, 234) */
}

/* line 130, ../sass/modules/_public.sass */
.input-medium.medium-c1 {
  width: 165px;
  height: 25px;
}

/* line 133, ../sass/modules/_public.sass */
.input-h35 {
  height: 25px !important;
}

/* line 136, ../sass/modules/_public.sass */
.dateBox-custom1 .textbox {
  height: 25px;
  line-height: 20px;
  border-radius: 0;
  border: 1px solid #D5D5D3;
}
/* line 141, ../sass/modules/_public.sass */
.dateBox-custom1 .combo-arrow {
  background-color: #dddddd;
  width: 24px !important;
}

/* line 144, ../sass/modules/_public.sass */
.border-block-left {
  border-left: 1px solid #dddddd;
}

/* line 147, ../sass/modules/_public.sass */
.margin-spacing-3 {
  margin: 3px auto;
}

/* line 151, ../sass/modules/_public.sass */
.multiLangDGPosition {
  width: 80%;
  top: 30%;
  left: 10%;
  position: absolute;
}

/* line 157, ../sass/modules/_public.sass */
.prg_idLbH3 {
  display: block;
  font-size: 1.17em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 168, ../sass/modules/_public.sass */
input.numStyle-none::-webkit-inner-spin-button, input.numStyle-none::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* line 175, ../sass/modules/_public.sass */
input[type="text"],
input[type="number"] {
  border-radius: 5px !important;
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* line 181, ../sass/modules/_public.sass */
  .input-medium.medium-c1 {
    width: 120px;
  }
}
/* line 190, ../sass/modules/_public.sass */
.gritter-item-wrapper.gritter-info {
  background-color: #438eb9;
}

/* line 11, ../sass/bacchusStyle.sass */
.lang {
  margin: 20px 20px 0 0;
}

/* line 14, ../sass/bacchusStyle.sass */
.errorTip {
  color: #ff0000;
}

/*-- 下拉式選擇不同館別 -- */
/*-------- optionSystem.html -------- */
/*-- 圖片 hover 文字 -- */
/* line 28, ../sass/bacchusStyle.sass */
.system-block-all {
  margin: 50px 0 0 0;
}

/* line 30, ../sass/bacchusStyle.sass */
.system-block {
  margin: 0 0 0 30px;
  display: inline-block;
}

/* line 33, ../sass/bacchusStyle.sass */
.imgWrap {
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
}
/* line 37, ../sass/bacchusStyle.sass */
.imgWrap span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  border-radius: 150px;
  opacity: 0;
}
/* line 49, ../sass/bacchusStyle.sass */
.imgWrap span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 53, ../sass/bacchusStyle.sass */
.imgWrap:hover .text-content {
  visibility: visible;
  opacity: 1;
}

/*-- /. 圖片 hover 文字 -- */
/*----- menu design ----- */
/* line 61, ../sass/bacchusStyle.sass */
.footer .footer-inner .footer-content {
  padding: 0;
}

/* line 64, ../sass/bacchusStyle.sass */
.footer-ul ul, .top-ul ul, .secondMenu-ul ul {
  display: inline;
}
/* line 66, ../sass/bacchusStyle.sass */
.footer-ul ul li, .top-ul ul li, .secondMenu-ul ul li {
  display: inline-block;
  list-style: none;
}

/*----- /.menu design ----- */
/* line 122, ../sass/bacchusStyle.sass */
.copyright {
  margin: -15px 0 0 0;
}

/* line 124, ../sass/bacchusStyle.sass */
.companyInfo {
  margin: 10px 0 0 7px;
}

/*-- indexMain.html -- */
/*-- index-checkOut.html --> */
/* line 133, ../sass/bacchusStyle.sass */
.co-table {
  text-align: left;
}
/* line 135, ../sass/bacchusStyle.sass */
.co-table table.co-scroll {
  width: 100%;
  border: 1px solid #ededed;
  border-spacing: 0;
}
/* line 141, ../sass/bacchusStyle.sass */
.co-table table.co-scroll thead {
  width: 100%;
  min-height: 20px;
  max-height: 100%;
  background: #c0d6ee;
  display: block;
}
/* line 149, ../sass/bacchusStyle.sass */
.co-table table.co-scroll thead tr th {
  text-align: left;
  height: 30px;
  line-height: 30px;
}
/* line 155, ../sass/bacchusStyle.sass */
.co-table table.co-scroll tbody {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  display: block;
}
/* line 160, ../sass/bacchusStyle.sass */
.co-table table.co-scroll tbody tr {
  width: 100%;
  border-bottom: 1px solid #ededed;
}
/* line 163, ../sass/bacchusStyle.sass */
.co-table table.co-scroll th, .co-table table.co-scroll td {
  border: 1px solid #ededed;
  padding: 5px 10px;
}

/* line 174, ../sass/bacchusStyle.sass */
.btn-co-next {
  margin: 0 0 0 5px;
}

/* line 176, ../sass/bacchusStyle.sass */
.modal-dialog-fullScreen {
  width: 98%;
  min-height: 400px;
  max-height: 100%;
  overflow: auto;
}

/*-- psd page -- */
/* line 183, ../sass/bacchusStyle.sass */
.psd_page {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

/* line 188, ../sass/bacchusStyle.sass */
.modal-dialog-fullScreen-blockSet {
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* line 196, ../sass/bacchusStyle.sass */
.blockSet-table-spec table {
  max-width: 100%;
}
/* line 198, ../sass/bacchusStyle.sass */
.blockSet-table-spec table tr {
  max-width: 100%;
}
/* line 200, ../sass/bacchusStyle.sass */
.blockSet-table-spec table tr td {
  max-width: 100%;
}
/* line 202, ../sass/bacchusStyle.sass */
.blockSet-table-spec table tr td img {
  max-width: 100%;
}

/* index-checkOut.html */
/* line 208, ../sass/bacchusStyle.sass */
.keyWord label, .keyWord input {
  float: left;
}

/* index-checkIn.html */
/* line 212, ../sass/bacchusStyle.sass */
.status-group {
  margin: 0 0 20px 0;
}

/* line 214, ../sass/bacchusStyle.sass */
.status-group2 {
  margin: 10px 0 10px 0;
}

/* line 216, ../sass/bacchusStyle.sass */
.status-inline {
  margin-top: 0;
}

/* townHouse.html */
/* line 220, ../sass/bacchusStyle.sass */
.room-special {
  margin: 0;
}
/* line 222, ../sass/bacchusStyle.sass */
.room-special .spec-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 225, ../sass/bacchusStyle.sass */
.room-special textarea {
  width: 100%;
  height: auto;
}

/* line 229, ../sass/bacchusStyle.sass */
.townPage {
  max-height: 600px;
  overflow: auto;
}
/* line 235, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock {
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px;
  width: 85px;
  height: 85px;
  box-sizing: border-box;
  background: #1b75bb;
  color: #ede3d1;
  font-size: 10px;
  cursor: pointer;
}
/* line 250, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock.no-show {
  background: #D15B47;
}
/* line 252, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock:hover {
  opacity: 0.6;
}
/* line 255, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .left, .townPage .townRow .townBlock .content-sub .left, .townPage .townRow .townBlock .foot .left {
  float: left;
}
/* line 260, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .right, .townPage .townRow .townBlock .content-sub .right, .townPage .townRow .townBlock .foot .right {
  float: right;
}
/* line 264, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .txt-lg, .townPage .townRow .townBlock .content-sub .txt-lg, .townPage .townRow .townBlock .foot .txt-lg {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
/* line 268, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .top10, .townPage .townRow .townBlock .content-sub .top10, .townPage .townRow .townBlock .foot .top10 {
  margin: 15px 0 0 0;
}

/* line 272, ../sass/bacchusStyle.sass */
.select-group .btn-group, .select-group .form-group {
  float: right;
  margin: 0 0 5px 5px;
}
/* line 275, ../sass/bacchusStyle.sass */
.select-group .status-view {
  float: right;
}
/* line 277, ../sass/bacchusStyle.sass */
.select-group .status-view div {
  width: 60px;
  height: 25px;
  line-height: 25px;
  float: left;
  text-align: center;
  margin: 5px 0 5px 5px;
}
/* line 6, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-yellow {
  background: #fffba1;
}
/* line 8, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-purple {
  background: #ae8dc3;
}
/* line 10, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-green {
  background: #7cbd64;
}
/* line 12, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-pink {
  background: #ffddb3;
}
/* line 14, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-gray {
  background: #bfbfbf;
}
/* line 16, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-brown {
  background: #dcbe88;
}
/* line 18, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-blueGreen {
  background: #06eed5;
}
/* line 20, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-grayGreen {
  background: #aac077;
}
/* line 22, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-default {
  background: #c0d6ee;
}
/* line 24, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.active {
  border: 2px solid #ff0000;
}
/* line 286, ../sass/bacchusStyle.sass */
.select-group .status-btn {
  float: left;
  margin: 5px 5px 5px 0;
}
/* line 289, ../sass/bacchusStyle.sass */
.select-group .status-btn img {
  width: 24px;
  height: auto;
  padding: 0 5px 0 0;
}

/* line 293, ../sass/bacchusStyle.sass */
.float-right {
  float: right;
}

/* line 295, ../sass/bacchusStyle.sass */
.float-left {
  float: left;
}

/* line 303, ../sass/bacchusStyle.sass */
.house-noDetail {
  margin: 10px 0 0 0;
}
/* line 305, ../sass/bacchusStyle.sass */
.house-noDetail .house-num {
  margin: 0 auto;
  text-align: center;
  min-width: 80px;
  max-width: 100%;
  min-height: 80px;
  max-height: 100%;
  line-height: 80px;
  border: 1px solid #555;
}
/* line 315, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip {
  min-width: 120px;
  max-width: 100%;
  min-height: 25px;
  max-height: 100%;
  line-height: 25px;
}
/* line 321, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt, .house-noDetail .house-info .quantityTip .quantityTip-icon {
  display: inline;
}
/* line 323, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt {
  min-width: 100px;
  max-width: 100%;
  min-height: 25px;
  max-height: 100%;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 2px;
  box-sizing: border-box;
}
/* line 332, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt span {
  line-height: 25px;
  height: 25px;
  color: #fff;
  font-weight: bold;
}
/* line 337, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt.red {
  background: #D15B47;
}
/* line 339, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt.blue {
  background: #1b75bb;
}
/* line 341, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-icon {
  margin: 0 0 0 10px;
}
/* line 344, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .middle span.lbl {
  font-size: 13px;
  min-width: 120px;
  max-width: 100%;
}

/* line 351, ../sass/bacchusStyle.sass */
.counterPage {
  max-height: 600px;
  overflow: auto;
}
/* line 357, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock {
  float: left;
  margin: 0 1px 1px 0;
  border: 2px solid #fff;
  position: relative;
  padding: 5px;
  width: 129px;
  height: 74px;
  line-height: 23px;
  box-sizing: border-box;
  background: #c0d6ee;
  color: #000;
  font-size: 11px;
  cursor: pointer;
}
/* line 6, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-yellow {
  background: #fffba1;
}
/* line 8, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-purple {
  background: #ae8dc3;
}
/* line 10, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-green {
  background: #7cbd64;
}
/* line 12, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-pink {
  background: #ffddb3;
}
/* line 14, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-gray {
  background: #bfbfbf;
}
/* line 16, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-brown {
  background: #dcbe88;
}
/* line 18, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-blueGreen {
  background: #06eed5;
}
/* line 20, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-grayGreen {
  background: #aac077;
}
/* line 22, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.cb-default {
  background: #c0d6ee;
}
/* line 24, ../sass/modules/_mixin.sass */
.counterPage .counterRow .counterBlock.active {
  border: 2px solid #ff0000;
}
/* line 374, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock:hover {
  opacity: 0.6;
}
/* line 377, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .head .left {
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 381, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .head .right {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 385, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .head .txt-lg {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
/* line 389, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .content {
  position: absolute;
  top: 25px;
  left: 5px;
}
/* line 394, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .content-sub .left {
  position: absolute;
  top: 45px;
  left: 5px;
}
/* line 398, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .foot {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
/* line 403, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .foot .red-tip span {
  color: #ff0000;
}
/* line 407, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .foot-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* line 411, ../sass/bacchusStyle.sass */
.counterPage .counterRow .counterBlock .foot-right span {
  color: #D15B47;
}

/* line 414, ../sass/bacchusStyle.sass */
.counter-right {
  min-height: 200px;
  max-height: 100%;
  overflow-y: auto;
}
/* line 418, ../sass/bacchusStyle.sass */
.counter-right label {
  font-size: 9px;
}

/* line 423, ../sass/bacchusStyle.sass */
.floorPlan-table table {
  border: 1px solid #C5D0DC;
  width: 100%;
}
/* line 426, ../sass/bacchusStyle.sass */
.floorPlan-table table th, .floorPlan-table table td {
  border: 1px solid #C5D0DC;
  padding: 2px 5px;
  text-align: center;
}
/* line 431, ../sass/bacchusStyle.sass */
.floorPlan-table table tr th {
  background: #c0d6ee;
}
/* line 433, ../sass/bacchusStyle.sass */
.floorPlan-table table tr td {
  word-break: break-all;
}
/* line 435, ../sass/bacchusStyle.sass */
.floorPlan-table table tr td .moreInfo {
  background: #bfbfbf;
  border: none;
  float: right;
}
/* line 439, ../sass/bacchusStyle.sass */
.floorPlan-table table tr td .float-left {
  float: left;
}
/* line 441, ../sass/bacchusStyle.sass */
.floorPlan-table table tr td .float-right {
  float: right;
}
/* line 443, ../sass/bacchusStyle.sass */
.floorPlan-table table tr td.roomNum {
  box-sizing: border-box;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: #DD5A43;
  border: 2px solid #DD5A43;
}
/* line 450, ../sass/bacchusStyle.sass */
.floorPlan-table .customInfo-table {
  width: 100%;
}
/* line 452, ../sass/bacchusStyle.sass */
.floorPlan-table .customInfo-table .table-left, .floorPlan-table .customInfo-table .table-right {
  float: left;
}
/* line 454, ../sass/bacchusStyle.sass */
.floorPlan-table .customInfo-table .table-left {
  width: 25%;
  margin: 0 3% 0 0;
}
/* line 457, ../sass/bacchusStyle.sass */
.floorPlan-table .customInfo-table .table-right {
  width: 72%;
}
/* line 460, ../sass/bacchusStyle.sass */
.floorPlan-table .fav table {
  width: 100%;
}
/* line 462, ../sass/bacchusStyle.sass */
.floorPlan-table .fav table th {
  width: 20%;
}
/* line 464, ../sass/bacchusStyle.sass */
.floorPlan-table .fav table td {
  width: 80%;
}

/* line 467, ../sass/bacchusStyle.sass */
.show-intCounterRight {
  display: none;
}

/* line 471, ../sass/bacchusStyle.sass */
.dialog-center {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

/* line 475, ../sass/bacchusStyle.sass */
.companyInfo {
  display: none;
}

/* line 478, ../sass/bacchusStyle.sass */
.Img100 img {
  width: 100%;
  height: auto;
}

/* line 483, ../sass/bacchusStyle.sass */
.flexTable {
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 488, ../sass/bacchusStyle.sass */
.flexTable2 {
  height: 300px;
  margin: 0 auto;
}

/* line 493, ../sass/bacchusStyle.sass */
.flexTable3 {
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 499, ../sass/bacchusStyle.sass */
.btn-save {
  margin: 10px 0 0 0;
  padding: 7px 20px;
  background: #555;
  color: #fff;
  border: none;
}
/* line 505, ../sass/bacchusStyle.sass */
.btn-save:hover {
  opacity: 0.8;
}

/* manageSetting.html */
/* line 510, ../sass/bacchusStyle.sass */
.settingSingleWidth span.title {
  min-width: 100px;
  max-width: 100%;
  overflow: auto;
}

/* settingRole.html */
/* line 517, ../sass/bacchusStyle.sass */
.settingRole .choiceLine {
  width: 10%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #478FCA;
}

/* settingAccControl.html */
/* line 525, ../sass/bacchusStyle.sass */
.starSearch {
  display: block;
  margin: 0 0 40px 0;
}
/* line 528, ../sass/bacchusStyle.sass */
.starSearch .nav-search {
  left: 0;
}
/* line 530, ../sass/bacchusStyle.sass */
.starSearch .nav-search-input {
  display: block;
}

/* line 533, ../sass/bacchusStyle.sass */
.checkboxStyle .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 537, ../sass/bacchusStyle.sass */
.profileInfo .field {
  margin: 10px auto;
}
/* line 539, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo {
  position: relative;
}
/* line 541, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo table.tableProfile {
  width: 100%;
}
/* line 545, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo table.tableProfile td input:active, .profileInfo .blockTwo table.tableProfile td input:focus, .profileInfo .blockTwo table.tableProfile th input:active, .profileInfo .blockTwo table.tableProfile th input:focus {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 2px solid #87B87F;
}
/* line 550, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo .blockPlus {
  cursor: pointer;
  margin: 0 0 10px 10px;
}

/* settingAccManage.html */
/* line 556, ../sass/bacchusStyle.sass */
.addNewStyle .addNewAcc-form {
  width: 100px;
  text-align: right;
  margin: 10px 20px 15px auto;
}
/* line 560, ../sass/bacchusStyle.sass */
.addNewStyle .modal-body {
  text-align: left;
}

/* line 562, ../sass/bacchusStyle.sass */
.deleteAddAccount {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  color: #ff0000;
  line-height: 34px;
}

/*----- reservation-01.html ----- */
/* line 570, ../sass/bacchusStyle.sass */
.optionBtn {
  margin: 0 5px !important;
  padding: 5px 30px;
}

/* line 574, ../sass/bacchusStyle.sass */
.companyInfo {
  display: none;
}

/* line 576, ../sass/bacchusStyle.sass */
.nav-search-input {
  display: none;
}

@media screen and (max-width: 1280px) {
  /* line 581, ../sass/bacchusStyle.sass */
  .intCounterRight {
    display: none;
  }

  /* line 583, ../sass/bacchusStyle.sass */
  .intCounterleft {
    position: relative;
  }

  /* line 585, ../sass/bacchusStyle.sass */
  .show-intCounterRight {
    float: right;
    display: block;
    color: #70a0c1;
  }
  /* line 588, ../sass/bacchusStyle.sass */
  .show-intCounterRight i {
    border: 1px solid #8fbcd9;
    padding: 3px 10px;
    cursor: pointer;
  }
  /* line 594, ../sass/bacchusStyle.sass */
  .show-intCounterRight span {
    margin: 0 0 0 2px;
    font-size: 14px;
    line-height: 2;
  }
}
