@charset "UTF-8";
body {
  font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------  共用區public ------ */
.float-left, .pull-left {
  float: left;
}

.float-right, .pull-right {
  float: right;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.padding-2 {
  padding: 2px;
}

.padding-5 {
  padding: 5px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.margin-top91 {
  margin-top: 87px;
}

.margin-5 {
  margin: 5px;
}

.marginLeft-3 {
  margin-left: 3px;
}

.marginLeft-5 {
  margin-left: 5px;
}

.marginLeft-90 {
  margin-left: 90px;
}

.height87 {
  height: 87px;
}

.height60 {
  height: 60px;
}

.defHt {
  height: 25px;
}

.width-5 {
  width: 5% !important;
}

.width-10 {
  width: 10% !important;
}

.width-15 {
  width: 15% !important;
}

.width-20 {
  width: 20% !important;
}

.width-30 {
  width: 30% !important;
}

.width-61 {
  width: 61% !important;
}

.pointer {
  cursor: pointer;
}

.notice {
  color: #ff0000;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.markOne {
  color: #478FCA;
  font-weight: bold;
}

.border-double1 {
  border-bottom: 3px double #b09e9b;
  margin: auto auto 5px auto;
}

.lineHeight14 {
  line-height: 14px;
}

.lineHeight18 {
  line-height: 18px;
}

.lineHeight24 {
  line-height: 24px;
}

.lineHeight27 {
  line-height: 27px;
}

.lineHeight34 {
  line-height: 34px;
}

.font-btn {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-default {
  font-size: 13px;
}

.font-lg {
  font-size: 1.2em;
}

.font-2x {
  font-size: 1.5em;
}

.font-3x {
  font-size: 1.8em;
}

.label-fontLg {
  font-size: 16px !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.dark {
  color: #333 !important;
}

.white {
  color: #fff !important;
}

.red {
  color: #DD5A43 !important;
}

.red2 {
  color: #E08374 !important;
}

.light-red {
  color: #FF7777 !important;
}

.blue {
  color: #478FCA !important;
}

.light-blue {
  color: #93CBF9 !important;
}

.green {
  color: #69AA46 !important;
}

.light-green {
  color: #B0D877 !important;
}

.orange {
  color: #FF892A !important;
}

.fontBrown {
  color: #c35f0e !important;
}

.orange2 {
  color: #FEB902 !important;
}

.light-orange {
  color: #FCAC6F !important;
}

.font-yellow {
  color: #ffbd47 !important;
}

.purple {
  color: #A069C3 !important;
}

.dark-purple {
  color: #800180 !important;
}

.pink {
  color: #C6699F !important;
}

.pink2 {
  color: #D6487E !important;
}

.brown {
  color: brown !important;
}

.grey {
  color: #777 !important;
}

.bgLGrey {
  background: #BBB !important;
}

.bgTGreen {
  background: #4ed8aa !important;
}

.light-grey {
  color: #BBB !important;
}

.orangeBlock1 {
  background-color: #FAD7B6;
  padding: 2px;
  width: 65px;
  text-align: center;
}

.btn-sm-font {
  padding: 3px 9px;
  font-size: 12px;
  margin-top: -1px;
}

.btn-sm-font2 {
  padding: 3px 9px;
  font-size: 12px;
}

.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 6px 0 5px;
}

.space-custom-5 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 0 0 5px;
}

.space-custom-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 6px 0 5px;
  border-bottom: 1px solid #d5d5d5;
}

.input_sta_required {
  background-color: #c6f2d9 !important;
  /* (186, 242, 234) */
}

.input-medium.medium-c1 {
  width: 165px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c1Rm {
  width: 138px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c1-col2 {
  width: 488px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c1-col2v2 {
  width: 433px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c1-col2v2Remark {
  width: 407px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c1-Full {
  width: 702px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c2 {
  width: 179px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-sm {
  width: 104px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3 {
  width: 134px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-skyNo {
  width: 147px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col2Spc {
  width: 272px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col2 {
  width: 255px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col2_2 {
  width: 228px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-search-col2 {
  width: 304px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col3 {
  width: 492px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col3Rm {
  width: 543px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col4 {
  width: 634px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-col1-5 {
  width: 372px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-card {
  width: 212px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-card-2 {
  width: 55px;
  max-width: 100%;
  height: 25px;
}
.input-medium.medium-c3-card-3 {
  width: 186px;
  max-width: 100%;
  height: 25px;
}
.input-medium.addedBy {
  width: 74px;
  max-width: 100%;
  height: 25px;
}
.input-medium.addedDate {
  width: 140px;
  max-width: 100%;
  height: 25px;
}
.input-medium.bill-input-s1 {
  width: 120px;
  max-width: 100%;
  height: 25px;
}
.input-medium.bill-input-s2 {
  width: 245px;
  max-width: 100%;
  height: 25px;
}
.input-medium.rateCode-s1 {
  width: 180px;
  max-width: 100%;
  height: 25px;
}
.input-medium.rateCode-s1-col2 {
  width: 464px;
  max-width: 100%;
  height: 25px;
}
.input-medium.rateCode-s2 {
  width: 43px;
  max-width: 100%;
  height: 25px;
}
.input-medium.rateCode-s3 {
  width: 135px;
  max-width: 100%;
  height: 25px;
}
.input-medium.rateCode-s4 {
  width: 695px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1 {
  width: 155px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1Remark {
  width: 128px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s2 {
  width: 138px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1-col2 {
  width: 414px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1-col2RM {
  width: 387px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1-col2v2 {
  width: 418px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2 {
  width: 115px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-col2 {
  width: 227px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-lg {
  width: 339px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-col2RM {
  width: 200px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-keyword {
  width: 460px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-col4 {
  width: 562px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-col4Key {
  width: 485px;
  max-width: 100%;
  height: 25px;
}
.input-medium.popWindow-s1v2-col4RM {
  width: 535px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard {
  width: 103px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCardSpec1 {
  width: 203px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-date {
  width: 135px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCardRemark {
  width: 77px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-m {
  width: 72px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-col2 {
  width: 310px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-col3 {
  width: 719px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-col2Spec1 {
  width: 250px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-col2Remark {
  width: 283px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-col2Remark2 {
  width: 265px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-full {
  width: 723px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-fullRemark {
  width: 698px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-col3-fullRemark {
  width: 490px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-xs {
  width: 40px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-2xs {
  width: 26.7px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-xlxl {
  width: 140px;
  max-width: 100%;
  height: 25px;
}
.input-medium.resvCard-sm {
  width: 81px;
  max-width: 100%;
  height: 25px;
}
.input-medium.ca-select {
  width: 65px;
  max-width: 100%;
  height: 25px;
}
.input-medium.checkMail {
  width: 530px;
  max-width: 100%;
  height: 25px;
}
.input-medium.large-c1 {
  width: 210px;
  max-width: 100%;
  height: 25px;
}

.input-hMedium {
  height: 25px !important;
}

.input-hCol2 {
  height: 55px !important;
}

.input-spc-1 {
  width: 434px;
  max-width: 100%;
  height: 25px;
}

.input-spc-key {
  width: 466px;
  max-width: 100%;
  height: 25px;
}

.input-mLeft-1 {
  margin-left: 28px;
}

.border-block-left {
  border-left: 1px solid #dddddd;
}

.margin-spacing-3 {
  margin: 3px auto;
}

.multiLangDGPosition {
  width: 80%;
  top: 30%;
  left: 10%;
  position: absolute;
}

.prg_idLbH3 {
  display: block;
  font-size: 16px !important;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.labelCkbox {
  float: left;
  line-height: 25px;
}
.labelCkbox span {
  margin-right: 5px;
}

input.numStyle-none::-webkit-inner-spin-button, input.numStyle-none::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.gritter-item-wrapper.gritter-info {
  background-color: #438eb9;
}

.popCheckbox.resvCk-1 {
  width: 106px;
}
.popCheckbox.resvCk-1 .checkbox label {
  padding-left: 14px;
}
.popCheckbox .checkbox {
  margin: 1px auto 0 auto;
}
.popCheckbox .checkbox .ace {
  padding-right: 5px;
}
.popCheckbox .checkbox label {
  width: auto;
}
.popCheckbox .checkbox label .lbl:before {
  margin-right: 3px;
}
.popCheckbox.lbl-after .txt {
  line-height: 22px;
}
.popCheckbox.lbl-after .checkbox label {
  padding-left: 10px;
}

.remarkInput {
  width: 85%;
  margin-left: 5px;
}

.remarkInput-75 {
  width: 75%;
  margin-left: 5px;
  margin-right: 5px;
}

.remarkInput-45 {
  width: 45.4%;
  margin-left: 5px;
  margin-right: 5px;
}

.remarkInput-79 {
  width: 79.4%;
  margin-left: 5px;
  margin-right: 5px;
}

.border-raduis-5 {
  border-radius: 5px;
}

.extendGrid {
  position: relative;
}
.extendGrid .extendIcon {
  position: absolute;
  padding: 0 5px;
  border-radius: 10px;
  background: #B0D877;
  right: 8px;
  top: -28px;
  cursor: pointer;
}
.extendGrid .extendIcon:hover {
  background: #69AA46;
}
.extendGrid .extendIcon.activeBg {
  background: #69AA46;
}
.extendGrid .extendIcon.show-topSingle {
  top: -28px;
}
.extendGrid .extendIcon i {
  color: #fff;
  font-weight: bold;
  -webkit-transform: rotate(0deg);
  -webkit-animation: outAnimation 1s;
}
.extendGrid .extendIcon i.active {
  -webkit-animation: inAnimation 1s;
  -webkit-transform: rotate(180deg);
}
@-webkit-keyframes inAnimation {
  0% {
    -webkit-transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes outAnimation {
  0% {
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.extendGrid .extendContent {
  display: none;
}

.totalMiddle {
  display: inline-block;
  vertical-align: middle;
}

.searchCheckbox {
  margin-right: 5px;
}
.searchCheckbox .checkbox {
  margin: 3px auto 0 auto;
}
.searchCheckbox .checkbox label {
  padding-left: 10px;
}
.searchCheckbox .checkbox label .lbl:before {
  margin-right: 3px;
}
.searchCheckbox.msgCheck .checkbox {
  margin: 0 108px auto 5px;
}
.searchCheckbox.msgCheck .checkbox .checkbox-width {
  width: auto;
}

.text-right {
  text-align: right !important;
}
.text-right .numeric {
  text-align: right !important;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background: url("/images/toggle-collapse-dark.png") 98% 32% !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
}

.btn_secStage {
  border: 1px solid #888 !important;
  box-shadow: 1px 1px #848484 !important;
}
.btn_secStage:hover {
  background: #eee !important;
}
.btn_secStage span {
  color: #888;
}

.lang {
  margin: 20px 20px 0 0;
}

.errorTip {
  color: #ff0000;
}

/*----- menu design ----- */
.footer .footer-inner .footer-content {
  padding: 0;
}

.footer-ul ul, .top-ul ul, .secondMenu-ul ul {
  display: inline;
}
.footer-ul ul li, .top-ul ul li, .secondMenu-ul ul li {
  display: inline-block;
  list-style: none;
}

/*----- /.menu design ----- */
.copyright {
  margin: -15px 0 0 0;
}

.companyInfo {
  margin: 10px 0 0 7px;
}

/*-- indexMain.html -- */
/*-- index-checkOut.html --> */
.co-table {
  text-align: left;
}
.co-table table.co-scroll {
  width: 100%;
  border: 1px solid #ededed;
  border-spacing: 0;
}
.co-table table.co-scroll thead {
  width: 100%;
  min-height: 20px;
  max-height: 100%;
  background: #c0d6ee;
  display: block;
}
.co-table table.co-scroll thead tr th {
  text-align: left;
  height: 30px;
  line-height: 30px;
}
.co-table table.co-scroll tbody {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  display: block;
}
.co-table table.co-scroll tbody tr {
  width: 100%;
  border-bottom: 1px solid #ededed;
}
.co-table table.co-scroll th, .co-table table.co-scroll td {
  border: 1px solid #ededed;
  padding: 5px 10px;
}

.btn-co-next {
  margin: 0 0 0 5px;
}

.modal-dialog-fullScreen {
  width: 98%;
  min-height: 400px;
  max-height: 100%;
  overflow: auto;
}

/*-- psd page -- */
.psd_page {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

.modal-dialog-fullScreen-blockSet {
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.blockSet-table-spec table {
  max-width: 100%;
}
.blockSet-table-spec table tr {
  max-width: 100%;
}
.blockSet-table-spec table tr td {
  max-width: 100%;
}
.blockSet-table-spec table tr td img {
  max-width: 100%;
}

/* index-checkOut.html */
.keyWord label, .keyWord input {
  float: left;
}

/* index-checkIn.html */
.status-group {
  margin: 0 0 20px 0;
}

.status-group2 {
  margin: 10px 0 10px 0;
}

.status-inline {
  margin-top: 0;
}

/* townHouse.html */
.room-special {
  margin-bottom: 15px;
}
.room-special .spec-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.room-special textarea {
  width: 100%;
  height: auto;
}

.select-group .btn-group, .select-group .form-group {
  float: right;
  margin: 0 0 5px 5px;
}
.select-group .status-view {
  float: right;
}
.select-group .status-view div {
  width: 60px;
  height: 25px;
  line-height: 25px;
  float: left;
  text-align: center;
  margin: 5px 0 5px 5px;
}
.select-group .status-view div.status-tip.cb-yellow {
  background: #fffba1;
}
.select-group .status-view div.status-tip.cb-purple {
  background: #ae8dc3;
}
.select-group .status-view div.status-tip.cb-green {
  background: #7cbd64;
}
.select-group .status-view div.status-tip.cb-pink {
  background: #ffddb3;
}
.select-group .status-view div.status-tip.cb-gray {
  background: #bfbfbf;
}
.select-group .status-view div.status-tip.cb-brown {
  background: #dcbe88;
}
.select-group .status-view div.status-tip.cb-blueGreen {
  background: #06eed5;
}
.select-group .status-view div.status-tip.cb-grayGreen {
  background: #008148;
}
.select-group .status-view div.status-tip.cb-sexyBlue {
  background: #19647E;
}
.select-group .status-view div.status-tip.cb-darkGreen {
  background: #00542f;
}
.select-group .status-view div.status-tip.cb-sexyYellow {
  background: #848009;
}
.select-group .status-view div.status-tip.cb-sexyGreen {
  background: #556b2f;
}
.select-group .status-view div.status-tip.cb-sexyRed {
  background: rgba(255, 33, 95, 0.77);
}
.select-group .status-view div.status-tip.cb-default {
  background: #c0d6ee;
}
.select-group .status-view div.status-tip.cd-sexyPurple {
  background: #4B3F72 !important;
}
.select-group .status-view div.status-tip.active {
  border: 2px solid #ff0000;
}
.select-group .status-btn {
  float: left;
  margin: 5px 5px 5px 0;
}
.select-group .status-btn img {
  width: 24px;
  height: auto;
  padding: 0 5px 0 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.house-noDetail {
  margin: 10px 14px;
}
.house-noDetail .house-num {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  line-height: 70px;
  border: 1px solid #555;
  color: #478FCA;
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 10px;
}
.house-noDetail .house-info {
  width: 21%;
  display: inline-block;
}
.house-noDetail .house-info .quantityTip {
  min-width: 140px;
  max-width: 100%;
  min-height: 35px;
  max-height: 100%;
  line-height: 25px;
}
.house-noDetail .house-info .quantityTip .quantityTip-txt, .house-noDetail .house-info .quantityTip .quantityTip-icon {
  display: inline;
}
.house-noDetail .house-info .quantityTip .quantityTip-txt {
  min-width: 100px;
  max-width: 100%;
  min-height: 25px;
  max-height: 100%;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}
.house-noDetail .house-info .quantityTip .quantityTip-txt span {
  line-height: 25px;
  height: 25px;
  color: #fff;
  font-weight: bold;
}
.house-noDetail .house-info .quantityTip .quantityTip-icon {
  margin: 0 0 0 10px;
}
.house-noDetail .house-info .middle span.lbl {
  font-size: 13px;
  min-width: 120px;
  max-width: 100%;
}

.dialog-center {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

.companyInfo {
  display: none;
}

.Img100 img {
  width: 100%;
  height: auto;
}

.flexTable {
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.flexTable2 {
  height: 300px;
  margin: 0 auto;
}

.flexTable3 {
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.btn-save {
  margin: 10px 0 0 0;
  padding: 7px 20px;
  background: #555;
  color: #fff;
  border: none;
}
.btn-save:hover {
  opacity: 0.8;
}

/* manageSetting.html */
.settingSingleWidth span.title {
  min-width: 100px;
  max-width: 100%;
  overflow: auto;
}

/* settingRole.html */
.settingRole .choiceLine {
  width: 10%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #478FCA;
}

/* settingAccControl.html */
.starSearch {
  display: block;
  margin: 0 0 40px 0;
}
.starSearch .nav-search {
  left: 0;
}
.starSearch .nav-search-input {
  display: block;
}

.checkboxStyle .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.profileInfo .field {
  margin: 10px auto;
}
.profileInfo .blockTwo {
  position: relative;
}
.profileInfo .blockTwo table.tableProfile {
  width: 100%;
}
.profileInfo .blockTwo table.tableProfile td input:active, .profileInfo .blockTwo table.tableProfile td input:focus, .profileInfo .blockTwo table.tableProfile th input:active, .profileInfo .blockTwo table.tableProfile th input:focus {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 2px solid #87B87F;
}
.profileInfo .blockTwo .blockPlus {
  cursor: pointer;
  margin: 0 0 10px 10px;
}

/* settingAccManage.html */
.addNewStyle .addNewAcc-form {
  width: 100px;
  text-align: right;
  margin: 10px 20px 15px auto;
}
.addNewStyle .modal-body {
  text-align: left;
}

.deleteAddAccount {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  color: #ff0000;
  line-height: 34px;
}

/*----- reservation-01.html ----- */
.optionBtn {
  margin: 0 5px !important;
  padding: 5px 30px;
}

.companyInfo {
  display: none;
}

.nav-search-input {
  display: none;
}

@media screen and (max-width: 1280px) {
  .intCounterRight {
    display: none;
  }

  .intCounterleft {
    position: relative;
  }

  .show-intCounterRight {
    float: right;
    display: block;
    color: #70a0c1;
  }
  .show-intCounterRight i {
    border: 1px solid #8fbcd9;
    padding: 3px 10px;
    cursor: pointer;
  }
  .show-intCounterRight span {
    margin: 0 0 0 2px;
    font-size: 14px;
    line-height: 2;
  }
}
