@charset "UTF-8";
/* line 2, ../sass/bacchusStyle.sass */
body {
  font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------  共用區public ------ */
/* line 2, ../sass/modules/_public.sass */
.float-left, .pull-left {
  float: left;
}

/* line 4, ../sass/modules/_public.sass */
.float-right, .pull-right {
  float: right;
}

/* line 6, ../sass/modules/_public.sass */
.no-padding {
  padding: 0;
}

/* line 8, ../sass/modules/_public.sass */
.no-padding-left {
  padding-left: 0;
}

/* line 10, ../sass/modules/_public.sass */
.no-padding-right {
  padding-right: 0;
}

/* line 12, ../sass/modules/_public.sass */
.padding-5 {
  padding: 5px;
}

/* line 14, ../sass/modules/_public.sass */
.no-margin {
  margin: 0 !important;
}

/* line 16, ../sass/modules/_public.sass */
.no-margin-top {
  margin-top: 0 !important;
}

/* line 18, ../sass/modules/_public.sass */
.margin-top91 {
  margin-top: 87px;
}

/* line 20, ../sass/modules/_public.sass */
.margin-5 {
  margin: 5px;
}

/* line 22, ../sass/modules/_public.sass */
.marginLeft-5 {
  margin-left: 5px;
}

/* line 24, ../sass/modules/_public.sass */
.height87 {
  height: 87px;
}

/* line 27, ../sass/modules/_public.sass */
.height60 {
  height: 60px;
}

/* line 31, ../sass/modules/_public.sass */
.width-5 {
  width: 5% !important;
}

/* line 33, ../sass/modules/_public.sass */
.width-10 {
  width: 10% !important;
}

/* line 35, ../sass/modules/_public.sass */
.width-15 {
  width: 15% !important;
}

/* line 37, ../sass/modules/_public.sass */
.width-20 {
  width: 20% !important;
}

/* line 39, ../sass/modules/_public.sass */
.width-30 {
  width: 30% !important;
}

/* line 41, ../sass/modules/_public.sass */
.width-61 {
  width: 61% !important;
}

/* line 44, ../sass/modules/_public.sass */
.pointer {
  cursor: pointer;
}

/* line 46, ../sass/modules/_public.sass */
.notice {
  color: #ff0000;
  font-weight: bold;
}

/* line 49, ../sass/modules/_public.sass */
.bold {
  font-weight: bold;
}

/* line 51, ../sass/modules/_public.sass */
.markOne {
  color: #478FCA;
  font-weight: bold;
}

/* line 55, ../sass/modules/_public.sass */
.border-double1 {
  border-bottom: 3px double #b09e9b;
  margin: auto auto 5px auto;
}

/* line 58, ../sass/modules/_public.sass */
.lineHeight14 {
  line-height: 14px;
}

/* line 60, ../sass/modules/_public.sass */
.lineHeight18 {
  line-height: 18px;
}

/* line 62, ../sass/modules/_public.sass */
.lineHeight24 {
  line-height: 24px;
}

/* line 64, ../sass/modules/_public.sass */
.lineHeight27 {
  line-height: 27px;
}

/* line 66, ../sass/modules/_public.sass */
.lineHeight34 {
  line-height: 34px;
}

/* line 69, ../sass/modules/_public.sass */
.font-14 {
  font-size: 14px;
}

/* line 71, ../sass/modules/_public.sass */
.font-15 {
  font-size: 15px;
}

/* line 73, ../sass/modules/_public.sass */
.font-default {
  font-size: 13px;
}

/* line 75, ../sass/modules/_public.sass */
.font-lg {
  font-size: 1.2em;
}

/* line 77, ../sass/modules/_public.sass */
.font-2x {
  font-size: 1.5em;
}

/* line 79, ../sass/modules/_public.sass */
.font-3x {
  font-size: 1.8em;
}

/* line 81, ../sass/modules/_public.sass */
.label-fontLg {
  font-size: 16px !important;
}

/* line 83, ../sass/modules/_public.sass */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 88, ../sass/modules/_public.sass */
.dark {
  color: #333 !important;
}

/* line 90, ../sass/modules/_public.sass */
.white {
  color: #fff !important;
}

/* line 92, ../sass/modules/_public.sass */
.red {
  color: #DD5A43 !important;
}

/* line 94, ../sass/modules/_public.sass */
.red2 {
  color: #E08374 !important;
}

/* line 96, ../sass/modules/_public.sass */
.light-red {
  color: #FF7777 !important;
}

/* line 98, ../sass/modules/_public.sass */
.blue {
  color: #478FCA !important;
}

/* line 100, ../sass/modules/_public.sass */
.light-blue {
  color: #93CBF9 !important;
}

/* line 102, ../sass/modules/_public.sass */
.green {
  color: #69AA46 !important;
}

/* line 104, ../sass/modules/_public.sass */
.light-green {
  color: #B0D877 !important;
}

/* line 106, ../sass/modules/_public.sass */
.orange {
  color: #FF892A !important;
}

/* line 108, ../sass/modules/_public.sass */
.orange2 {
  color: #FEB902 !important;
}

/* line 110, ../sass/modules/_public.sass */
.light-orange {
  color: #FCAC6F !important;
}

/* line 112, ../sass/modules/_public.sass */
.purple {
  color: #A069C3 !important;
}

/* line 114, ../sass/modules/_public.sass */
.pink {
  color: #C6699F !important;
}

/* line 116, ../sass/modules/_public.sass */
.pink2 {
  color: #D6487E !important;
}

/* line 118, ../sass/modules/_public.sass */
.brown {
  color: brown !important;
}

/* line 120, ../sass/modules/_public.sass */
.grey {
  color: #777 !important;
}

/* line 122, ../sass/modules/_public.sass */
.bgLGrey {
  background: #BBB !important;
}

/* line 124, ../sass/modules/_public.sass */
.light-grey {
  color: #BBB !important;
}

/* line 126, ../sass/modules/_public.sass */
.orangeBlock1 {
  background-color: #FAD7B6;
  padding: 2px;
  width: 65px;
  text-align: center;
}

/* line 133, ../sass/modules/_public.sass */
.btn-sm-font {
  padding: 3px 9px;
  font-size: 12px;
  margin-top: -1px;
}

/* line 137, ../sass/modules/_public.sass */
.btn-sm-font2 {
  padding: 3px 9px;
  font-size: 12px;
}

/* line 142, ../sass/modules/_public.sass */
.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 6px 0 5px;
}

/* line 147, ../sass/modules/_public.sass */
.space-custom-5 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 0 0 5px;
}

/* line 152, ../sass/modules/_public.sass */
.space-custom-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 6px 0 5px;
  border-bottom: 1px solid #d5d5d5;
}

/* line 160, ../sass/modules/_public.sass */
.input_sta_required {
  background-color: #c6f2d9 !important;
  /* (186, 242, 234) */
}

/* line 166, ../sass/modules/_public.sass */
.input-medium.medium-c1 {
  width: 165px;
  max-width: 100%;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* line 166, ../sass/modules/_public.sass */
  .input-medium.medium-c1 {
    width: 120px;
    max-width: 100%;
    height: 25px;
  }
}
/* line 170, ../sass/modules/_public.sass */
.input-medium.medium-c1-col2 {
  width: 488px;
  max-width: 100%;
  height: 25px;
}
/* line 173, ../sass/modules/_public.sass */
.input-medium.medium-c1-col2v2 {
  width: 434px;
  max-width: 100%;
  height: 25px;
}
/* line 175, ../sass/modules/_public.sass */
.input-medium.medium-c1-col2v2Remark {
  width: 407px;
  max-width: 100%;
  height: 25px;
}
/* line 177, ../sass/modules/_public.sass */
.input-medium.medium-c1-Full {
  width: 702px;
  max-width: 100%;
  height: 25px;
}
/* line 179, ../sass/modules/_public.sass */
.input-medium.medium-c2 {
  width: 179px;
  max-width: 100%;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* line 179, ../sass/modules/_public.sass */
  .input-medium.medium-c2 {
    width: 134px;
    max-width: 100%;
    height: 25px;
  }
}
/* line 183, ../sass/modules/_public.sass */
.input-medium.medium-c3-sm {
  width: 104px;
  max-width: 100%;
  height: 25px;
}
/* line 185, ../sass/modules/_public.sass */
.input-medium.medium-c3 {
  width: 134px;
  max-width: 100%;
  height: 25px;
}
/* line 187, ../sass/modules/_public.sass */
.input-medium.medium-c3-col2 {
  width: 255px;
  max-width: 100%;
  height: 25px;
}
/* line 189, ../sass/modules/_public.sass */
.input-medium.medium-c3-col2_2 {
  width: 228px;
  max-width: 100%;
  height: 25px;
}
/* line 192, ../sass/modules/_public.sass */
.input-medium.medium-search-col2 {
  width: 304px;
  max-width: 100%;
  height: 25px;
}
/* line 195, ../sass/modules/_public.sass */
.input-medium.medium-c3-col3 {
  width: 492px;
  max-width: 100%;
  height: 25px;
}
/* line 197, ../sass/modules/_public.sass */
.input-medium.medium-c3-col4 {
  width: 634px;
  max-width: 100%;
  height: 25px;
}
/* line 199, ../sass/modules/_public.sass */
.input-medium.medium-c3-col1-5 {
  width: 372px;
  max-width: 100%;
  height: 25px;
}
/* line 201, ../sass/modules/_public.sass */
.input-medium.medium-c3-card {
  width: 212px;
  max-width: 100%;
  height: 25px;
}
/* line 203, ../sass/modules/_public.sass */
.input-medium.medium-c3-card-2 {
  width: 55px;
  max-width: 100%;
  height: 25px;
}
/* line 206, ../sass/modules/_public.sass */
.input-medium.medium-c3-card-3 {
  width: 186px;
  max-width: 100%;
  height: 25px;
}
/* line 208, ../sass/modules/_public.sass */
.input-medium.addedBy {
  width: 74px;
  max-width: 100%;
  height: 25px;
}
/* line 210, ../sass/modules/_public.sass */
.input-medium.addedDate {
  width: 140px;
  max-width: 100%;
  height: 25px;
}
/* line 212, ../sass/modules/_public.sass */
.input-medium.bill-input-s1 {
  width: 120px;
  max-width: 100%;
  height: 25px;
}
/* line 214, ../sass/modules/_public.sass */
.input-medium.bill-input-s2 {
  width: 245px;
  max-width: 100%;
  height: 25px;
}
/* line 216, ../sass/modules/_public.sass */
.input-medium.rateCode-s1 {
  width: 180px;
  max-width: 100%;
  height: 25px;
}
/* line 218, ../sass/modules/_public.sass */
.input-medium.rateCode-s1-col2 {
  width: 464px;
  max-width: 100%;
  height: 25px;
}
/* line 220, ../sass/modules/_public.sass */
.input-medium.rateCode-s2 {
  width: 43px;
  max-width: 100%;
  height: 25px;
}
/* line 222, ../sass/modules/_public.sass */
.input-medium.rateCode-s3 {
  width: 135px;
  max-width: 100%;
  height: 25px;
}
/* line 224, ../sass/modules/_public.sass */
.input-medium.rateCode-s4 {
  width: 695px;
  max-width: 100%;
  height: 25px;
}
/* line 226, ../sass/modules/_public.sass */
.input-medium.popWindow-s1 {
  width: 155px;
  max-width: 100%;
  height: 25px;
}
/* line 228, ../sass/modules/_public.sass */
.input-medium.popWindow-s1Remark {
  width: 128px;
  max-width: 100%;
  height: 25px;
}
/* line 231, ../sass/modules/_public.sass */
.input-medium.popWindow-s2 {
  width: 138px;
  max-width: 100%;
  height: 25px;
}
/* line 233, ../sass/modules/_public.sass */
.input-medium.popWindow-s1-col2 {
  width: 414px;
  max-width: 100%;
  height: 25px;
}
/* line 235, ../sass/modules/_public.sass */
.input-medium.popWindow-s1-col2v2 {
  width: 418px;
  max-width: 100%;
  height: 25px;
}
/* line 237, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2 {
  width: 115px;
  max-width: 100%;
  height: 25px;
}
/* line 239, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-col2 {
  width: 227px;
  max-width: 100%;
  height: 25px;
}
/* line 241, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-lg {
  width: 339px;
  max-width: 100%;
  height: 25px;
}
/* line 243, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-col2RM {
  width: 200px;
  max-width: 100%;
  height: 25px;
}
/* line 245, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-keyword {
  width: 460px;
  max-width: 100%;
  height: 25px;
}
/* line 247, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-col4 {
  width: 562px;
  max-width: 100%;
  height: 25px;
}
/* line 249, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-col4Key {
  width: 485px;
  max-width: 100%;
  height: 25px;
}
/* line 251, ../sass/modules/_public.sass */
.input-medium.popWindow-s1v2-col4RM {
  width: 535px;
  max-width: 100%;
  height: 25px;
}
/* line 253, ../sass/modules/_public.sass */
.input-medium.resvCard {
  width: 103px;
  max-width: 100%;
  height: 25px;
}
/* line 256, ../sass/modules/_public.sass */
.input-medium.resvCardSpec1 {
  width: 203px;
  max-width: 100%;
  height: 25px;
}
/* line 258, ../sass/modules/_public.sass */
.input-medium.resvCard-date {
  width: 135px;
  max-width: 100%;
  height: 25px;
}
/* line 260, ../sass/modules/_public.sass */
.input-medium.resvCardRemark {
  width: 77px;
  max-width: 100%;
  height: 25px;
}
/* line 262, ../sass/modules/_public.sass */
.input-medium.resvCard-col2 {
  width: 310px;
  max-width: 100%;
  height: 25px;
}
/* line 264, ../sass/modules/_public.sass */
.input-medium.resvCard-col3 {
  width: 719px;
  max-width: 100%;
  height: 25px;
}
/* line 266, ../sass/modules/_public.sass */
.input-medium.resvCard-col2Spec1 {
  width: 250px;
  max-width: 100%;
  height: 25px;
}
/* line 268, ../sass/modules/_public.sass */
.input-medium.resvCard-col2Remark {
  width: 283px;
  max-width: 100%;
  height: 25px;
}
/* line 270, ../sass/modules/_public.sass */
.input-medium.resvCard-col2Remark2 {
  width: 265px;
  max-width: 100%;
  height: 25px;
}
/* line 272, ../sass/modules/_public.sass */
.input-medium.resvCard-fullRemark {
  width: 698px;
  max-width: 100%;
  height: 25px;
}
/* line 274, ../sass/modules/_public.sass */
.input-medium.resvCard-col3-fullRemark {
  width: 490px;
  max-width: 100%;
  height: 25px;
}
/* line 276, ../sass/modules/_public.sass */
.input-medium.resvCard-xs {
  width: 40px;
  max-width: 100%;
  height: 25px;
}
/* line 278, ../sass/modules/_public.sass */
.input-medium.resvCard-2xs {
  width: 26.7px;
  max-width: 100%;
  height: 25px;
}
/* line 280, ../sass/modules/_public.sass */
.input-medium.resvCard-sm {
  width: 81px;
  max-width: 100%;
  height: 25px;
}
/* line 282, ../sass/modules/_public.sass */
.input-medium.ca-select {
  width: 65px;
  max-width: 100%;
  height: 25px;
}
/* line 284, ../sass/modules/_public.sass */
.input-medium.checkMail {
  width: 530px;
  max-width: 100%;
  height: 25px;
}
/* line 286, ../sass/modules/_public.sass */
.input-medium.large-c1 {
  width: 210px;
  max-width: 100%;
  height: 25px;
}

/* line 288, ../sass/modules/_public.sass */
.input-hMedium {
  height: 25px !important;
}

/* line 290, ../sass/modules/_public.sass */
.input-hCol2 {
  height: 55px !important;
}

/* line 292, ../sass/modules/_public.sass */
.input-spc-1 {
  width: 434px;
  max-width: 100%;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* line 292, ../sass/modules/_public.sass */
  .input-spc-1 {
    width: 349px;
    max-width: 100%;
    height: 25px;
  }
}

/* line 296, ../sass/modules/_public.sass */
.input-spc-key {
  width: 466px;
  max-width: 100%;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* line 296, ../sass/modules/_public.sass */
  .input-spc-key {
    width: 376px;
    max-width: 100%;
    height: 25px;
  }
}

/* line 300, ../sass/modules/_public.sass */
.input-mLeft-1 {
  margin-left: 28px;
}

/* line 304, ../sass/modules/_public.sass */
.dateBox-custom1 .textbox {
  height: 25px;
  line-height: 20px;
  border-radius: 0;
  border: 1px solid #D5D5D3;
}
/* line 309, ../sass/modules/_public.sass */
.dateBox-custom1 .combo-arrow {
  background-color: #dddddd;
  width: 24px !important;
}

/* line 312, ../sass/modules/_public.sass */
.border-block-left {
  border-left: 1px solid #dddddd;
}

/* line 314, ../sass/modules/_public.sass */
.margin-spacing-3 {
  margin: 3px auto;
}

/* line 318, ../sass/modules/_public.sass */
.multiLangDGPosition {
  width: 80%;
  top: 30%;
  left: 10%;
  position: absolute;
}

/* line 324, ../sass/modules/_public.sass */
.prg_idLbH3 {
  display: block;
  font-size: 16px !important;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* line 335, ../sass/modules/_public.sass */
input.numStyle-none::-webkit-inner-spin-button, input.numStyle-none::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* line 342, ../sass/modules/_public.sass */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
  border-radius: 5px !important;
}

/* line 362, ../sass/modules/_public.sass */
.gritter-item-wrapper.gritter-info {
  background-color: #438eb9;
}

/* line 366, ../sass/modules/_public.sass */
.popCheckbox.resvCk-1 {
  width: 106px;
}
/* line 369, ../sass/modules/_public.sass */
.popCheckbox.resvCk-1 .checkbox label {
  padding-left: 14px;
}
/* line 371, ../sass/modules/_public.sass */
.popCheckbox .checkbox {
  margin: 1px auto 0 auto;
}
/* line 373, ../sass/modules/_public.sass */
.popCheckbox .checkbox .ace {
  padding-right: 5px;
}
/* line 375, ../sass/modules/_public.sass */
.popCheckbox .checkbox label {
  width: auto;
}
/* line 378, ../sass/modules/_public.sass */
.popCheckbox .checkbox label .lbl:before {
  margin-right: 3px;
}
/* line 383, ../sass/modules/_public.sass */
.popCheckbox.lbl-after .txt {
  line-height: 22px;
}
/* line 386, ../sass/modules/_public.sass */
.popCheckbox.lbl-after .checkbox label {
  padding-left: 10px;
}

/* line 389, ../sass/modules/_public.sass */
.remarkInput {
  width: 85%;
  margin-left: 5px;
}

/* line 392, ../sass/modules/_public.sass */
.remarkInput-75 {
  width: 75%;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 396, ../sass/modules/_public.sass */
.border-raduis-5 {
  border-radius: 5px;
}

/* line 398, ../sass/modules/_public.sass */
.extendGrid {
  position: relative;
}
/* line 400, ../sass/modules/_public.sass */
.extendGrid .extendIcon {
  position: absolute;
  padding: 0 5px;
  border-radius: 10px;
  background: #B0D877;
  right: 8px;
  top: -37px;
  cursor: pointer;
}
/* line 408, ../sass/modules/_public.sass */
.extendGrid .extendIcon:hover {
  background: #69AA46;
}
/* line 410, ../sass/modules/_public.sass */
.extendGrid .extendIcon.activeBg {
  background: #69AA46;
}
/* line 412, ../sass/modules/_public.sass */
.extendGrid .extendIcon i {
  color: #fff;
  font-weight: bold;
  -webkit-transform: rotate(0deg);
  -webkit-animation: outAnimation 1s;
}
/* line 417, ../sass/modules/_public.sass */
.extendGrid .extendIcon i.active {
  -webkit-animation: inAnimation 1s;
  -webkit-transform: rotate(180deg);
}
@-webkit-keyframes inAnimation {
  0% {
    -webkit-transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes outAnimation {
  0% {
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* line 431, ../sass/modules/_public.sass */
.extendGrid .extendContent {
  display: none;
}

/* line 434, ../sass/modules/_public.sass */
.totalMiddle {
  display: inline-block;
  vertical-align: middle;
}

/* line 438, ../sass/modules/_public.sass */
.searchCheckbox {
  margin-right: 5px;
}
/* line 440, ../sass/modules/_public.sass */
.searchCheckbox .checkbox {
  margin: 3px auto 0 auto;
}
/* line 442, ../sass/modules/_public.sass */
.searchCheckbox .checkbox label {
  padding-left: 10px;
}
/* line 445, ../sass/modules/_public.sass */
.searchCheckbox .checkbox label .lbl:before {
  margin-right: 3px;
}
/* line 448, ../sass/modules/_public.sass */
.searchCheckbox.msgCheck .checkbox {
  margin: 0 108px auto 5px;
}
/* line 450, ../sass/modules/_public.sass */
.searchCheckbox.msgCheck .checkbox .checkbox-width {
  width: auto;
}

/* line 11, ../sass/bacchusStyle.sass */
.lang {
  margin: 20px 20px 0 0;
}

/* line 14, ../sass/bacchusStyle.sass */
.errorTip {
  color: #ff0000;
}

/*----- menu design ----- */
/* line 20, ../sass/bacchusStyle.sass */
.footer .footer-inner .footer-content {
  padding: 0;
}

/* line 23, ../sass/bacchusStyle.sass */
.footer-ul ul, .top-ul ul, .secondMenu-ul ul {
  display: inline;
}
/* line 25, ../sass/bacchusStyle.sass */
.footer-ul ul li, .top-ul ul li, .secondMenu-ul ul li {
  display: inline-block;
  list-style: none;
}

/*----- /.menu design ----- */
/* line 81, ../sass/bacchusStyle.sass */
.copyright {
  margin: -15px 0 0 0;
}

/* line 83, ../sass/bacchusStyle.sass */
.companyInfo {
  margin: 10px 0 0 7px;
}

/*-- indexMain.html -- */
/*-- index-checkOut.html --> */
/* line 92, ../sass/bacchusStyle.sass */
.co-table {
  text-align: left;
}
/* line 94, ../sass/bacchusStyle.sass */
.co-table table.co-scroll {
  width: 100%;
  border: 1px solid #ededed;
  border-spacing: 0;
}
/* line 100, ../sass/bacchusStyle.sass */
.co-table table.co-scroll thead {
  width: 100%;
  min-height: 20px;
  max-height: 100%;
  background: #c0d6ee;
  display: block;
}
/* line 108, ../sass/bacchusStyle.sass */
.co-table table.co-scroll thead tr th {
  text-align: left;
  height: 30px;
  line-height: 30px;
}
/* line 114, ../sass/bacchusStyle.sass */
.co-table table.co-scroll tbody {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  display: block;
}
/* line 119, ../sass/bacchusStyle.sass */
.co-table table.co-scroll tbody tr {
  width: 100%;
  border-bottom: 1px solid #ededed;
}
/* line 122, ../sass/bacchusStyle.sass */
.co-table table.co-scroll th, .co-table table.co-scroll td {
  border: 1px solid #ededed;
  padding: 5px 10px;
}

/* line 133, ../sass/bacchusStyle.sass */
.btn-co-next {
  margin: 0 0 0 5px;
}

/* line 135, ../sass/bacchusStyle.sass */
.modal-dialog-fullScreen {
  width: 98%;
  min-height: 400px;
  max-height: 100%;
  overflow: auto;
}

/*-- psd page -- */
/* line 142, ../sass/bacchusStyle.sass */
.psd_page {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

/* line 147, ../sass/bacchusStyle.sass */
.modal-dialog-fullScreen-blockSet {
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* line 155, ../sass/bacchusStyle.sass */
.blockSet-table-spec table {
  max-width: 100%;
}
/* line 157, ../sass/bacchusStyle.sass */
.blockSet-table-spec table tr {
  max-width: 100%;
}
/* line 159, ../sass/bacchusStyle.sass */
.blockSet-table-spec table tr td {
  max-width: 100%;
}
/* line 161, ../sass/bacchusStyle.sass */
.blockSet-table-spec table tr td img {
  max-width: 100%;
}

/* index-checkOut.html */
/* line 167, ../sass/bacchusStyle.sass */
.keyWord label, .keyWord input {
  float: left;
}

/* index-checkIn.html */
/* line 171, ../sass/bacchusStyle.sass */
.status-group {
  margin: 0 0 20px 0;
}

/* line 173, ../sass/bacchusStyle.sass */
.status-group2 {
  margin: 10px 0 10px 0;
}

/* line 175, ../sass/bacchusStyle.sass */
.status-inline {
  margin-top: 0;
}

/* townHouse.html */
/* line 179, ../sass/bacchusStyle.sass */
.room-special {
  margin: 0;
}
/* line 181, ../sass/bacchusStyle.sass */
.room-special .spec-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 184, ../sass/bacchusStyle.sass */
.room-special textarea {
  width: 100%;
  height: auto;
}

/* line 188, ../sass/bacchusStyle.sass */
.townPage {
  max-height: 600px;
  overflow: auto;
}
/* line 194, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock {
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px;
  width: 85px;
  height: 85px;
  box-sizing: border-box;
  background: #a0563d;
  color: #ede3d1;
  font-size: 10px;
  cursor: pointer;
}
/* line 209, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock.no-show {
  background: #b94db3;
}
/* line 211, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock:hover {
  opacity: 0.6;
}
/* line 213, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .content-sub {
  height: 18px;
}
/* line 216, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .left, .townPage .townRow .townBlock .content-sub .left, .townPage .townRow .townBlock .foot .left {
  float: left;
}
/* line 221, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .right, .townPage .townRow .townBlock .content-sub .right, .townPage .townRow .townBlock .foot .right {
  float: right;
}
/* line 225, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .txt-lg, .townPage .townRow .townBlock .content-sub .txt-lg, .townPage .townRow .townBlock .foot .txt-lg {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
/* line 229, ../sass/bacchusStyle.sass */
.townPage .townRow .townBlock .head .fa, .townPage .townRow .townBlock .content-sub .fa, .townPage .townRow .townBlock .foot .fa {
  font-size: 16px;
  margin-top: 8px;
}

/* line 234, ../sass/bacchusStyle.sass */
.select-group .btn-group, .select-group .form-group {
  float: right;
  margin: 0 0 5px 5px;
}
/* line 237, ../sass/bacchusStyle.sass */
.select-group .status-view {
  float: right;
}
/* line 239, ../sass/bacchusStyle.sass */
.select-group .status-view div {
  width: 60px;
  height: 25px;
  line-height: 25px;
  float: left;
  text-align: center;
  margin: 5px 0 5px 5px;
}
/* line 13, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-yellow {
  background: #fffba1;
}
/* line 15, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-purple {
  background: #ae8dc3;
}
/* line 17, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-green {
  background: #7cbd64;
}
/* line 19, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-pink {
  background: #ffddb3;
}
/* line 21, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-gray {
  background: #bfbfbf;
}
/* line 23, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-brown {
  background: #dcbe88;
}
/* line 25, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-blueGreen {
  background: #06eed5;
}
/* line 27, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-grayGreen {
  background: #aac077;
}
/* line 29, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.cb-default {
  background: #c0d6ee;
}
/* line 31, ../sass/modules/_mixin.sass */
.select-group .status-view div.status-tip.active {
  border: 2px solid #ff0000;
}
/* line 248, ../sass/bacchusStyle.sass */
.select-group .status-btn {
  float: left;
  margin: 5px 5px 5px 0;
}
/* line 251, ../sass/bacchusStyle.sass */
.select-group .status-btn img {
  width: 24px;
  height: auto;
  padding: 0 5px 0 0;
}

/* line 255, ../sass/bacchusStyle.sass */
.float-right {
  float: right;
}

/* line 257, ../sass/bacchusStyle.sass */
.float-left {
  float: left;
}

/* line 265, ../sass/bacchusStyle.sass */
.house-noDetail {
  margin: 10px 14px;
}
/* line 267, ../sass/bacchusStyle.sass */
.house-noDetail .house-num {
  margin: 0 auto;
  text-align: center;
  min-width: 80px;
  max-width: 100%;
  max-height: 100%;
  line-height: 70px;
  border: 1px solid #555;
  color: #478FCA;
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 10px;
}
/* line 282, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip {
  min-width: 140px;
  max-width: 100%;
  min-height: 35px;
  max-height: 100%;
  line-height: 25px;
}
/* line 288, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt, .house-noDetail .house-info .quantityTip .quantityTip-icon {
  display: inline;
}
/* line 290, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt {
  min-width: 100px;
  max-width: 100%;
  min-height: 25px;
  max-height: 100%;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}
/* line 301, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-txt span {
  line-height: 25px;
  height: 25px;
  color: #fff;
  font-weight: bold;
}
/* line 308, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .quantityTip .quantityTip-icon {
  margin: 0 0 0 10px;
}
/* line 311, ../sass/bacchusStyle.sass */
.house-noDetail .house-info .middle span.lbl {
  font-size: 13px;
  min-width: 120px;
  max-width: 100%;
}

/* line 318, ../sass/bacchusStyle.sass */
.dialog-center {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

/* line 322, ../sass/bacchusStyle.sass */
.companyInfo {
  display: none;
}

/* line 325, ../sass/bacchusStyle.sass */
.Img100 img {
  width: 100%;
  height: auto;
}

/* line 330, ../sass/bacchusStyle.sass */
.flexTable {
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 335, ../sass/bacchusStyle.sass */
.flexTable2 {
  height: 300px;
  margin: 0 auto;
}

/* line 340, ../sass/bacchusStyle.sass */
.flexTable3 {
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 346, ../sass/bacchusStyle.sass */
.btn-save {
  margin: 10px 0 0 0;
  padding: 7px 20px;
  background: #555;
  color: #fff;
  border: none;
}
/* line 352, ../sass/bacchusStyle.sass */
.btn-save:hover {
  opacity: 0.8;
}

/* manageSetting.html */
/* line 357, ../sass/bacchusStyle.sass */
.settingSingleWidth span.title {
  min-width: 100px;
  max-width: 100%;
  overflow: auto;
}

/* settingRole.html */
/* line 364, ../sass/bacchusStyle.sass */
.settingRole .choiceLine {
  width: 10%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #478FCA;
}

/* settingAccControl.html */
/* line 372, ../sass/bacchusStyle.sass */
.starSearch {
  display: block;
  margin: 0 0 40px 0;
}
/* line 375, ../sass/bacchusStyle.sass */
.starSearch .nav-search {
  left: 0;
}
/* line 377, ../sass/bacchusStyle.sass */
.starSearch .nav-search-input {
  display: block;
}

/* line 380, ../sass/bacchusStyle.sass */
.checkboxStyle .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 384, ../sass/bacchusStyle.sass */
.profileInfo .field {
  margin: 10px auto;
}
/* line 386, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo {
  position: relative;
}
/* line 388, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo table.tableProfile {
  width: 100%;
}
/* line 392, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo table.tableProfile td input:active, .profileInfo .blockTwo table.tableProfile td input:focus, .profileInfo .blockTwo table.tableProfile th input:active, .profileInfo .blockTwo table.tableProfile th input:focus {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 2px solid #87B87F;
}
/* line 397, ../sass/bacchusStyle.sass */
.profileInfo .blockTwo .blockPlus {
  cursor: pointer;
  margin: 0 0 10px 10px;
}

/* settingAccManage.html */
/* line 403, ../sass/bacchusStyle.sass */
.addNewStyle .addNewAcc-form {
  width: 100px;
  text-align: right;
  margin: 10px 20px 15px auto;
}
/* line 407, ../sass/bacchusStyle.sass */
.addNewStyle .modal-body {
  text-align: left;
}

/* line 409, ../sass/bacchusStyle.sass */
.deleteAddAccount {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  color: #ff0000;
  line-height: 34px;
}

/*----- reservation-01.html ----- */
/* line 417, ../sass/bacchusStyle.sass */
.optionBtn {
  margin: 0 5px !important;
  padding: 5px 30px;
}

/* line 421, ../sass/bacchusStyle.sass */
.companyInfo {
  display: none;
}

/* line 423, ../sass/bacchusStyle.sass */
.nav-search-input {
  display: none;
}

@media screen and (max-width: 1280px) {
  /* line 428, ../sass/bacchusStyle.sass */
  .intCounterRight {
    display: none;
  }

  /* line 430, ../sass/bacchusStyle.sass */
  .intCounterleft {
    position: relative;
  }

  /* line 432, ../sass/bacchusStyle.sass */
  .show-intCounterRight {
    float: right;
    display: block;
    color: #70a0c1;
  }
  /* line 435, ../sass/bacchusStyle.sass */
  .show-intCounterRight i {
    border: 1px solid #8fbcd9;
    padding: 3px 10px;
    cursor: pointer;
  }
  /* line 441, ../sass/bacchusStyle.sass */
  .show-intCounterRight span {
    margin: 0 0 0 2px;
    font-size: 14px;
    line-height: 2;
  }
}
