@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, ../sass/modules/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../sass/modules/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/modules/_reset.sass */
body {
  line-height: 1;
}

/* line 33, ../sass/modules/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/modules/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/modules/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 44, ../sass/modules/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- grid ---- */
/*background: #e8f1ff */
/*  max-width: 1200px */
/* clearfix */
/* line 9, ../sass/vendor/_grid.sass */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
/* line 15, ../sass/vendor/_grid.sass */
.grid-item {
  /*width: 300px */
  margin-right: 10px;
  height: 40px;
  float: left;
}
/* line 20, ../sass/vendor/_grid.sass */
.grid-item label {
  vertical-align: middle;
  text-align: right;
}

/* line 24, ../sass/vendor/_grid.sass */
.grid-item-input {
  width: 100px;
  height: 50px;
}

/* line 28, ../sass/vendor/_grid.sass */
.grid-item--width2 {
  width: 320px;
}

/* line 31, ../sass/vendor/_grid.sass */
.grid-item--width3 {
  width: 480px;
}

/* line 34, ../sass/vendor/_grid.sass */
.grid-item--width4 {
  width: 640px;
}

/* line 37, ../sass/vendor/_grid.sass */
.grid-item--height2 {
  height: 200px;
}

/* line 40, ../sass/vendor/_grid.sass */
.grid-item--height3 {
  height: 260px;
}

/* line 43, ../sass/vendor/_grid.sass */
.grid-item--height4 {
  height: 360px;
}

/* line 46, ../sass/vendor/_grid.sass */
.width-5 {
  width: 5% !important;
}

/* line 48, ../sass/vendor/_grid.sass */
.width-10 {
  width: 10% !important;
}

/* line 50, ../sass/vendor/_grid.sass */
.width-15 {
  width: 15% !important;
}

/* line 52, ../sass/vendor/_grid.sass */
.width-20 {
  width: 20% !important;
}

/* line 2, ../sass/_right-menu.sass */
.right-menu-co {
  text-align: center;
}
/* line 6, ../sass/_right-menu.sass */
.right-menu-co ul {
  margin-left: 0;
  margin-bottom: 0;
}
/* line 9, ../sass/_right-menu.sass */
.right-menu-co ul li {
  list-style: none;
  padding: 3px 0;
  vertical-align: middle;
}
/* line 14, ../sass/_right-menu.sass */
.right-menu-co ul li div {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin: 0 auto 4px auto;
  box-shadow: 2px 2px 3px rgba(51, 51, 102, 0.5);
}
/* line 22, ../sass/_right-menu.sass */
.right-menu-co ul li span {
  font-weight: bold;
}
/* line 24, ../sass/_right-menu.sass */
.right-menu-co .holiday-btn {
  margin: 38px auto auto auto;
}

/* line 38, ../sass/_right-menu.sass */
.icon-co-03 {
  background: url("../images/icon/03.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 33, ../sass/_right-menu.sass */
.icon-co-03:hover {
  background: url("../images/icon/03-1.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 40, ../sass/_right-menu.sass */
.icon-co-06 {
  background: url("../images/icon/06.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 33, ../sass/_right-menu.sass */
.icon-co-06:hover {
  background: url("../images/icon/06-1.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 42, ../sass/_right-menu.sass */
.icon-co-10 {
  background: url("../images/icon/10.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 33, ../sass/_right-menu.sass */
.icon-co-10:hover {
  background: url("../images/icon/10-1.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 44, ../sass/_right-menu.sass */
.icon-co-11 {
  background: url("../images/icon/11.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 33, ../sass/_right-menu.sass */
.icon-co-11:hover {
  background: url("../images/icon/11-1.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 46, ../sass/_right-menu.sass */
.icon-co-14 {
  background: url("../images/icon/14.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 33, ../sass/_right-menu.sass */
.icon-co-14:hover {
  background: url("../images/icon/14-1.png");
  repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 1, ../sass/editDefault/_editBootstrap.sass */
.page-header {
  padding-bottom: 0;
}

/* line 3, ../sass/editDefault/_editBootstrap.sass */
h3 {
  font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 5, ../sass/editDefault/_editBootstrap.sass */
.modal-body {
  text-align: center;
  margin: 20px auto;
}

/* breadcrumbs */
/* line 10, ../sass/editDefault/_editBootstrap.sass */
.breadcrumbs-fixed + .page-content {
  padding-top: 70px;
}

/* 按鈕顏色 */
/* 綜合櫃台 修改 int_Counter.html */
/* line 18, ../sass/editDefault/_editBootstrap.sass */
.btn-defaultWidth {
  width: 100%;
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  white-space: normal;
}

/* line 27, ../sass/editDefault/_editBootstrap.sass */
.intCountLi-height ul li {
  padding: 5px 0;
}

/* line 34, ../sass/editDefault/_editBootstrap.sass */
.top-sec-ul {
  max-width: 100%;
  display: inline-block;
  padding: 5px 0 0 0;
  background: #F5F5F5;
}

/* header css */
/* jqGrid html */
/* line 45, ../sass/editDefault/_editBootstrap.sass */
.jqGridEdit-table .ui-jqgrid .ui-jqgrid-labels {
  background: #c0d6ee;
  background-image: none;
}
/* line 48, ../sass/editDefault/_editBootstrap.sass */
.jqGridEdit-table.margin-5 {
  margin: 0 0 10px 0;
}

/* line 50, ../sass/editDefault/_editBootstrap.sass */
.rateCode03-table {
  margin: 20px 0 0 0;
}

/* line 54, ../sass/editDefault/_editBootstrap.sass */
.tabs-left.counter-tabs > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  min-width: 30px;
  font-weight: bold;
}

/* line 60, ../sass/editDefault/_editBootstrap.sass */
.form-widget-label select, .form-widget-selectEdit select {
  padding: 0;
  height: auto;
}

/* line 64, ../sass/editDefault/_editBootstrap.sass */
.input-sm {
  height: 24px;
}

@media screen and (max-width: 992px) {
  /* line 69, ../sass/editDefault/_editBootstrap.sass */
  .top-sec-ul {
    z-index: 1024;
    padding-top: 50px;
  }
}
/*-- sidebar --/ */
/* line 74, ../sass/editDefault/_editBootstrap.sass */
.nav-list {
  position: relative;
  border-right: 1px solid #438EB9;
}
/* line 78, ../sass/editDefault/_editBootstrap.sass */
.nav-list > li:before {
  height: 100%;
  min-height: 41px;
  max-height: 100%;
}
/* line 82, ../sass/editDefault/_editBootstrap.sass */
.nav-list .nav-height {
  height: auto;
  max-height: 100%;
  overflow-y: auto;
}
/* line 86, ../sass/editDefault/_editBootstrap.sass */
.nav-list .nav-height a {
  height: auto;
  max-height: 100%;
  overflow-y: auto;
}
/* line 90, ../sass/editDefault/_editBootstrap.sass */
.nav-list .nav-height .menu-text {
  height: inherit !important;
  padding-left: 24px;
}

/* line 96, ../sass/editDefault/_editBootstrap.sass */
.menu-min .nav-list .nav-height {
  height: auto;
  max-height: 100%;
  overflow-y: visible;
}
/* line 100, ../sass/editDefault/_editBootstrap.sass */
.menu-min .nav-list .nav-height a {
  height: auto;
  max-height: 100%;
  overflow-y: visible;
}

/* line 104, ../sass/editDefault/_editBootstrap.sass */
.no-skin .sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 0;
  border: #F79263;
  background: #F79263;
}
/* line 110, ../sass/editDefault/_editBootstrap.sass */
.no-skin .sidebar-toggle > .ace-icon {
  background: #F79263;
  color: #fff;
  border: none;
  border-radius: 0;
}

/* line 119, ../sass/editDefault/_editBootstrap.sass */
.no-skin .nav-list > li.active:after {
  border: none;
}

/* line 121, ../sass/editDefault/_editBootstrap.sass */
.no-skin .nav-list li.active > a:after {
  border-right-color: transparent;
}

/* line 125, ../sass/editDefault/_editBootstrap.sass */
.page-content {
  padding: 8px 10px 24px;
}

/* line 130, ../sass/editDefault/_editBootstrap.sass */
.ace-nav > li {
  line-height: 35px;
  height: 35px;
}

/* line 134, ../sass/editDefault/_editBootstrap.sass */
.breadcrumbs {
  min-height: 35px;
  line-height: 34px;
}

/* line 138, ../sass/editDefault/_editBootstrap.sass */
.navbar-fixed-top + .main-container {
  padding-top: 35px;
}

/* line 141, ../sass/editDefault/_editBootstrap.sass */
.page-header {
  padding-top: 0;
}

/* line 144, ../sass/editDefault/_editBootstrap.sass */
.ace-nav .nav-user-photo {
  margin-top: 1px;
}

/* line 148, ../sass/editDefault/_editBootstrap.sass */
.dataGrid-toolBar01 {
  padding: 10px 5px;
}
/* line 150, ../sass/editDefault/_editBootstrap.sass */
.dataGrid-toolBar01 a {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 156, ../sass/editDefault/_editBootstrap.sass */
.btn-white.btn-primary[disabled]:hover {
  background-color: transparent !important;
}

/* line 2, ../sass/editDefault/_editEasyui.sass */
.panel-body {
  font-size: 13px;
}

/* line 5, ../sass/editDefault/_editEasyui.sass */
.panel-title {
  font-size: 13px;
}

/* line 9, ../sass/editDefault/_editEasyui.sass */
.l-btn-text {
  font-size: 13px;
}

/* line 13, ../sass/editDefault/_editEasyui.sass */
.textbox .textbox-text {
  font-size: 13px;
}
/* line 15, ../sass/editDefault/_editEasyui.sass */
.textbox .textbox-prompt {
  font-size: 13px;
}

/* line 18, ../sass/editDefault/_editEasyui.sass */
.combobox-item, .combobox-group, .combobox-stick {
  font-size: 13px;
}

/* line 21, ../sass/editDefault/_editEasyui.sass */
.tabs-title {
  font-size: 13px;
}

/* line 24, ../sass/editDefault/_editEasyui.sass */
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
  font-size: 13px;
}

/* line 28, ../sass/editDefault/_editEasyui.sass */
.datagrid-header .datagrid-cell span {
  font-size: 13px;
}

/* line 32, ../sass/editDefault/_editEasyui.sass */
.datagrid-view .datagrid-editable-input {
  font-size: 13px;
}

/* line 35, ../sass/editDefault/_editEasyui.sass */
.pagination-info {
  font-size: 13px;
}

/* line 38, ../sass/editDefault/_editEasyui.sass */
.pagination span {
  font-size: 13px;
}

/* line 43, ../sass/editDefault/_editEasyui.sass */
.calendar table {
  font-size: 12px;
}
/* line 45, ../sass/editDefault/_editEasyui.sass */
.calendar table td, .calendar table th {
  font-size: 12px;
}

/* line 49, ../sass/editDefault/_editEasyui.sass */
.calendar-title span {
  font-size: 12px;
}

/* line 52, ../sass/editDefault/_editEasyui.sass */
.calendar-menu {
  font-size: 12px;
}

/* line 55, ../sass/editDefault/_editEasyui.sass */
.calendar-menu-year {
  font-size: 12px;
}

/* line 59, ../sass/editDefault/_editEasyui.sass */
.datebox-button a {
  font-size: 13px;
}

/* line 62, ../sass/editDefault/_editEasyui.sass */
.progressbar-text {
  font-size: 13px;
}

/* line 65, ../sass/editDefault/_editEasyui.sass */
.slider-tip {
  font-size: 13px;
}

/* line 69, ../sass/editDefault/_editEasyui.sass */
.slider-rulelabel span {
  font-size: 13px;
}

/* line 72, ../sass/editDefault/_editEasyui.sass */
.menu-text {
  font-size: 13px;
}
/* line 74, ../sass/editDefault/_editEasyui.sass */
.menu-text span {
  font-size: 13px;
}

/* line 77, ../sass/editDefault/_editEasyui.sass */
.tree-title {
  font-size: 13px;
}

/* line 80, ../sass/editDefault/_editEasyui.sass */
.tree-node-proxy {
  font-size: 13px;
}

/* line 83, ../sass/editDefault/_editEasyui.sass */
.tree-editor {
  font-size: 13px;
}

/* line 86, ../sass/editDefault/_editEasyui.sass */
.tooltip-content {
  font-size: 13px;
}

/* line 89, ../sass/editDefault/_editEasyui.sass */
.switchbutton-on, .switchbutton-off, .switchbutton-handle {
  font-size: 13px;
}

/*-------- login.html -------- */
/* line 3, ../sass/_login.sass */
.login-bg {
  background: #DFE0E2 url("images/pattern.jpg") repeat;
}

/* line 7, ../sass/_login.sass */
.loginPage {
  margin: 0 auto;
  text-align: center;
  width: 375px;
  /*----- 驗證碼圖片 ----- */
}
/* line 11, ../sass/_login.sass */
.loginPage .logoCompany {
  margin: 30px 0 0 0;
}
/* line 13, ../sass/_login.sass */
.loginPage .logoCompany img {
  width: 375px;
  height: auto;
}
/* line 16, ../sass/_login.sass */
.loginPage .login-container {
  border: 1px solid #ccc;
  background: #f7f7f7;
  text-align: left;
  padding: 16px 36px 36px;
}
/* line 22, ../sass/_login.sass */
.loginPage .login-container .title {
  color: #478FCA;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 18px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}
/* line 31, ../sass/_login.sass */
.loginPage .login-container .main .form-control {
  width: 100%;
  border-radius: 0;
  color: #858585;
  background-color: #FFF;
  border: 1px solid #D5D5D5;
  padding: 5px 4px;
  height: 34px;
  box-sizing: border-box;
  margin: 5px auto;
}
/* line 41, ../sass/_login.sass */
.loginPage .login-container .main input[type=checkbox].ace + .lbl, .loginPage .login-container .main input[type=radio].ace + .lbl {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
/* line 50, ../sass/_login.sass */
.loginPage .login-container .main .mainCheck {
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 53, ../sass/_login.sass */
.loginPage .login-container .main .mainCheck .bigger-110 {
  font-size: 110%;
}
/* line 55, ../sass/_login.sass */
.loginPage .toolbar {
  background: #5090C1;
  border-top: 2px solid #597597;
  height: 43px;
  max-height: 100%;
}
/* line 60, ../sass/_login.sass */
.loginPage .toolbar > div:first-child {
  float: left;
  text-align: left;
}
/* line 63, ../sass/_login.sass */
.loginPage .toolbar > div {
  width: 50%;
  display: inline-block;
  padding: 9px 0 11px 20px;
}
/* line 67, ../sass/_login.sass */
.loginPage .toolbar .forgot-password-link {
  color: #FE9;
}
/* line 69, ../sass/_login.sass */
.loginPage .lang {
  margin: 20px 20px 0 0;
}
/* line 71, ../sass/_login.sass */
.loginPage .align-right {
  text-align: right;
}
/* line 73, ../sass/_login.sass */
.loginPage .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  border-width: 0 0 1px;
}
/* line 80, ../sass/_login.sass */
.loginPage .navbar-fixed-top select {
  padding: 5px;
}
/* line 83, ../sass/_login.sass */
.loginPage .v_codes_input {
  width: 50% !important;
  float: left;
}
/* line 86, ../sass/_login.sass */
.loginPage .v_codes {
  float: left;
}
/* line 88, ../sass/_login.sass */
.loginPage .v_codes img {
  margin: 10px 0 0 10px;
  text-align: center;
}
/* line 91, ../sass/_login.sass */
.loginPage .errorTip {
  color: #ff0000;
}
/* line 93, ../sass/_login.sass */
.loginPage .input-icon {
  position: relative;
}
/* line 96, ../sass/_login.sass */
.loginPage .input-icon.input-icon-right > input {
  padding-left: 6px;
  padding-right: 24px;
}
/* line 99, ../sass/_login.sass */
.loginPage .input-icon.input-icon-right > .ace-icon {
  left: auto;
  right: 3px;
}
/* line 102, ../sass/_login.sass */
.loginPage .input-icon > .ace-icon {
  padding: 0 3px;
  z-index: 2;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 3px;
  line-height: 30px;
  display: inline-block;
  color: #909090;
  font-size: 16px;
}
/* line 114, ../sass/_login.sass */
.loginPage .input-icon > input:focus + .ace-icon {
  color: #579;
}

/* line 2, ../sass/_bacchusMain.sass */
body {
  font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* line 5, ../sass/_bacchusMain.sass */
a {
  text-decoration: none;
  cursor: pointer;
}

/*-- header.html -- */
/* line 10, ../sass/_bacchusMain.sass */
.navbar-container {
  padding-left: 10px;
  padding-right: 10px;
  background: #438EB9;
}
/* line 14, ../sass/_bacchusMain.sass */
.navbar-container.container {
  padding-left: 0;
  padding-right: 0;
}
/* line 17, ../sass/_bacchusMain.sass */
.navbar-container .nav-header-inline {
  float: left;
}
/* line 19, ../sass/_bacchusMain.sass */
.navbar-container .breadcrumbs {
  color: #fff;
  background-color: #438EB9;
  border-bottom: none;
}
/* line 23, ../sass/_bacchusMain.sass */
.navbar-container .breadcrumb {
  margin: 6px 6px 0 6px;
}
/* line 25, ../sass/_bacchusMain.sass */
.navbar-container .breadcrumb > li > a {
  color: #ffffff;
  font-weight: bold;
}
/* line 28, ../sass/_bacchusMain.sass */
.navbar-container .breadcrumb > li, .navbar-container .breadcrumb > li {
  padding: 0;
}
/* line 30, ../sass/_bacchusMain.sass */
.navbar-container .breadcrumb > li, .navbar-container .breadcrumb > li.active {
  color: #e5e5e5;
}
/* line 32, ../sass/_bacchusMain.sass */
.navbar-container .ace-nav > li.info {
  padding: 0 10px;
}
/* line 34, ../sass/_bacchusMain.sass */
.navbar-container .ace-nav > li.info span {
  color: #fff;
}
/* line 36, ../sass/_bacchusMain.sass */
.navbar-container .navbar-toggle {
  background: #75B3D7;
}
/* line 38, ../sass/_bacchusMain.sass */
.navbar-container .navbar-toggle.pull-left {
  margin: 5px 0 4px 6px;
}
/* line 40, ../sass/_bacchusMain.sass */
.navbar-container .navbar-toggle:hover {
  background-color: #61a8d1;
  border-color: rgba(255, 255, 255, 0.1);
}
/* line 43, ../sass/_bacchusMain.sass */
.navbar-container .navbar-toggle:focus {
  background-color: #75B3D7;
  border-color: transparent;
}
/* line 46, ../sass/_bacchusMain.sass */
.navbar-container .navbar-toggle .icon-bar {
  background-color: #fff;
  border-radius: 0;
  width: 24px;
}
/* line 50, ../sass/_bacchusMain.sass */
.navbar-container .header-other-choice {
  margin: 4px 0 4px 0;
}
/* line 52, ../sass/_bacchusMain.sass */
.navbar-container .brand-txt {
  color: #eea033;
  font-weight: bold;
}
@media screen and (max-width: 1030px) {
  /* line 10, ../sass/_bacchusMain.sass */
  .navbar-container {
    font-size: 12px;
  }
}

/*-- optionSystem --/ */
/* line 59, ../sass/_bacchusMain.sass */
.optionSystem .banner {
  width: 100%;
  height: 150px;
}
/* line 62, ../sass/_bacchusMain.sass */
.optionSystem p {
  margin: 0 0 10px;
  line-height: 22px;
}
/* line 66, ../sass/_bacchusMain.sass */
.optionSystem .system-block-all {
  margin: 50px 0 0 0;
}
/* line 68, ../sass/_bacchusMain.sass */
.optionSystem .system-block {
  margin: 0 0 0 30px;
  display: inline-block;
}
/* line 71, ../sass/_bacchusMain.sass */
.optionSystem .imgWrap {
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
}
/* line 75, ../sass/_bacchusMain.sass */
.optionSystem .imgWrap span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  border-radius: 150px;
  opacity: 0;
}
/* line 87, ../sass/_bacchusMain.sass */
.optionSystem .imgWrap span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 91, ../sass/_bacchusMain.sass */
.optionSystem .imgWrap:hover .text-content {
  visibility: visible;
  opacity: 1;
}

/*-- footer -- */
/* line 97, ../sass/_bacchusMain.sass */
.bacchus-footer {
  padding-top: 220px;
}
/* line 99, ../sass/_bacchusMain.sass */
.bacchus-footer .footerImg {
  margin: 30px 0 20px 0;
}
/* line 101, ../sass/_bacchusMain.sass */
.bacchus-footer .footerImg img {
  width: 200px;
  height: auto;
}

/*-- top-sec-menu -- */
/* line 106, ../sass/_bacchusMain.sass */
.top-sec-ul {
  max-width: 100%;
  display: inline-block;
  padding: 5px 0 0 0;
  background: #F5F5F5;
}
/* line 111, ../sass/_bacchusMain.sass */
.top-sec-ul .top-ul {
  cursor: pointer;
  width: 100%;
  margin-left: 10px;
}
/* line 115, ../sass/_bacchusMain.sass */
.top-sec-ul .top-ul ul {
  margin-left: 0 !important;
  margin-bottom: 5px !important;
  width: 100%;
}
/* line 119, ../sass/_bacchusMain.sass */
.top-sec-ul .top-ul ul li {
  font-size: 16px;
  background: #ffbb22;
  color: #fff;
  padding: 3px 10px;
  min-width: 80px;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
/* line 131, ../sass/_bacchusMain.sass */
.top-sec-ul .top-ul ul li:hover {
  background: #ffc666;
}
/* line 133, ../sass/_bacchusMain.sass */
.top-sec-ul .top-ul ul li.active-01 {
  background: #D15B47;
}
/* line 136, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul {
  margin: 5px 0 5px 10px;
}
/* line 138, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul {
  margin-left: 0 !important;
}
/* line 140, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul li {
  padding: 5px;
  min-width: 80px;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
}
/* line 152, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul li:hover {
  background: #c6c6c6;
  color: #fff;
}
/* line 155, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul li.activeThis {
  background: #888;
  color: #fff;
}
/* line 158, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul a {
  padding: 3px 5px;
  min-width: 80px;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
}
/* line 170, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul a:hover {
  background: #c6c6c6;
  color: #fff;
}
/* line 173, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul ul a.active-01 {
  background: #888;
  color: #fff;
}
/* line 176, ../sass/_bacchusMain.sass */
.top-sec-ul .secondMenu-ul .icon-2-style {
  width: 12px;
  height: 12px;
  margin: 0 3px;
}

/*-- authorityNewActor 新增權限 -- */
/* line 186, ../sass/_bacchusMain.sass */
.authorityTree .tree:before {
  border: none !important;
}
/* line 189, ../sass/_bacchusMain.sass */
.authorityTree p.topTitle {
  margin: 5px auto;
}
/* line 191, ../sass/_bacchusMain.sass */
.authorityTree .authRadio {
  margin-right: 2px;
}
/* line 194, ../sass/_bacchusMain.sass */
.authorityTree .tree-body {
  padding: 5px;
}
/* line 196, ../sass/_bacchusMain.sass */
.authorityTree .author-navbar {
  margin-bottom: 10px;
}
/* line 199, ../sass/_bacchusMain.sass */
.authorityTree .author-navbar .author-nav-btn button {
  float: left;
  margin: auto 5px;
}
/* line 202, ../sass/_bacchusMain.sass */
.authorityTree .author-navbar .author-nav-btn button.delete {
  border-width: 1px;
}
/* line 204, ../sass/_bacchusMain.sass */
.authorityTree .icon-style {
  margin-left: 5px;
}
/* line 206, ../sass/_bacchusMain.sass */
.authorityTree .authorWall {
  padding: 5px;
  border: 1px solid #555;
  min-height: 100px;
  max-height: 100%;
  overflow: auto;
  width: 100%;
}

/*-- singleGridDialogTmp 新增權限 -- */
/* line 214, ../sass/_bacchusMain.sass */
#singleGridDialog {
  position: relative;
  overflow-y: hidden;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 220, ../sass/_bacchusMain.sass */
#singleGridDialog .singleRelative {
  position: relative;
}
/* line 222, ../sass/_bacchusMain.sass */
#singleGridDialog .singleEditStatus {
  padding-left: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 229, ../sass/_bacchusMain.sass */
#singleGridDialog .singleEditStatus .btn-defaultWidth {
  display: block;
  margin-top: 5px;
  max-width: 85px;
  right: 11px;
  padding: 5px;
}
/* line 239, ../sass/_bacchusMain.sass */
#singleGridDialog .singleGridContent {
  height: 300px;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
/* line 246, ../sass/_bacchusMain.sass */
#singleGridDialog .singleBtnBottom {
  position: fixed;
  bottom: 50px;
}

/*-- 訂房確認書 email -- */
/* line 252, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item {
  margin: 10px auto;
  vertical-align: middle;
}
/* line 255, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item label, .reserveCheckMail .block-item .spaceColon, .reserveCheckMail .block-item input, .reserveCheckMail .block-item button, .reserveCheckMail .block-item textarea {
  display: inline-block;
  vertical-align: middle;
}
/* line 258, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item label {
  text-align: right;
  vertical-align: middle;
  position: relative;
  padding: 0;
}
/* line 264, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item .spaceColon {
  width: 15px;
  text-align: center;
  min-width: 15px;
}
/* line 268, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item input {
  height: 30px;
}
/* line 270, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item button {
  margin-left: 10px;
}
/* line 272, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item .block-item-content {
  position: relative;
}
/* line 274, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item .block-item-content .btnCheck {
  position: absolute;
  top: 0;
  margin-left: 14px;
}
/* line 278, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item .relative {
  position: relative;
  display: inline-block;
}
/* line 281, ../sass/_bacchusMain.sass */
.reserveCheckMail .block-item .relative .tip {
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 0.85em;
  color: #ff625f;
}
/* line 288, ../sass/_bacchusMain.sass */
.reserveCheckMail .tipWall {
  border: 1px solid #ff625f;
  color: #ff625f;
  padding: 10px;
}
/* line 292, ../sass/_bacchusMain.sass */
.reserveCheckMail .tipWall p, .reserveCheckMail .tipWall li {
  line-height: 22px;
}
/* line 294, ../sass/_bacchusMain.sass */
.reserveCheckMail .changeChoice {
  margin: 10px auto;
}
/* line 296, ../sass/_bacchusMain.sass */
.reserveCheckMail .changeChoice ul {
  display: inline;
}
/* line 298, ../sass/_bacchusMain.sass */
.reserveCheckMail .changeChoice ul li {
  display: inline;
  margin: 0;
  padding: 5px 10px;
  background: #feffac;
  border: 1px solid #ffd530;
}

/*-- 搜尋按鈕 -- */
/* line 305, ../sass/_bacchusMain.sass */
.search-content {
  position: relative;
  padding: 0 0 15px 0;
}
/* line 308, ../sass/_bacchusMain.sass */
.search-content .search-co {
  position: relative;
  height: auto;
  border: 1px solid #0063ae;
}
/* line 312, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h {
  position: relative;
  font-size: 14px;
  background: #c0d6ee;
  padding: 0 0 0 10px;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #0063ae;
}
/* line 320, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h i {
  color: #fff;
}
/* line 322, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h span {
  margin: 0 0 0 5px;
}
/* line 324, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h .search-right-btn {
  position: absolute;
  right: 20px;
  top: 0;
}
/* line 328, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h .search-right-btn .right-btn-menu-co {
  text-align: center;
}
/* line 331, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h .search-right-btn .right-btn-menu-co ul li {
  float: left;
  list-style: none;
  padding: 0 5px;
}
/* line 335, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h .search-right-btn .right-btn-menu-co ul li i {
  cursor: pointer;
}
/* line 337, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-h .search-right-btn .right-btn-menu-co ul li div.icon-reStyle {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 0 auto 4px auto;
  box-shadow: 2px 2px 3px rgba(51, 51, 102, 0.5);
}
/* line 344, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content {
  text-align: left;
  border-collapse: collapse;
}
/* line 347, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .block-table {
  margin: 10px 0;
}
/* line 349, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .block-table label {
  margin: 0 5px 0 0;
  text-align: right;
  width: 90px;
  font-size: 13px;
}
/* line 356, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .block-table label.key-Word {
  margin: 0 0 0 -20px;
}
/* line 358, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .block-table label.more-Word {
  margin: 0 0 0 -68px;
}
/* line 360, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .block-table input {
  line-height: 25px;
  height: 25px;
}
/* line 364, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .search-footer-btn {
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 0 10px 0 0;
}
/* line 369, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .search-footer-btn .footer-btn-menu-co {
  text-align: center;
}
/* line 372, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .search-footer-btn .footer-btn-menu-co ul li {
  float: left;
  list-style: none;
  padding: 4px;
}
/* line 376, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-content .search-footer-btn .footer-btn-menu-co ul li div.icon-reStyle {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  margin: 0 auto 0 auto;
  box-shadow: 2px 2px 3px rgba(51, 51, 102, 0.5);
}
/* line 383, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-btn {
  background: #555;
  border: none;
  color: #fff;
  padding: 5px 20px;
}
/* line 388, ../sass/_bacchusMain.sass */
.search-content .search-co .search-co-btn:hover {
  background: #9b9b9b;
}

/*-- colorPicker 修改(假日類別設定) -- */
/* line 392, ../sass/_bacchusMain.sass */
.spectrumColor {
  padding: 0 !important;
}

/*-- tab-content 介面大小 -- */
/* line 396, ../sass/_bacchusMain.sass */
.tab-content-subSet {
  padding: 0 10px 0 5px;
  box-sizing: border-box;
  margin-left: -15px;
}

/*-- 訂房特殊版型 日期 -- */
/* line 410, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid label {
  min-width: 50px;
  max-width: 100%;
}
/* line 413, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid select, .holidayDateSet .holidayDateSet-content .holidayDateGrid input {
  height: 34px;
}
/* line 416, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .time-daterange label {
  vertical-align: middle;
  height: 34px;
  margin-right: 5px;
  line-height: 34px;
}
/* line 421, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .time-daterange .input-daterange {
  width: 220px;
}
/* line 424, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .weekDate .choiceDay {
  height: 34px;
  line-height: 34px;
  border: 1px solid #438EB9;
  padding: 6px;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 431, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .weekDate .choiceDay:hover {
  background: #eeeeee;
  border: 2px solid #438EB9;
  color: #438EB9;
}
/* line 435, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .weekDate .choiceDay.all {
  background: #438EB9;
  color: #eee;
}
/* line 438, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .weekDate .choiceDay.all:hover {
  background: rgba(67, 142, 185, 0.7);
  border: 1px solid rgba(67, 142, 185, 0.7);
}
/* line 443, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .holidayDateSelect .datePin01 {
  background: #5367ff;
  width: 32px;
  height: 32px;
  margin: 1px auto auto 5px;
  vertical-align: middle;
}
/* line 445, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .holidayDateSelect .datePin02 {
  background: #8effa9;
  width: 32px;
  height: 32px;
  margin: 1px auto auto 5px;
  vertical-align: middle;
}
/* line 447, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .holidayDateSelect .datePin03 {
  background: #ff5f4e;
  width: 32px;
  height: 32px;
  margin: 1px auto auto 5px;
  vertical-align: middle;
}
/* line 449, ../sass/_bacchusMain.sass */
.holidayDateSet .holidayDateSet-content .holidayDateGrid .holidayDateSelect label {
  vertical-align: middle;
  height: 34px;
  margin-right: 5px;
  line-height: 34px;
}

/*-- 商務公司資料編輯 -- */
/* line 457, ../sass/_bacchusMain.sass */
.businessCompanyData .main-content-data label {
  width: 90px;
  text-align: right;
  margin-right: 5px;
}
/* line 461, ../sass/_bacchusMain.sass */
.businessCompanyData .main-content-data .mainData-tip {
  font-size: 12px;
  margin: auto auto auto 100px;
  line-height: 22px;
  color: #777;
}
/* line 457, ../sass/_bacchusMain.sass */
.businessCompanyData .tab-block label {
  width: 90px;
  text-align: right;
  margin-right: 5px;
}
/* line 461, ../sass/_bacchusMain.sass */
.businessCompanyData .tab-block .mainData-tip {
  font-size: 12px;
  margin: auto auto auto 100px;
  line-height: 22px;
  color: #777;
}
/* line 471, ../sass/_bacchusMain.sass */
.businessCompanyData .tab-block .checkbox-width {
  width: 0;
  padding-left: 10px;
}
/* line 477, ../sass/_bacchusMain.sass */
.businessCompanyData .billInfo .billInfo-head {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
/* line 482, ../sass/_bacchusMain.sass */
.businessCompanyData .billInfo .billInfo-head .billInfo-title {
  font-size: 1.2em;
}
/* line 486, ../sass/_bacchusMain.sass */
.businessCompanyData .btn-lg-width {
  width: 120%;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* line 492, ../sass/_bacchusMain.sass */
  .businessCompanyData .main-content-data .input-medium {
    width: 120px;
  }
}
/*------  共用區public ------ */
/* line 2, ../sass/modules/_public.sass */
.float-left, .pull-left {
  float: left;
}

/* line 4, ../sass/modules/_public.sass */
.float-right, .pull-right {
  float: right;
}

/* line 6, ../sass/modules/_public.sass */
.no-padding {
  padding: 0;
}

/* line 8, ../sass/modules/_public.sass */
.no-padding-left {
  padding-left: 0;
}

/* line 10, ../sass/modules/_public.sass */
.no-padding-right {
  padding-right: 0;
}

/* line 12, ../sass/modules/_public.sass */
.no-margin {
  margin: 0 !important;
}

/* line 14, ../sass/modules/_public.sass */
.no-margin-top {
  margin-top: 0 !important;
}

/* line 16, ../sass/modules/_public.sass */
.margin-top91 {
  margin-top: 87px;
}

/* line 18, ../sass/modules/_public.sass */
.height87 {
  height: 87px;
}

/* line 21, ../sass/modules/_public.sass */
.height60 {
  height: 60px;
}

/* line 23, ../sass/modules/_public.sass */
.pointer {
  cursor: pointer;
}

/* line 25, ../sass/modules/_public.sass */
.notice {
  color: #ff0000;
  font-weight: bold;
}

/* line 28, ../sass/modules/_public.sass */
.bold {
  font-weight: bold;
}

/* line 30, ../sass/modules/_public.sass */
.markOne {
  color: #478FCA;
  font-weight: bold;
}

/* line 33, ../sass/modules/_public.sass */
.lineHeight14 {
  line-height: 14px;
}

/* line 35, ../sass/modules/_public.sass */
.lineHeight18 {
  line-height: 18px;
}

/* line 37, ../sass/modules/_public.sass */
.lineHeight24 {
  line-height: 24px;
}

/* line 39, ../sass/modules/_public.sass */
.lineHeight27 {
  line-height: 27px;
}

/* line 41, ../sass/modules/_public.sass */
.lineHeight34 {
  line-height: 34px;
}

/* line 44, ../sass/modules/_public.sass */
.font-14 {
  font-size: 14px;
}

/* line 46, ../sass/modules/_public.sass */
.font-15 {
  font-size: 15px;
}

/* line 48, ../sass/modules/_public.sass */
.font-default {
  font-size: 13px;
}

/* line 50, ../sass/modules/_public.sass */
.font-lg {
  font-size: 1.2em;
}

/* line 52, ../sass/modules/_public.sass */
.font-2x {
  font-size: 1.5em;
}

/* line 54, ../sass/modules/_public.sass */
.font-3x {
  font-size: 1.8em;
}

/* line 56, ../sass/modules/_public.sass */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 61, ../sass/modules/_public.sass */
.dark {
  color: #333 !important;
}

/* line 63, ../sass/modules/_public.sass */
.white {
  color: #fff !important;
}

/* line 65, ../sass/modules/_public.sass */
.red {
  color: #DD5A43 !important;
}

/* line 67, ../sass/modules/_public.sass */
.red2 {
  color: #E08374 !important;
}

/* line 69, ../sass/modules/_public.sass */
.light-red {
  color: #FF7777 !important;
}

/* line 71, ../sass/modules/_public.sass */
.blue {
  color: #478FCA !important;
}

/* line 73, ../sass/modules/_public.sass */
.light-blue {
  color: #93CBF9 !important;
}

/* line 75, ../sass/modules/_public.sass */
.green {
  color: #69AA46 !important;
}

/* line 77, ../sass/modules/_public.sass */
.light-green {
  color: #B0D877 !important;
}

/* line 79, ../sass/modules/_public.sass */
.orange {
  color: #FF892A !important;
}

/* line 81, ../sass/modules/_public.sass */
.orange2 {
  color: #FEB902 !important;
}

/* line 83, ../sass/modules/_public.sass */
.light-orange {
  color: #FCAC6F !important;
}

/* line 85, ../sass/modules/_public.sass */
.purple {
  color: #A069C3 !important;
}

/* line 87, ../sass/modules/_public.sass */
.pink {
  color: #C6699F !important;
}

/* line 89, ../sass/modules/_public.sass */
.pink2 {
  color: #D6487E !important;
}

/* line 91, ../sass/modules/_public.sass */
.brown {
  color: brown !important;
}

/* line 93, ../sass/modules/_public.sass */
.grey {
  color: #777 !important;
}

/* line 95, ../sass/modules/_public.sass */
.light-grey {
  color: #BBB !important;
}

/* line 100, ../sass/modules/_public.sass */
.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 6px 0 5px;
}

/* line 106, ../sass/modules/_public.sass */
.input_sta_required {
  background-color: #c6f2d9 !important;
  /* (186, 242, 234) */
}

/*-------------- responsive -------------- */
