<script src="/js/tree/jstree.min.js"></script>
<div class="row" id="auth-app">
    <div class="col-xs-12 col-sm-12">
        <div class="authorityTree">
            <div class="col-xs-12">
                <div class="row">
                    <div class="author-navbar">
                        <p class="topTitle float-left">角色權限</p>
                    </div>
                    角色
                    <select v-model="role_id" @change="changeRoleEvent(role_id)">
                        <option  v-for="role in ga_roles" :value="role.role_id">{{role.role_nam}}</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="space-6"></div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row no-margin-right">
                            <!--跳頁-->
                            <!--<a href="/manageSetting">-->
                            <p class="topTitle">人員</p>
                            <!--</a>-->
                            <div id="authAccountTree" ></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="space-12"></div>
            <div class="col-xs-12">
                <div class="row center">
                    <button class="btn btn-primary btn-xm">
                        儲存
                    </button>
                </div>
            </div>
            <!-- button -->
        </div> <!-- authorityTree -->
    </div>
</div>

<script src="/js/tree/jstree.min.js"></script>
<script src="/js/user/authorityRole.js"></script>
