<!DOCTYPE html>
<html lang="en">
<%- include ../common/head %>
<%- include ../common/importFiles %>


<body class="no-skin" id="app">

<!-- #section:basics/navbar.layout -->
<%- include ../common/navbar.ejs %>
<!-- include header.html -->
<script type="text/javascript">
    var global_using_prg_id = ""; //目前使用中的程式


    $(function () {
        //選第一個對照檔
        $("#settingUl li").first().find("a").click();

    })

    //網頁讀取
    function loadSettingPage(prg_id) {

//        $("#controlReservationTab01").load('/mainSetUp/' + prg_id);
        //TODO 需改成用load的方式
        var iframe = document.getElementById('proIframe');
        iframe.src = '/mainSetUp/' + prg_id;
    }

    // 判斷iframe 大小
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

</script>
<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" id="main-container" style="margin-top: 35px;">

        <div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed">



        <div class="companyInfo">
            <img src="/images/athena_log.png"/>
        </div>
        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="">
                    <div class="page-header">
                    </div><!-- /.page-header -->

                    <div class="row">
                            <div class="col-xs-12">
                                <div class="col-sm-11 col-xs-11">
                                    <div class="row no-margin-right">
                                        <div class="search-content">
                                            <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                                            <div class="search-co">
                                                <div class="search-co-h">
                                                    <i class="ace-icon fa fa-search search-icon"></i>
                                                    <span>搜尋</span>
                                                    <div class="row search-right-btn">
                                                        <div class="right-btn-menu-co">
                                                            <ul>
                                                                <li>
                                                                    <i class="fa fa-chevron-down show-search-detail"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="search-co-content col-xs-12">
                                                        <div class="col-sm-4">

                                                        </div>
                                                        <div class="col-sm-4">

                                                        </div>
                                                        <div class="col-sm-4">

                                                        </div>
                                                    </div>
                                                    <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                                        <div class="row search-footer-btn">
                                                            <div class="footer-btn-menu-co">
                                                                <ul>
                                                                    <li>
                                                                        <div class="" data-rel="tooltip" data-placement="bottom"
                                                                             title="查詢"
                                                                             style="padding: 0 0 5px 0;">
                                                                            <div class="icon-reStyle icon-co-14"></div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="" data-rel="tooltip" data-placement="bottom"
                                                                             title="清除" style="padding: 0 0 5px 0;">
                                                                            <div class="icon-reStyle icon-co-11"></div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>  <!-- /.footer-btn-menu-co -->
                                                        </div> <!-- /.search-footer-btn -->
                                                        <div class="grid width-95">
                                                            <div class="grid-item block-table">
                                                                <label>Sales Id</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Name</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Employee</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Status</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Stop Date</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Stop Date</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Team</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Hotel</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>F&B</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                            <div class="grid-item block-table">
                                                                <label>Membership</label>
                                                                <input type="text" class="input-medium medium-c1"/>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div> <!-- row-->
                                            </div> <!-- /.search-co -->
                                        </div> <!-- /.row  search-content-->
                                    </div>
                                </div>
                            </div> <!-- /.col-sm-12 -->
                            <div class="clearfix"></div>
                            <div class="col-xs-12">
                                <div class="col-sm-11 col-xs-11">
                                    <div class="row no-margin-right">
                                        <!-- 歷史消費 dataGrid -->
                                        <table id="clerkDataGridResult-table"></table>
                                    </div>
                                </div>
                                <div class="col-xs-1 col-sm-1">
                                    <div class="row">
                                        <div class="right-menu-co">
                                            <ul>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth setRateCode-1"
                                                            role="button">新增</button>
                                                </li>

                                                <li>
                                                    <button id="remove-btn"
                                                            class="btn btn-danger btn-white btn-defaultWidth setRateCode-1"
                                                            role="button">刪除</button>
                                                </li>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">修改</button>
                                                </li>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">業務員指派</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /.col-sm-12 -->
                            <div class="clearfix"></div>

                    </div>
                    <!-- rate code 彈出視窗 -->
                    <div id="setRateCode-1-page" class="hide padding-5" style="top: 0 !important;">
                        <div class="businessCompanyData">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11">
                                        <div class="main-content-data">
                                            <!--1-->
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>房價代號</label>
                                                    <input type="text" class="input-medium rateCode-s1" placeholder=""/>
                                                </div>
                                                <div class="popCheckbox grid-item">
                                                    <span class="checkbox">
                                                      <label class="checkbox-width">
                                                          <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                          <span class="lbl">Base Rate</span>
                                                      </label>
                                                  </span>
                                                </div>
                                            </div>
                                            <!--2-->
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>房價名稱</label>
                                                    <input type="text" class="input-medium rateCode-s1" placeholder=""/>
                                                </div>
                                                <div class="grid-item">
                                                    <label>Source Code</label>
                                                    <input type="text" class="input-medium rateCode-s1" placeholder=""/>
                                                </div>
                                                <div class="grid-item">
                                                    <label>Rate Group</label>
                                                    <input type="text" class="input-medium rateCode-s1" placeholder=" "/>
                                                </div>
                                            </div>
                                            <!--3-->
                                            <div class="grid">
                                                <div class="grid-item">
                                                    <label>Menu選單</label>
                                                    <input type="text" class="input-medium rateCode-s1" placeholder=""/>
                                                </div>
                                                <div class="grid-item">
                                                    <label>Market Code</label>
                                                    <input type="text" class="input-medium rateCode-s1" placeholder=""/>
                                                </div>
                                                <div class="grid-item">
                                                    <label>設定類別</label>
                                                    <select class="input-medium rateCode-s1">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="space-6"></div>
                                        </div><!--main-content-data-->
                                        <!-------- tabPage -------->
                                        <div class="easyui-tabs easyUi-custom1" style=" overflow-y: auto;">
                                            <div title="相關設定" class="padding-tabs">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="row">
                                                        <!--content-col-4-->
                                                        <div class="main-content-data">
                                                            <!--1-->
                                                            <div class="width-100">
                                                                <div class="width-35 pull-left grid">
                                                                    <div class="popCheckbox grid-item">
                                                                        <span class="checkbox">
                                                                          <label class="checkbox-width">
                                                                              <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                              <span class="lbl">
                                                                                <span class="txt">Active</span>
                                                                              </span>
                                                                          </label>
                                                                      </span>
                                                                    </div>
                                                                    <div class="tab-block grid-item">
                                                                        <label>Display</label>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="1"/>
                                                                    </div>
                                                                </div>
                                                                <div class="width-65 pull-left grid">
                                                                    <div class="popCheckbox grid-item">
                                                                        <span class="checkbox">
                                                                              <label class="checkbox-width">
                                                                                  <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                  <span class="lbl">
                                                                                    <span class="txt">Sale Date</span>
                                                                                  </span>
                                                                              </label>
                                                                        </span>
                                                                    </div>
                                                                    <div class="tab-block grid-item">
                                                                        <label class="label-spc-2">Start Date</label>
                                                                        <input type="date" class="input-medium rateCode-s3" placeholder="2016/01/01"/>
                                                                    </div>
                                                                    <div class="tab-block grid-item">
                                                                        <label class="label-spc-2">End Date</label>
                                                                        <input type="text" class="input-medium rateCode-s3" placeholder="2016/01/01"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--2-->
                                                            <div class="width-100">
                                                                <div class="width-35 pull-left grid">
                                                                    <div class="tab-block grid-item">
                                                                        <span>Stays</span>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder=""/>
                                                                        <span class="label-spc">Night</span>
                                                                    </div>
                                                                    <div class="tab-block grid-item">
                                                                        <span>Hours</span>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="20"/>
                                                                    </div>
                                                                </div>
                                                                <div class="width-65 pull-left grid">
                                                                    <div class="tab-block grid-item">
                                                                        <span>preSale</span>
                                                                        <span>mix.</span>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="30"/>
                                                                        <span>night</span>
                                                                        <span>and</span>
                                                                        <span>max.</span>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="45"/>
                                                                        <span>night</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--3-->
                                                            <div class="width-100">
                                                                <div class="width-35 pull-left grid">
                                                                    <div class="tab-block grid-item">
                                                                        <span>NO. of People</span>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="1"/>
                                                                    </div>
                                                                </div>
                                                                <div class="width-65 pull-left grid">
                                                                    <div class="popCheckbox grid-item">
                                                                            <span class="checkbox">
                                                                                  <label class="checkbox-width">
                                                                                      <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                      <span class="lbl">
                                                                                          <span class="txt">member</span>
                                                                                      </span>
                                                                                  </label>
                                                                            </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--4-->
                                                            <div class="width-100">
                                                                <div class="width-35 pull-left grid">
                                                                    <div class="tab-block grid-item">
                                                                        <div class="popCheckbox grid-item">
                                                                            <span class="checkbox">
                                                                                  <label class="checkbox-width">
                                                                                      <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                      <span class="lbl">
                                                                                        <span class="txt">Rate override</span>
                                                                                      </span>
                                                                                  </label>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="width-65 pull-left grid">
                                                                    <div class="tab-block grid-item">
                                                                        <span>commission</span>
                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="1"/>
                                                                        <span>%</span>
                                                                    </div>
                                                                    <div class="popCheckbox grid-item">
                                                                        <span class="checkbox">
                                                                              <label class="checkbox-width">
                                                                                  <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                  <span class="lbl">
                                                                                      <span class="txt">Comm. override</span>
                                                                                  </span>
                                                                              </label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--5-->
                                                            <div class="width-100">
                                                                <div class="grid">
                                                                    <div class="tab-block grid-item">
                                                                        <label>Long stay rule</label>
                                                                        <select class="input-medium rateCode-s3">
                                                                            <option>1.月初計算</option>
                                                                            <option>2.一營運分析系統參數計算</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--6-->
                                                            <div class="width-100">
                                                                <div class="grid">
                                                                    <div class="tab-block grid-item">
                                                                        <div class="popCheckbox grid-item">
                                                                            <span class="checkbox">
                                                                                  <label class="checkbox-width">
                                                                                      <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                      <span class="lbl">
                                                                                        <span class="txt">Occupancy From</span>
                                                                                      </span>
                                                                                  </label>
                                                                            </span>
                                                                        </div>
                                                                        <div class="tab-block grid-item">
                                                                            <input type="text" class="input-medium rateCode-s2" placeholder="20"/>
                                                                            <span>%</span>
                                                                            <span>to</span>
                                                                            <input type="text" class="input-medium rateCode-s2" placeholder="70"/>
                                                                            <span>%</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--7-->
                                                            <div class="width-100">
                                                                <div class="grid">
                                                                    <div class="tab-block grid-item">
                                                                        <label>Description</label>
                                                                        <input type="text" class="input-medium medium-c3-col2" placeholder="20"/>
                                                                        <span class="moreClick">...</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <!--8-->
                                                            <div class="width-100">
                                                                <div class="grid">
                                                                    <div class="tab-block grid-item">
                                                                        <label>CFM Remarks</label>
                                                                        <input type="text" class="input-medium medium-c3-col2" placeholder="20"/>
                                                                        <span class="moreClick">...</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>


                                                            <div class="css_table">
                                                                <!--<div class="css_thead">-->
                                                                    <!--<div class="css_tr">-->
                                                                        <!--<div class="css_th">標題1</div>-->
                                                                        <!--<div class="css_th">標題2</div>-->
                                                                    <!--</div>-->
                                                                <!--</div>-->
                                                                <div class="css_tbody">
                                                                    <!--1-->
                                                                    <div class="css_tr">
                                                                        <div class="css_td width-35">
                                                                            <div class="grid">
                                                                                <div class="popCheckbox grid-item">
                                                                        <span class="checkbox">
                                                                          <label class="checkbox-width">
                                                                              <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                              <span class="lbl">
                                                                                <span class="txt">Active</span>
                                                                              </span>
                                                                          </label>
                                                                      </span>
                                                                                </div>
                                                                                <div class="tab-block grid-item">
                                                                                    <label>Display</label>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder="1"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="css_td width-65">
                                                                            <div class="grid">
                                                                                <div class="popCheckbox grid-item">
                                                                        <span class="checkbox">
                                                                              <label class="checkbox-width">
                                                                                  <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                  <span class="lbl">
                                                                                    <span class="txt">Sale Date</span>
                                                                                  </span>
                                                                              </label>
                                                                        </span>
                                                                                </div>
                                                                                <div class="tab-block grid-item">
                                                                                    <label class="label-spc-2">Start Date</label>
                                                                                    <input type="date" class="input-medium rateCode-s3" placeholder="2016/01/01"/>
                                                                                </div>
                                                                                <div class="tab-block grid-item">
                                                                                    <label class="label-spc-2">End Date</label>
                                                                                    <input type="text" class="input-medium rateCode-s3" placeholder="2016/01/01"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--2-->
                                                                    <div class="css_tr">
                                                                        <div class="css_td width-35">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <span>Stays</span>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder=""/>
                                                                                    <span class="label-spc">Night</span>
                                                                                </div>
                                                                                <div class="tab-block grid-item">
                                                                                    <span>Hours</span>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder="20"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="css_td width-65">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <span>preSale</span>
                                                                                    <span>mix.</span>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder="30"/>
                                                                                    <span>night</span>
                                                                                    <span>and</span>
                                                                                    <span>max.</span>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder="45"/>
                                                                                    <span>night</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--3-->
                                                                    <div class="css_tr">
                                                                        <div class="css_td width-35">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <span>NO. of People</span>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder="1"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="css_td  width-65">
                                                                            <div class="grid">

                                                                                <div class="popCheckbox grid-item">
                                                                            <span class="checkbox">
                                                                                  <label class="checkbox-width">
                                                                                      <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                      <span class="lbl">
                                                                                          <span class="txt">member</span>
                                                                                      </span>
                                                                                  </label>
                                                                            </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--4-->
                                                                    <div class="css_tr">
                                                                        <div class="css_td width-35">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <div class="popCheckbox grid-item">
                                                                            <span class="checkbox">
                                                                                  <label class="checkbox-width">
                                                                                      <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                      <span class="lbl">
                                                                                        <span class="txt">Rate override</span>
                                                                                      </span>
                                                                                  </label>
                                                                            </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="css_td width-65">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <span>commission</span>
                                                                                    <input type="text" class="input-medium rateCode-s2" placeholder="1"/>
                                                                                    <span>%</span>
                                                                                </div>
                                                                                <div class="popCheckbox grid-item">
                                                                        <span class="checkbox">
                                                                              <label class="checkbox-width">
                                                                                  <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                  <span class="lbl">
                                                                                      <span class="txt">Comm. override</span>
                                                                                  </span>
                                                                              </label>
                                                                        </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="css_table">
                                                                <div class="css_tobdy  width-100">
                                                                    <!--5-->
                                                                    <div class="css_tr width-100">
                                                                        <div class="css_td">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <label>Long stay rule</label>
                                                                                    <select class="input-medium rateCode-s3">
                                                                                        <option>1.月初計算</option>
                                                                                        <option>2.一營運分析系統參數計算</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--6-->
                                                                    <div class="css_tr width-100">
                                                                        <div class="css_td">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <div class="popCheckbox grid-item">
                                                                            <span class="checkbox">
                                                                                  <label class="checkbox-width">
                                                                                      <input name="form-field-checkbox" type="checkbox" class="ace" >
                                                                                      <span class="lbl">
                                                                                        <span class="txt">Occupancy From</span>
                                                                                      </span>
                                                                                  </label>
                                                                            </span>
                                                                                    </div>
                                                                                    <div class="tab-block grid-item">
                                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="20"/>
                                                                                        <span>%</span>
                                                                                        <span>to</span>
                                                                                        <input type="text" class="input-medium rateCode-s2" placeholder="70"/>
                                                                                        <span>%</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--7-->
                                                                      <div class="css_tr width-100">
                                                                        <div class="css_td">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <label>Description</label>
                                                                                    <input type="text" class="input-medium medium-c3-col2" placeholder="20"/>
                                                                                    <span class="moreClick">...</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--8-->
                                                                    <div class="css_tr">
                                                                        <div class="css_td">
                                                                            <div class="grid">
                                                                                <div class="tab-block grid-item">
                                                                                    <label>CFM Remarks</label>
                                                                                    <input type="text" class="input-medium medium-c3-col2" placeholder="20"/>
                                                                                    <span class="moreClick">...</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--main-content-data-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div title="可使用期間" class="padding-tabs">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="row">
                                                                <!--聯絡方式-->
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <div class="row">
                                                                        <div class="billInfo grid">
                                                                            <div class="col-xs-12 col-sm-12">
                                                                                <div class="row billInfo-head">
                                                                                    <p class="billInfo-title">聯絡方式</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="content">
                                                                                <div class="grid">
                                                                                    <div class="tab-block grid-item">
                                                                                        <label>公司電話</label>
                                                                                        <input type="text" class="input-medium medium-c3" placeholder="02-2176066"/>
                                                                                    </div>
                                                                                    <div class="tab-block grid-item">
                                                                                        <label>傳真電話</label>
                                                                                        <input type="text" class="input-medium medium-c3" placeholder="02-25170886"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--聯絡方式-->
                                                                <div class="clearfix"></div>
                                                                <!--地址-->
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <div class="row">
                                                                        <div class="billInfo grid">
                                                                            <div class="col-xs-12 col-sm-12">
                                                                                <div class="row billInfo-head">
                                                                                    <p class="billInfo-title">地址</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-11 col-sm-11">
                                                                                <div class="row no-margin-right">
                                                                                    <div class="content">
                                                                                        <table class="standard-table">
                                                                                            <thead>
                                                                                            <tr>
                                                                                                <th class="width-15">地址類別</th>
                                                                                                <th class="width-15">郵遞區號</th>
                                                                                                <th class="width-70">地址</th>
                                                                                            </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td>公司地址</td>
                                                                                                <td>104</td>
                                                                                                <td>台北市中山區松江路309號8樓 <span class="moreClick contractMoreInfo">...</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>帳單地址</td>
                                                                                                <td></td>
                                                                                                <td><span class="moreClick contractMoreInfo">...</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>電子郵件</td>
                                                                                                <td class="td-disable"></td>
                                                                                                <td>service@athena.com.tw<span class="moreClick contractMoreInfo">...</span></td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-1 col-sm-1">
                                                                                <div class="row">
                                                                                    <div class="right-menu-co">
                                                                                        <ul>
                                                                                            <li>
                                                                                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                                                        role="button">複製至</button>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <!--地址-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div title="房型" class="padding-tabs">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-xs-11 col-sm-11">
                                                            <div class="row no-margin-right">
                                                                <!-- 相關人員 table -->
                                                                <table id="relatedPerson-table"></table>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1 col-sm-1">
                                                            <div class="row">
                                                                <div class="right-menu-co">
                                                                    <ul>
                                                                        <li>
                                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                                    role="button">新增聯絡人</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn btn-danger btn-white btn-defaultWidth"
                                                                                    role="button">刪除聯絡人</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                                    role="button">加入秘書積點</button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div title="Daily Rate" class="padding-tabs">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-xs-11 col-sm-11">
                                                            <div class="row no-margin-right">
                                                                <!-- 相關人員 table -->
                                                                <table id="relatedPerson-table"></table>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1 col-sm-1">
                                                            <div class="row">
                                                                <div class="right-menu-co">
                                                                    <ul>
                                                                        <li>
                                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                                    role="button">新增聯絡人</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn btn-danger btn-white btn-defaultWidth"
                                                                                    role="button">刪除聯絡人</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                                    role="button">加入秘書積點</button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-------- /.tabPage -------->
                                        </div>
                                    <div class="col-xs-1 col-sm-1">
                                        <div class="row no-margin-right">
                                            <div class="right-menu-co">
                                                <ul>
                                                    <li>
                                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                role="button">clone</button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                role="button">save</button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                role="button">leave</button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                role="button">公司關聯圖</button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-primary btn-white btn-defaultWidth bs-company-stateChange"
                                                                role="button">合約狀態變更</button>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-primary btn-white btn-defaultWidth bs-company-changeRecord"
                                                                role="button">異動紀錄</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- /.rate code 彈出視窗 -->

            </div>
            </div><!-- /.page-content -->
        </div><!-- /.main-content-inner -->
    </div><!-- /.main-content -->
    <%- include ../common/footer %>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->


</body>

<script type="text/javascript">
    $(function (){

        // 彈出setRateCode
        $(document).on('click', ".setRateCode-1", function (e) {
            e.preventDefault();
            var dialog = $("#setRateCode-1-page").removeClass('hide').dialog({
                modal: true,
                title: "rate code",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 業務員資料維護-查詢結果 dataGrid
        $('#clerkDataGridResult-table').datagrid({
            singleSelect:true,
            collapsible:true,
            // 從json 撈
            url:'/jsonData/bsCompany_clerkDataGridResult.json',
            method:'get',
            columns:[[
                {field:'clerkNum',title:'Sales Id',width:100},
                {field:'clerkName',title:'Name',width:100},
                {field:'ifStaff',title:'Employee',width:100},
                {field:'status',title:'Status',width:100},
                {field:'disabledYear',title:'Stop Date',width:100},
                {field:'clerkTeam',title:'Team',width:100},
                {field:'hotelBusiness',title:'Hotel',width:100},
                {field:'foodBusiness',title:'F&B',width:100},
                {field:'memberBusiness',title:'Membership',width:100}
            ]]

        });

        //  新增拜訪查詢
        $('#NewVisitResult-table').datagrid({
            singleSelect:true,
            collapsible:true,
            // 從json 撈
            url:'/jsonData/bsCompany_newVisit.json',
            method:'get',
            columns:[[
                {field:'clerkNum',title:'Choose',width:60},
                {field:'clerkName',title:'Co. Id',width:80},
                {field:'ifStaff',title:'Co. Name',width:180},
                {field:'status',title:'Status',width:50},
                {field:'subject',title:'Contract',width:70},
                {field:'disabledYear',title:'Co. Type',width:60},
                {field:'clerkTeam',title:'Category',width:70},
                {field:'hotelBusiness',title:'Region',width:70},
                {field:'memberBusiness',title:'Industry',width:60}
            ]]

        });

        //  新增拜訪編輯
        $('#NewVisitRecord-table').datagrid({
            singleSelect:true,
            collapsible:true,
            // 從json 撈
            url:'/jsonData/bsCompany_newVisitRecord.json',
            method:'get',
            columns:[[
                {field:'VisitNum',title:'Co. Id',width:80},
                {field:'VisitName',title:'Co. Name',width:100},
                {field:'VisitStatus',title:'Status',width:50},
                {field:'VisitContract',title:'Contract',width:60},
                {field:'visitMethod',title:'Method',width:60},
                {field:'visitPlanned',title:'Planned',width:80},
                {field:'visitVStatus',title:'Visit Status',width:80},
                {field:'visitFeedback',title:'Feedback',width:70},
                {field:'visitPurpose',title:'Purpose',width:70},
                {field:'visitDocuments',title:'Documents',width:80},
                {field:'visitRemarks',title:'Remarks',width:70},
                {field:'visitActual',title:'Actual',width:80},
                {field:'visitExpense',title:'Expense',width:60}
            ]]

        });

        //修改拜訪記錄
        $('#ModifyVisitResult-table').datagrid({
            singleSelect:true,
            collapsible:true,
            // 從json 撈
            url:'/jsonData/bsCompany_modifyVisit.json',
            method:'get',
            columns:[[
                {field:'VisitCheck',title:'Choose',width:60},
                {field:'VisitNum',title:'Co. Id',width:80},
                {field:'VisitName',title:'Co. Name',width:100},
                {field:'VisitStatus',title:'Status',width:50},
                {field:'VisitContract',title:'Contract',width:60},
                {field:'visitMethod',title:'Method',width:60},
                {field:'visitPlanned',title:'Planned',width:80},
                {field:'visitVStatus',title:'Visit Status',width:80},
                {field:'visitFeedback',title:'Feedback',width:70},
                {field:'visitPurpose',title:'Purpose',width:70},
                {field:'visitDocuments',title:'Documents',width:80},
                {field:'visitRemarks',title:'Remarks',width:70},
                {field:'visitActual',title:'Actual',width:80},
                {field:'visitExpense',title:'Expense',width:60},
                {field:'visitAdd',title:'Add Date',width:60},
                {field:'visitAddUser',title:'Add Staff',width:60},
                {field:'visitLD',title:'Last Revise Date',width:60},
                {field:'visitLS',title:'Last Revise Staff',width:60}
            ]]

        });

        $('#ModifyVisitRecord-table').datagrid({
            singleSelect:true,
            collapsible:true,
            // 從json 撈
            url:'/jsonData/bsCompany_modifyVisitRecord.json',
            method:'get',
            columns:[[
                {field:'VisitNum',title:'Co. Id',width:80},
                {field:'VisitName',title:'Co. Name',width:100},
                {field:'VisitStatus',title:'Status',width:50},
                {field:'VisitContract',title:'Contract',width:60},
                {field:'visitMethod',title:'Method',width:60},
                {field:'visitPlanned',title:'Planned',width:80},
                {field:'visitVStatus',title:'Visit Status',width:80},
                {field:'visitFeedback',title:'Feedback',width:70},
                {field:'visitPurpose',title:'Purpose',width:70},
                {field:'visitDocuments',title:'Documents',width:80},
                {field:'visitRemarks',title:'Remarks',width:70},
                {field:'visitActual',title:'Actual',width:80},
                {field:'visitExpense',title:'Expense',width:60},
                {field:'visitAdd',title:'Add Date',width:60},
                {field:'visitAddUser',title:'Add Staff',width:60},
                {field:'visitLD',title:'Last Revise Date',width:60},
                {field:'visitLS',title:'Last Revise Staff',width:60}
            ]]

        });
    });
</script>
</html>