/*------  共用區public ------ */
.float-left, .pull-left
  float: left
.float-right, .pull-right
  float: right
.no-padding
  padding: 0
.no-padding-left
  padding-left: 0
.no-padding-right
  padding-right: 0
.padding-5
  padding: 5px
.no-margin
  margin: 0 !important
.no-margin-top
  margin-top: 0 !important
.margin-top91
  margin-top: 87px
.margin-5
  margin: 5px
.marginLeft-5
  margin-left: 5px
.height87
  height: 87px
//border: none
.height60
  height: 60px

// width
.width-5
  width: 5% !important
.width-10
  width: 10% !important
.width-15
  width: 15% !important
.width-20
  width: 20% !important
.width-30
  width: 30% !important
.width-61
  width: 61% !important

.pointer
  cursor: pointer
.notice
  color: $redDefault
  font-weight: bold
.bold
  font-weight: bold
.markOne
  color: $blue
  font-weight: bold

.border-double1
  border-bottom: 3px double #b09e9b
  margin: auto auto 5px auto
.lineHeight14
  line-height: 14px
.lineHeight18
  line-height: 18px
.lineHeight24
  line-height: 24px
.lineHeight27
  line-height: 27px
.lineHeight34
  line-height: 34px
// font-size
.font-14
  font-size: $font-14
.font-15
  font-size: $font-15
.font-default
  font-size: $font-default
.font-lg
  font-size: $font-lg
.font-2x
  font-size: $font-2x
.font-3x
  font-size: $font-3x
.label-fontLg
  font-size: $font-16 !important
a
  text-decoration: none
  cursor: pointer

// color
.dark
  color: $dark !important
.white
  color: $white !important
.red
  color: $red !important
.red2
  color: $red2 !important
.light-red
  color: $light-red !important
.blue
  color: $blue !important
.light-blue
  color: $light-blue !important
.green
  color: $green !important
.light-green
  color: $light-green !important
.orange
  color: $orange !important
.fontBrown
  color: $fontBrown !important
.orange2
  color: $orange2 !important
.light-orange
  color: $light-orange !important
.font-yellow
  color: $fontYellow !important
.purple
  color: $purple !important
.dark-purple
  color: $dark-purple !important
.pink
  color: $pink !important
.pink2
  color: $pink2 !important
.brown
  color: $brown !important
.grey
  color: $grey !important
.bgLGrey
  background: $light-grey !important
.bgTGreen
  background: $t-green !important
.light-grey
  color: $light-grey !important
.orangeBlock1
  background-color: #FAD7B6
  padding: 2px
  width: 65px
  text-align: center

// btn
.btn-sm-font
  padding: 3px 9px
  font-size: $font-btn
  margin-top: -1px
.btn-sm-font2
  padding: 3px 9px
  font-size: $font-btn
  //margin-top: 1px
// space height
.space-6
  max-height: 1px
  min-height: 1px
  overflow: hidden
  margin: 6px 0 5px
.space-custom-5
  max-height: 1px
  min-height: 1px
  overflow: hidden
  margin: 0 0 5px
.space-custom-6
  max-height: 1px
  min-height: 1px
  overflow: hidden
  margin: 6px 0 5px
  border-bottom: 1px solid $border-color

// custom
.input_sta_required
  background-color: rgb(198, 242, 217) !important
  /* (186, 242, 234) */
$medium-c3-col2: 255px
$medium-c3-card: 212px
.input-medium
  &.medium-c1
    +input-s1(165px)
    //@media screen and (min-width: 768px) and (max-width: 1030px)
    //  +input-s1(120px)
  &.medium-c1-col2
    +input-s1(488px)
    //todo resvRoomTyprBtn2
  &.medium-c1-col2v2
    +input-s1(434px)
  &.medium-c1-col2v2Remark
    +input-s1(407px)
  &.medium-c1-Full
    +input-s1(702px)
  &.medium-c2
    +input-s1(179px)
    //@media screen and (min-width: 768px) and (max-width: 1030px)
    //  +input-s1(134px)
  &.medium-c3-sm
    +input-s1(104px)
  &.medium-c3
    +input-s1(134px)
  &.medium-c3-col2
    +input-s1($medium-c3-col2)
  &.medium-c3-col2_2
    // have remark '-27px'
    +input-s1(($medium-c3-col2)-27)
  &.medium-search-col2
    // PMS0620040 || PMS0620050
    +input-s1(304px)
  &.medium-c3-col3
    +input-s1(492px)
  &.medium-c3-col4
    +input-s1(634px)
  &.medium-c3-col1-5
    +input-s1(372px)
  &.medium-c3-card
    +input-s1($medium-c3-card)
  &.medium-c3-card-2
    +input-s1(55px)
    // have remark '-26px'
  &.medium-c3-card-3
    +input-s1(($medium-c3-card)-26)
  &.addedBy
    +input-s1(74px)
  &.addedDate
    +input-s1(140px)
  &.bill-input-s1
    +input-s1(120px)
  &.bill-input-s2
    +input-s1(245px)
  &.rateCode-s1
    +input-s1(180px)
  &.rateCode-s1-col2
    +input-s1(464px)
  &.rateCode-s2
    +input-s1(43px)
  &.rateCode-s3
    +input-s1(135px)
  &.rateCode-s4
    +input-s1(695px)
  &.popWindow-s1
    +input-s1(155px)
  &.popWindow-s1Remark
    +input-s1(128px)
    // resv_gProfile
  &.popWindow-s2
    +input-s1(138px)
  &.popWindow-s1-col2
    +input-s1(414px)
  &.popWindow-s1-col2RM
    +input-s1(387px)
  &.popWindow-s1-col2v2
    +input-s1(418px)
  &.popWindow-s1v2
    +input-s1(115px)
  &.popWindow-s1v2-col2
    +input-s1(227px)
  &.popWindow-s1v2-lg
    +input-s1(339px)
  &.popWindow-s1v2-col2RM
    +input-s1(200px)
  &.popWindow-s1v2-keyword
    +input-s1(460px)
  &.popWindow-s1v2-col4
    +input-s1(562px)
  &.popWindow-s1v2-col4Key
    +input-s1(485px)
  &.popWindow-s1v2-col4RM
    +input-s1(535px)
  &.resvCard
    +input-s1(103px)
    //住客帳維護 單筆
  &.resvCardSpec1
    +input-s1(203px)
  &.resvCard-date
    +input-s1(135px)
  &.resvCardRemark
    +input-s1(77px)
  &.resvCard-col2
    +input-s1(310px)
  &.resvCard-col3
    +input-s1(719px)
  &.resvCard-col2Spec1
    +input-s1(250px)
  &.resvCard-col2Remark
    +input-s1(283px)
  &.resvCard-col2Remark2
    +input-s1(265px)
  &.resvCard-fullRemark
    +input-s1(698px)
  &.resvCard-col3-fullRemark
    +input-s1(490px)
  &.resvCard-xs
    +input-s1(40px)
  &.resvCard-2xs
    +input-s1(26.7px)
  &.resvCard-sm
    +input-s1(81px)
  &.ca-select
    +input-s1(65px)
  &.checkMail
    +input-s1(530px)
  &.large-c1
    +input-s1(210px)
.input-hMedium
  height: $inputHeight-medium !important
.input-hCol2
  height: ($inputHeight-medium*2)+5 !important
.input-spc-1
  +input-s1
  //@media screen and (min-width: 768px) and (max-width: 1030px)
  //  +input-s1(349px)
.input-spc-key
  +input-s1(466px)
  //@media screen and (min-width: 768px) and (max-width: 1030px)
  //  +input-s1(376px)
.input-mLeft-1
  margin-left: 28px

.dateBox-custom1
  .textbox
    height: $inputHeight-medium
    line-height: $inputHeight-medium - 5px
    border-radius: 0
    border: 1px solid #D5D5D3
  .combo-arrow
    background-color: #dddddd
    width: 24px !important
.border-block-left
  border-left: 1px solid #dddddd
.margin-spacing-3
  margin: 3px auto
//**
   **Jun css
.multiLangDGPosition
  width: 80%
  top: 30%
  left: 10%
  position: absolute

.prg_idLbH3
  display: block
  font-size: $font-16 !important
  //margin-top: 1em
  margin-bottom: .5em
  margin-left: 0
  margin-right: 0
  font-weight: bold

// number spinner 消失
input.numStyle-none
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    -moz-appearance: none
    -webkit-appearance: none
    margin: 0

// input border-radius
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"]
  border-radius: 5px !important

//建立margin 迴圈
//$width-number: 40
//@for $i from 1 through $width-number
//  .marginLeft-#{$i}
//    margin-left: $i px


//#gritter-notice-wrapper
//  bottom: 20px !important

//.gritter-RB
//  position: fixed //  bottom: 20px //  right: 20px //  width: 301px //  z-index: 9999

.gritter-item-wrapper.gritter-info
  background-color: rgba(67,142,185,1)

.popCheckbox
  &.resvCk-1
    width: 106px
    .checkbox
      label
        padding-left: 14px
  .checkbox
    margin: 1px auto 0 auto
    .ace
      padding-right: 5px
    label
      width: auto
      .lbl
        &:before
          margin-right: 3px
        //.txt
        //  line-height: 19px
  &.lbl-after
    .txt
      line-height: 22px
    .checkbox
      label
        padding-left: 10px

.remarkInput
  width: 85%
  margin-left: 5px
.remarkInput-75
  width: 75%
  margin-left: 5px
  margin-right: 5px
.remarkInput-45
  width: 45.4%
  margin-left: 5px
  margin-right: 5px
.remarkInput-79
  width: 79.4%
  margin-left: 5px
  margin-right: 5px
.border-raduis-5
  border-radius: 5px
.extendGrid
  position: relative
  .extendIcon
    position: absolute
    padding: 0 5px
    border-radius: 10px
    background: $light-green
    right: 8px
    top: -37px
    cursor: pointer
    &:hover
      background: $green
    &.activeBg
      background: $green
    i
      color: #fff
      font-weight: bold
      -webkit-transform: rotate(0deg)
      -webkit-animation: outAnimation 1s
      &.active
        -webkit-animation: inAnimation 1s
        -webkit-transform: rotate(180deg)
      @-webkit-keyframes inAnimation
        0%
          -webkit-transform: rotate(-135deg)
        100%
          -webkit-transform: rotate(180deg)
      @-webkit-keyframes outAnimation
        0%
          -webkit-transform: rotate(45deg)
        100%
          -webkit-transform: rotate(360deg)

  .extendContent
    display: none

.totalMiddle
  display: inline-block
  vertical-align: middle

.searchCheckbox
  margin-right: 5px
  .checkbox
    margin: 3px auto 0 auto
    label
      padding-left: 10px
      .lbl
        &:before
          margin-right: 3px
  &.msgCheck
    .checkbox
      margin: 0 108px auto 5px
      .checkbox-width
        width: auto

.text-right
  text-align: right!important
  .numeric
    text-align: right!important
//scroll-bar style
// https://codepen.io/kqlambert/pen/tbJCD?editors=1100
//::-webkit-scrollbar
//  width: .4em
//  height: .4em
//  overflow: visible
//  border-radius: 4px


//::-webkit-scrollbar-track
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
//  border-radius: 10px


//::-webkit-scrollbar-thumb
//  background: rgba(0,0,0,.2)
//  overflow: visible
//  border-radius: 4px

//.cover-bar
//  position: absolute
//  background: #fff
//  height: 100%
//  top: 0
//  right: 0
//  width: .4em
//  -webkit-transition: all .5s
//  opacity: 1
//.scroll-bar-wrap:hover .cover-bar
//  opacity: 0
//  -webkit-transition: all .5s
