
.vue-treeselect__menu label
  text-align: left !important
  width: auto !important
.vue-treeselect
  display: inline-block

//商務公司編輯 treeSelect大小
#PMS0610020
  .vue-treeselect__menu
    width: 200px
// 異動紀錄 修改距離上層高度
.openChangeLogDialog
  .el-dialog
    top: 3% !important

// todo 問題:多選下拉選完出現選擇項目會跑版 ex.PMS0830090
.search-content ,.editVueTpl,.grid-item
  .el-select
    .el-input__inner
      height: $defHt !important
    .el-select__tags
      height: $defHt !important
      overflow: hidden
      line-height: $defHt !important
  &.width-100
    .el-select
      width: 100% !important
  .vue-treeselect__control
    height: $defHt !important
    .vue-treeselect__input-wrapper
      input
        border: 0
    .vue-treeselect__placeholder
      line-height: $defHt !important
    .vue-treeselect__value-wrapper
      .vue-treeselect__multi-value
        height: $defHt !important
        margin-bottom: 0 !important
        .vue-treeselect__multi-value-item-wrapper, .vue-treeselect__input-wrapper
          padding-top: 0 !important

.grid-item
  .el-date-editor
    height: $defHt !important
    .el-input__inner,.el-input__icon
      height: $defHt !important
  .el-cascader
    .el-input__inner
      height: $defHt !important

.el-tabs--card
  .el-tabs__header
    margin-bottom: 0
    .el-tabs__nav
      .el-tabs__item
        padding: 0 6px
        height: 30px
        line-height: 30px
        font-size: 13px
