<!-- 彈出視窗 -->
<script type="text/x-template" id="chooseDataDialogTmp">
    <div id="dataPopUpGridDialog" v-show="false">
        <div class="col-sm-12 col-xs-12 singleGridContent">
            <div class="row">
                <div class="col-sm-12 col-xs-12 ">
                    <!--顯示內容-->
                    <form id="searchDataForm" method="post">
                        <div class="col-sm-12"></div>
                        <div id="textGridDiv" class="col-sm-12 col-xs-12 grid">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <select id="cbSelect" style="width: 100%" class="easyui-combobox">
                                        <option v-for="option in  fieldNameConditionTmp" :value="option.value">
                                            {{option.display}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-sm-6">
                                    <input type="text" style="width: 100%" id="txtSelectCondition" class="numStyle-none" @keyup="txtSearchChangeText">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <table class="easyui-datagrid" id="chooseGrid"
                                       style="width: 100%;height: auto;"></table>
                            </div>
                            <div class="col-sm-2">
                                <button type="button"
                                        style="width: 100%"
                                        class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                        @click="chooseDataBackGridSingle">
                                    <%= __("SystemCommon").OK %>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>