<style>
    .langTable {
        max-width: 960px;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .langTable thead {
        background: #f5f5f5;
    }

    .langTable tr:nth-child(even) {
        background: #f8f8f8;
    }

    .langTable caption {
        font-size: 24px;
        padding: 10px;
    }

    .langTable td, th {
        text-align: left;
        padding: 8px;
        /*border: 1px solid #ccc;*/
        border: 1px solid #95B8E7;
    }
</style>
<script type="text/x-template" id="fieldMultiLangDialogTmp">
    <div id="fieldMultiLangTmpDialog" style="display: none;">

        <table class="langTable" style="margin-top: 20px" align="center">

            <tbody>
            <tr v-for="locale in sys_locales">
                <td> {{locale.name}}</td>
                <td>

                    <!--<input v-model="fieldMultiLang[locale.lang][editingLangField]" data-locale="{{locale.lang}}"-->
                           <!--:id="editingLangField"-->
                           <!--value="{{multiLangContentList | filterLocaleContent locale.lang editingLangField}}"-->
                           <!--class="multi_lang_input">-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-xs-12 center" id="fieldMultiDialogBtns" style="display: none;">
        <div class="singleRelative">
            <div class="singleBtnBottom">
                <button class="btn btn-primary btn-white" @click="saveFieldMultiLang">
                    <%= __("SystemCommon").OK %>
                </button>
                <button class="btn btn-primary btn-white" @click="closeFieldMultiLangDialog">
                    <%= __("SystemCommon").Cancel %>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>