<script type="text/x-template" id="multiLangDialogTmp">
    <el-dialog title="Multi Lang" :visible.sync="$parent.multiLangDialogVisible" size="tiny">
        <div align="center">
            <table id="multiLangDG"></table>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeMultiLangDialog"> <%= __("SystemCommon").Cancel %></el-button>
            <el-button type="primary" @click="saveMultiLang"><%= __("SystemCommon").OK %></el-button>
        </span>
    </el-dialog>
</script>