<script type="text/x-template" id="PMS0830070Tmp">
    <div id="PMS0830070Dialog" class="hide padding-5" style="top:0 !important;;">
        <div class="businessComapnyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="grid-item">
                        <label>代號</label>
                        <input type="text" class="input-medium rescCard" :disabled="$parent.isEditStatus" >
                    </div>
                    <div class="grid-item">
                        <label>名稱</label>
                        <input type="text" class="input-medium rescCard" :disabled="$parent.isEditStatus" >
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="grid-item">
                        <table id="PMS0830070_dt" style="height: 300px; display: inline;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>