<script type="text/x-template" id="PMS0830070Tmp">
    <div id="PMS0830070Dialog" class="hide padding-5" style="top:0 !important;">
        <div class="businessComapnyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="grid-item">
                        <label>代號</label>
                        <input type="text" class="input-medium rescCard" :disabled="$parent.isEditStatus"
                               v-model="singleData.adjfolio_cod">
                    </div>
                    <div class="grid-item">
                        <label>名稱</label>
                        <input type="text" class="input-medium rescCard"
                               v-model="singleData.adjfolio_rmk">
                    </div>
                </div>
            </div>
            <!--DTandDT2-->
            <div class="col-xs-12 col-sm-12">
                <input id="addDtDetail" type="submit" name="addDtDetail" value="新增明細" @click="btnAddDtDetail">
                <input id="deleteDtDetail" type="submit" name="deleteDtDetail" value="刪除明細" @click="btnDeleteDtDetail">
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-6 col-sm-6">
                    <div class="row">
                        <div class="grid-item">
                            <table id="PMS0830070_dt" class="css_table horizTable" width="100%">
                                <tr class="css_tr">
                                    <th class="ccs_th">選項</th>
                                    <th class="css_th">序號</th>
                                    <th class="css_th">帳單明細</th>
                                    <th class="css_th"></th>
                                </tr>

                                <tr class="css_tr" v-for="(item,index) in singleDataDt">

                                    <td class="css_td">
                                        <form>
                                            <input type="checkbox" :value="item.seq_nos" v-model="deleteDtTmp">
                                        </form>
                                    </td>

                                    <!--<td class="css_td" contenteditable="true" @click="clickDt(item.seq_nos)" @change="changeDtInfo(item.seq_nos)" >{{item.seq_nos}}-->
                                    <td>
                                        <input class="input-medium medium-c1" type="text" name="seqNos" disabled
                                               @click="clickDt(item.seq_nos)" v-model="item.seq_nos">
                                    </td>
                                    <!--<td class="css_td" contenteditable="true" @click="clickDt(item.seq_nos)" @change="changeDtInfo(item.item_nam)">{{item.item_nam}}-->
                                    <td>
                                        <input class="input-medium medium-c1" type="text" name="itemNnam"
                                               @click="clickDt(item.seq_nos)" v-model="item.item_nam">
                                    </td>

                                    <button @click="btnDt4Dt(item.seq_nos,item.item_nam)">...</button>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="row">
                        <div class="grid-item">
                            <table id="PMS0830070_dt2" class="css_table horizTable" width="100%">
                                <tr class="css_tr">
                                    <th class="css_th">序號</th>
                                    <th class="css_th">服務項目</th>
                                </tr>

                                <tr class="css_tr" v-for="(item,index) in singleDataDt2">
                                    <td class="css_td">{{item.seq_nos}}</td>
                                    <td class="css_td">{{item.item_nos}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div id="dialgBtns">
                    <div class="singleBtnBottom">
                        <button class="btn btn-primary btn-white"
                                @click="doSaveGrid">
                            <%= __("SystemCommon").Save %>
                        </button>
                        <button class="btn btn-primary btn-white" @click="$parent.closeGridDialog()">
                            <%= __("SystemCommon").Leave %>
                        </button>
                    </div>
                </div>
            </div>

            <!--跳出DT的DT視窗-->
            <el-dialog title="服務項目" :visible.sync="dialogServiceItemVisible" size="tiny" :show-close="false"
                       :modal-append-to-body="false">
                <el-row>
                    <div style="overflow: auto;height: 500px;">
                        <table class="css_table" width="100%" id="serviceDt2Dt">
                            <thead class="css_thead">
                            <tr class="css_tr">
                                <th class="ccs_th">勾選</th>
                                <th class="css_th">項目代號</th>
                                <th class="css_th">服務項目</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">

                            <tr class="css_tr" v-for="(item,index) in adjfolioDataItem">
                                <td class="css_td">
                                    <form>
                                        <input type="checkbox" :checked="item.checked.includes('true')"
                                               :disabled="item.disabled =='true' " name="chk" id="ckItem"
                                               @click="chkAdjfolioData(index,item.checking)">
                                    </form>
                                </td>
                                <td class="css_td">{{item.item_nos}}</td>
                                <td class="css_td">{{item.item_sna}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-row>
                <div>
                    <el-row>
                        <el-col>
                            <el-button
                                    @click="dialogServiceItemVisible=false"><%= __("SystemCommon").Cancel %></el-button>
                            <el-button @click="saveDt2Dt"><%= __("SystemCommon").OK %></el-button>
                        </el-col>
                    </el-row>
                </div>
            </el-dialog>
        </div>
    </div>
</script>