<!-- 搜尋元件 -->
<script type="text/x-template" id="searchTmp">
    <div class="col-xs-12" v-if="searchFields.length > 0 ">
        <div class="search-content">
            <div class="">
                <div class="search-co row">
                    <div class="col-xs-12 search-co-content search-S2">
                        <div class="width-95 searchMain-S2 row" style="padding-top: 10px;">
                            <div class="grid">
                                <div class="grid-item" v-for="field in searchFieldsByRow[0]">

                                    <label :title="field.ui_hint">{{field.ui_display_name}}</label>
                                    <template v-if="field.ui_type == 'text' || field.ui_type == 'number'">
                                        <input v-model="searchCond[field.ui_field_name]" :type="field.ui_type"
                                               class="numStyle-none defHt"
                                               :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                               min="0"
                                               :required="field.requirable == 'Y'"/>
                                    </template>

                                    <template v-if="field.ui_type == 'select' ||field.ui_type == 'multiselect' ">
                                        <el-select v-model="searchCond[field.ui_field_name]"
                                                   multiple="field.ui_type == 'multiselect'" size="small"
                                                   :style="{width:field.width + 'px' , height:field.height + 'px'}">
                                            <el-option v-for="item in field.selectData" :key="item.value"
                                                       :label="item.display" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>

                                    <template v-if="field.ui_type == 'date' ||field.ui_type == 'datetime' ">
                                        <el-date-picker v-model="searchCond[field.ui_field_name]" size="small"
                                                        :format="field.ui_type == 'date' ? 'yyyy/MM/dd': 'yyyy/MM/dd HH:mm:ss'"
                                                        :type="field.ui_type == 'date' ? 'date': 'datetime'"
                                                        :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                        placeholder="">
                                        </el-date-picker>
                                    </template>

                                    <template v-if="field.ui_type == 'daterange'">
                                        <el-date-picker v-model="searchCond[field.ui_field_name]" size="small"
                                                        format="yyyy/MM/dd" type="daterange"
                                                        :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                        placeholder="Select date range">
                                        </el-date-picker>
                                    </template>

                                    <template v-if="field.ui_type == 'radio'">
                                        <el-radio class="radio width-auto mt-3"
                                                  v-model="searchCond[field.ui_field_name]"
                                                  v-for="item in field.selectData" :label="item.value">
                                            {{item.display}}{{item.value}}
                                        </el-radio>
                                    </template>

                                </div>
                            </div>

                        </div>
                        <div class="row search-footer-btn" style="top: -10px;">
                            <div class="footer-btn-menu-co">
                                <ul>
                                    <li>
                                        <div class="" data-rel="tooltip" data-placement="bottom"
                                             title="查詢" @click="doSearch">
                                            <div class="icon-reStyle icon-co-14"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="" data-rel="tooltip" data-placement="bottom"
                                             title="清除" @click="searchCond = {}">
                                            <div class="icon-reStyle icon-co-11"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-moreSearch show-search-detail" v-if="isShowMoreSearchFields">
                                            <i class="fa fa-chevron-down"
                                               style="color: #438EB9;"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>  <!-- /.footer-btn-menu-co -->
                        </div> <!-- /.search-footer-btn -->
                    </div>
                    <div class="search-co-content col-xs-12 search-S2-con rece-search-detail" style="display: none;">
                        <div class="row width-95">

                            <div class="grid" v-for="(searchFieldList, index) in searchFieldsByRow">
                                <template>
                                    <div class="grid-item" v-for="field in searchFieldList" v-if="index != 0">
                                        <label :title="field.ui_hint">{{field.ui_display_name}}</label>
                                        <template v-if="field.ui_type == 'text' || field.ui_type == 'number'">
                                            <input v-model="searchCond[field.ui_field_name]" :type="field.ui_type"
                                                   class="numStyle-none defHt "
                                                   :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                   min="0"
                                                   :required="field.requirable == 'Y'"/>
                                        </template>

                                        <template v-if="field.ui_type == 'select' ||field.ui_type == 'multiselect' ">
                                            <el-select v-model="searchCond[field.ui_field_name]"
                                                       :multiple="field.ui_type == 'multiselect'" size="small"
                                                       :style="{width:field.width + 'px' , height:field.height + 'px'}">
                                                <el-option v-for="item in field.selectData" :key="item.value"
                                                           :label="item.display" :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </template>

                                        <template v-if="field.ui_type == 'date' ||field.ui_type == 'datetime' ">
                                            <el-date-picker v-model="searchCond[field.ui_field_name]" size="small"
                                                            :format="field.ui_type == 'date' ? 'yyyy/MM/dd': 'yyyy/MM/dd HH:mm:ss'"
                                                            :type="field.ui_type == 'date' ? 'date': 'datetime'"
                                                            :editable="false"
                                                            :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                            placeholder="">
                                            </el-date-picker>
                                        </template>

                                        <template v-if="field.ui_type == 'daterange'">
                                            <el-date-picker v-model="searchCond[field.ui_field_name]" size="small"
                                                            format="yyyy/MM/dd" type="daterange" :editable="false"
                                                            :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                            placeholder="Select date range">
                                            </el-date-picker>
                                        </template>

                                        <template v-if="field.ui_type == 'radio'">
                                            <el-radio class="radio"
                                                      v-model="searchCond[field.ui_field_name]"
                                                      v-for="item in field.selectData" :label="item.value">
                                                {{item.display}}
                                            </el-radio>
                                        </template>

                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div> <!-- row-->
            </div> <!-- /.search-co -->
        </div> <!-- /.row  search-content-->
    </div>
    <div class="clearfix"></div>
</script>

