<div class="page-content">
    <div class="">
        <div class="page-header"></div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-11 col-xs-11">
                    <div class="row no-margin-right">

                        <!--  依房型訂房 -->
                        <%- include PMS0100000_module/resvRoomTypeTable_1 %>
                        <!--  /.End 依房型訂房 -->

                    </div>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button id="ins-btn"
                                            class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">上一頁</button>
                                </li>
                                <li>
                                    <button id="remove-btn"
                                            class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">下一頁</button>
                                </li>
                                <li>
                                    <button id="ins-btn"
                                            class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                            role="button">訂房</button>
                                </li>
                                <li>
                                    <button id="ins-btn"
                                            class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">列印</button>
                                </li>
                                <li>
                                    <button id="ins-btn"
                                            class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">另存</button>
                                </li>
                                <li>
                                    <button id="ins-btn"
                                            class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">專案訂房</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-sm-12 -->
            <div class="clearfix"></div>

        </div>

        <!--  依房型訂房 彈出視窗內容-->
        <%- include PMS0100000_module/resvRoomTypeBtn_1 %>
        <!--  /.End 彈出視窗內容 -->

        <!--  依房型訂房 彈出視窗內容(ho 新增)-->
        <%- include PMS0100000_module/resvRoomTypeBtn_2 %>
        <!--  /.End 彈出視窗內容(ho 新增) -->


    </div><!-- /.roomNumPlanPage -->
</div>

<script type="text/javascript">
    $(function (){

        // 彈出 訂房卡
        $(document).on('click', ".reservationDialog-1", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-1-message").removeClass('hide').dialog({
                modal: true,
                title: "訂房卡",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 住客歷史
        $(document).on('click', ".reservationDialog-2", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-2-message").removeClass('hide').dialog({
                modal: true,
                title: "住客歷史",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 費用列表 Rate Details
        $(document).on('click', ".resv_rateDetail", function (e) {
            e.preventDefault();
            var dialog = $("#resvRateDetail-message").removeClass('hide').dialog({
                modal: true,
                title: "Rate Details",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 選項 option
        $(document).on('click', ".resvOption", function (e) {
            e.preventDefault();
            var dialog = $("#resvOption-message").removeClass('hide').dialog({
                modal: true,
                title: "Option",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 住客明細 Guest Details
        $(document).on('click', ".resv_guestDetail", function (e) {
            e.preventDefault();
            var dialog = $("#resvGuestDetail-message").removeClass('hide').dialog({
                modal: true,
                title: "住客明細",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 住客明細 Guest Details -- 新增交辦
        $(document).on('click', ".resv_guestDetailBtn1", function (e) {
            e.preventDefault();
            var dialog = $("#resvGuestDetailBtn1-message").removeClass('hide').dialog({
                modal: true,
                title: "新增交辦",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 指定房組 AssignHouse
        $(document).on('click', ".resv_assignHouse", function (e) {
            e.preventDefault();
            var dialog = $("#resvAssignHouse-message").removeClass('hide').dialog({
                modal: true,
                title: "指定房組",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 櫃檯備品 Counter supplies
        $(document).on('click', ".resv_counterSupplies", function (e) {
            e.preventDefault();
            var dialog = $("#resvCounterSupplies-message").removeClass('hide').dialog({
                modal: true,
                title: "櫃檯用品",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 接送機
        $(document).on('click', ".resvPickUp-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-pickUp").removeClass('hide').dialog({
                modal: true,
                title: "接送機資料輸入",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 批次修改
        $(document).on('click', ".resvBatch-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-batch").removeClass('hide').dialog({
                modal: true,
                title: "批次修改",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });


        <!-- ********* dataGrid ********* -->

        // 預約來館資料 dataGrid
        $('#reservation_reserveShopInfo-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_reserveShopInfo.json',
            method: 'get',
            columns: [[
                {field: 'cardStatus', title: '訂房卡狀態', width: 100},
                {field: 'ciDate', title: 'C/I日期', width: 100},
                {field: 'coDate', title: 'C/Ｏ日期', width: 100},
                {field: 'fullName', title: 'Full Name', width: 100},
                {field: 'checkStatus', title: '確認狀態', width: 100},
                {field: 'companyName', title: '公司名稱', width: 100},
                {field: 'proxyCompanyName', title: '代訂公司名稱', width: 100},
                {field: 'retainDate', title: '保留日', width: 100},
                {field: 'contactMan', title: '連絡人', width: 100},
                {field: 'roomKind', title: '房種', width: 100},
                {field: 'adult', title: '大人', width: 100},
                {field: 'child', title: '小孩', width: 100},
                {field: 'addedDate', title: '新增日期', width: 100},
                {field: 'addedBy', title: '新增者', width: 100},
                {field: 'lastDate', title: '最後修改日', width: 100},
                {field: 'lastBy', title: '最後修改者', width: 100},
                {field: 'firstName', title: 'First Name', width: 100},
                {field: 'lastName', title: 'Last Name', width: 100}
            ]]

        });

        // 住客來訪歷史 dataGrid
        $('#reservation_guestVisitHistory-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_guestVisitHistory.json',
            method: 'get',
            columns: [[
                {field: 'office', title: '廳別', width: 100},
                {field: 'arriveDate', title: '到達日', width: 100},
                {field: 'departDate', title: '離開日', width: 100},
                {field: 'roomNum', title: '房號', width: 100},
                {field: 'roomPriceCode', title: '房價代號', width: 100},
                {field: 'roomPrice', title: '房價', width: 100, align:'right'},
                {field: 'rebate', title: '折扣', width: 100, align:'right'},
                {field: 'rebateCreditor', title: '折扣債權人', width: 100},
                {field: 'consumption', title: '總消費額', width: 100, align:'right'},
                {field: 'guestCategory', title: '住客類別', width: 100},
                {field: 'proxyCompany', title: '代訂公司', width: 100},
                {field: 'hall', title: '館別', width: 100},
                {field: 'remark', title: '備註', width: 100}
            ]]

        });

        // 管別備註 dataGrid
        $('#reservation_hallRemark-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_hallRemark.json',
            method: 'get',
            columns: [[
                {field: 'hall', title: '館別', width: 100},
                {field: 'no', title: '序號', width: 100},
                {field: 'remark', title: '備註', width: 200},
                {field: 'inputPerson', title: '輸入者', width: 100},
                {field: 'inputDate', title: '輸入日', width: 100},
                {field: 'lastInputPerson', title: '最後異動者', width: 100},
                {field: 'lastInputDate', title: '最後異動日', width: 100}
            ]]

        });

        // 訂房卡 dataGrid
        $('#reservation_resvCard-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_resvCard.json',
            method: 'get',
            columns: [[
                {field: 'No', title: 'No', width: 30},
                {field: 'Status', title: 'Status', width: 40},
                {field: 'CIDate', title: 'CI Date', width: 75},
                {field: 'Days', title: 'Days', width: 40},
                {field: 'CODate', title: 'CO Date', width: 75},
                {field: 'RateCode', title: 'Rate code', width: 120},
                {field: 'RunTypeForSell', title: 'Run Type For Sell', width: 60},
                {field: 'TypeForAssign', title: 'Type For Assign',align:'right', width: 60},
                {field: 'NoOfRms', title: 'No of Rms',align:'right', width: 40},
                {field: 'UnitPrice', title: 'Unit Price',align:'right', width: 60},
                {field: 'UnitSevChrg', title: 'Unit Sev. Chrg',align:'right', width: 60},
                {field: 'GrdRmChrg', title: 'Grd Rm Chrg',align:'right', width: 60},
                {field: 'GrdSvc', title: 'Grd Svc.',align:'right', width: 60},
                {field: 'Others', title: 'Others',align:'right', width: 60},
                {field: 'Total', title: 'Total',align:'right', width: 60},
                {field: 'RelatedNum', title: '關連序號', width: 40},
                {field: 'Commion', title: 'Commion',align:'right', width: 40}
            ]]

        });

        // 費用列表 dataGrid
        $('.resvRateDetail1-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_rateDetail_1.json',
            method: 'get',
            columns: [[
                {field: 'details', title: '明細', width: 60},
                {field: 'itemCode', title: '項目代號', width: 100},
                {field: 'itemName', title: '項目名稱', width: 200},
                {field: 'itemPrice', title: '項目單價', width: 100},
                {field: 'quanity', title: '數量', width: 100},
                {field: 'itemSubTotal', title: '項目小計', width: 100},
                {field: 'serviceMethod', title: '服務方式', width: 100},
                {field: 'customRules', title: '自訂規則', width: 100},
                {field: 'startDate', title: '開始日期', width: 100},
                {field: 'endDate', title: '結束日期', width: 100},
                {field: 'hallCode', title: '館別代號', width: 100},
                {field: 'addBy', title: '輸入者', width: 100},
                {field: 'addDate', title: '輸入日', width: 100},
                {field: 'updBy', title: '最後異動者', width: 100},
                {field: 'updDate', title: '最後異動日', width: 100}
            ]]

        });

        // 訂房卡-接機 dataGrid
        $('#resvPickUp-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/resvPickUp.json',
            method: 'get',
            columns: [[
                {field: 'resvNo', title: '序號', width: 50},
                {field: 'resvCo', title: '連絡人', width: 100},
                {field: 'resvP1', title: '電話一', width: 150},
                {field: 'resvP2', title: '電話二', width: 150},
                {field: 'resvDate', title: '日期', width: 100},
                {field: 'resvNum', title: '班次', width: 100},
                {field: 'resvTime', title: '時間', width: 100},
                {field: 'resvAdult', title: '大人數', width: 50},
                {field: 'resvChild', title: '小孩數', width: 50},
                {field: 'resvBaby', title: '嬰兒數', width: 50},
                {field: 'resvPoint', title: '指定住客', width: 100},
                {field: 'resvMark', title: '備註', width: 150}
            ]]

        });

        // 訂房卡-送機 dataGrid
        $('#resvDropOff-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/resvDropOff.json',
            method: 'get',
            columns: [[
                {field: 'resvNo', title: '序號', width: 50},
                {field: 'resvCo', title: '連絡人', width: 100},
                {field: 'resvP1', title: '電話一', width: 150},
                {field: 'resvP2', title: '電話二', width: 150},
                {field: 'resvDate', title: '日期', width: 100},
                {field: 'resvNum', title: '班次', width: 100},
                {field: 'resvTime', title: '時間', width: 100},
                {field: 'resvAdult', title: '大人數', width: 50},
                {field: 'resvChild', title: '小孩數', width: 50},
                {field: 'resvBaby', title: '嬰兒數', width: 50},
                {field: 'resvPoint', title: '指定住客', width: 100},
                {field: 'resvMark', title: '備註', width: 150}
            ]]

        });

        // 批次修改 dataGrid
        $('#resvBatch-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/resvBatch.json',
            method: 'get',
            columns: [[
                {field: 'batchChoose', title: '選擇', width: 50},
                {field: 'batchNo', title: '序號', width: 50},
                {field: 'batchState', title: '狀態', width: 50},
                {field: 'batchDate1', title: 'C/I日期', width: 100},
                {field: 'batchDate2', title: 'C/O日期', width: 100},
                {field: 'batchCode', title: '房價代號', width: 200},
                {field: 'batchTotal', title: '計價房種', width: 200},
                {field: 'batchUse', title: '使用房種', width: 200},
                {field: 'batchNum', title: '間數', width: 50},
                {field: 'batchPrice', title: '房價', width: 100},
                {field: 'batchSerice', title: '服務費', width: 100},
                {field: 'batchMargin', title: '房價差額', width: 100},
                {field: 'batchBrokerage', title: '備註', width: 100}
            ]]

        });


    });

    $(function() {

        // tabs setting
        $('.easyUi-custom1').tabs({
            // 可以resize 左右，但height 會變大
//            fit: true,
//            height: auto
        });

        $('#resRoomType-table').fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 ,addPxForFixedColumnsWidth: 50, everyColumnsAddWith: 0 });
        //fixedColumns             : 固定左側列行數
        //addPxForFixedColumnsWidth: 固定左側列行數-寬
        //everyColumnsAddWith      : 每一個欄位的-寬

        // tree
        $("table.treeControl").agikiTreeTable({persist: true, persistStoreName: "files"});

        // resize table
//        // divider margin 40px && fht-body -85px
        var header1 = $(".navbar-container").height();
        var header2 = $(".top-sec-ul").height()+5; //padding-top: 5px
//        console.log(header1);
//        console.log(header2);
        height=$(window).height()-header1-header2-10;
        $(".height600").css("height", height);
        //		$(".height600").removeClass("height600");
        $(".fht-tbody").css("height", height-80);
        $(window).resize(function() {
            height=$(window).height()-header1-header2-10;
            $(".height600").css("height", height);
            $(".fht-tbody").css("height", height-80);
        });

//        grid_12
        var tableWidth1 = $(".sidebar").width();

//        console.log(header2);
        tableWidth=$(window).width()-tableWidth1-10;
        $(".grid_12").css("width", "95%");
//        $(".grid_12").find(".fht-fixed-body").css("width", "95%");
        $(".fht-body").css("width", "95% !important");
//        $("#resRoomType-table").css("width", tableWidth-80);
//        $(".fht-table").css("width", tableWidth-80);
//        $(".fancyTable").css("width", tableWidth-80);
        $(window).resize(function() {
            tableWidth=$(window).width()-tableWidth1-10;
            $(".grid_12").css("width", "100%");
            $(".fht-body").css("width", "100%");
//            $(".grid_12").find(".fht-fixed-body").css("width", tableWidth-80)
//            $("#resRoomType-table").css("width", tableWidth-80);
//            $(".fht-table").css("width", tableWidth-80);
//            $(".fht-fixed-body").css("width", tableWidth-80);



        });

        //$(document).on('click',".controlSub",function(e){
        //$('.sub-content').toggle();
        //});

        // 住客歷史 height
        $(window).resize(function() {
            var guestHoliday = $(window).height()-10;
            $(".guestHoliday").css("height","guestHoliday");
        });
    });

</script>


