<div class="page-content">
    <div class="">
        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-11 col-xs-11">
                    <div class="row no-margin-right">
                        <div class="search-content">
                            <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                            <div class="search-co blockSetting">
                                <div class="search-co-h">
                                    <i class="ace-icon fa fa-search search-icon"></i>
                                    <span>搜尋</span>
                                    <div class="row search-right-btn">
                                        <div class="right-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-chevron-down show-search-detail"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="search-co-content col-xs-12">
                                        <div class="col-sm-4">

                                        </div>
                                        <div class="col-sm-4">

                                        </div>
                                        <div class="col-sm-4">

                                        </div>
                                    </div>
                                    <div class="search-co-content col-xs-12 rece-search-detail"
                                         style="display: none;">
                                        <div class="row search-footer-btn">
                                            <div class="footer-btn-menu-co">
                                                <ul>
                                                    <li>
                                                        <div class="" data-rel="tooltip"
                                                             data-placement="bottom"
                                                             title="查詢"
                                                             style="padding: 0 0 5px 0;">
                                                            <div class="icon-reStyle icon-co-14"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="" data-rel="tooltip"
                                                             data-placement="bottom"
                                                             title="清除" style="padding: 0 0 5px 0;">
                                                            <div class="icon-reStyle icon-co-11"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>  <!-- /.footer-btn-menu-co -->
                                        </div> <!-- /.search-footer-btn -->
                                        <!--1-->
                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>速查</label>
                                                <input type="text" class="input-medium popWindow-s1-col2" placeholder="">

                                            </div>
                                            <div class="searchCheckbox pull-left">
                                                <span class="checkbox">
                                                  <label class="checkbox-width">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                                      <span class="lbl">Keyword</span>
                                                  </label>
                                                </span>
                                            </div>
                                        </div>
                                        <!--2-->
                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>訂房卡號</label>
                                                <input type="text" class="input-medium popWindow-s1" placeholder="">
                                            </div>
                                            <div class="grid-item block-table pull-left">
                                                <label>官網/聯訂中心</label>
                                                <input type="text" class="input-medium popWindow-s1" placeholder="">
                                            </div>
                                        </div>
                                        <!--3-->
                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>Ｃ/I日期</label>
                                                <input type="date" class="input-medium popWindow-s1" placeholder="">
                                            </div>
                                            <div class="grid-item block-table pull-left">
                                                <label>訂房卡狀態</label>
                                                <input type="text" class="input-medium popWindow-s1" placeholder="有效訂房">
                                            </div>
                                        </div>
                                        <!--4-->
                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>Ｃ/O日期</label>
                                                <input type="date" class="input-medium popWindow-s1" placeholder="">
                                            </div>
                                            <div class="grid-item block-table pull-left">
                                                <label>種類</label>
                                                <input type="text" class="input-medium popWindow-s1" placeholder="有效訂房">
                                            </div>
                                        </div>
                                        <!--5-->
                                        <!--todo 0622-->
                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>身分證字號</label>
                                                <input type="text" class="input-medium popWindow-s2" placeholder="">
                                            </div>
                                            <div class="grid-item block-table pull-left">
                                                <label>國籍</label>
                                                <input type="text" class="input-medium popWindow-s2" placeholder="">
                                            </div>
                                        </div>

                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>出生日期</label>
                                                <input type="date" class="input-medium popWindow-s2" placeholder="">
                                            </div>
                                            <div class="grid-item block-table pull-left">
                                                <label>C/I 日期</label>
                                                <input type="date" class="input-medium popWindow-s2" placeholder="">
                                            </div>
                                        </div>


                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>消費總額</label>
                                                <input type="text" class="input-medium popWindow-s2 text-right" placeholder="">
                                            </div>

                                            <div class="grid-item block-table pull-left">
                                                <label>是否收取DM</label>
                                                <select class="input-medium popWindow-s2">
                                                    <option value="y">Y</option>
                                                    <option value="n">N</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>代訂公司代號</label>
                                                <input type="text" class="input-medium popWindow-s1-col2" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                        </div>

                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>公司代號</label>
                                                <input type="text" class="input-medium popWindow-s1-col2" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                        </div>

                                        <div class="grid width-95">
                                            <div class="grid-item block-table pull-left">
                                                <label>公司名稱</label>
                                                <input type="text" class="input-medium popWindow-s1-col2" placeholder="">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div> <!-- row-->
                            </div> <!-- /.search-co -->
                        </div> <!-- /.row  search-content-->
                    </div>
                </div>
            </div> <!-- /.col-sm-12 -->
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <!--<div class="blockSetting-heading">查詢結果</div>-->
                <div class="col-sm-11 col-xs-11">
                    <div class="row no-margin-right">
                        <!-- rateCode-查詢結果 dataGrid -->
                        <table id="resv_gProfile-table"></table>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-2"
                                            role="button">Add</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-2"
                                            role="button">Edit</button>
                                </li>
                                <li>
                                    <button class="btn btn-danger btn-white btn-defaultWidth"
                                            role="button">Delete</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">以下全選</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">以下全不選</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-sm-12 -->
            <div class="clearfix"></div>

        </div>

        <!--  依房型訂房 彈出視窗內容-->
        <%- include PMS0100000_module/resvRoomTypeBtn_1 %>
        <!--  /.End 彈出視窗內容 -->
    </div>
</div><!-- /.page-content -->


<!--treeTable-->
<script type="text/javascript" src="/js/tree/jquery.treetable-ajax-persist.js"></script>
<script type="text/javascript" src="/js/tree/jquery.treetable-3.0.0.js"></script>
<script type="text/javascript" src="/js/tree/persist-min.js"></script>
<!--fixTable-->
<script type="text/javascript" src="/js/fixTable/jquery.fixedheadertable.js"></script>

<script type="text/javascript">
    $(function () {

        // tabs setting
        $('.easyUi-custom1').tabs({
            // 可以resize 左右，但height 會變大
//            fit: true,
//            height: auto
        });

        // 彈出 住客歷史
        $(document).on('click', ".reservationDialog-2", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-2-message").removeClass('hide').dialog({
                modal: true,
                title: "住客歷史",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 住客歷史多筆資料
        $('#resv_gProfile-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/resv_gProfile.json',
            method: 'get',
            columns: [[
                {field: 'option', title: '選擇', width: 80},
                {field: 'historyNO', title: '歷史編號', width: 80},
                {field: 'personID', title: '身份證字號', width: 100},
                {field: 'fullName', title: 'Full Nmae', width: 80},
                {field: 'sex', title: '性別', width: 60},
                {field: 'birthDate', title: '出生日期', width: 100},
                {field: 'status', title: '狀態', width: 60},
                {field: 'country', title: '國籍', width: 100},
                {field: 'visitNum', title: '來訪次數', width: 60},
                {field: 'visitDay', title: '來訪天數', width: 60},
                {field: 'totalSpend', title: '消費總額', width: 60,align:'right'},
                {field: 'getDM', title: '收取DM', width: 60},
            ]]

        });

        <!-- ********* dataGrid ********* -->

        // 預約來館資料 dataGrid
        $('#reservation_reserveShopInfo-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_reserveShopInfo.json',
            method: 'get',
            columns: [[
                {field: 'cardStatus', title: '訂房卡狀態', width: 100},
                {field: 'ciDate', title: 'C/I日期', width: 100},
                {field: 'coDate', title: 'C/Ｏ日期', width: 100},
                {field: 'fullName', title: 'Full Name', width: 100},
                {field: 'checkStatus', title: '確認狀態', width: 100},
                {field: 'companyName', title: '公司名稱', width: 100},
                {field: 'proxyCompanyName', title: '代訂公司名稱', width: 100},
                {field: 'retainDate', title: '保留日', width: 100},
                {field: 'contactMan', title: '連絡人', width: 100},
                {field: 'roomKind', title: '房種', width: 100},
                {field: 'adult', title: '大人', width: 100},
                {field: 'child', title: '小孩', width: 100},
                {field: 'addedDate', title: '新增日期', width: 100},
                {field: 'addedBy', title: '新增者', width: 100},
                {field: 'lastDate', title: '最後修改日', width: 100},
                {field: 'lastBy', title: '最後修改者', width: 100},
                {field: 'firstName', title: 'First Name', width: 100},
                {field: 'lastName', title: 'Last Name', width: 100}
            ]]

        });

        // 住客來訪歷史 dataGrid
        $('#reservation_guestVisitHistory-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_guestVisitHistory.json',
            method: 'get',
            columns: [[
                {field: 'office', title: '廳別', width: 100},
                {field: 'arriveDate', title: '到達日', width: 100},
                {field: 'departDate', title: '離開日', width: 100},
                {field: 'roomNum', title: '房號', width: 100},
                {field: 'roomPriceCode', title: '房價代號', width: 100},
                {field: 'roomPrice', title: '房價', width: 100, align:'right'},
                {field: 'rebate', title: '折扣', width: 100, align:'right'},
                {field: 'rebateCreditor', title: '折扣債權人', width: 100},
                {field: 'consumption', title: '總消費額', width: 100, align:'right'},
                {field: 'guestCategory', title: '住客類別', width: 100},
                {field: 'proxyCompany', title: '代訂公司', width: 100},
                {field: 'hall', title: '館別', width: 100},
                {field: 'remark', title: '備註', width: 100}
            ]]

        });

        // 管別備註 dataGrid
        $('#reservation_hallRemark-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation_hallRemark.json',
            method: 'get',
            columns: [[
                {field: 'hall', title: '館別', width: 100},
                {field: 'no', title: '序號', width: 100},
                {field: 'remark', title: '備註', width: 200},
                {field: 'inputPerson', title: '輸入者', width: 100},
                {field: 'inputDate', title: '輸入日', width: 100},
                {field: 'lastInputPerson', title: '最後異動者', width: 100},
                {field: 'lastInputDate', title: '最後異動日', width: 100}
            ]]

        });

    });
</script>