<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!--<div class="col-sm-11 col-xs-11">-->
                <!--<div class="row no-margin-right">-->
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>Search</span>
                                <div class="row search-right-btn">
                                    <div class="right-btn-menu-co">
                                        <ul>
                                            <li>
                                                <i class="fa fa-chevron-down show-search-detail"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="search-co-content col-xs-12">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                    <div class="row search-footer-btn">
                                        <div class="footer-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                        <div class="icon-reStyle icon-co-14"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                        <div class="icon-reStyle icon-co-11"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  <!-- /.footer-btn-menu-co -->
                                    </div> <!-- /.search-footer-btn -->
                                    <div class="width-95">
                                        <!--1-->
                                        <div class="grid">
                                            <div class="grid-item pull-left">
                                                <label>速查</label>
                                                <input type="text" class="input-medium popWindow-s1v2-keyword" placeholder="">
                                            </div>
                                            <div class="searchCheckbox pull-left">
                                                <span class="checkbox">
                                                  <label class="checkbox-width">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                                      <span class="lbl">Keyword</span>
                                                  </label>
                                                </span>
                                            </div>
                                        </div>
                                        <!--2-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>訂房卡號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>官網/聯訂中心</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--3-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Ｃ/I日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>訂房卡狀態</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="有效訂房">
                                            </div>
                                        </div>
                                        <!--4-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Ｃ/O日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>種類</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="全部">
                                            </div>
                                        </div>
                                        <!--5-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>房價代號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                            <div class="grid-item">
                                                <label>訂房公司</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--6-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>計價房種</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                            <div class="grid-item">
                                                <label>公司名稱</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--7-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>使用房種</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                            <div class="grid-item">
                                                <label>聯絡人</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--8-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>公帳號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                            <div class="grid-item">
                                                <label>鍵控代號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2RM" placeholder="">
                                                <span class="moreClick">...</span>
                                            </div>
                                        </div>
                                        <!--9-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Full Name</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2 text-right" placeholder="">
                                            </div>

                                            <div class="grid-item">
                                                <label>團號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2 text-right" placeholder="">
                                            </div>
                                        </div>
                                        <!--10-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Source</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>市場類別</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--11-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>訂房備註</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>聯絡電話</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--12-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>是否確認</label>
                                                <input type="text" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>保留日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>新增/修改者</label>
                                                <input type="text" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                        </div>
                                        <!--13-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>確認者</label>
                                                <input type="text" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>取消者</label>
                                                <input type="date" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>新增日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                        </div>
                                        <!--14-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>確認日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>取消日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>修改日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div> <!-- row-->
                        </div> <!-- /.search-co -->
                    </div> <!-- /.row  search-content-->
                <!--</div>-->
            <!--</div>-->
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <!--<div class="blockSetting-heading">查詢結果</div>-->
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">

                    <div class="gridTableHt">
                        <!-- 訂房卡多筆 resv_bookings-table dataGrid -->
                        <table id="resv_bookings-table"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                        role="button">Edit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

    </div>

    <!--  依房型訂房 彈出視窗內容-->
    <%- include PMS0100000_module/resvRoomTypeBtn_1 %>
    <!--  /.End 彈出視窗內容 -->

    <!--  依房型訂房 彈出視窗內容(ho 新增)-->
    <%- include PMS0100000_module/resvRoomTypeBtn_2 %>
    <!--  /.End 彈出視窗內容(ho 新增) -->


    <!--  依房型訂房 彈出視窗內容(jing 新增2)-->
    <%- include PMS0100000_module/resvRoomTypeBtn_3 %>
    <!--  /.End 彈出視窗內容 -->
</div><!-- /.page-content -->

<!--  訂房卡共用 initial js -->
<%- include PMS0100000_module/resv_includeJs %>
<!--  /.End 訂房卡共用 initial js  -->