<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- rpeorts Page-->
    <div class="pageMain" id="report-app" v-loading="loading">
        <div class="col-xs-12">
            <label class="prg_idLbH3">
                {{BacchusMainVM.$data.usingPrgName}}(<%= prg_id %>)
            </label>
        </div>
        <div class="col-xs-12">

            <div class="search-content">
                <search-comp
                        field-mode="operator"
                        :searchs-cond-operator.sync="searchsCondOperator"
                        :search-fields="searchFields"
                        :search-cond.sync="searchCond"
                        :fetch-data="doGenReport">
                </search-comp>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div>
                <iframe id="reportIframe" class="iframeHt" height="400%" frameborder="0" scrolling="no"
                        :src="pdfUrl"></iframe>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
</div><!-- /.page-content -->

<!-- subSystem 共用 js -->
<%- include ../common/viewsComJs.ejs %>
<!--  /.End subSystem 共用 js  -->
<script src="/js/reports/report.js"></script>