<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- rpeorts Page-->
    <div class="pageMain" id="report-app" v-loading="loading">
        <div class="col-xs-12">
            <label class="prg_idLbH3">
                {{BacchusMainVM.$data.usingPrgName}}(<%= prg_id %>)
            </label>
        </div>
        <div class="col-xs-12">

            <div class="search-content">
                <search-comp
                        field-mode="operator"
                        :searchs-cond-operator="searchsCondOperator"
                        :search-fields="searchFields"
                        :search-cond.sync="searchCond"
                        :fetch-data="doGenReport">
                </search-comp>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div>
                <iframe id="reportIframe" class="iframeHt" height="400%" frameborder="0" scrolling="no"
                        :src="pdfUrl"></iframe>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
</div><!-- /.page-content -->

<!-- subSystem 共用 js -->
<%- include ../common/viewsComJs.ejs %>
<!--  /.End subSystem 共用 js  -->

<script>
    let gs_prg_id = '<%= prg_id %>';
    new Vue({
        el: "#report-app",
        data: {
            searchFields: [],
            searchCond: {},
            searchsCondOperator: {},
            pdfUrl: '',
            loading: false
        },
        mounted() {
            this.doSearchFields();
        },
        methods: {
            doSearchFields() {

                BacUtils.doHttpPostAgent('/api/fetchOnlySearchFieldsData', {prg_id: gs_prg_id}, (result) => {
                    if (result.success) {
                        this.searchFields = result.searchFieldsData;
                        console.log(this.searchFields);
                    }
                });
            },
            convertFieldCond: function () {
                let lao_fields = [];
                let self = this;
                try {
                    _.each(this.searchCond, function (val, fieldName) {
                        let lo_field = _.findWhere(self.searchFields, {ui_field_name: fieldName}) || {};
                        if (val != "" && val != undefined) {
                            if (lo_field.ui_type == "daterange") {
                                val = _.map(val, (d) => {
                                    return moment(d).format("YYYY/MM/DD")
                                })
                            }
                            lao_fields.push({
                                "field": fieldName,
                                "operator": self.searchsCondOperator[fieldName] || "",
                                "values": lo_field.ui_type == "mutilselect" || lo_field.ui_type == "daterange" ? val : [val]
                            })
                        }
                    })
                    console.log(lao_fields);
                    return lao_fields;
                } catch (e) {
                    console.log(e);
                }

            },
            doGenReport: function () {
                console.log(this.searchsCondOperator);
                console.log(this.searchCond);
                let self = this;
                self.loading = true;
                BacUtils.doHttpPostAgent('/api/doGenReport', {prg_id: gs_prg_id, conditions: this.convertFieldCond()}, (res) => {
                    self.loading = false;
                    if (res.success) {
                        self.pdfUrl = res.reportPdfUrl;
                    } else {
                        alert(res.errorMsg);
                    }
                })
            }
        }
    })
</script>