<ul class="nav nav-list" id="moduleUl">
    <li class="active nav-height">
        <a href="javascript:void(0)">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> <%= session.activeSystem["name_" + session.locale] %> </span>
        </a>
    </li>
    <li class="nav-height" v-for="rptItem in reportMenu" :class="{open : isOpenModule == rptItem.mdl_id}">

        <template>
            <a @click="openNewPageLoadProgram(rptItem.pro_id)" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    {{rptItem.pro_name}}
                </span>
            </a>
        </template>

    </li>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</ul>

