<ul class="nav nav-list" id="moduleUl">
    <li class="active nav-height">
        <a href="javascript:void(0)" onclick="toFirstSubSyst()">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> <%= session.user["sys_name_" + session.locale] %> </span>
        </a>
    </li>

    <li class="nav-height">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                               <%= __("front_desk_conf") %>
                            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <ul class="submenu">
            <!-- 飯店前台參數設定 -->
            <% if(module == 'front_desk_conf'){ %>
            <li>
                <a onclick="javascript:window.open('/setup/front_desk_conf#reservation_comparison')"
                   target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <%= __("reserve_comparsion") %>
                </a>

            </li>
            <% } %>
        </ul>
    </li>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</ul>

<script>
    function toFirstSubSyst() {
        var firstSubSyst_url = getCookie("subsystem_first_url");
        location.href = firstSubSyst_url;
        location.reload();
    }
</script>