<ul class="nav nav-list" id="moduleUl">
    <li class="active nav-height">
        <a href="/">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> <%= session.user["sys_name_" + session.locale] %> </span>
        </a>

        <!--<b class="arrow"></b>-->
    </li>

    <li class="nav-height">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                               商務公司作業
                            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>
        <!--<b class="arrow"></b>-->
        <ul class="submenu">
            <li class="">
                <!--<a href="manageReservation.html" target="_blank" class="dropdown-toggle"> dropdown-toggle 在下拉一層-->
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    商務公司資料維護
                </a>
                <!--<b class="arrow"></b>-->
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    批次換約功能
                </a>
            </li>

        </ul>

    </li>
    <li class="nav-height active open">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                               業務設定作業
                            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>
        <!--<b class="arrow"></b>-->
        <ul class="submenu">
            <li class="active">
                <a href="/clerkDataDefend" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    業務員資料維護
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    業務員指派功能
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    業務員組別設定
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    業務員目標設定
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-height">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                               Ｑuick Menu
                            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>
        <!--<b class="arrow"></b>-->
        <ul class="submenu">
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    依房型訂房
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    訂房查詢
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    住客查詢
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    住客資料維護
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    團體管理
                </a>
            </li>
            <li class="">
                <a onclick="" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    交辦事項
                </a>
            </li>
        </ul>
    </li>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</ul>

<!-- /.nav-list -->