<div class="col-xs-12 top-sec-ul breadcrumbs-fixed">
    <!-- Subsystem menu  -->
    <div class="top-ul">
        <ul id="subsysUl">
            <li v-for="subsysItem in subsysMenu"
                :class="{active_01: usingSubsysID == subsysItem.subsys_id}"
                @click.prevent="changeSubsys(subsysItem.subsys_id)">
                {{
                subsysItem["subsys_nam_" + locale] != ""
                ? subsysItem["subsys_nam_" + locale]
                :subsysItem.subsys_nam
                }}
            </li>

        </ul>
    </div>

    <!-- Quick menu  -->
    <div class="secondMenu-ul secondMenuClick ">
        <ul id="quickMenuUl">
            <li v-for="quick in quickMenu"
                @click="loadMainProcess(quick.pro_id)"
                :class="{activeThis:quick.pro_id == usingPrgID, 'btn-skin':quick.isBusinessVer == 'Y', 'btn-gray':quick.isEnterpriseVer == 'Y'}">

                <!--會另彈新一頁的icon-->
                <span class="exLinkIcon">
                    <i class="fa fa-external-link"></i>
                </span>
                <span>
                    {{ quick["pro_name_" + locale] }}
                </span>

            </li>
        </ul>
    </div>
</div>

<style>
</style>


