<div class="col-xs-12 top-sec-ul breadcrumbs-fixed">
    <!-- Subsystem menu  -->
    <div class="top-ul">
        <ul id="subsysUl">
            <li v-for="subsysItem in subsysMenu"
                :class="{active_01: usingSubsysID == subsysItem.subsys_id}"
                @click.prevent="changeSubsys(subsysItem.subsys_id)">
                    {{
                        subsysItem["subsys_nam_" + locale] != ""
                        ? subsysItem["subsys_nam_" + locale]
                        :subsysItem.subsys_nam
                    }}
            </li>

        </ul>
    </div>

    <!-- Quick menu  -->
    <div class="secondMenu-ul secondMenuClick ">
        <ul id="quickMenuUl">
            <li v-for="quick in quickMenu"
                @click="loadMainProcess(quick.pro_id)"
                :class="{activeThis:quick.pro_id == usingPrgID}" >
                <!--
                    https://stackoverflow.com/questions/13579730/can-i-animate-multiple-css-transform-properties-separately-using-keyframe-animat
                    animate transform keyframes
                -->

                <!--&lt;!&ndash;會另談新一頁的icon&ndash;&gt;-->
                <!--<span class="exLinkIcon">-->
                    <!--<i class="fa fa-external-link" onclick=window.open('https://tw.yahoo.com/','_blank')></i>-->
                <!--</span>-->

                {{ quick["pro_name_" + locale] }} 
            </li>
        </ul>
    </div>
</div>


