<div class="col-xs-12 top-sec-ul breadcrumbs-fixed">
    <div class="top-ul">
        <ul id="subsysUl">
            <li v-for="subsysItem in subsysMenu"
                :class="{active_01: usingSubsysID == subsysItem.subsys_id}"
                @click.prevent="location.href= '/bacchus4web/'+subsysItem.subsys_id">

                <a href="#" style="color:#FFFFFF;">
                    {{
                        subsysItem["subsys_nam_" + locale] != ""
                        ? subsysItem["subsys_nam_" + locale]
                        :subsysItem.subsys_nam
                    }}

                </a>

            </li>

        </ul>
    </div> <!-- /.top-ul -->

    <!-- Quick menu  -->
    <div class="secondMenu-ul secondMenuClick ">
        <ul id="quickMenuUl">
            <li v-for="quick in quickMenu"
                @click="loadMainProcess(quick.pro_id)"
                :class="{activeThis:quick.pro_id == usingPrgID}" >
                {{ quick["pro_name_" + locale] }} 
            </li>
        </ul>
    </div> <!-- /.secondMenuUl -->
</div>


