<!-- 單檔彈出視窗 -->
<script type="text/x-template" id="sigleGridDialogTmp">
    <!--<div>Time:{{testTime}}</div>-->
    <!--<mz-datepicker :time.sync="testTime"  format="yyyy/MM/dd"></mz-datepicker>-->
    <div id="singleGridDialog" v-show="false">
        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12 singleGridContent">
                    <!-- Start Content -->
                    <form id="singleDataForm" method="post">
                        <div id="singleGridDiv" class="col-sm-11 col-xs-11 grid">
                            <div class="row" v-for="fields in pageTwoFieldData">
                                <div class="grid-item " v-for="field in fields">
                                    <label :style="{width:field.label_width + 'px'}"
                                           v-if="field.visiable == 'Y'">
                                        <span v-if=" field.requirable == 'Y' "  style="color: red;">*</span>
                                        <a @click="editMultiLang(field)" v-if="field.multi_lang_table != ''">{{field.ui_display_name}}</a>
                                        <span v-else>{{field.ui_display_name}} </span>

                                    </label>
                                    <span v-if="field.visiable == 'Y'"
                                          style="width: 15px; text-align: center;
                                          display: inline-block; min-width: 15px;">:</span>

                                    <!--  text & number -->
                                    <input v-model="singleData[field.ui_field_name]"
                                           @blur="chk_field_rule(field.ui_field_name,field.rule_func_name)"
                                           v-if="field.visiable == 'Y' &&
                                            (field.ui_type == 'text' ||
                                              field.ui_type == 'number' ||
                                             ( (field.ui_type == 'date' || field.ui_type == 'datetime' )
                                             &&  field.modificable == 'N'))"
                                           :type="field.ui_type"
                                           :class="{'input_sta_required' : field.requirable == 'Y' }"
                                           :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                           :required="field.requirable == 'Y'"
                                           :min="0"
                                           :maxlength="field.ui_field_length"
                                           :readonly="field.modificable == 'N'">

                                    <!--  Date & Datetime-->
                                    <input v-model="singleData[field.ui_field_name]"
                                           @blur="chk_field_rule(field.ui_field_name,field.rule_func_name)"
                                           v-if="field.visiable == 'Y' &&
                                           (field.ui_type == 'date' || field.ui_type == 'datetime' ) &&
                                           field.modificable == 'Y' "
                                           format-date="YYYY/MM/DD"
                                           format-datetime="YYYY/MM/DD HH:mm:ss"
                                           :type="field.ui_type"
                                           is="date"
                                           :class="{'input_sta_required' : field.requirable == 'Y' , 'dateClass': true}"
                                           :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                           :required="field.requirable == 'Y'"
                                           :maxlength="field.ui_field_length"
                                           :readonly="field.modificable == 'N'">

                                    <!-- 下拉選單 -->
                                    <select v-model="singleData[field.ui_field_name]"
                                            :disabled="field.modificable == 'N'"
                                            :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                            :class="{'input_sta_required' : field.requirable == 'Y' }"
                                            v-if="field.visiable == 'Y' && field.ui_type == 'select'">
                                        <option v-for="opt in field.selectData" :value="opt.value">
                                            {{opt.display}}
                                        </option>
                                    </select>

                                    <input type="hidden"
                                           v-model="singleData[field.ui_field_name]"
                                           v-if="field.visiable == 'N'"/>
                                </div>
                            </div>

                            <!-- DT 的datagrid -->
                            <div id="dt_dg_DIV" style="display: none;">
                                <table class="easyui-datagrid" id="dt_dg"
                                       style="width:100%;height:auto;">
                                </table>

                                <div id="tb" style="height:auto" class="dataGrid-toolBar01">

                                    <a href="javascript:void(0)" class="easyui-linkbutton"
                                       data-options="iconCls:'icon-add',plain:true"
                                       @click="appendDtRow">
                                        <i class="fa fa-plus green"></i>
                                        Add
                                    </a>

                                    <a href="javascript:void(0)" class="easyui-linkbutton"
                                       data-options="iconCls:'icon-remove',plain:true"
                                       @click="removeDtRow">
                                        <i class="fa fa-minus red"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Content -->

                    <!-- Control Panel -->
                    <div class="col-sm-1 col-xs-1 singleRelative">
                        <div class="row" v-if="editStatus">
                            <div class="singleEditStatus">
                                <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                        :disabled="isFistData"
                                        style="" @click="toFirstData">First
                                </button>
                                <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                        :disabled="isFistData"
                                        style="" @click="toPreData">Previous
                                </button>
                                <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                        :disabled="isLastData"
                                        style="" @click="toNextData">next
                                </button>
                                <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                        :disabled="isLastData"
                                        style="" @click="toLastData">Last
                                </button>
                                <button class="btn RoomNum-modal01-btn btn90px btn-danger btn-white btn-defaultWidth"
                                        style=""
                                        @click="handleDeleteSingleData">
                                    Delete
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Control Panel -->
                </div>
                <div class="clearfix"></div>
                <hr>

            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <!-- buttons -->
    <div class="col-sm-12 col-xs-12 center" id="dialogBtns" style="display: none;">
        <div class="singleRelative">
            <div class="singleBtnBottom">
                <button v-if="createStatus" class="btn btn-primary" style="margin-right: 5px;"
                        @click="doSaveGrid('addOther')">
                    Add after save
                </button>
                <button v-if="createStatus ||  editStatus" :disabled="editStatus && !modificableForData "
                        class="btn btn-primary btn-white" @click="doSaveGrid('closeDialog')">
                    Leave after save
                </button>
                <button v-if="editStatus" :disabled="editStatus && !modificableForData " class="btn btn-primary btn-white"
                        @click="doSaveGrid('')">Save
                </button>
                <button class="btn btn-primary btn-white" @click="emitCloseGridDialog">
                    Leave
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /.settingSingleDialog -->
</script>