<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
<!-- FO Counter Page-->
    <div class="row">
        <!-- search content -->
        <div class="col-xs-12">
            <div class="col-xs-11">
                <div class="row no-margin-right">
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>搜尋</span>
                                <div class="row search-right-btn">
                                    <div class="right-btn-menu-co">
                                        <ul>
                                            <li>
                                                <i class="fa fa-chevron-down show-search-detail"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="search-co-content col-xs-12">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                    <div class="row search-footer-btn">
                                        <div class="footer-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                        <div class="icon-reStyle icon-co-14"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                        <div class="icon-reStyle icon-co-11"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  <!-- /.footer-btn-menu-co -->
                                    </div> <!-- /.search-footer-btn -->
                                    <div class="width-95">
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>房型</label>
                                                <input type="text" class="input-medium medium-c1"/>
                                            </div>
                                            <div class="grid-item">
                                                <label>房狀</label>
                                                <input type="text" class="input-medium medium-c1"/>
                                            </div>
                                            <div class="grid-item">
                                                <label>特色</label>
                                                <input type="text" class="input-medium medium-c1"/>
                                            </div>
                                            <div class="grid-item">
                                                <label>房號</label>
                                                <input type="text" class="input-medium medium-c1"/>
                                            </div>
                                            <div class="grid-item">
                                                <label>住客</label>
                                                <input type="text" class="input-medium medium-c1"/>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div> <!-- row-->
                        </div> <!-- /.search-co -->
                    </div> <!-- /.row  search-content-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- main content -->

        <!--<div class="row">-->
        <div class="col-xs-12">
            <div class="col-xs-11 foCounter">
                <div class="row no-padding-right">
                    <div class="intCounterLeft col-xs-12 no-padding-left">
                        <div class="">
                            <!-- 左側圖表上排資訊　-->
                            <div class="select-group">
                                <div class="status-btn">
                                    <img src="/images/intCounter/zoom-out.png" class="zoomOut pointer"/>
                                    <img src="/images/intCounter/zoom-in.png" class="zoomIn pointer" style="display: none;"/>
                                    <img src="/images/intCounter/unlink.png"/>
                                    <img src="/images/intCounter/alarm.png"/>
                                    <img src="/images/intCounter/note.png"/>
                                </div>
                                <div class="show-intCounterRight">
                                    <i class="fa fa-angle-left fa-2x">
                                        <!--<span>顯示資訊</span>-->
                                    </i>
                                    <i class="fa fa-angle-right fa-2x" style="display: none;">
                                        <!--<span>隱藏資訊</span>-->
                                    </i>
                                </div>
                                <div class="btn-group">
                                    <button data-toggle="dropdown"
                                            class="btn btn-info btn-white dropdown-toggle"
                                            aria-expanded="false">
                                        棟別
                                        <span class="ace-icon fa fa-angle-down icon-on-right"></span>
                                    </button>

                                    <ul class="dropdown-menu dropdown-info dropdown-menu-right">
                                        <li>
                                            <a href="#">A棟</a>
                                        </li>

                                        <li>
                                            <a href="#">B棟</a>
                                        </li>

                                        <li>
                                            <a href="#">C棟</a>
                                        </li>

                                        <!--<li class="divider"></li>-->

                                        <li>
                                            <a href="#">D棟</a>
                                        </li>
                                    </ul>
                                </div> <!-- /.btn-group -->
                                <div class="status-view">
                                    <!--<div>-->
                                    <!--<div style="line-height: 30px;">-->
                                    <div class="status-tip cb-yellow"><label>OC: </label><span>11</span>
                                    </div>
                                    <div class="status-tip cb-purple"><label>OD: </label><span>5</span>
                                    </div>
                                    <div class="status-tip cb-green"><label>DOC: </label><span>11</span>
                                    </div>
                                    <div class="status-tip cb-pink"><label>DOD: </label><span>5</span></div>
                                    <!--</div>-->
                                    <!--<div style="line-height: 30px;">-->
                                    <div class="status-tip cb-gray"><label>VC: </label><span> 11</span>
                                    </div>
                                    <div class="status-tip cb-brown"><label>VD: </label><span>5</span></div>
                                    <div class="status-tip cb-default"><label>S: </label><span>5</span>
                                    </div>
                                    <div class="status-tip cb-grayGreen"><label>OOO: </label><span>5</span>
                                    </div>
                                    <div class="status-tip cb-blueGreen"><label>All: </label><span>11</span>
                                    </div>
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <!-- 左側圖表內容　-->
                            <%- include frontDesk_module/PMS0210020_table.ejs %>
                            <!--  /.End 左側圖表內容 -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- /section:elements.tab.position -->
                    </div><!-- /.col col-sm-6-->

                    <div class="intCounterRight col-xs-5 no-padding-left" style="display:none;">
                        <div class="floorPlan-table">
                            <table>
                                <tr>
                                    <td class="roomNum text-center" rowspan="2" colspan="2" style="width: 20%;">
                                        317
                                    </td>
                                    <th style="width: 16%;">Rm Type</th>
                                    <th style="width: 16%;">Rm Status</th>
                                    <th style="width: 16%;">HK Status</th>
                                    <th style="width: 16%;">Assign</th>
                                    <th style="width: 16%;">DND</th>
                                </tr>
                                <tr>
                                    <td>STD</td>
                                    <td>O/OOS</td>
                                    <td>C</td>
                                    <td>Y</td>
                                    <td>Y</td>
                                </tr>
                                <tr>
                                    <th colspan="2">RM Features</th>
                                    <td colspan="5">Inside view</td>
                                </tr>
                                <tr>
                                    <th colspan="2">RM Rmks</th>
                                    <td colspan="5">king size bed</td>
                                </tr>
                                <tr>
                                    <th colspan="2">OS Reason</th>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Full Name</th>
                                    <td colspan="2">RICK CHEN
                                        <button class="moreInfo">
                                            <i class="fa fa-icon fa-ellipsis-h"></i>
                                        </button>
                                    </td>
                                    <th>RV. No.</th>
                                    <td colspan="2">
                                        002251401
                                        <button class="moreInfo">
                                            <i class="fa fa-icon fa-ellipsis-h"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Agent</th>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Company</th>
                                    <td colspan="5">athena information company</td>
                                </tr>
                                <tr>
                                    <th colspan="2">CI Date</th>
                                    <td colspan="2">2017/2/1</td>
                                    <th>Source</th>
                                    <td colspan="2">Corp.</td>
                                </tr>
                                <tr>
                                    <th colspan="2">CO Date</th>
                                    <td colspan="2">2017/2/2</td>
                                    <th>Market</th>
                                    <td colspan="2">B-corp</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Rate Code</th>
                                    <td colspan="2">RACK RATE</td>
                                    <th>Rate Amt.</th>
                                    <td colspan="2" class="text-right">3600</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Rm Type</th>
                                    <td colspan="2">STD</td>
                                    <th>Svc.</th>
                                    <td colspan="2" class="text-right">360</td>
                                </tr>
                                <tr>
                                    <th colspan="2">PAX</th>
                                    <td colspan="2">1 / 0 / 0</td>
                                    <th>Vehicel No.</th>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <th colspan="2">C/O Alert</th>
                                    <td colspan="5">GUI:23598233</td>
                                </tr>
                                <tr>
                                    <th colspan="2">RV Rmk.</th>
                                    <td colspan="5">separate bill</td>
                                </tr>
                            </table>

                            <div class="space-6"></div>

                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>GUEST</th>
                                    <th>Folio Stas.</th>
                                    <th>Sex</th>
                                    <th>BALANCE</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-plus red"></i>
                                    </td>
                                    <td>Rick Chen</td>
                                    <td>O</td>
                                    <td>M</td>
                                    <td class="text-right">5,300</td>
                                    <td>
                                        <button class="moreInfo">
                                            Billing
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-plus red"></i>
                                    </td>
                                    <td>Janet Jackson</td>
                                    <td>C</td>
                                    <td>F</td>
                                    <td class="text-right">0</td>
                                    <td>
                                        <button class="moreInfo">
                                            Billing
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="space-4"></div>
                            <div>
                                <span class="orangeBlock1">Traces</span>
                                <span class="orangeBlock1">pick up</span>
                            </div>
                        </div>
                    </div><!-- /.intCounterRight -->
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Details</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Walk in</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Day use</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Deposit</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Wake up</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Group</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">C/O Date</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Rate Chg.</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Clean</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Extra Room</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Reservation</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Reservation</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth PMS0120010Option"
                                        role="button">Option</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  接待 彈出視窗內容(jing)-->
    <%- include frontDesk_module/frontDesk_Btn_1.ejs %>
    <!--  /.End 接待 彈出視窗內容 -->
</div>
<!-- /.page-content -->

<!--  接待共用 initial js -->
<%- include frontDesk_module/frontDesk_includeJs.ejs %>
<!--  /.End 接待共用 initial js  -->

