<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- c/i Date Page-->
    <div class="row">
        <div class="col-xs-12">
            <!--<div class="col-sm-11 col-xs-11">-->
                <!--<div class="row no-margin-right">-->
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>Search</span>
                                <div class="row search-right-btn">
                                    <div class="right-btn-menu-co">
                                        <ul>
                                            <li>
                                                <i class="fa fa-chevron-down show-search-detail"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="search-co-content col-xs-12">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                    <div class="row search-footer-btn">
                                        <div class="footer-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                        <div class="icon-reStyle icon-co-14"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                        <div class="icon-reStyle icon-co-11"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  <!-- /.footer-btn-menu-co -->
                                    </div> <!-- /.search-footer-btn -->
                                    <div class="width-95">
                                        <!--1-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>速查</label>
                                                <input type="text" class="input-medium popWindow-s1v2-keyword" placeholder="">
                                            </div>
                                            <div class="searchCheckbox pull-left">
                                                    <span class="checkbox">
                                                      <label class="checkbox-width">
                                                          <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                                          <span class="lbl">Keyword</span>
                                                      </label>
                                                    </span>
                                            </div>
                                        </div>
                                        <!--2-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>訂房卡號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>官網/聯訂中心</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--3-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>C/I日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>訂房卡狀態</label>
                                                <select class="input-medium popWindow-s1v2-col2">
                                                    <option value="1">有效訂房</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--4-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>C/O日期</label>
                                                <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>訂房公司</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--5-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>公司名稱</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>Full Name</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--6-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>團號</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>市場類別</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--7-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>聯絡電話</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div> <!-- row-->
                        </div> <!-- /.search-co -->
                    </div> <!-- /.row  search-content-->
                <!--</div>-->
            <!--</div>-->
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <!--<div class="blockSetting-heading">查詢結果</div>-->
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <!-- PMS0210060 dataGrid -->
                    <table id="PMS0210060"></table>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Check In</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                        role="button">Reservation</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Pax List</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Room Assign</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
    <!--  接待 彈出視窗內容(jing)-->
    <%- include frontDesk_module/frontDesk_Btn_1.ejs %>
    <!--  /.End 接待 彈出視窗內容 -->
<!-- /.page-content -->
</div>
<!--  接待共用 initial js -->
<%- include frontDesk_module/frontDesk_includeJs.ejs %>
<!--  /.End 接待共用 initial js  -->
