<html lang="en">
<head>
</head>
<body>
<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-11 col-xs-11">
            <div class="row no-margin-right">
                <div class="search-content">
                    <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                    <div class="search-co">
                        <div class="search-co-h">
                            <i class="ace-icon fa fa-search search-icon"></i>
                            <span>搜尋</span>
                            <div class="row search-right-btn">
                                <div class="right-btn-menu-co">
                                    <ul>
                                        <li>
                                            <i class="fa fa-chevron-down show-search-detail"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="search-co-content col-xs-12">
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">

                                </div>
                            </div>
                            <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                <div class="row search-footer-btn">
                                    <div class="footer-btn-menu-co">
                                        <ul>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                    <div class="icon-reStyle icon-co-14"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                    <div class="icon-reStyle icon-co-11"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  <!-- /.footer-btn-menu-co -->
                                </div> <!-- /.search-footer-btn -->
                                <div class="width-95">
                                    <!--1-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>速查</label>
                                            <input type="text" class="input-medium popWindow-s1v2-keyword" placeholder="">
                                        </div>
                                        <div class="searchCheckbox pull-left">
                                                <span class="checkbox">
                                                  <label class="checkbox-width">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                                      <span class="lbl">Keyword</span>
                                                  </label>
                                                </span>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>訂房卡號</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                        <div class="grid-item">
                                            <label>官網/聯訂中心</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>C/I日期</label>
                                            <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                        <div class="grid-item">
                                            <label>訂房卡狀態</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="有效訂房">
                                        </div>
                                    </div>
                                    <!--4-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>C/O日期</label>
                                            <input type="date" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                        <div class="grid-item">
                                            <label>訂房公司</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                    </div>
                                    <!--5-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>公司名稱</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                        <div class="grid-item">
                                            <label>Full Name</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                    </div>
                                    <!--6-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>團號</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                        <div class="grid-item">
                                            <label>住客姓名</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                    </div>
                                    <!--7-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>聯絡電話</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                        <div class="grid-item">
                                            <label>住客類別</label>
                                            <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div> <!-- row-->
                    </div> <!-- /.search-co -->
                </div> <!-- /.row  search-content-->
            </div>
        </div>
    </div> <!-- /.col-sm-12 -->
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <!--<div class="blockSetting-heading">查詢結果</div>-->
        <div class="col-sm-11 col-xs-11">
            <div class="row no-margin-right">
                <!-- 訂房卡多筆 resv_bookings-table dataGrid -->
                <table id="PMS0210060"></table>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                    role="button">Check In</button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                    role="button">Fast C/I</button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                    role="button">Reservations</button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                    role="button">Pax List</button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                    role="button">Assign Room</button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                    role="button">E Signature</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /.col-sm-12 -->
    <div class="clearfix"></div>

</div>


</body>

<script>


    // arrivals dataGrid
    $('#PMS0210060').datagrid({
        singleSelect: true,
        collapsible: true,
        // 從json 撈
        url: '/jsonData/PMS0210060.json',
        method: 'get',
        columns: [[
            {field: 'roomNum', title: '訂房數', width: 50},
            {field: 'roomNum2', title: '排房數', width: 50},
            {field: 'ciNum', title: 'C/I數', width: 50},
            {field: 'coNum', title: 'C/O數', width: 50},
            {field: 'state', title: '狀態', width: 100},
            {field: 'bookingDate', title: '訂房卡號', width: 100},
            {field: 'roomCode', title: '房號', width: 50},
            {field: 'fullName', title: 'Full Name', width: 100},
            {field: 'groupNum', title: '團號', width: 100},
            {field: 'bookingCompany', title: '訂房公司', width: 150},
            {field: 'contact', title: '聯絡人', width: 100},
            {field: 'category', title: '住客類別', width: 100},
            {field: 'booking', title: '訂房來源', width: 100},
            {field: 'bookingRemark', title: '訂房備註', width: 200}
        ]]
    });


</script>
</html>