<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 打掃安排 Page-->

    <div class="pageMain">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right cleanArngmts">
                    <div class="checkbox-header borderFrame">

                        <div class="grid">
                            <div class="cleanCheckbox-left">
                                <div class="grid">
                                <div class="grid-item">

                                    <span class="cleanArngmtsBox bg-red"></span>
                                    <span class="checkbox">
                                        <label class="checkbox-width">
                                            <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                            <span class="lbl">Dirty</span>
                                        </label>
                                    </span>
                                </div>
                                <div class="grid-item">

                                    <span class="cleanArngmtsBox bg-blue"></span>
                                    <span class="checkbox">
                                        <label class="checkbox-width">
                                            <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                            <span class="lbl">clean</span>
                                        </label>
                                    </span>
                                </div>
                                <div class="grid-item">

                                    <span class="cleanArngmtsBox bg-yellow"></span>
                                    <span class="checkbox">
                                        <label class="checkbox-width">
                                            <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                            <span class="lbl">pickup</span>
                                        </label>
                                    </span>
                                </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">

                                        <span class="cleanArngmtsBox bg-green"></span>
                                        <span class="checkbox ">
                                            <label class="checkbox-width">
                                                <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                                <span class="lbl">Inspected</span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="grid-item">
                                        <span class="cleanArngmtsBox bg-gray"></span>
                                        <span class="checkbox ">
                                            <label class="checkbox-width">
                                                <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                                <span class="lbl">Out Of Service</span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="grid-item">
                                        <span class="cleanArngmtsBox bg-gray"></span>
                                        <span class="checkbox ">
                                            <label class="checkbox-width">
                                                <input name="form-field-checkbox" type="checkbox" class="ace" checked="">
                                                <span class="lbl">Out Of Order</span>
                                            </label>
                                        </span>
                                </div>
                                </div>
                            </div>
                            <div class="cleanCheckbox-right">
                                <span class="cc-right">! Arrival</span>
                                <span class="cc-right">* Stayover</span><br>
                                <!--<span class="cc-right-down">Linen Change Total for the Day</span>-->
                                <!--<input class="input-medium resvCard-xs text-right" type="text" placeholder="0" >-->
                            </div>
                        </div>
                    </div><!--main-content-data-->

                    <div class="main-content-data">
                        <div class="grid">
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 1</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                                </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 2</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 3</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 4</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 5</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 6</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 7</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 8</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 9</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                            <div class="clean-table-container">
                                <div class="grid-item clean-table-wrap">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" colspan="4" style="min-width:150px;">Task 10</th>
                                            <th class="css_th" style="min-width:70px;">Rms 9</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">L</td>
                                            <td class="css_td">*</td>
                                            <td class="css_td bg-blue">0117</td>
                                            <td class="css_td bg-blue text-right">2</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-blue">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td bg-blue">100</td>
                                            <td class="css_td bg-blue text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td text-center"><input type="checkbox" checked=""></td>
                                            <td class="css_td bg-red">F</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">1002</td>
                                            <td class="css_td text-right">.75</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clean-text-box">
                                    <span>Credits</span>
                                    <span class="marginLeft-30">9.5/25</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer-textbox-wrap">
                            <div class=" blue-text">Total Credits Selected Rooms 3.25</div>
                        </div>
                    </div><!--main-content-data-->
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Search
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Change
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Print
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Move
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Resv.
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Go To
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Close
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>