<style>
    .report-t {
        cursor: pointer;
        width: 24%;
        padding: 10px 20px;
        /*height: 50px;*/
        border: #eee;
        /*background: #eee;*/
        box-shadow: 4px 4px 3px rgba(200, 200, 200, 0.5);
        margin: auto 10px 20px auto;
        display: block;
    }

    .report-t span {
        font-size: 15px !important;
    }

    .report-t:hover {
        color: #438EB9;
        transition: 1s;
        font-weight: 600;
        background: rgba(67, 142, 185, 0.1);
    }
</style>

<div class="col-xs-12 col-sm-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab3">
            <li class="active">
                <a data-toggle="tab" href="#reports01">
                    全部報表
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#reports02">
                    預估報表
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#reports03">
                    旅客報表
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#reports04">
                    其他報表
                </a>
            </li>

        </ul>

        <div class="tab-content">
            <div id="reports01" class="tab-pane in active">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="grid">
                            <div class="report-t grid-item reports01-01">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    當日取消訂房報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-line-chart"></i>
                                    當日新增訂房報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房狀態報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-line-chart"></i>
                                    訂房預估報表(依類別)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依房種)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依參數)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依月份)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-line-chart"></i>
                                    報表取消原因統計表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-pie-chart"></i>
                                    房間銷售狀況預估報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-pie-chart"></i>
                                    房間銷售狀況預估年報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    房間銷售狀況分析報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-bar-chart"></i>
                                    旅客來源統計表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-pie-chart"></i>
                                    國籍分析統計表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    Market Segment 分析報表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-bar-chart"></i>
                                    房價設定一覽表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-bar-chart"></i>
                                    Rate Code統計表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    Rate Code產值統計表</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    NO-SHOW 統計表</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.col-sm-12 -->
                <div class="clearfix"></div>
            </div>

            <div id="reports02" class="tab-pane">

                <div class="col-xs-12">

                    <div class="row">
                        <div class="grid">
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依類別)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依房種)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依參數)</span>
                            </div>
                            <div class="report-t grid-item">
                                <span>
                                    <i class="fa fa-area-chart"></i>
                                    訂房預估報表(依月份)</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.col-sm-12 -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div id="reports01-01-msg" class="hide padding-5">
    <img src="/images/demo-ing/訂房狀態報表.png" style="width: 100%; height: auto;">
</div>
<script>
    $(function () {

        $(document).on('click', ".reports01-01", function (e) {
            e.preventDefault();
            var dialog = $("#reports01-01-msg").removeClass('hide').dialog({
                modal: true,
                title: "報表",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                dialogClass: "test",
                resizable: true
            });
        });
    })
</script>