<!DOCTYPE html>
<html lang="en">
<%- include ../../../common/cssFile/importFiles_CssBase %>

<%- include ../../../common/jsFile/importFiles_JsBase %>


<body class="no-skin" style="background-image: none; background: #fff;">
<div class="businessCompanyData">
    <div class="col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-xs-11 col-sm-11">
                <div class="main-content-data">

                    <!--  鎖控明細表格 -->

                    <div class="container_12 divider">
                        <div class="grid_12 height600 treeIconDisplay" width="100%">
                            <table class="fancyTable themeTable treeControl"  id="resvCounterSupplies-table" cellpadding="0" cellspacing="0" >
                                <thead>
                                <tr>
                                    <th class="ca-headerTitle height-fntThead" rowspan="2">
                                        July<br>備品名稱
                                        <div class="clearfix"></div>
                                    </th>

                                    <th class="dateColor">14</th>
                                    <th class="dateColor">15</th>
                                    <th class="dateColor">16</th>
                                    <th class="dateColor">17</th>
                                    <th class="dateColor">18</th>
                                    <th class="dateColor">19</th>
                                    <th class="dateColor">20</th>
                                    <th class="dateColor">21</th>
                                    <th class="dateColor">22</th>
                                    <th class="dateColor">23</th>
                                    <th class="dateColor">24</th>
                                    <th class="dateColor">25</th>
                                    <th class="dateColor">26</th>
                                    <th class="dateColor">27</th>
                                    <th class="dateColor">28</th>
                                    <th class="dateColor">01</th>
                                    <th class="dateColor">02</th>
                                    <th class="dateColor">03</th>
                                    <th class="dateColor">04</th>
                                    <th class="dateColor">05</th>
                                    <th class="dateColor">06</th>
                                    <th class="dateColor">07</th>
                                    <th class="dateColor">08</th>
                                    <th class="dateColor">09</th>
                                    <th class="dateColor">10</th>
                                    <th class="dateColor">11</th>
                                    <th class="dateColor">12</th>
                                    <th class="dateColor">13</th>
                                    <th class="dateColor">14</th>
                                    <th class="dateColor">15</th>
                                    <th class="dateColor">16</th>
                                    <th class="dateColor">17</th>
                                    <th class="dateColor">18</th>
                                    <th class="dateColor">19</th>
                                    <th class="dateColor">20</th>
                                    <th class="dateColor">21</th>
                                    <th class="dateColor">22</th>
                                    <th class="dateColor">23</th>
                                    <th class="dateColor">24</th>
                                    <th class="dateColor">25</th>
                                    <th class="dateColor">26</th>
                                    <th class="dateColor">27</th>
                                </tr>
                                <tr>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th class="holiday-color">Sat</th>
                                    <th class="holiday-color">Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th class="holiday-color">Sat</th>
                                    <th class="holiday-color">Sun</th>
                                    <th >Mon</th>
                                    <th >Tue</th>
                                    <th >Wed</th>
                                    <th >Thu</th>
                                    <th >Fri</th>
                                    <th class="holiday-color">Sat</th>
                                    <th class="holiday-color">Sun</th>
                                    <th >Mon</th>
                                    <th >Tue</th>
                                    <th >Wed</th>
                                    <th >Thu</th>
                                    <th >Fri</th>
                                    <th class="holiday-color">Sat</th>
                                    <th class="holiday-color">Sun</th>
                                    <th >Mon</th>
                                    <th >Tue</th>
                                    <th >Wed</th>
                                    <th >Thu</th>
                                    <th >Fri</th>
                                    <th class="holiday-color">Sat</th>
                                    <th class="holiday-color">Sun</th>
                                    <th >Mon</th>
                                    <th >Tue</th>
                                    <th >Wed</th>
                                    <th >Thu</th>
                                    <th >Fri</th>
                                    <th class="holiday-color">Sat</th>
                                    <th class="holiday-color">Sun</th>
                                    <th >Mon</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="middle td-first orangeTag">加小床</td>
                                    <td class="numeric">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric orangeTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric">21</td>
                                    <td class="numeric"></td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                </tr>
                                <tr>
                                    <td class="middle td-first greenTag">加嬰兒床</td>
                                    <td class="numeric greenTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric greenTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric greenTag">
                                        22
                                    </td>
                                    <td class="numeric greenTag">
                                      23
                                    </td>
                                    <td class="numeric greenTag">
                                        <input type="text" class="input-medium resvCard-xxs">
                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric">

                                    </td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                    <td class="numeric"></td>
                                </tr>
                                <tr data-tt-id="1">
                                    <td class="middle td-first">嬰兒澡盆</td>
                                    <td class="numeric">12</td>
                                    <td class="numeric">11</td>
                                    <td class="numeric">10</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric">3</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                </tr>
                                <tr data-tt-id="2">
                                    <td class="middle td-first">奶瓶消毒鍋</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric">3</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                </tr>
                                <tr data-tt-id="3">
                                    <td class="middle td-first">加大床</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric">3</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                </tr>
                                <tr data-tt-id="4">
                                    <td class="middle td-first">手機充電器</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric">3</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                </tr>
                                <tr data-tt-id="5">
                                    <td class="middle td-first">雨傘</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric">3</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                </tr>
                                <tr data-tt-id="6">
                                    <td class="middle td-first">手電筒</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric holiday-color">2</td>
                                    <td class="numeric">3</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">2</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                    <td class="numeric">0</td>
                                </tr>


                                </tbody>
                            </table>
                            <!-- table -->
                        </div>
                        <div class="clear"></div>
                    </div>

                    <!--  /.End 鎖控明細表格 -->


                </div><!--main-content-data-->
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Save</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Detail</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Quit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


</div>
</body>

<%- include ../../../common/jsFile/groupJs_fixTable %>
<script type="text/javascript">

    var treeTdId = new Set();
    $(function () {

//      ***** fixedHeaderTable *****
        $('#resvCounterSupplies-table').fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 ,addPxForFixedColumnsWidth: 50, everyColumnsAddWith: 10 });

        //fixedColumns             : 固定左側列行數
        //addPxForFixedColumnsWidth: 固定左側列行數-寬
        //everyColumnsAddWith      : 每一個欄位的-寬
//        alert('test123');
        // tree
        $("table.treeControl").agikiTreeTable({persist: true, persistStoreName: "files"});

        // resize table
        // divider margin 40px && fht-body -85px
        var header1 = $(".navbar-container").height();
        var header2 = $(".top-sec-ul").height()+5; //padding-top: 5px
//
        height=$(window).height()-header1-header2-10;
        $(".height600").css("height", height);
        //		$(".height600").removeClass("height600");
        $(".fht-tbody").css("height", height-80);
        $(window).resize(function() {
            height=$(window).height()-header1-header2-10;
            $(".height600").css("height", height);
            $(".fht-tbody").css("height", height-80);
        });

        //按鈕控制tree 開合
        //collapsed
        //expanded

        $('tr[data-tt-parent-id]').each(function(){
            treeTdId.add($(this).attr('data-tt-parent-id'));
        });
        var openStatus = false;
        $(document).on('click', ".openDetails", function () {
            openStatus=!openStatus;
//            if(iterateTreeToogle =='display: table-row;')
            if(openStatus){
                for(var tdId of treeTdId){
//                    var obj =$(".fht-tbody > .treetable").find("tr[data-tt-id='" + tdId + "']").children().find('a').parent().html();
//                    console.log(obj);
//                    treeToggle(obj);
                    iterateTreeToogle(tdId,"display: table-row;",false);
                    $('.openDetailsTxt').css('display','none');
                    $('.closeDetailsTxt').css('display','block');
                }
            }else{
                for(var tdId of treeTdId){
                    iterateTreeToogle(tdId,"display: none;",true);
                    $('.closeDetailsTxt').css('display','none');
                    $('.openDetailsTxt').css('display','block');
                }
            }

        });

    });
</script>
</html>
