<div class="container_12 divider PMS0110030-table">
    <!--暫時設定高度-->
    <div class="grid_12 height600">
        <table class="fancyTable themeTable treeControl themeTableTwo" id="PMS0110030-table" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="grayBg">
                    <th class="ca-headerTitle grayBg">
                        Rate Code / RM Type
                    </th>
                    <th class="">STD</th>
                    <th class="">SUP</th>
                    <th class="">DXK</th>
                    <th class="">DXT</th>
                    <th class="">SUE</th>
                    <th class="">ESD</th>
                    <th class="">ESP</th>
                    <th class="">EXK</th>
                    <th class="">EXT</th>
                    <th class="">ESU</th>
                    <th class="">PDS</th>
                </tr>
            </thead>
            <tbody class="tbodyRight">
                <tr class="grayBg">
                    <td class="middle td-first grayBg">Include Over Booking</td>
                    <td class="numeric">20</td>
                    <td class="numeric">20</td>
                    <td class="numeric">22</td>
                    <td class="numeric darkRedTxt">-1</td>
                    <td class="numeric ">9</td>
                    <td class="numeric ">8</td>
                    <td class="numeric ">15</td>
                    <td class="numeric ">10</td>
                    <td class="numeric ">12</td>
                    <td class="numeric ">6</td>
                    <td class="numeric ">1</td>
                </tr>
                <tr class="grayBg">
                    <td class="middle td-first grayBg">Physical Inventory</td>
                    <td class="numeric ">20</td>
                    <td class="numeric ">20</td>
                    <td class="numeric ">22</td>
                    <td class="numeric darkRedTxt">-1</td>
                    <td class="numeric ">9</td>
                    <td class="numeric ">8</td>
                    <td class="numeric ">15</td>
                    <td class="numeric ">10</td>
                    <td class="numeric ">12</td>
                    <td class="numeric ">6</td>
                    <td class="numeric ">1</td>
                </tr>
                <tr>
                    <td class="middle td-first ">2017FIT</td>
                    <td class="numeric">3800</td>
                    <td class="numeric">4000</td>
                    <td class="numeric ">4200</td>
                    <td class="numeric">4500</td>
                    <td class="numeric">1500</td>
                    <td class="numeric ">3300</td>
                    <td class="numeric">4500</td>
                    <td class="numeric">4700</td>
                    <td class="numeric">5000</td>
                    <td class="numeric">4800</td>
                    <td class="numeric">45000</td>
                </tr>
                <tr>
                    <td class="middle td-first">2017COPR</td>
                    <td class="numeric">3100</td>
                    <td class="numeric ">3300</td>
                    <td class="numeric">3500</td>
                    <td class="numeric">3800</td>
                    <td class="numeric">4000</td>
                    <td class="numeric">3600</td>
                    <td class="numeric">3800</td>
                    <td class="numeric">4100</td>
                    <td class="numeric">4300</td>
                    <td class="numeric">4300</td>
                    <td class="numeric">40000</td>
                </tr>
                <tr>
                    <td class="middle td-first">LOCAL RESIDENCE</td>
                    <td class="numeric">3600</td>
                    <td class="numeric">3800</td>
                    <td class="numeric">4000</td>
                    <td class="numeric">4300</td>
                    <td class="numeric">4300</td>
                    <td class="numeric">4100</td>
                    <td class="numeric">4300</td>
                    <td class="numeric">4500</td>
                    <td class="numeric">4800</td>
                    <td class="numeric">4600</td>
                    <td class="numeric">4300</td>
                </tr>
                <tr>
                    <td class="middle td-first">OTA-IN</td>
                    <td class="numeric">2800</td>
                    <td class="numeric">3000</td>
                    <td class="numeric">3200</td>
                    <td class="numeric">3500</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                </tr>
                <tr>
                    <td class="middle td-first">OTA-OUT</td>
                    <td class="numeric">2750</td>
                    <td class="numeric">2950</td>
                    <td class="numeric">3150</td>
                    <td class="numeric">3450</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                </tr>
                <tr>
                    <td class="middle td-first">06-2D1N</td>
                    <td class="numeric">4200</td>
                    <td class="numeric">4400</td>
                    <td class="numeric">4600</td>
                    <td class="numeric">4900</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                </tr>
                <tr>
                    <td class="middle td-first">06-3D2N</td>
                    <td class="numeric">9800</td>
                    <td class="numeric">10000</td>
                    <td class="numeric">10200</td>
                    <td class="numeric">10500</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                </tr>
                <tr>
                    <td class="middle td-first">06-EARLY BD</td>
                    <td class="numeric">3200</td>
                    <td class="numeric">3400</td>
                    <td class="numeric">3600</td>
                    <td class="numeric">3900</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                    <td class="numeric">*</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="clear"></div>
</div> <!-- table -->
