<div class="container_12 divider PMS0110030-table">
    <!--暫時設定高度-->
    <div class="grid_12 height600">
        <table class="fancyTable themeTable treeControl themeTableTwo" id="PMS0110030-table" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="grayBg">
                    <th class="ca-headerTitle grayBg">
                        Room Type
                    </th>
                    <th class="darkRedTxt">ABC</th>
                    <th class="darkRedTxt yellowBg">CD</th>
                    <th class="darkRedTxt yellowBg">CK</th>
                    <th class="darkRedTxt">COMP</th>
                    <th class="darkRedTxt">COMPO</th>
                    <th class="darkRedTxt">DBL</th>
                    <th class="darkRedTxt">DLX</th>
                    <th class="darkRedTxt yellowBg">ED</th>
                    <th class="darkRedTxt">ESTAR</th>
                </tr>
            </thead>
            <tbody class="tbodyRight">
                <tr class="grayBg">
                    <td class="middle td-first greenTxt grayBg">Include Overbooking</td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric greenTxt">6</td>
                    <td class="numeric"></td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric darkRedTxt">-6</td>
                    <td class="numeric darkRedTxt">3</td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric darkRedTxt">0</td>
                </tr>
                <tr class="grayBg">
                    <td class="middle td-first darkRedTxt grayBg">Physical Inventory</td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric greenTxt">6</td>
                    <td class="numeric"></td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric darkRedTxt">-6</td>
                    <td class="numeric darkRedTxt">3</td>
                    <td class="numeric darkRedTxt">0</td>
                    <td class="numeric darkRedTxt">0</td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">BAR1</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">175.00</td>
                    <td class="numeric greenTxt">175.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">175.00</td>
                    <td class="numeric greenTxt blueBg">175.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">CITYSAVER</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">350.00</td>
                    <td class="numeric greenTxt">350.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric greenTxt">350.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">DELUXE</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">320.00</td>
                    <td class="numeric greenTxt">320.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">320.00</td>
                    <td class="numeric greenTxt">320.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">DYNBR</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">210.00</td>
                    <td class="numeric greenTxt">210.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">210.00</td>
                    <td class="numeric greenTxt">210.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">ECONOMY</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">195.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">ECOTOUR</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">310.00</td>
                    <td class="numeric greenTxt">310.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">310.00</td>
                    <td class="numeric greenTxt">310.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">HOSPITALITY</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">275.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">275.00</td>
                    <td class="numeric greenTxt">275.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">LEISURE</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">175.00</td>
                    <td class="numeric greenTxt">175.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">175.00</td>
                    <td class="numeric greenTxt">175.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">MVICE</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">0.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">PICNIC</td>
                    <td class="numeric"></td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric greenTxt">100.00</td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                    <td class="numeric"></td>
                </tr>
                <tr>
                    <td class="middle td-first greenTxt">RAM</td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric greenTxt">100.00</td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric greenTxt">100.00</td>
                    <td class="numeric redTxt">100.00</td>
                    <td class="numeric redTxt">100.00</td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="clear"></div>
</div> <!-- table -->
