<div class="container_12 divider">
    <div class="grid_12 height600">
        <div class="fht-table-wrapper fht-default room-table-container">
            <table class="fancyTable themeTable treeControl roomPlanTable" id="resRoomPlan-table" cellpadding="0"
                   cellspacing="0">
                <thead>
                    <tr>
                        <th class="ca-headerTitle height-fntThead datecolor" rowspan="2">
                            <div class="month-wrap">
                                <div class="caSelect">
                                    <select class="input-medium ca-select">
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                    <div class="space-2"></div>
                                    <select class="input-medium ca-select">
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">Jun</option>
                                        <option value="7">Jul</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                </div>
                                <div class="caIcon">
                                    <span class="ca-headerIcon">
                                        <i class="fa fa-calendar-check-o orange fa-lg" data-rel="tooltip"
                                           data-placement="bottom" title="Today"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="roomNum-wrap room-color">
                                <div class="room-Num-Left col-xs-6 roomPlan-Num1">
                                    房種<i class="fa fa-caret-down"></i>
                                </div>
                                <div class="room-Num-Right col-xs-6 roomPlan-Num1">
                                    房號<i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </th>
                        <th class="th-h30 datecolor">24</th>
                        <th class="datecolor">25</th>
                        <th class="datecolor">26</th>
                        <th class="datecolor">27</th>
                        <th class="datecolor">28</th>
                        <th class="datecolor">29</th>
                        <th class="datecolor">30</th>
                        <th class="datecolor">31</th>
                        <th class="datecolor">01</th>
                        <th class="datecolor">02</th>
                        <th class="datecolor">03</th>
                        <th class="datecolor">04</th>
                        <th class="datecolor">05</th>
                        <th class="datecolor">06</th>
                        <th class="datecolor">07</th>
                        <th class="datecolor">08</th>
                        <th class="datecolor">09</th>
                        <th class="datecolor">10</th>
                        <th class="datecolor">11</th>
                        <th class="datecolor">12</th>
                        <th class="datecolor">13</th>
                        <th class="datecolor">14</th>
                        <th class="datecolor">15</th>
                        <th class="datecolor">16</th>
                        <th class="datecolor">17</th>
                        <th class="datecolor">18</th>
                        <th class="datecolor">19</th>
                    </tr>
                    <tr>
                        <th class="dateColor"><span class="">Mon</span></th>
                        <th class="dateColor"><span class="">Tue</span></th>
                        <th class="dateColor"><span class="">Wed</span></th>
                        <th class="dateColor"><span class="">Thu</span></th>
                        <th class="dateColor"><span class="">Fri</span></th>
                        <th class="dateColor"><span class="">Sat</span></th>
                        <th class="dateColor"><span class="">Sun</span></th>
                        <th class="dateColor"><span class="">Mon</span></th>
                        <th class="dateColor"><span class="">Tue</span></th>
                        <th class="dateColor"><span class="">Wed</span></th>
                        <th class="dateColor"><span class="">Thu</span></th>
                        <th class="dateColor"><span class="">Fri</span></th>
                        <th class="dateColor"><span class="">Sat</span></th>
                        <th class="dateColor"><span class="">Sun</span></th>
                        <th class="dateColor"><span class="">Mon</span></th>
                        <th class="dateColor"><span class="">Tue</span></th>
                        <th class="dateColor"><span class="">Wed</span></th>
                        <th class="dateColor"><span class="">Thu</span></th>
                        <th class="dateColor"><span class="">Fri</span></th>
                        <th class="dateColor"><span class="">Sat</span></th>
                        <th class="dateColor"><span class="">Sun</span></th>
                        <th class="dateColor"><span class="">Mon</span></th>
                        <th class="dateColor"><span class="">Tue</span></th>
                        <th class="dateColor"><span class="">Wed</span></th>
                        <th class="dateColor"><span class="">Thu</span></th>
                        <th class="dateColor"><span class="">Fri</span></th>
                        <th class="dateColor"><span class="">Sat</span></th>
                    </tr>
                </thead>

                <tbody class="clearfix">
                    <tr class="hidden-firstTr">
                        <td class="middle td-first hidden-firstTd"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>

                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">501</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="2">
                            <div class="triangle-box status_v">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="Rick (17/01/27~17/01/28)">Rick</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">502</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color">
                            <div class="triangle-box status_o">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="Peter (17/02/02)">Peter</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">503</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">504</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">505</span></td>
                        <td class="name-color" colspan="2">
                            <div class="triangle-box status_s">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="林苑珍 (17/01/24~17/01/25)">林苑珍</span>
                            </div>
                        </td>
                        <!--<td class="name-color">林苑珍</td>-->
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">506</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="2">
                            <div class="triangle-box status_a">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="Rick (17/02/05~17/02/06)">Rick</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">507</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">508</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">510</span></td>
                        <td class="name-color" colspan="3">
                            <div class="triangle-box status_v">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="李大同 (17/01/24~17/01/25)">李大同</span>
                            </div>
                        </td>
                        <!--<td class="empty-color"></td>-->
                        <!--<td class="empty-color"></td>-->
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="3">
                            <div class="triangle-box status_s">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="James Chen (17/01/29~17/01/31)">James Chen</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">510</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">601</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">602</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">603</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">604</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="2">
                            <div class="triangle-box status_o">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="Christopher (17/01/30~17/01/31)">Christopher</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="5">
                            <div class="triangle-box status_a">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="Barack Obama (17/02/06~17/02/10)">Barack Obama</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">605</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">606</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">607</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">608</span></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="3">
                            <div class="triangle-box status_o">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="Steve Ma (17/01/25~17/01/27)">Steve Ma</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">609</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">610</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">701</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">702</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">703</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">704</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="name-color" colspan="4">
                            <div class="triangle-box status_v">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="木村拓哉 (17/01/27~17/01/30)">木村拓哉</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">705</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">706</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">707</span></td>
                        <td class="name-color" colspan="3">
                            <div class="triangle-box status_a">
                                <span class="triangle-text" data-rel="tooltip" data-placement="bottom"
                                      title="林書豪 (17/01/27~17/01/30)">林書豪</span>
                            </div>
                        </td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">708</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">709</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                    <tr>
                        <td class="middle td-first dateColor"><span class="col-xs-6 roomPlan-Num1">DXK</span><span
                                    class="col-xs-6 roomPlan-Num2">710</span></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                        <td class="empty-color"></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
    <div class="clear"></div>
</div> <!-- table -->