<%- include ../../../common/jsFile/groupJs_fixTable %>

<script type="text/javascript">
    //    var vm = new Vue({
    //        el: ".pageMain",
    //        methods:{
    //            reservationDialog_1: function (e) {
    //               // 將dialog 跟 datagrid 丟到裡面
    //            }
    //        }
    //    })
    $(function () {

        // 彈出 訂房卡
        $(document).on('click', ".reservationDialog-1", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-1-message").removeClass('hide').dialog({
                modal: true,
                title: "訂房卡",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 控制如果是瀏覽按鈕 save 是 disabled && title 唯讀
            if ($(this).hasClass("resv-view")) {
                $("#reservationDialog-1-message").find(".is-save").attr("disabled", true);
                $("#reservationDialog-1-message").removeClass('hide').dialog({title: "訂房卡-唯讀"});
            }
            else {
                $("#reservationDialog-1-message").find(".is-save").attr("disabled", false);
            }

            // 訂房卡 dataGrid
            $('#reservation_resvCard-table').datagrid({
                singleSelect: true,
                collapsible: true,
//                width: '94%',
                url: '/jsonData/reservation/reservation_resvCard.json',
                method: 'get',
                columns: [[
                    {field: 'addDel', title: '<i class="fa fa-plus green"></i>', width: 28, align: 'center'},
                    {field: 'No', title: 'No', width: 30},
                    {field: 'Status', title: 'Status', width: 40},
                    {field: 'CIDate', title: 'CI Date', width: 75},
                    {field: 'Days', title: 'Days', width: 40},
                    {field: 'CODate', title: 'CO Date', width: 75},
                    {field: 'RateCode', title: 'Rate Code', width: 140},
                    {field: 'RunTypeForSell', title: 'Rm. Type For Sell', width: 60},
                    {field: 'TypeForAssign', title: 'Use Type', align: 'right', width: 60},
                    {field: 'NoOfRms', title: 'Qty', align: 'right', width: 40},
                    {field: 'UnitPrice', title: 'Unit Price', align: 'right', width: 60},
                    {field: 'UnitSevChrg', title: 'Unit Sev. Chrg', align: 'right', width: 60},
                    {field: 'adult', title: '大人', width: 50, align: 'right'},
                    {field: 'child', title: '小孩', width: 50, align: 'right'},
                    {field: 'baby', title: '嬰兒', width: 50, align: 'right'}
                ]]
            });

        });


        // 彈出 住客歷史
        $(document).on('click', ".reservationDialog-2", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-2-message").removeClass('hide').dialog({
                modal: true,
                title: "住客歷史",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // History 預約來館資料 dataGrid
            $('#reservation_reserveShopInfo-table').datagrid({
                singleSelect: true,
                collapsible: true,
                url: '/jsonData/reservation/reservation_reserveShopInfo.json',
                method: 'get',
                columns: [[
                    {field: 'cardStatus', title: '狀態', width: 60},
                    {field: 'ciDate', title: '入住日期', width: 100},
                    {field: 'coDate', title: '退房日期', width: 100},
                    {field: 'proxyCompanyName', title: '訂房公司', width: 100},
                    {field: 'companyName', title: '公司名稱', width: 100},
                    {field: 'groupNum', title: '團號', width: 60},
                    {field: 'contactMan', title: '聯絡人', width: 100},
                    {field: 'roomKind', title: '房價代號', width: 80},
                    {field: 'roomKindAcc', title: '計價房種', width: 80},
                    {field: 'rooms', title: '間數', width: 80},
                    {field: 'dayPrices', title: '單日房價', width: 80},
                    {field: 'people', title: '人數', width: 80}
                ]]
            });

            // History 住客來訪歷史 dataGrid
            $('#reservation_guestVisitHistory-table').datagrid({
                singleSelect: true,
                collapsible: true,
                url: '/jsonData/reservation/reservation_guestVisitHistory.json',
                method: 'get',
                columns: [[
                    {field: 'office', title: '廳別', width: 60},
                    {field: 'arriveDate', title: '入住日期', width: 100},
                    {field: 'departDate', title: '退房日期', width: 100},
                    {field: 'roomNum', title: '房號', width: 60},
                    {field: 'roomPriceCode', title: '房價代號', width: 140},
                    {field: 'roomPrice', title: '房價', width: 80, align: 'right'},
                    {field: 'consumption', title: '消費總額', width: 80, align: 'right'},
                    {field: 'rentConsume', title: '房租消費', width: 60, align: 'right'},
                    {field: 'foodConsume', title: '餐飲消費', width: 60, align: 'right'},
                    {field: 'otherConsume', title: '其他消費', width: 60, align: 'right'},
                    {field: 'tipConsume', title: '小費', width: 60, align: 'right'},
                    {field: 'proxyPrice', title: '代支金額', width: 60, align: 'right'},
                    {field: 'proxyCompany', title: '訂房公司', width: 100}
                ]]
            });

            // Remarks dataGrid
            $('#reservation_hallRemark-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/reservation_hallRemark.json',
                method: 'get',
                columns: [[
                    {field: 'hall', title: '館別', width: 100},
                    {field: 'no', title: '序號', width: 100},
                    {field: 'remark', title: '備註', width: 200},
                    {field: 'inputPerson', title: '輸入者', width: 100},
                    {field: 'inputDate', title: '輸入日', width: 100},
                    {field: 'lastInputPerson', title: '最後異動者', width: 100},
                    {field: 'lastInputDate', title: '最後異動日', width: 100}
                ]]
            });

        });

        // 彈出 住客歷史 Lost&Found
        $(document).on('click', ".resvLostFound", function (e) {
            e.preventDefault();
            var dialog = $("#resvLostFound-message").removeClass('hide').dialog({
                modal: true,
                title: "Lost&Found",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // profile resvProfile_lostFound (同綜合櫃檯 profile 多筆) dataGrid
            $('#resvProfile_lostFound-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/reservation_lostFound.json',
                method: 'get',
                columns: [[
                    {field: 'checkbox', title: '<input type="checkbox"/>', width: 28, align: 'center'},
                    {field: 'LfCode', title: '編號', width: 50},
                    {field: 'LfState', title: '狀態', width: 100},
                    {field: 'LfDate', title: '遺失日期', width: 100},
                    {field: 'LfTime', title: '遺失時間', width: 100},
                    {field: 'LfThings', title: '遺失物品', width: 240},
                    {field: 'LfName', title: '遺失者', width: 100},
                    {field: 'LfPlace', title: '遺失處', width: 100},
                ]]
            });

        });

        // 彈出 住客歷史 Anniversary
        $(document).on('click', ".resvAnniversary", function (e) {
            e.preventDefault();
            var dialog = $("#resvAnniversary-message").removeClass('hide').dialog({
                modal: true,
                title: "Anniversary",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });


            // 住客歷史 anniversary dataGrid
            $('#resv_anniversary-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_anniversary.json',
                method: 'get',
                columns: [[
                    {field: 'anniv', title: '紀念日期', width: 100},
                    {field: 'annivSort', title: '紀念日分類', width: 60},
                    {field: 'objectSort', title: '對象分類', width: 60},
                    {field: 'details', title: '說明', width: 100},
                    {field: 'addDate', title: '新增日', width: 90},
                    {field: 'addBy', title: '新增者', width: 75},
                    {field: 'updDate', title: '異動日', width: 90},
                    {field: 'updBy', title: '異動者', width: 75}
                ]]
            });

        });

        // 彈出 訂房卡 費用列表 Rate Details
        $(document).on('click', ".resv_rateDetail", function (e) {
            e.preventDefault();
            var dialog = $("#resvRateDetail-message").removeClass('hide').dialog({
                modal: true,
                title: "Rate Details",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 費用列表 dataGrid
            $('.resvRateDetail1-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/reservation_rateDetail_1.json',
                method: 'get',
                columns: [[
                    {field: 'details', title: '明細', width: 60},
                    {field: 'itemCode', title: '項目代號', width: 100},
                    {field: 'itemName', title: '項目名稱', width: 200},
                    {field: 'itemPrice', title: '項目單價', width: 100},
                    {field: 'quanity', title: '數量', width: 100},
                    {field: 'itemSubTotal', title: '項目小計', width: 100},
                    {field: 'serviceMethod', title: '服務方式', width: 100},
                    {field: 'customRules', title: '自訂規則', width: 100},
                    {field: 'startDate', title: '開始日期', width: 100},
                    {field: 'endDate', title: '結束日期', width: 100},
                    {field: 'hallCode', title: '館別代號', width: 100},
                    {field: 'addBy', title: '輸入者', width: 100},
                    {field: 'addDate', title: '輸入日', width: 100},
                    {field: 'updBy', title: '最後異動者', width: 100},
                    {field: 'updDate', title: '最後異動日', width: 100}
                ]]
            });

        });

        // 彈出 訂房卡 選項 option
        $(document).on('click', ".resvOption", function (e) {
            e.preventDefault();
            var dialog = $("#resvOption-message").removeClass('hide').dialog({
                modal: true,
                title: "Option",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 訂房確認書
        $(document).on('click', ".resv_BtnPage04", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage04-message").removeClass('hide').dialog({
                modal: true,
                title: "訂房確認書",
                title_html: true,
                width: 600,
                height: 250,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 住客明細 Guest Details
        $(document).on('click', ".resv_guestDetail", function (e) {
            e.preventDefault();
            var dialog = $("#resvGuestDetail-message").removeClass('hide').dialog({
                modal: true,
                title: "住客明細",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 住客明細 Guest Details btn1 交辦事項
        $(document).on('click', ".resv_guestDetail-btn1", function (e) {
            e.preventDefault();
            var dialog = $("#resvGuestDetail-btn1-message").removeClass('hide').dialog({
                modal: true,
                title: "交辦事項",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // PMS0210020 trace Button
            $('#resv_guestDetail-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_guestDetail.json',
                method: 'get',
                columns: [[
                    {field: 'checkbox', title: '<input type="checkbox" />', width: 28, align: 'center'},
                    {field: 'status', title: '狀態', width: 80},
                    {field: 'startDate', title: '開始日期', width: 100},
                    {field: 'endDate', title: '結束日期', width: 100},
                    {field: 'bookingsNum', title: '訂房卡號', width: 100},
                    {field: 'roomNum', title: '房號', width: 60},
                    {field: 'tracesCon', title: '交辦事項內容', width: 300},
                    {field: 'processDepartment', title: '處理部門', width: 100}
                ]]

            });

        });

        // 彈出 住客明細 Guest Details -- 新增交辦
        $(document).on('click', ".resv_guestDetailBtn1", function (e) {
            e.preventDefault();
            var dialog = $("#resvGuestDetailBtn1-message").removeClass('hide').dialog({
                modal: true,
                title: "新增交辦",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 指定房組 AssignHouse
        $(document).on('click', ".resv_assignHouse", function (e) {
            e.preventDefault();
            var dialog = $("#resvAssignHouse-message").removeClass('hide').dialog({
                modal: true,
                title: "指定房組",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 櫃檯備品 Counter supplies
        $(document).on('click', ".resv_counterSupplies", function (e) {
            e.preventDefault();
            var dialog = $("#counterSupplies-message").removeClass('hide').dialog({
                modal: true,
                title: "櫃檯用品",
                title_html: true,
                width: 700,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 櫃檯備品詳細資料 resv_countSupDetails
        $(document).on('click', ".resv_countSupDetails", function (e) {
            e.preventDefault();
            var dialog = $("#countSupDetails-message").removeClass('hide').dialog({
                modal: true,
                title: "櫃檯用品詳細資料",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 櫃檯備品主選單Btn resv_amenitiesIny
        $(document).on('click', ".resv_amenitiesIny", function (e) {
            e.preventDefault();
            var dialog = $("#resv_amenitiesIny-message").removeClass('hide').dialog({
                modal: true,
                title: "櫃檯用品可用數",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 櫃檯備品主選單Btn resv_amenitiesDetail
        $(document).on('click', ".resv_amenitiesDetail", function (e) {
            e.preventDefault();
            var dialog = $("#resv_amenitiesDetail-message").removeClass('hide').dialog({
                modal: true,
                title: "櫃檯備品資料",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 櫃檯備品-詳細資料 resv_amenitiesDetail dataGrid
            $('#resv_amenitiesDetail-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_amenitiesDetail.json',
                method: 'get',
                columns: [[

                    {field: 'dataSource', title: '資料來源', width: 100},
                    {field: 'className', title: '類別名稱', width: 100},
                    {field: 'startDate', title: '使用開始日期', width: 100},
                    {field: 'endDate', title: '使用結業日期', width: 150},
                    {field: 'useNum', title: '使用數', width: 100, align: 'right'},
                    {field: 'stockNum', title: '佔庫存數', width: 100, align: 'right'},
                    {field: 'resvNo', title: '訂房卡號', width: 100},
                    {field: 'roomNo', title: '房號', width: 60},
                    {field: 'groupNo', title: '團號', width: 100},
                    {field: 'fullName', title: 'Full Name', width: 100},
                    {field: 'resvCompany', title: '訂房公司', width: 100},
                    {field: 'companyName', title: '公司名稱', width: 100},
                    {field: 'ciDate', title: 'C/I日期', width: 100},
                    {field: 'coDate', title: 'C/O日期', width: 100}
                ]]
            });

        });

        // 彈出 預授權
        $(document).on('click', ".authorize-btn", function (e) {
            e.preventDefault();
            var dialog = $("#authorizeDialog").removeClass('hide').dialog({
                modal: true,
                title: "預授權",
                title_html: true,
                width: 900,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 批次修改
        $(document).on('click', ".resvBatch-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-batch").removeClass('hide').dialog({
                modal: true,
                title: "批次修改",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 批次修改 dataGrid
            $('#resvBatch-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resvBatch.json',
                method: 'get',
                columns: [[
                    {field: 'batchChoose', title: '選擇', width: 40},
                    {field: 'batchNo', title: '序號', width: 40},
                    {field: 'batchState', title: '狀態', width: 50},
                    {field: 'batchDate1', title: 'C/I日期', width: 80},
                    {field: 'batchDate2', title: 'C/O日期', width: 80},
                    {field: 'batchCode', title: '房價代號', width: 150},
                    {field: 'batchTotal', title: '計價房種', width: 100},
                    {field: 'batchUse', title: '使用房種', width: 100},
                    {field: 'batchNum', title: '間數', width: 50},
                    {field: 'batchPrice', title: '房價', width: 60, align: 'right'},
                    {field: 'batchSerice', title: '服務費', width: 60, align: 'right'},
                    {field: 'batchMargin', title: '房價差額', width: 60, align: 'right'},
                    {field: 'batchBrokerage', title: '備註', width: 100}
                ]]

            });
        });

        // 彈出 訂房卡列印print-preview
        $(document).on('click', ".reservePrint-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-print").removeClass('hide').dialog({
                modal: true,
                title: "訂房卡列印",
                title_html: true,
                width: 600,
                height: 135,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 列印預覽
        $(document).on('click', ".print-preview-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-print-preview").removeClass('hide').dialog({
                modal: true,
                title: "列印預覽",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房確認書(列印)
        $(document).on('click', ".confirm-print-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-confirm-print").removeClass('hide').dialog({
                modal: true,
                title: "是否列印",
                title_html: true,
                width: 500,
                height: 135,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房確認書列印預覽
        $(document).on('click', ".confirm-print-preview-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-confirm-preview").removeClass('hide').dialog({
                modal: true,
                title: "列印預覽",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 FOC
        $(document).on('click', ".resv_FOC", function (e) {
            e.preventDefault();
            var dialog = $("#resv_FOC-message").removeClass('hide').dialog({
                modal: true,
                title: "FOC",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 分類別 resv_BtnPage05
        $(document).on('click', ".resv_BtnPage05", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage05-message").removeClass('hide').dialog({
                modal: true,
                title: "分類別",
                title_html: true,
                width: 800,
                maxwidth: 1920,
                height: 300,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 保證方式 resv_BtnPage06
        $(document).on('click', ".resv_BtnPage06", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage06-message").removeClass('hide').dialog({
                modal: true,
                title: "保證方式",
                title_html: true,
                width: 800,
                maxwidth: 1920,
                height: 300,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡確認書(Email) resv_BtnPage12
        $(document).on('click', ".resv_BtnPage12", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage12-message").removeClass('hide').dialog({
                modal: true,
                title: "訂房卡確認書(Email)",
                title_html: true,
                width: 700,
                maxwidth: 1920,
                height: 400,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房確認書(傳真)-傳真號碼 resv_BtnPage13
        $(document).on('click', ".resv_BtnPage13", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage13-message").removeClass('hide').dialog({
                modal: true,
                title: "傳真號碼",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 異動紀錄 resv_BtnPage08
        $(document).on('click', ".resv_BtnPage08", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage08-message").removeClass('hide').dialog({
                modal: true,
                title: "Change log",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 Memo resv_BtnPage09
        $(document).on('click', ".resv_BtnPage09", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage09-message").removeClass('hide').dialog({
                modal: true,
                title: "Memo",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房確認書log resv_BtnPage14
        $(document).on('click', ".resv_BtnPage14", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage14-message").removeClass('hide').dialog({
                modal: true,
                title: "訂房確認書執行動作紀錄",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 Share Rate
        $(document).on('click', ".resv_shareRate", function (e) {
            e.preventDefault();
            var dialog = $("#resvShareRate-message").removeClass('hide').dialog({
                modal: true,
                title: "Share Rate",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 Share Rate 單筆
        $(document).on('click', ".resv_shareRateSGL", function (e) {
            e.preventDefault();
            var dialog = $("#resvShareRateSGL-message").removeClass('hide').dialog({
                modal: true,
                title: "Share Rate",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 分帳規則 resv_BtnPage03
        $(document).on('click', ".resv_BtnPage03", function (e) {
            e.preventDefault();
            var dialog = $("#resv_BtnPage03-message").removeClass('hide').dialog({
                modal: true,
                title: "分帳規則",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 狀態變更
        $(document).on('click', ".rvType-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-rvType").removeClass('hide').dialog({
                modal: true,
                title: "狀態變更",
                title_html: true,
                width: 500,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 狀態變更
            $('#rvTpye-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/rvType.json',
                method: 'get',
                columns: [[
                    {field: 'rvTpyeNo', title: '序', width: 50},
                    {field: 'rvTpyeCode', title: '代碼', width: 82},
                    {field: 'rvTpyeState', title: '狀態', width: 150},
                    {field: 'rvTpyeMan', title: '異動者', width: 100},
                    {field: 'rvTpyeDate', title: '異動日期', width: 100}
                ]]
            });

        });

        // 彈出 blockSettingSingle(超訂 PMS0120020)
        $(document).on('click', ".PMS0120020Btn", function (e) {
            e.preventDefault();
            var dialog = $("#PMS0120020Btn-page").removeClass('hide').dialog({
                modal: true,
                title: "Setting",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 住客歷史分類
        $(document).on('click', ".classified-btn", function (e) {
            e.preventDefault();
            var dialog = $("#classifiedDialog").removeClass('hide').dialog({
                modal: true,
                title: "住客歷史分類",
                title_html: true,
                width: 700,
                maxwidth: 1920,
                height: 250,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 其他聯絡方式
        $(document).on('click', ".otherContact-btn", function (e) {
            e.preventDefault();
            var dialog = $("#otherContactDialog").removeClass('hide').dialog({
                modal: true,
                title: "其他聯絡方式",
                title_html: true,
                width: 800,
                maxwidth: 1920,
                height: 500,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 圖片上傳頁
        $(document).on('click', ".ghist-sign-pic-btn", function (e) {
            e.preventDefault();
            var dialog = $("#ghist-sign-pic").removeClass('hide').dialog({
                modal: true,
                title: "住客照片",
                title_html: true,
                width: 500,
                maxwidth: 1920,
                height: 320,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 留言明細
        $(document).on('click', ".message-btn", function (e) {
            e.preventDefault();
            var dialog = $("#message-dialog").removeClass('hide').dialog({
                modal: true,
                title: "留言明細",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // profile messages (同PMS0210130 多筆) dataGrid
            $('#resvProfile_message-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/frontDesk/front_message.json',
                method: 'get',
                columns: [[
                    {field: 'room', title: 'Room', width: 80, align: "right"},
                    {field: 'fullName', title: 'Full Name', width: 150},
                    {field: 'date', title: 'Date', width: 80},
                    {field: 'time', title: 'Time', width: 80},
                    {field: 'from', title: 'From', width: 80},
                    {field: 'at', title: 'At', width: 80},
                    {field: 'replyTo', title: 'Reply to', width: 100},
                    {field: 'message', title: 'Message', width: 150},
                    {field: 'status', title: 'Status', width: 80},
                    {field: 'addBy', title: 'Added By', width: 80},
                    {field: 'addDate', title: 'Added Date', width: 80},
                    {field: 'updby', title: 'Upd by', width: 80},
                    {field: 'updDate', title: 'Upd Date', width: 80}
                ]]
            });

        });

        // 彈出 suggestion
        $(document).on('click', ".suggestion-btn", function (e) {
            e.preventDefault();
            var dialog = $("#suggestion-dialog").removeClass('hide').dialog({
                modal: true,
                title: "Suggestion",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 接送機
        $(document).on('click', ".resvPickUp-btn", function (e) {
            e.preventDefault();
            var dialog = $("#reservationDialog-pickUp").removeClass('hide').dialog({
                modal: true,
                title: "接送機資料輸入",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 訂房卡-接機 dataGrid
            $('#resvPickUp-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resvPickUp.json',
                method: 'get',
                columns: [[
                    {field: 'resvNo', title: '序號', width: 50},
                    {field: 'resvCo', title: '連絡人', width: 80},
                    {field: 'resvP1', title: '電話一', width: 100},
                    {field: 'resvP2', title: '電話二', width: 100},
                    {field: 'resvDate', title: '日期', width: 80},
                    {field: 'resvNum', title: '班次', width: 80},
                    {field: 'resvTime', title: '時間', width: 80},
                    {field: 'resvAdult', title: '大人數', width: 50, align: 'right'},
                    {field: 'resvChild', title: '小孩數', width: 50, align: 'right'},
                    {field: 'resvBaby', title: '嬰兒數', width: 50, align: 'right'},
                    {field: 'resvPoint', title: '指定住客', width: 80},
                    {field: 'resvMark', title: '備註', width: 150}
                ]]
            });

            // 訂房卡-送機 dataGrid
            $('#resvDropOff-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resvDropOff.json',
                method: 'get',
                columns: [[
                    {field: 'resvNo', title: '序號', width: 50},
                    {field: 'resvCo', title: '連絡人', width: 80},
                    {field: 'resvP1', title: '電話一', width: 100},
                    {field: 'resvP2', title: '電話二', width: 100},
                    {field: 'resvDate', title: '日期', width: 80},
                    {field: 'resvNum', title: '班次', width: 80},
                    {field: 'resvTime', title: '時間', width: 80},
                    {field: 'resvAdult', title: '大人數', width: 50},
                    {field: 'resvChild', title: '小孩數', width: 50},
                    {field: 'resvBaby', title: '嬰兒數', width: 50},
                    {field: 'resvPoint', title: '指定住客', width: 80},
                    {field: 'resvMark', title: '備註', width: 150}
                ]]
            });

        });

        // 彈出 航空哩程
        $(document).on('click', ".aviationMile-btn", function (e) {
            e.preventDefault();
            var dialog = $("#aviationMile-Dialog").removeClass('hide').dialog({
                modal: true,
                title: "航空哩程",
                title_html: true,
                width: 750,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 Clean
        $(document).on('click', ".clean-btn", function (e) {
            e.preventDefault();
            var dialog = $("#clean-Dialog").removeClass('hide').dialog({
                modal: true,
                title: "清掃房間",
                title_html: true,
                width: 500,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 點擊 彈出 清掃房間
        $(document).on('click', ".editClean-btn", function (e) {
            e.preventDefault();
            var dialog = $("#editClean-Dialog").removeClass('hide').dialog({
                modal: true,
                title: "清掃房間",
                title_html: true,
                width: 500,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 點擊 彈出 待檢查
        $(document).on('click', ".waitClean-btn", function (e) {
            e.preventDefault();
            var dialog = $("#waitClean-Dialog").removeClass('hide').dialog({
                modal: true,
                title: "清掃房間",
                title_html: true,
                width: 500,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 pbx視窗
        $(document).on('click', ".pbx-btn", function (e) {
            e.preventDefault();
            var dialog = $("#pbx-Dialog").removeClass('hide').dialog({
                modal: true,
                title: "單筆開啟電話",
                title_html: true,
                width: 700,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出setRateCode　公帳號
        $(document).on('click', ".publicAccount-btn", function (e) {
            e.preventDefault();
            var dialog = $("#publicAccountDialog").removeClass('hide').dialog({
                modal: true,
                title: "公帳號",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // PMS01200070 彈出 交辦事項單筆 resv_tracessingle-1
        $(document).on('click', ".resv_tracesSingle-1", function (e) {
            e.preventDefault();
            var dialog = $("#resv_tracesSingle-1-message").removeClass('hide').dialog({
                modal: true,
                title: "交辦事項單筆",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 ratePlan內容
        $(document).on('click', ".resv_ratePlanBtn", function (e) {
            e.preventDefault();
            var dialog = $("#resv_ratePlanBtn-message").removeClass('hide').dialog({
                modal: true,
                title: "Rate Plan",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 resv_deposits(開班登入)
        $(document).on('click', ".resv_deposits", function (e) {
            e.preventDefault();
            var dialog = $("#resv_deposits-message").removeClass('hide').dialog({
                modal: true,
                title: "開班登入",
                title_html: true,
                width: 500,
                maxwidth: 1920,
                minheight: 250,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 resv_depositsStep2(設定訂金編號01)
        $(document).on('click', ".resv_depositsStep2", function (e) {
            e.preventDefault();
            var dialog = $("#resv_depositsStep2-message").removeClass('hide').dialog({
                modal: true,
                title: "設定訂金編號",
                title_html: true,
                width: 700,
                maxwidth: 1920,
                minheight: 250,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 resv_depositsStep3A(訂金編號新增)
        $(document).on('click', ".resv_depositsStep3A", function (e) {
            e.preventDefault();
            var dialog = $("#resv_depositsStep3A-message").removeClass('hide').dialog({
                modal: true,
                title: "訂金編號新增 [廳別：FO:客房櫃檯] [班別：A]",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

        });

        // 彈出 訂房卡 resv_depositsStep3AEdit(訂金編號編輯)
        $(document).on('click', ".resv_depositsStep3AEdit", function (e) {
            e.preventDefault();
            var dialog = $("#resv_depositsStep3AEdit-message").removeClass('hide').dialog({
                modal: true,
                title: "訂金帳戶異動",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 訂房卡 resv_depoisitsStep3A(訂金帳戶資料) dataGrid
            $('#resv_depositsStep3A-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_depositsStep3A.json',
                method: 'get',
                columns: [[

                    {field: 'dateNO', title: '日期', width: 100},
                    {field: 'office', title: '廳別', width: 100},
                    {field: 'singleNum', title: '單號', width: 100},
                    {field: 'status', title: '狀態', width: 150},
                    {field: 'deposit', title: '存入', width: 150, align: 'right'},
                    {field: 'expenditure', title: '支出', width: 150, align: 'right'},
                    {field: 'remark', title: '備註', width: 150}
                ]]
            });

        });

        // 彈出 訂房卡 resv_depositsStep4A(入帳)
        $(document).on('click', ".resv_depositsStep4A", function (e) {
            e.preventDefault();
            var dialog = $("#resv_depositsStep4A-message").removeClass('hide').dialog({
                modal: true,
                title: "入帳:[0000052AAA]",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 訂房卡 resv_depositsStep3B(訂金編號)
        $(document).on('click', ".resv_depositsStep3B", function (e) {
            e.preventDefault();
            var dialog = $("#resv_depositsStep3B-message").removeClass('hide').dialog({
                modal: true,
                title: "共有50筆資料",
                title_html: true,
                width: 700,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // 訂房卡 resv_depositsStep3B(訂金編號) dataGrid
            $('#resv_depositsStep3B-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_depositsStep3B.json',
                method: 'get',
                columns: [[
                    {field: 'depositNum', title: '訂金編號', width: 100},
                    {field: 'customName', title: '客戶姓名', width: 100},
                    {field: 'accBalance', title: '帳戶餘額', width: 100, align: 'right'},
                    {field: 'invoiceOpen', title: '發票開立方式', width: 150},
                    {field: 'IdCardNum', title: '身分證字號', width: 150}
                ]]
            });

        });

        // 彈出 rate info
        $(document).on('click', ".rateInfo-btn", function (e) {
            e.preventDefault();
            var dialog = $("#rateInfo-page").removeClass('hide').dialog({
                modal: true,
                title: "Rate Info",
                title_html: true,
                width: 800,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // rateInfo
            $('#rateInfo-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/rateInfo-table.json',
                method: 'get',
                columns: [[
                    {field: 'date', title: '日期', width: 100},
                    {field: 'sDate', title: '服務日期', width: 100},
                    {field: 'item', title: '項目', width: 150},
                    {field: 'price', title: '單價', width: 80, align: 'right'},
                    {field: 'amount', title: '數量', width: 50, align: 'right'},
                    {field: 'total', title: '小計', width: 70, align: 'right'},
                    {field: 'mode', title: '收費方式.', width: 70}
                ]]
            });


        });

        // 彈出 G.Profile "Merge" Btn
        $(document).on('click', ".resv_merge", function (e) {
            e.preventDefault();
            var dialog = $("#resv_merge-message").removeClass('hide').dialog({
                modal: true,
                title: "Merge",
                title_html: true,
                width: 700,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // G.Profile resv_merge dataGrid
            $('#resv_merge-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_merge.json',
                method: 'get',
                columns: [[
                    {field: 'checkbox01', title: '', width: 28, align: "center"},
                    {field: 'checkbox02', title: '<input type="checkbox">', width: 28, align: "center"},
                    {field: 'guestNo', title: 'Guest No', width: 100, align: 'right'},
                    {field: 'fullName', title: 'Full Name', width: 100},
                    {field: 'birth', title: 'Birth', width: 100, align: 'right'},
                    {field: 'IDNo', title: 'ID No.', width: 100},
                    {field: 'nationality', title: 'Nationality', width: 80},
                    {field: 'mobile', title: 'Mobile', width: 100, align: 'right'},
                    {field: 'email', title: 'Email', width: 150}
                ]]
            });

        });

        // 彈出 Option "Coupon" Btn
        $(document).on('click', ".resv_coupon", function (e) {
            e.preventDefault();
            var dialog = $("#resv_coupon-message").removeClass('hide').dialog({
                modal: true,
                title: "Coupon",
                title_html: true,
                width: 700,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // Option > Coupon (resv_coupon-table) dataGrid
            $('#resv_coupon-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_coupon.json',
                method: 'get',
                columns: [[
                    {field: 'sort', title: '序', width: 28},
                    {field: 'couponCategory', title: '禮券類別', width: 100},
                    {field: 'couponNum', title: '禮券編號', width: 150},
                    {field: 'couponStatus', title: '禮券狀態', width: 70},
                    {field: 'couponPrice', title: '面額', width: 70, align: 'right'},
                    {field: 'remark', title: '備註', width: 100},
                    {field: 'status', title: '狀態', width: 60},
                    {field: 'finiteDate', title: '有限日期', width: 100},
                    {field: 'frozenDate', title: '凍結日', width: 100},
                    {field: 'addBy', title: 'Add By', width: 80},
                    {field: 'addDate', title: 'Add Date', width: 80},
                    {field: 'updBy', title: 'Upd By', width: 80},
                    {field: 'updDate', title: 'Upd Date', width: 80},
                ]]
            });

        });

        // 彈出 Reservation > PaxList > Imports(resv_PaxImports) Btn
        $(document).on('click', ".resv_PaxImports", function (e) {
            e.preventDefault();
            var dialog = $("#resv_PaxImports-message").removeClass('hide').dialog({
                modal: true,
                title: "Imports",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

            // Reservation > PaxList > Imports(resv_PaxImports-table) dataGrid
            $('#resv_PaxImports-table').datagrid({
                singleSelect: true,
                collapsible: true,
                // 從json 撈
                url: '/jsonData/reservation/resv_PaxImports.json',
                method: 'get',
                columns: [[
                    {field: 'sort', title: '明細序號', width: 70},
                    {field: 'roomGroup', title: '房組', width: 100},
                    {field: 'guestName', title: '住客姓名', width: 80},
                    {field: 'gender', title: '性別', width: 80},
                    {field: 'country', title: '國籍', width: 80},
                    {field: 'id', title: 'I.D.', width: 100},
                    {field: 'mobilePhone', title: '行動電話', width: 80},
                    {field: 'email', title: 'Email', width: 150},
                    {field: 'address', title: '地址', width: 150}
                ]]
            });

        });

        // 彈出 Option "Registration Card" Btn
        $(document).on('click', ".resv_RegistrationCard", function (e) {
            e.preventDefault();
            var dialog = $("#resv_RegistrationCard-message").removeClass('hide').dialog({
                modal: true,
                title: "Registration Card",
                title_html: true,
                width: 700,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 另存新檔 (Save As)
        $(document).on('click', ".saveAsBtn", function (e) {
            e.preventDefault();
            var dialog = $("#saveAsBtn-message").removeClass('hide').dialog({
                modal: true,
                title: "Save As",
                title_html: true,
                width: 500,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 備註視窗 (Save As)
        $(document).on('click', ".msg_remark", function (e) {
            e.preventDefault();
            var dialog = $("#msg_remark-message").removeClass('hide').dialog({
                modal: true,
                title: "Remarks",
                title_html: true,
                width: 500,
                maxwidth: 1920,
//                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        /***
         * PMS0210030 Room Assign
         */

        // 彈出 Room Assign button  foCnt_autoAssign
        $(document).on('click', ".foCnt_roomAssign", function (e) {
            e.preventDefault();
            var dialog = $("#foCnt_roomAssign-message").removeClass('hide').dialog({
                modal: true,
                title: "Room Assign [Rv:11023451] [C/I:2018/02/13]",
                title_html: true,
                width: 1000,
                maxwidth: 1920,
                height: $(window).height(),
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });

        });

        <!-- ********* dataGrid ********* -->

        // 住客歷史(G.Profile)多筆資料
        $('#resv_gProfile-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation/resv_gProfile.json',
            method: 'get',
            columns: [[
                {field: 'historyNO', title: '歷史編號', width: 80},
                {field: 'status', title: '狀態', width: 60},
                {field: 'fullName', title: 'Full Name', width: 80},
                {field: 'sex', title: '性別', width: 60},
                {field: 'personID', title: '身份證字號', width: 100},
                {field: 'country', title: '國籍', width: 100},
                {field: 'visitNum', title: '來訪次數', width: 60},
                {field: 'visitDay', title: '來訪天數', width: 60},
                {field: 'totalSpend', title: '消費總額', width: 60, align: 'right'},
                {field: 'mobile', title: 'Mobile', width: 100},
                {field: 'email', title: 'Email', width: 150}
            ]]

        });

        // 訂房卡多筆 dataGrid
        $('#resv_bookings-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation/resv_bookings.json',
            method: 'get',
            columns: [[
                {field: 'kinds', title: '種類', width: 40},
                {field: 'status', title: '狀態', width: 60},
                {field: 'bookingsNum', title: '訂房卡號', width: 100},
                {field: 'quickSearch', title: '速查', width: 50},
                {field: 'ciDate', title: 'C/I日期', width: 80},
                {field: 'coDate', title: 'C/O日期', width: 80},
                {field: 'dateNum', title: '天數', width: 50},
                {field: 'useHousing', title: '使用房種', width: 100},
                {field: 'housingNum', title: '間數', width: 50},
                {field: 'planRoomNum', title: '排房數', width: 50},
                {field: 'ciNum', title: 'C/I數', width: 60},
                {field: 'fullName', title: 'Full Name', width: 60},
                {field: 'groupNum', title: '團號', width: 60},
                {field: 'proxyCompany', title: '訂房公司名稱', width: 100},
                {field: 'companyName', title: '公司名稱', width: 60},
                {field: 'contact', title: '聯絡人', width: 60},
                {field: 'sales', title: '業務員', width: 60},
                {field: 'roomPriceCode', title: '房價代號', width: 60},
                {field: 'resvSource', title: '訂房來源', width: 60},
                {field: 'depositNum', title: '訂金編號', width: 60},
                {field: 'confirmStatus', title: '確認狀態', width: 60},
                {field: 'confirmDate', title: '確認日期', width: 60},
//                {field: 'firstName', title: 'First Name', width: 60},
//                {field: 'lastName', title: 'Last Name', width: 60},
                {field: 'valHousing', title: '計價房種', width: 60},
                {field: 'guestCategory', title: '市場類別', width: 60},
                {field: 'publicAccount', title: '公帳號', width: 60},
                {field: 'officalCard', title: '官網卡號', width: 60},
                {field: 'addDate', title: '輸入日期', width: 60},
                {field: 'addBy', title: '輸入者', width: 60},
                {field: 'updDate', title: '最後修改日', width: 60},
                {field: 'updBy', title: '最後修改者', width: 60}
//                {field: 'hall', title: '館別', width: 60},
            ]]
        });

        // 專案訂房 dataGrid
        $('#PMS0110030-dg').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation/resv_PMS0110030-dg.json',
            method: 'get',
            columns: [[
                {field: 'checkbox', title: '<input type="checkbox">', width: 28, align: "center"},
                {field: 'rateCode', title: 'Rate Code', width: 80},
                {field: 'rateName', title: 'Rate Name', width: 150},
                {field: 'rmType', title: 'RM Type', width: 100},
                {field: 'arrival', title: 'Ａrrival', width: 80},
                {field: 'departure', title: 'Departure', width: 80},
                {field: 'days', title: 'Days', width: 50},
                {field: 'qnt', title: 'Qnt.', width: 50},
                {field: 'rateAmt', title: 'Rate Amt.', width: 60, align: 'right'},
                {field: 'svc', title: 'Svc.', width: 60, align: 'right'},
                {field: 'sTotal', title: 'S.Total', width: 60, align: 'right'},
                {field: 'adult', title: 'Adult', width: 40},
                {field: 'child', title: 'Child', width: 40},
                {field: 'baby', title: 'Baby', width: 40}
            ]]
        });

        // setRateCode rateCode-查詢結果 dataGrid
        $('#setRateCode-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation/resv_RateCode.json',
            method: 'get',
            columns: [[
                {field: 'roomCode', title: '房價代號', width: 100},
                {field: 'roomName', title: '房價名稱', width: 100},
                {field: 'menu', title: 'MENU選單', width: 100},
                {field: 'setTripChoose', title: '設定類別', width: 100},
                {field: 'priceClass', title: '房價分類', width: 100},
                {field: 'resvSource', title: '訂房來源', width: 100},
                {field: 'marketCategory', title: '市場類別', width: 100},
                {field: 'useDescription', title: '使用說明', width: 200}
            ]]

        });

        // PMS0120070 resv_traces 交辦事項 dataGrid
        $('#resv_traces-table').datagrid({
            singleSelect: true,
            collapsible: true,
            // 從json 撈
            url: '/jsonData/reservation/resv_traces.json',
            method: 'get',
            columns: [[
                {field: 'checkbox', title: '<input type="checkbox">', width: 28, align: "center"},
                {field: 'status', title: '狀態', width: 80},
                {field: 'startDate', title: '開始日期', width: 100},
                {field: 'endDate', title: '結束日期', width: 100},
                {field: 'bookingsNum', title: '訂房卡號', width: 100},
                {field: 'roomNum', title: '房號', width: 60},
                {field: 'tracesCon', title: '交辦事項內容', width: 300},
                {field: 'processDepartment', title: '處理部門', width: 100}
            ]]

        });


        //changeRecords中的dropdown select
        $(document.body).on('click', '.dropdown-menu li', function (event) {
            var $target = $(event.currentTarget);

            $target.closest('.btn-group')
                .find('[data-bind="label"]').text($target.text())
                .end()
                .children('.dropdown-toggle').dropdown('toggle');

            return false;

        });


    });
    $(function () {

//      超訂overBooking PMS0120020
        $('#PMS0120020-table').fixedHeaderTable({
            cloneHeadToFoot: false,
            fixedColumns: 1,
            addPxForFixedColumnsWidth: 80,
            everyColumnsAddWith: 0
        });

//      專案訂房 PMS0110030
        $('#PMS0110030-table').fixedHeaderTable({
            cloneHeadToFoot: false,
            fixedColumns: 1,
            addPxForFixedColumnsWidth: 10,
            everyColumnsAddWith: 0
        });

//      櫃檯備品
        $('#amenities-table').fixedHeaderTable({
            cloneHeadToFoot: false,
            fixedColumns: 1,
            addPxForFixedColumnsWidth: 60,
            everyColumnsAddWith: 0
        });


//        https://www.sitepoint.com/community/t/fixed-header-and-first-column-in-table/29828/11
        //實測好像先hide的比較慢 170906
//        $('#resRoomType-table').hide().fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 ,addPxForFixedColumnsWidth: 50, everyColumnsAddWith: 0 }).show();
//        $('#resRoomType-table').fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 ,addPxForFixedColumnsWidth: 50, everyColumnsAddWith: 0 });

//      櫃檯備品CounterSupplies
//        $('#counterSupplies-table').fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 ,addPxForFixedColumnsWidth: 100, everyColumnsAddWith: 0 });
        //fixedColumns             : 固定左側列行數
        //addPxForFixedColumnsWidth: 固定左側列行數-寬
        //everyColumnsAddWith      : 每一個欄位的-寬

        // tree
        $("table.treeControl").agikiTreeTable({persist: true, persistStoreName: "files"});

        // resize table
//        // divider margin 40px && fht-body -85px
        var header1 = $(".navbar-container").height();
        var header2 = $(".top-sec-ul").height() + 5; //padding-top: 5px

        height = $(window).height() - header1 - header2 - 10;
        $(".height600").css("height", height);
        //		$(".height600").removeClass("height600");
        $(".fht-tbody").css("height", height - 80);
        $(window).resize(function () {
            height = $(window).height() - header1 - header2 - 10;
            $(".height600").css("height", height);
            $(".fht-tbody").css("height", height - 80);
        });

        //#PMS0110030-table
        var PMS0110030Height = $("#PMS0110030-table").height();
        $("#PMS0110030-table").parents(".PMS0110030-table").find(".height600").css("height", PMS0110030Height + 10);


        var tableWidth1 = $(".sidebar").width();

        tableWidth = $(window).width() - tableWidth1 - 10;
        $(".grid_12").css("width", "95%");
//        $(".grid_12").find(".fht-fixed-body").css("width", "95%");
        $(".fht-body").css("width", "95% !important");
        $(window).resize(function () {
            tableWidth = $(window).width() - tableWidth1 - 10;
            $(".grid_12").css("width", "100%");
            $(".fht-body").css("width", "100%");
        });

        // 按鈕控制tree 開合
        //collapsed
        //expanded
        var treeTdId = new Set();
        $('tr[data-tt-parent-id]').each(function () {
            treeTdId.add($(this).attr('data-tt-parent-id'));
        });
        var openStatus = false;
        $(document).on('click', ".openDetails", function () {
            openStatus = !openStatus;
//            if(iterateTreeToogle =='display: table-row;')
            if (openStatus) {
                for (var tdId of treeTdId) {
//                    var obj =$(".fht-tbody > .treetable").find("tr[data-tt-id='" + tdId + "']").children().find('a').parent().html();
//                    console.log(obj);
//                    treeToggle(obj);
                    iterateTreeToogle(tdId, "display: table-row;", false);
                    $('.openDetailsTxt').css('display', 'none');
                    $('.closeDetailsTxt').css('display', 'block');
                }
            } else {
                for (var tdId of treeTdId) {
                    iterateTreeToogle(tdId, "display: none;", true);
                    $('.closeDetailsTxt').css('display', 'none');
                    $('.openDetailsTxt').css('display', 'block');
                }
            }

        });


        // 住客歷史 height
//        $(window).resize(function() {
//            var guestHoliday = $(window).height()-10;
//            $(".guestHoliday").css("height","guestHoliday");
//        });

        // chosen initial
        // chosen set dialog width
        $(".chosenDialog-w1").chosen({
            width: "414px"
        });
        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({allow_single_deselect: true});
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
//                        $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({'width': $this.parent().width()});
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }

    });

    //dropzone 圖片上傳套件選項
    try {
        Dropzone.autoDiscover = false;

        var myDropzone = new Dropzone('#myDropzone', {

            maxFilesize: 0.5,
            uploadMultiple: false,
            addRemoveLinks: true,
            method: 'post',
            thumbnailHeight: 120,
            thumbnailWidth: 120,

            //addRemoveLinks : true,
//            dictRemoveFile: 'Remove',

            dictDefaultMessage: '<span class="bigger-150 bolder"><i class="ace-icon fa fa-caret-right red"></i> Drop files</span> to upload \
                <span class="smaller-80 grey">(or click)</span> <br /> \
                <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>'
            ,

            thumbnail: function (file, dataUrl) {
                if (file.previewElement) {
                    $(file.previewElement).removeClass("dz-file-preview");
                    var images = $(file.previewElement).find("[data-dz-thumbnail]").each(function () {
                        var thumbnailElement = this;
                        thumbnailElement.alt = file.name;
                        thumbnailElement.src = dataUrl;
                    });
                    setTimeout(function () {
                        $(file.previewElement).addClass("dz-image-preview");
                    }, 1);
                }
            }

        });


        //simulating upload progress
        var minSteps = 6,
            maxSteps = 60,
            timeBetweenSteps = 100,
            bytesPerStep = 100000;

        myDropzone.uploadFiles = function (files) {
            var self = this;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                totalSteps = Math.round(Math.min(maxSteps, Math.max(minSteps, file.size / bytesPerStep)));

                for (var step = 0; step < totalSteps; step++) {
                    var duration = timeBetweenSteps * (step + 1);
                    setTimeout(function (file, totalSteps, step) {
                        return function () {
                            file.upload = {
                                progress: 100 * (step + 1) / totalSteps,
                                total: file.size,
                                bytesSent: (step + 1) * file.size / totalSteps
                            };

                            self.emit('uploadprogress', file, file.upload.progress, file.upload.bytesSent);
                            if (file.upload.progress == 100) {
                                file.status = Dropzone.SUCCESS;
                                self.emit("success", file, 'success', null);
                                self.emit("complete", file);
                                self.processQueue();
                            }
                        };
                    }(file, totalSteps, step), duration);
                }
            }
        }

    } catch (e) {
//        alert('Dropzone.js does not support older browsers!');
    }


    // 訂房卡button 文字轉換
    $("#resv_changeTxt").click(function () {
        var textName = $(this).text();
        if (textName == "Waiting")
            $(this).text("Cancel")
        else if (textName == "Cancel")
            $(this).text("Reservation");
        else
            $(this).text("Waiting");
    });

    // resv_deposits 切換Radio 顯示不同按鈕
    $('.resv_depositsStep3B').hide();
    $(document).on('click', ".deposits_One", function (e) {
        $('.depositsBtn').removeClass('resv_depositsStep3B').addClass('resv_depositsStep3A');
    });

    $(document).on('click', ".deposits_Two", function (e) {
        $('.depositsBtn').removeClass('resv_depositsStep3A').addClass('resv_depositsStep3B');
    });

    $(document).ready(function () {
        $("#resRoomPlan-table").tableHeadFixer({"left": 1});
    });
    $(document).ready(function () {
        $("#resRoomType-table").tableHeadFixer({"left": 1});
    });

</script>