<!DOCTYPE html>
<html lang="en">
<%- include ../../../common/cssFile/importFiles_CssBase %>

<%- include ../../../common/jsFile/importFiles_JsBase %>


<body class="no-skin" style="background-image: none; background: #fff;">
<div class="businessCompanyData">
    <div class="col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-xs-11 col-sm-11">
                <div class="main-content-data">

                    <!--  鎖控明細表格 -->

                        <div class="container_12 divider">
                            <div class="grid_12 height600 treeIconDisplay" width="100%">
                                <table class="fancyTable themeTable treeControl"  id="resvBlockSetting-table" cellpadding="0" cellspacing="0" >
                                    <thead>
                                    <tr>
                                        <th class="ca-headerTitle height-fntThead" rowspan="2">
                                            <!--ca-center-->
                                            <div class="caSelect">
                                                <select class="input-medium ca-select">
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                </select>
                                                <div class="space-2"></div>
                                                <select class="input-medium ca-select">
                                                    <option value="1">Jan</option>
                                                    <option value="2">Feb</option>
                                                    <option value="3">Mar</option>
                                                    <option value="4">Apr</option>
                                                    <option value="5">May</option>
                                                    <option value="6">Jun</option>
                                                    <option value="7">Jul</option>
                                                    <option value="8">Aug</option>
                                                    <option value="9">Sep</option>
                                                    <option value="10">Oct</option>
                                                    <option value="11">Nov</option>
                                                    <option value="12">Dec</option>
                                                </select>
                                            </div>
                                            <div class="caIcon">
                                            <span class="ca-headerIcon">
                                                <i class="fa fa-calendar-check-o orange" data-rel="tooltip" data-placement="bottom" title="Today"></i>
                                            </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </th>

                                        <th class="dateColor">14</th>
                                        <th class="dateColor">15</th>
                                        <th class="dateColor">16</th>
                                        <th class="dateColor">17</th>
                                        <th class="dateColor">18</th>
                                        <th class="dateColor">19</th>
                                        <th class="dateColor">20</th>
                                        <th class="dateColor">21</th>
                                        <th class="dateColor">22</th>
                                        <th class="dateColor">23</th>
                                        <th class="dateColor">24</th>
                                        <th class="dateColor">25</th>
                                        <th class="dateColor">26</th>
                                        <th class="dateColor">27</th>
                                        <th class="dateColor">28</th>
                                        <th class="dateColor">01</th>
                                        <th class="dateColor">02</th>
                                        <th class="dateColor">03</th>
                                        <th class="dateColor">04</th>
                                        <th class="dateColor">05</th>
                                        <th class="dateColor">06</th>
                                        <th class="dateColor">07</th>
                                        <th class="dateColor">08</th>
                                        <th class="dateColor">09</th>
                                        <th class="dateColor">10</th>
                                        <th class="dateColor">11</th>
                                        <th class="dateColor">12</th>
                                        <th class="dateColor">13</th>
                                        <th class="dateColor">14</th>
                                        <th class="dateColor">15</th>
                                        <th class="dateColor">16</th>
                                        <th class="dateColor">17</th>
                                        <th class="dateColor">18</th>
                                        <th class="dateColor">19</th>
                                        <th class="dateColor">20</th>
                                        <th class="dateColor">21</th>
                                        <th class="dateColor">22</th>
                                        <th class="dateColor">23</th>
                                        <th class="dateColor">24</th>
                                        <th class="dateColor">25</th>
                                        <th class="dateColor">26</th>
                                        <th class="dateColor">27</th>
                                    </tr>
                                    <tr>
                                        <th>Tue</th>
                                        <th>Wed</th>
                                        <th>Thu</th>
                                        <th>Fri</th>
                                        <th class="holiday-color">Sat</th>
                                        <th class="holiday-color">Sun</th>
                                        <th>Mon</th>
                                        <th>Tue</th>
                                        <th>Wed</th>
                                        <th>Thu</th>
                                        <th>Fri</th>
                                        <th class="holiday-color">Sat</th>
                                        <th class="holiday-color">Sun</th>
                                        <th >Mon</th>
                                        <th >Tue</th>
                                        <th >Wed</th>
                                        <th >Thu</th>
                                        <th >Fri</th>
                                        <th class="holiday-color">Sat</th>
                                        <th class="holiday-color">Sun</th>
                                        <th >Mon</th>
                                        <th >Tue</th>
                                        <th >Wed</th>
                                        <th >Thu</th>
                                        <th >Fri</th>
                                        <th class="holiday-color">Sat</th>
                                        <th class="holiday-color">Sun</th>
                                        <th >Mon</th>
                                        <th >Tue</th>
                                        <th >Wed</th>
                                        <th >Thu</th>
                                        <th >Fri</th>
                                        <th class="holiday-color">Sat</th>
                                        <th class="holiday-color">Sun</th>
                                        <th >Mon</th>
                                        <th >Tue</th>
                                        <th >Wed</th>
                                        <th >Thu</th>
                                        <th >Fri</th>
                                        <th class="holiday-color">Sat</th>
                                        <th class="holiday-color">Sun</th>
                                        <th >Mon</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="hidden-firstTr">
                                        <td class="middle td-first hidden-firstTd"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                    </tr>
                                    <tr>
                                        <td class="middle td-first orangeTag">2016台北資訊展</td>
                                        <td class=""></td>
                                        <td class="" ></td>

                                        <td class="numeric orangeTag" colspan="3">
                                            2016台北資訊展
                                        </td>
                                        <td class="" ></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>

                                        <td class=""></td>
                                        <td class="">

                                        </td>
                                        <td class="">

                                        </td>
                                        <td class="">

                                        </td>
                                        <td class="">

                                        </td>
                                        <td class="">

                                        </td>
                                        <td class="">

                                        </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                    </tr>
                                    <tr>
                                        <td class="middle td-first greenTag">冬季旅展大登場</td>

                                        <td class="numeric ">

                                        </td>
                                        <td class="numeric ">

                                        </td>
                                        <td class="numeric ">

                                        </td>
                                        <td class="numeric ">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric greenTag" colspan="4">
                                            冬季旅展大登場
                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric">

                                        </td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                        <td class="numeric"></td>
                                    </tr>
                                    <tr data-tt-id="1">
                                        <td class="middle td-first">STD<span class="roomNumTip2 subTree-title">New</span></td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric">3</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                    </tr>
                                    <tr data-tt-id="2" data-tt-parent-id="1" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Original</span></td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="3" data-tt-parent-id="1" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">On Hand</span></td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="4" data-tt-parent-id="1" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Available</span></td>
                                        <td class="numeric disable-color">8</td>
                                        <td class="numeric disable-color">7</td>
                                        <td class="numeric disable-color">-1</td>
                                        <td class="numeric disable-color">-2</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>

                                    <tr data-tt-id="5">
                                        <td class="middle td-first">DXK<span class="roomNumTip2 subTree-title">New</span></td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric">3</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                    </tr>
                                    <tr data-tt-id="6" data-tt-parent-id="5" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Original</span></td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="7" data-tt-parent-id="5" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Original</span></td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="8" data-tt-parent-id="5" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Available</span></td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>

                                    <tr data-tt-id="9">
                                        <td class="middle td-first">DXT<span class="roomNumTip2 subTree-title">New</span></td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric">3</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                    </tr>
                                    <tr data-tt-id="10" data-tt-parent-id="9" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Original</span></td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="11" data-tt-parent-id="9" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">On Hand</span></td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="12" data-tt-parent-id="9" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Available</span></td>
                                        <td class="numeric disable-color">8</td>
                                        <td class="numeric disable-color">7</td>
                                        <td class="numeric disable-color">-1</td>
                                        <td class="numeric disable-color">-2</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>


                                    <tr data-tt-id="13">
                                        <td class="middle td-first">EXT<span class="roomNumTip2 subTree-title">New</span></td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric holiday-color">2</td>
                                        <td class="numeric">3</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">2</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric">0</td>
                                    </tr>
                                    <tr data-tt-id="14" data-tt-parent-id="13" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Original</span></td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="15" data-tt-parent-id="13" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">On Hand</span></td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">10</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>
                                    <tr data-tt-id="16" data-tt-parent-id="13" class="subTree-s">
                                        <td class="middle td-first subTree-title"><span class="roomNumTip2 m-top">Available</span></td>
                                        <td class="numeric disable-color">8</td>
                                        <td class="numeric disable-color">7</td>
                                        <td class="numeric disable-color">-1</td>
                                        <td class="numeric disable-color">-2</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">0</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">3</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                        <td class="numeric disable-color">2</td>
                                    </tr>


                                    </tbody>
                                </table>
                                <!-- table -->
                            </div>
                            <div class="clear"></div>
                        </div>

                    <!--  /.End 鎖控明細表格 -->


                </div><!--main-content-data-->
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li class="openDetails openDetailsTxt">
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Show Details</button>
                            </li>
                            <li class="openDetails closeDetailsTxt" style="display: none; margin-top: -3px;">
                                <button class="btn btn-primary btn-white btn-defaultWidth "
                                        role="button">Hide Details</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth HFD0100040_release"
                                        role="button">Release</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth HFD0100040_setting"
                                        role="button">Setting</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Save</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Quit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- 鎖控多筆 release 彈出視窗 -->
    <div id="HFD0100040_releasePage" class="hide padding-5" style="">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">
                            <div class="grid">
                                <div class="grid-item">
                                    <label>Start Date</label>
                                    <input type="date" class="input-medium input-spc-key" placeholder="">
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>End Date</label>
                                    <input type="date" class="input-medium input-spc-key" placeholder="">
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>Rm Type</label>
                                    <input type="text" class="input-medium input-spc-key" placeholder="AGODA COMPANY">
                                    <i class="moreClick fa fa-ellipsis-h"></i>
                                </div>
                            </div>

                        </div><!--main-content-data-->

                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Release
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.鎖控-設定 彈出視窗 -->
    <!-- 鎖控多筆 setting 彈出視窗 -->
    <div id="HFD0100040_settingPage" class="hide padding-5" style="">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data borderFrame">
                            <div class="grid">
                                <div class="grid-item">
                                    <label>Start Date</label>
                                    <input type="date" class="input-medium input-spc-3" placeholder="">
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>End Date</label>
                                    <input type="date" class="input-medium input-spc-3" placeholder="">
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>Rm Type</label>
                                    <input type="text" class="input-medium input-spc-3Rm" placeholder="AGODA COMPANY">
                                    <i class="moreClick fa fa-ellipsis-h"></i>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>Qnt.</label>
                                    <input type="text" class="input-medium input-spc-3" placeholder="">
                                </div>
                            </div>

                        </div><!--main-content-data-->

                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Setting
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Clear
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.鎖控-設定 彈出視窗 -->
</div>
</body>

<%- include ../../../common/jsFile/groupJs_fixTable %>
<script type="text/javascript">

    var treeTdId = new Set();
    $(function () {


        // 彈出 鎖控明細 多筆 release
        $(document).on('click', ".HFD0100040_release", function (e) {
            e.preventDefault();
            var dialog = $("#HFD0100040_releasePage").removeClass('hide').dialog({
                modal: true,
                title: "Release",
                title_html: true,
                width: 750,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

        // 彈出 鎖控明細 多筆 setting
        $(document).on('click', ".HFD0100040_setting", function (e) {
            e.preventDefault();
            var dialog = $("#HFD0100040_settingPage").removeClass('hide').dialog({
                modal: true,
                title: "Setting",
                title_html: true,
                width: 600,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });

//      ***** fixedHeaderTable *****
        $('#resvBlockSetting-table').fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 ,addPxForFixedColumnsWidth: 50, everyColumnsAddWith: 0 });

        //fixedColumns             : 固定左側列行數
        //addPxForFixedColumnsWidth: 固定左側列行數-寬
        //everyColumnsAddWith      : 每一個欄位的-寬
//        alert('test123');
        // tree
        $("table.treeControl").agikiTreeTable({persist: true, persistStoreName: "files"});

        // resize table
        // divider margin 40px && fht-body -85px
        var header1 = $(".navbar-container").height();
        var header2 = $(".top-sec-ul").height()+5; //padding-top: 5px
//
        height=$(window).height()-header1-header2-10;
        $(".height600").css("height", height);
        //		$(".height600").removeClass("height600");
        $(".fht-tbody").css("height", height-80);
        $(window).resize(function() {
            height=$(window).height()-header1-header2-10;
            $(".height600").css("height", height);
            $(".fht-tbody").css("height", height-80);
        });

        //todo 按鈕控制tree 開合
        //collapsed
        //expanded

        $('tr[data-tt-parent-id]').each(function(){
            treeTdId.add($(this).attr('data-tt-parent-id'));
        });
        var openStatus = false;
        $(document).on('click', ".openDetails", function () {
            openStatus=!openStatus;
//            if(iterateTreeToogle =='display: table-row;')
            if(openStatus){
                for(var tdId of treeTdId){
//                    var obj =$(".fht-tbody > .treetable").find("tr[data-tt-id='" + tdId + "']").children().find('a').parent().html();
//                    console.log(obj);
//                    treeToggle(obj);
                    iterateTreeToogle(tdId,"display: table-row;",false);
                    $('.openDetailsTxt').css('display','none');
                    $('.closeDetailsTxt').css('display','block');
                }
            }else{
                for(var tdId of treeTdId){
                    iterateTreeToogle(tdId,"display: none;",true);
                    $('.closeDetailsTxt').css('display','none');
                    $('.openDetailsTxt').css('display','block');
                }
            }

        });

    });
</script>
</html>
