<div class="container_12 divider">
    <!--toDO-->
    <div class="search-content">
        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
        <div class="search-co">
            <div class="search-co-h">
                <i class="ace-icon fa fa-search search-icon"></i>
                <span>搜尋</span>
                <div class="row search-right-btn">
                    <div class="right-btn-menu-co">
                        <ul>
                            <li>
                                <i class="fa fa-chevron-down show-search-detail"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="search-co-content col-xs-12">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                    <div class="row search-footer-btn">
                        <div class="footer-btn-menu-co">
                            <ul>
                                <li>
                                    <div class="" data-rel="tooltip" data-placement="bottom"
                                         title="查詢"
                                         style="padding: 0 0 5px 0;">
                                        <div class="icon-reStyle icon-co-14"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="" data-rel="tooltip" data-placement="bottom"
                                         title="清除" style="padding: 0 0 5px 0;">
                                        <div class="icon-reStyle icon-co-11"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>  <!-- /.footer-btn-menu-co -->
                    </div> <!-- /.search-footer-btn -->
                    <div class="grid width-95">


                    <div class="grid width-95">
                        <div class="grid-item block-table">
                            <label>日期</label>
                            <input type="date" class="input-medium medium-c1"/>
                            <!--<span class="moreClick"></span>-->
                        </div>
                        <div class="grid-item block-table input-mLeft-1">
                            <label>房號</label>
                            <input type="text" class="input-medium medium-c1"/>
                            <!--<span class="moreClick"></span>-->
                        </div>
                    </div>
                    <div class="grid width-95">
                        <div class="grid-item block-table">
                            <label>房種</label>
                            <input type="text" class="input-medium medium-c1"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> <!-- row-->
        </div> <!-- /.search-co -->
    </div>
    </div> <!-- /.row  search-content-->
        <div class="clearfix"></div>
    <!--暫時設定高度-->
     <div class="grid_12 height600" width="100%">
        <div class="fht-table-wrapper fht-default room-table-container">
            <table class="fancyTable themeTable treeControl roomPlanTable" id="resRoomPlan-table" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th class="ca-headerTitle height-fntThead datecolor" rowspan="2">
                            <div class="month-wrap ca-center">
                                <div class="pull-left">
                                    <div>July</div>
                                    <div>2017</div>
                                </div>
                                <div class="pull-left">
                                <span class="ca-headerIcon">
                                    <i class="fa fa-caret-down fa-2x"></i>
                                </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="roomNum-wrap room-color">
                                <div class="room-Num-Left room-color">
                                    <span class="roomNum-text">房種
                                    <i class="fa fa-caret-down"></i>
                                </span>
                                </div>
                                <div class="room-Num-Right room-color">
                                    <span class="roomNum-text">房號
                                    <i class="fa fa-caret-down"></i>
                                    </span>
                                </div>
                            </div>
                        <div class="clearfix"></div>
                    </th>
                    <th class="th-h30 datecolor">24</th>
                    <th class="datecolor">25</th>
                    <th class="datecolor">26</th>
                    <th class="datecolor">27</th>
                    <th class="datecolor">28</th>
                    <th class="datecolor">29</th>
                    <th class="datecolor">30</th>
                    <th class="datecolor">31</th>
                    <th class="datecolor">01</th>
                    <th class="datecolor">02</th>
                    <th class="datecolor">03</th>
                    <th class="datecolor">04</th>
                    <th class="datecolor">05</th>
                    <th class="datecolor">06</th>
                    <th class="datecolor">07</th>
                    <th class="datecolor">08</th>
                    <th class="datecolor">09</th>
                    <th class="datecolor">10</th>
                    <th class="datecolor">11</th>
                    <th class="datecolor">12</th>
                    <th class="datecolor">13</th>
                    <th class="datecolor">14</th>
                    <th class="datecolor">15</th>
                    <th class="datecolor">16</th>
                    <th class="datecolor">17</th>
                    <th class="datecolor">18</th>
                    <th class="datecolor">19</th>
                </tr>
                <tr>
                    <th class="dateColor"><span class="">Mon</span></th>
                    <th class="dateColor"><span class="">Tue</span></th>
                    <th class="dateColor"><span class="">Wed</span></th>
                    <th class="dateColor"><span class="">Thu</span></th>
                    <th class="dateColor"><span class="">Fri</span></th>
                    <th class="dateColor"><span class="">Sat</span></th>
                    <th class="dateColor"><span class="">Sun</span></th>
                    <th class="dateColor"><span class="">Mon</span></th>
                    <th class="dateColor"><span class="">Tue</span></th>
                    <th class="dateColor"><span class="">Wed</span></th>
                    <th class="dateColor"><span class="">Thu</span></th>
                    <th class="dateColor"><span class="">Fri</span></th>
                    <th class="dateColor"><span class="">Sat</span></th>
                    <th class="dateColor"><span class="">Sun</span></th>
                    <th class="dateColor"><span class="">Mon</span></th>
                    <th class="dateColor"><span class="">Tue</span></th>
                    <th class="dateColor"><span class="">Wed</span></th>
                    <th class="dateColor"><span class="">Thu</span></th>
                    <th class="dateColor"><span class="">Fri</span></th>
                    <th class="dateColor"><span class="">Sat</span></th>
                    <th class="dateColor"><span class="">Sun</span></th>
                    <th class="dateColor"><span class="">Mon</span></th>
                    <th class="dateColor"><span class="">Tue</span></th>
                    <th class="dateColor"><span class="">Wed</span></th>
                    <th class="dateColor"><span class="">Thu</span></th>
                    <th class="dateColor"><span class="">Fri</span></th>
                    <th class="dateColor"><span class="">Sat</span></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">501</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">502</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">503</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">504</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">505</span></td>
                    <td class="name-color">林苑珍</td>
                    <td class="name-color">林苑珍</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">506</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">507</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">508</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">509</span></td>
                    <td class="name-color">李大同</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="name-color">James Chen</td>
                    <td class="name-color">James Chen</td>
                    <td class="name-color">James Chen</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">510</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">601</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">602</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">603</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">604</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="name-color">Christopher</td>
                    <td class="name-color">Christopher</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">605</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">606</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">607</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">608</span></td>
                    <td class="empty-color"></td>
                    <td class="name-color">Steve Ma</td>
                    <td class="name-color">Steve Ma</td>
                    <td class="name-color">Steve Ma</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">609</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">610</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">701</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">702</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">703</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">704</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="name-color">木村拓哉</td>
                    <td class="name-color">木村拓哉</td>
                    <td class="name-color">木村拓哉</td>
                    <td class="name-color">木村拓哉</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">705</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">706</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">707</span></td>
                    <td class="name-color">林書豪</td>
                    <td class="name-color">林書豪</td>
                    <td class="name-color">林書豪</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">708</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">709</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">710</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
    <div class="clear"></div>
</div> <!-- table -->