<div class="container_12 divider">
    <!--toDO-->
    <!--暫時設定高度-->
     <div class="grid_12 height600" width="100%">
        <div class="fht-table-wrapper fht-default room-table-container">
            <table class="fancyTable themeTable treeControl roomPlanTable" id="resRoomPlan-table" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th class="ca-headerTitle height-fntThead datecolor" rowspan="2">
                        <div class="ca-center">
                            <div class="pull-left">
                                <div>七月</div>
                                <div>2017</div>
                            </div>
                            <div class="pull-left">
                                <span class="ca-headerIcon">
                                    <i class="fa fa-caret-down fa-2x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </th>
                    <th class="datecolor">一</th>
                    <th class="datecolor">二</th>
                    <th class="datecolor">三</th>
                    <th class="datecolor">四<br></th>
                    <th class="datecolor">五<br></th>
                    <th class="datecolor">六</th>
                    <th class="datecolor">日</th>
                    <th class="datecolor">一</th>
                    <th class="datecolor">二</th>
                    <th class="datecolor">三</th>
                    <th class="datecolor">四</th>
                    <th class="datecolor">五</th>
                    <th class="datecolor">六</th>
                    <th class="datecolor">日</th>
                    <th class="datecolor">一</th>
                    <th class="datecolor">二</th>
                    <th class="datecolor">三</th>
                    <th class="datecolor">四</th>
                    <th class="datecolor">五</th>
                    <th class="datecolor">六</th>
                    <th class="datecolor">日</th>
                    <th class="datecolor">一</th>
                    <th class="datecolor">二</th>
                    <th class="datecolor">三</th>
                    <th class="datecolor">四</th>
                    <th class="datecolor">五</th>
                    <th class="datecolor">六</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="middle td-first room-color" style="height: 21px; width: 99px;">
                        房種
                        <i class="fa fa-caret-down"></i>
                        <span class="roomPlan-Num">房號
                        <i class="fa fa-caret-down"></i>
                        </span>
                    </td>
                    <th class="dateColor"><span class="">24</span></th>
                    <th class="dateColor"><span class="">25</span></th>
                    <th class="dateColor"><span class="">26</span></th>
                    <th class="dateColor"><span class="">27</span></th>
                    <th class="dateColor"><span class="">28</span></th>
                    <th class="dateColor"><span class="">29</span></th>
                    <th class="dateColor"><span class="">30</span></th>
                    <th class="dateColor"><span class="">31</span></th>
                    <th class="dateColor"><span class="">01</span></th>
                    <th class="dateColor"><span class="">02</span></th>
                    <th class="dateColor"><span class="">03</span></th>
                    <th class="dateColor"><span class="">04</span></th>
                    <th class="dateColor"><span class="">05</span></th>
                    <th class="dateColor"><span class="">06</span></th>
                    <th class="dateColor"><span class="">07</span></th>
                    <th class="dateColor"><span class="">08</span></th>
                    <th class="dateColor"><span class="">09</span></th>
                    <th class="dateColor"><span class="">10</span></th>
                    <th class="dateColor"><span class="">11</span></th>
                    <th class="dateColor"><span class="">12</span></th>
                    <th class="dateColor"><span class="">13</span></th>
                    <th class="dateColor"><span class="">14</span></th>
                    <th class="dateColor"><span class="">15</span></th>
                    <th class="dateColor"><span class="">16</span></th>
                    <th class="dateColor"><span class="">17</span></th>
                    <th class="dateColor"><span class="">18</span></th>
                    <th class="dateColor"><span class="">19</span></th>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">501</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">502</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">503</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">504</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">505</span></td>
                    <td class="name-color">林苑珍</td>
                    <td class="name-color">林苑珍</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">506</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">507</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">508</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">509</span></td>
                    <td class="name-color">李大同</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="name-color">James Chen</td>
                    <td class="name-color">James Chen</td>
                    <td class="name-color">James Chen</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">510</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">601</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">602</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">603</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">604</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="name-color">Christopher</td>
                    <td class="name-color">Christopher</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">605</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">606</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">607</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">608</span></td>
                    <td class="empty-color"></td>
                    <td class="name-color">Steve Ma</td>
                    <td class="name-color">Steve Ma</td>
                    <td class="name-color">Steve Ma</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">609</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">610</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">701</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">702</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">703</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">704</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="name-color">木村拓哉</td>
                    <td class="name-color">木村拓哉</td>
                    <td class="name-color">木村拓哉</td>
                    <td class="name-color">木村拓哉</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">705</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">706</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">707</span></td>
                    <td class="name-color">林書豪</td>
                    <td class="name-color">林書豪</td>
                    <td class="name-color">林書豪</td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">708</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">709</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                <tr>
                    <td class="middle td-first dateColor">DXK <span class="roomPlan-Num2">710</span></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                    <td class="empty-color"></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
    <div class="clear"></div>
</div> <!-- table -->