<style>
    .table-hidden .table-hidden td {
        }
</style>
<div class="container_12 divider fix-table">
    <div class="grid_12">
        <div class="fht-table-wrapper fht-default fixed-table-container cus-roomPlan-table">
            <table class="fancyTable themeTable treeControl roomPlanTable" id="resRoomPlan-table" cellpadding="0"
                   cellspacing="0">
                <thead>

                <tr>
                    <th class="ca-headerTitle height-fntThead datecolor rp-first-th" rowspan="2" style="z-index: 21;">
                        <!--搜尋日期-->
                            <div class="caSelect">
                                <el-date-picker
                                        class="input-medium ca-select"
                                        v-model="searchData4Month"
                                        :clearable="false"
                                        :editable="false"
                                        type="month"
                                        placeholder="選擇月"
                                        @change="selectDate()">
                                </el-date-picker>
                                <div class="space-2"></div>
                            </div>
                            <div class="caIcon">
                                    <span class="ca-headerIcon">
                                        <i class="fa fa-calendar-check-o orange fa-lg" data-rel="tooltip"
                                           data-placement="bottom" title="滾房租日" @click="backToRentCalDat"></i>
                                    </span>
                            </div>
                        <div class="clearfix"></div>
                        <!--房種,房號,清掃狀況標題-->
                        <div class="roomNum-wrap room-color">
                            <div class="room-Num-Left th-width-s roomPlan-Num1">
                                房種<i class="fa fa-caret-down" @click="sortData('roomTyp')"></i>
                            </div>
                            <div class="room-Num-Right th-width-s roomPlan-Num1">
                                房號<i class="fa fa-caret-down" @click="sortData('room_nos')"></i>
                            </div>
                            <div class="room-Num-Right th-width-l roomPlan-Num1">
                                清掃狀況<i class="fa fa-caret-down" @click="sortData('room_sta')"></i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </th>
                    <!--日期-->
                    <th class="datecolor" colspan="2" v-for="field in dateFieldData">{{field.data}}</th>
                </tr>
                <tr>
                    <!--星期-->
                    <th  class="dateColor" colspan="2" v-for="field in dayFieldData">
                        <span class="">{{field.data}}</span>
                    </th>
                </tr>
                </thead>

                <!--房號資料-->
                <tbody class="clearfix">
                <template v-if="roomNosDataDisplay.length == 0" >
                    <tr style="overflow: hidden; background-color: #ffffff;border: none;">
                        <td style="overflow: hidden; background-color: #ffffff; border: none;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td v-for="data in roomNosDataBlankDisplay" style="overflow: hidden;background-color: #ffffff;border: none;"></td>
                    </tr>
                </template>
                <template v-else>
                    <tr v-for="data in roomNosDataDisplay">
                        <td class="middle td-first dateColor">
                            <span class="th-width-s roomPlan-Num1">{{data.room_cod}}</span>
                            <span class="th-width-s roomPlan-Num2">{{data.room_nos}}</span>
                            <template v-if="data.room_sta == 'Dirty'">
                                <span class="th-width-l roomPlan-Num2 red">{{data.room_sta}}</span>
                            </template>
                            <template v-else>
                                <span class="th-width-l roomPlan-Num2">{{data.room_sta}}</span>
                            </template>

                        </td>
                        <template v-for="roomUse in data.room_use_display">
                            <template v-if="roomUse.isValidity">
                                <td v-if="roomUse.isUsed" class="name-color">
                                    <div class="triangle-box" :class="roomUse.attClass">
                                        <span class="triangle-text" data-rel="tooltip" data-placement="bottom" :title="roomUse.title">{{roomUse.text}}</span>
                                    </div>
                                </td>
                                <td v-else class="empty-color"></td>
                            </template>
                            <template v-else>
                                <td v-if="roomUse.isUsed" class="name-color td-bg-gray">
                                    <div class="triangle-box" :class="roomUse.attClass">
                                        <span class="triangle-text" data-rel="tooltip" data-placement="bottom" :title="roomUse.title">{{roomUse.text}}</span>
                                    </div>
                                </td>
                                <td v-else class="empty-color td-bg-gray"></td>
                            </template>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div> <!-- table -->
