<!--接送機介面-->
<div id="reservationDialog-pickUp" class="hide padding-5" style="top: 0 !important;">
    <div class="businessCompanyData">
        <div class="col-xs-12 col-sm-12 reservation-pickUp-wrap">
            <div class="row">
                <div class="col-xs-11 col-sm-11">
                    <!-------- tabPage -------->
                    <div class="easyui-tabs easyUi-custom1" style="overflow-y: auto;">
                        <div title="接機" class="padding-tabs">
                            <div class="col-xs-12 col-sm-12">
                                <div class="">
                                    <div class="row no-margin-right">

                                        <!-- 接機 table -->
                                        <table id="resvPickUp-table" style="width: 100%"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div title="送機" class="padding-tabs">
                            <div class="col-xs-12 col-sm-12">
                                <div class="">
                                    <div class="row no-margin-right">
                                        <!-- 送機 table -->
                                        <table id="resvDropOff-table" style="width: 100%"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!--</div>-->
                    </div>                    <!-------- /.tabPage -------->

                    <div class="clearfix"></div>
                    <div class="space-6"></div>

                    <div class="main-content-data">
                        <div class="grid">
                            <div class="grid-item">
                                <label>連絡人</label>
                                <input type="text" class="input-medium medium-c1" placeholder="陳老喬"/>
                            </div>
                            <div class="grid-item">
                                <label>指定住客</label>
                                <select class="input-medium medium-c1" disabled>
                                    <option value="">MUZIK古典樂刊_1</option>
                                    <option value="">WWW</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="space-custom-5"></div>-->

                        <div class="grid">
                            <div class="grid-item">
                                <label>電話一</label>
                                <input type="text" class="input-medium medium-c1" placeholder="25575860"/>
                            </div>
                            <div class="grid-item">
                                <label>電話二</label>
                                <input type="text" class="input-medium medium-c1" placeholder=""/>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid-item">
                                <label>日期</label>
                                <input type="date" class="input-medium medium-c1" placeholder="2016/04/21"/>
                            </div>
                            <div class="grid-item">
                                <label>大人數</label>
                                <input type="text" class="input-medium medium-c1" placeholder="2"/>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid-item">
                                <label>班次</label>
                                <select class="input-medium medium-c1">
                                    <option value="">CX531</option>
                                    <option value="">CX555</option>
                                </select>
                            </div>
                            <div class="grid-item">
                                <label>小孩數</label>
                                <input type="text" class="input-medium medium-c1" placeholder="0"/>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid-item">
                                <label>時間</label>
                                <input type="time" class="input-medium medium-c1" placeholder="19:05"/>
                            </div>
                            <div class="grid-item">
                                <label>嬰兒數</label>
                                <input type="text" class="input-medium medium-c1" placeholder="0"/>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid-item">
                                <label>備註</label>
                                <input type="text" class="input-medium input-spc-1" placeholder=""/>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid-item">
                                <label>輸入者</label>
                                <input type="text" class="input-medium medium-c1" placeholder="" disabled/>
                            </div>
                            <div class="grid-item">
                                <label>輸入日</label>
                                <input type="date" class="input-medium medium-c1" placeholder="" disabled/>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="grid-item">
                                <label>最後異動者</label>
                                <input type="text" class="input-medium medium-c1" placeholder="" disabled/>
                            </div>
                            <div class="grid-item">
                                <label>最後異動日</label>
                                <input type="text" class="input-medium medium-c1" placeholder="" disabled/>
                            </div>
                        </div>

                    </div><!--main-content-data-->

                </div>
                <div class="col-xs-1 col-sm-1">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">離開(ESC)
                                    </button>
                                </li>
                                <div class="resvBtn-group">
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">新增
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">刪除
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">存檔
                                        </button>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--批次修改介面-->
<div id="reservationDialog-batch" class="hide padding-5" style="top: 0 !important;">
    <div class="businessCompanyData">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-10 col-sm-10">

                    <div class="main-content-data">

                        <div class="grid">
                            <div class="grid-item">
                                <label>修改欄位</label>
                                <select class="input-medium medium-c5">
                                    <option value="">C/I 日期</option>
                                    <option value="">C/O 日期</option>
                                    <option value="">房價代號</option>
                                    <option value="">計價房種</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label>備註</label>
                                <input type="date" class="input-medium medium-c5" placeholder=""/>
                            </div>
                        </div>

                    </div><!--main-content-data-->
                    <div class="clearfix"></div>
                    <div class="space-6"></div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <!--content-col-4-->
                            <div class="main-content-data">
                                <div>
                                    <!--批次修改table-->
                                    <table id="resvBatch-table" style="height: 200px;"></table>
                                </div>
                            </div><!--main-content-data-->
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="space-6"></div>

                </div>
                <div class="col-xs-2 col-sm-2">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">修改
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">離開
                                    </button>
                                </li>
                                <div class="resvBtn-group">
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">全選
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">取消全選
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">反向選取
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">以下全選
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">以下取消選取
                                        </button>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
