<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
<!-- 區域別設定 Page-->
    <div class="row">
        <div class="col-xs-12">
            <!--<div class="blockSetting-heading">查詢結果</div>-->
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <div id="areaTree" class="demo">
                        <ul>
                            <li data-jstree='{ "opened" : true }'>Root
                                <ul>
                                    <li data-jstree='{ "selected" : true }'>中部
                                        <ul>
                                            <li>苗栗</li>
                                            <li>台中</li>
                                            <li>彰化</li>
                                            <li>雲林</li>
                                        </ul>
                                    </li>
                                    <li>南部
                                        <ul>
                                            <li>嘉義</li>
                                            <li>台南</li>
                                            <li>高雄</li>
                                            <li>屏東</li>
                                        </ul>
                                    </li>
                                    <li>北部
                                        <ul>
                                            <li>基隆</li>
                                            <li>台北</li>
                                            <li>桃園</li>
                                            <li>新竹</li>
                                        </ul>
                                    </li>
                                    <li>東部
                                        <ul>
                                            <li>宜蘭</li>
                                            <li>花蓮</li>
                                            <li>台東</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" onclick="areaTree_create();"
                                        role="button">Add</button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth" onclick="areaTree_delete();"
                                        role="button">Delete</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" onclick="areaTree_rename();"
                                        role="button">Modify</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">Save</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">異動紀錄</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
</div><!-- /.page-content -->

<script type="text/javascript">

    function areaTree_create() {
        var ref = $('#areaTree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        sel = ref.create_node(sel, {"type":"file"});
        if(sel) {
            ref.edit(sel);
        }
    };
    function areaTree_rename() {
        var ref = $('#areaTree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        ref.edit(sel);
    };
    function areaTree_delete() {
        var ref = $('#areaTree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        ref.delete_node(sel);
    };
    // areaTree demo
    $('#areaTree').jstree({
            "core" : {
                "animation" : 0,
//                'force_text' : true,
                "themes" : { "stripes" : true },
                "check_callback" : true
            },
            "types" : {
                    "#" : { "max_children" : 1, "max_depth" : 4, "valid_children" : ["root"] },
                    "root" : { "icon" : "/images/icon/taiwan.png", "valid_children" : ["default"] },
                    "default" : {"icon" : "/images/icon/taiwan.png",  "valid_children" : ["default","file"] },
                    "file" : { "icon" : "fa fa-user", "valid_children" : [] }
                },
            "plugins" : [ "contextmenu", "dnd", "search", "state", "types", "wholerow" ]
        });
</script>
