<!-- Google Code for Booking Conversion Page -->
<div id="main-container" class="controlReservation">
    <div class="page-header">
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- #section:elements.tab.position -->
                                    <div class="tabbable tabs-left">
                                        <ul class="nav nav-tabs" id="settingUl">
                                            <li v-for="proc in prosList"
                                                :class="{active: activePrgID == proc.pro_id}">
                                                <a @click="loadSetUpPage(proc.pro_id)" href="javascript:void(0)">
                                                    {{ proc['pro_name_<%= session.locale %>'] != undefined
                                                    ? proc['pro_name_<%= session.locale %>'] : proc.pro_id }}
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <!-- 對照檔內容 -->
                                            <div id="prgContentDiv" v-show="!isTableLocked"
                                                 style="overflow-x: hidden;display: none;"
                                                 class="tab-pane in active">
                                            </div>

                                            <!-- table lock 訊息 -->
                                            <div align="center" v-show="isTableLocked"
                                                 style="display: none;">
                                                <p>
                                                    <image width="64" src="/images/lock.png"/>
                                                </p>
                                                <p>
                                                    <span style="font-size: 2em !important;"> {{tableLockMsg}} </span>
                                                </p>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

    var gs_mdl_id = '<%= mdl_id %>';
    var vmMain = new Vue({
        el: '#main-container',
        data: {
            setupMenu: [],  //此模組的設定檔
            isTableLockProcessing: true,  //打API 上鎖程序是否正在執行
            usingPrgID: "",  //使用中的prg_id
            activePrgID: "",  //頁面的prg_id
            isTableLocked: false,// 是否被上鎖中
            tableLockMsg: "",// 上鎖訊息
            userInfo:<%- JSON.stringify(session.user || {}) %>,
            prosList: []
        },
        mounted: function () {
            //偵測離開頁面
            $(window).on('beforeunload', function () {
                if (!_.isEmpty(vmMain.usingPrgID)) {
                    return vmMain.doTableUnLock();
                }

            });

            this.loadProcess();
        },
        watch: {
            usingPrgID: function (usingPrgID) {
                setupCookie("lockingPrgID", usingPrgID)
            }
        },
        methods: {
            //打開第一個對照檔
            doFirstPrg: function () {
                if (this.prosList.length > 0) {
                    this.loadSetUpPage(vmMain.prosList[0].pro_id);
                }
            },
            //讀取此Module 所有對照檔
            loadProcess: function () {
                this.prosList = [];
                $.post("/api/getGroupMdlPros", {mdl_id: gs_mdl_id}, function (result) {

                    if (result.success) {
                        vmMain.prosList = result.prosList;
                        vmMain.doFirstPrg();

                    }
                });
            },
            //讀取網頁程式頁面
            loadSetUpPage: function (doingPrgID) {
//                this.usingPrgID = doingPrgID;  //TODO  方便開發，上機器時需拿掉這段
                this.activePrgID = doingPrgID;
                this.isTableLocked = false;
                this.handleClearHtml();
                this.goTopForPage();
                this.checkTmpNotEmpty(doingPrgID);
                this.checkDoUnlock(doingPrgID);

                if (!_.isEmpty(this.usingPrgID) && _.isEqual(doingPrgID, this.usingPrgID)) {
                    $("#prgContentDiv").load('/mainSetUp/' + doingPrgID + "?_r=" + Math.floor((Math.random() * 10000000000) + 1));
                } else {
                    this.isTableLockProcessing = true;
                    this.doTableLock(doingPrgID);
                }

            },
            //判斷是否要Unlock
            checkDoUnlock: function (doingPrgID) {
                if (!_.isEmpty(this.usingPrgID) && !_.isEqual(doingPrgID, this.usingPrgID)) {
                    this.isTableLockProcessing = true;
                    this.doTableUnLock(function (errorMsg, success) {
                        this.isTableLockProcessing = false;
                        vmMain.isTableLocked = false;
                    })
                }
            },
            // 讓捲軸用動畫的方式移動到 0 的位置
            goTopForPage: function () {
                var $body = (window.opera) ? (document.compatMode == "CSS1Compat"
                    ? $('html') : $('body')) : $('html,body');
                $body.animate({
                    scrollTop: 0
                }, 600);
            },
            //資料表上鎖
            doTableLock: function (prg_id) {
                g_socket.emit('handleTableLock', {
                    'prg_id': prg_id,
                    'clientSocketID': gs_clientSocketID
                })
            },
            //資料表解鎖
            doTableUnLock: function (callback) {
                g_socket.emit('handleTableUnlock', {
                    'prg_id': vmMain.usingPrgID,
                    'clientSocketID': gs_clientSocketID
                })
                callback(null, true);
            },
            //判斷是否有正在編輯的程式
            checkTmpNotEmpty: function (doingPrgID) {
                var oldPrgId = this.usingPrgID;
                var datagridEdit = $("#gridEdit").val();
                if (!_.isEmpty(datagridEdit)) {
                    if (datagridEdit.createData.length > 0 || datagridEdit.deleteData.length > 0 || datagridEdit.updateData.length > 0) {
                        if (!confirm("有異動過資料，請問是否離開?")) {
                            //event.preventDefault();
                            $("#" + oldPrgId).addClass('active');
                            $('#' + doingPrgID).removeClass('active');
                            return;
                        }
                    }
                }
            },
            //用jquery load 讀取html 有時會有些殘留的沒清掉，故須處理
            handleClearHtml: function () {
                /** 把dialog 在div產生的html 刪除, 不然會導致另一個對照檔開錯dialog **/
                $("#prgContentDiv").empty();
                $(".panel.window").remove();
                $(".window-shadow").remove();
                $(".window-mask").remove();
                $("#multiLangDialogTmp").remove();
            }
        }
    })

    //Lock 結果
    g_socket.on('checkTableLock', function (result) {
        vmMain.isTableLockProcessing = false;
        vmMain.isTableLocked = !result.success;
        vmMain.tableLockMsg = result.errorMsg;
        vmMain.isTableLockProcessing = false;
        if (!vmMain.isTableLocked) {
            vmMain.usingPrgID = result.prg_id.trim();  //確實是此使用者鎖上的才能註冊這個prg_id
            $("#prgContentDiv").empty().load('/mainSetUp/' + result.prg_id + "?_r=" + Math.floor((Math.random() * 10000000000) + 1));
            waitingDialog.hide();
        } else {
            vmMain.usingPrgID = "";
            waitingDialog.hide();
        }
    })
</script>