<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>dominos</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- CSS Block -->
    <link rel="stylesheet" href="../../../public/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../../../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../public/css/jquery-ui.css">
    <!-- 警式視窗彈出 -->
    <link rel="stylesheet" href="../../../public/css/gritter/jquery.gritter.css">
    <link rel="stylesheet" href="../../../public/css/ace.css">

    <link rel="stylesheet" type="text/css" href="../../../public/css/easyUI/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/easyUI/icon.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/easyUI/demo.css">
    <!-- 多選chosen -->
    <link rel="stylesheet" href="../../../public/css/chosenchosen.css" />

    <!-- color picker 套件 -->
    <link rel="stylesheet" type="text/css" href="../../../public/css/spectrum/spectrum.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/spectrum/docs/docs.css">
    <!-- 全頁日曆 -->
    <link rel="stylesheet" type="text/css" href="../../../public/css/bs-calendar/bootstrap-year-calendar.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap/bootstrap-timepicker.min.css">

    <link rel="stylesheet" href="../../../public/css/remodal.css">
    <link rel="stylesheet" href="../../../public/css/remodal-default-theme.css">

    <!--fixTable-->
    <link rel="stylesheet" href="../../../public/css/fixtable/960.css" />
    <link rel="stylesheet" href="../../../public/css/fixtable/fixTable.css" />


    <!-- dropzone 圖片上傳套件  -->
    <link rel="stylesheet" href="../../../public/css/dropzone/dropzone.css">

    <!-- jsTree -->
    <link rel="stylesheet" href="../../../public/css/jsTree/jsTree.min.css">

    <!-- 自定義style 擺最後 -->
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="../../../public/css/bacchusStyle.css">

    <!-- Element CSS for Vue.js  -->
    <link rel="stylesheet" href="../../../public/css/element_ui/element.css">

    <style>
        .panel.window {
            z-index: 1500 !important;
        }

        .window-shadow {
            z-index: 1499 !important;
        }

        .window-mask {
            z-index: 1498 !important;
        }
    </style>
    <!-- JS Block -->
    <script src="../../../public/js/jquery/jquery.js"></script>
    <script src="../../../public/js/jquery/jquery-ui.js"></script>

    <script src="../../../public/js/bootstrap/bootstrap.js"></script>
    <script src="../../../public/js/ace.js"></script>
    <script src="../../../public/js/ace.sidebar.js"></script>
    <!-- socket.io -->
    <script src="../../../public/js/socket.io.js"></script>

    <!-- boostrap modal -->
    <script src="../../../public/js/modal-dialog.js"></script>

    <!-- validate 類別-->
    <script type="text/javascript" src="../../../public/js/easyUI/validateClass.js"></script>
    <!-- Load i18n 語系內容-->

    <script src="../../../public/js/sprintf.js"></script>

    <!-- easy ui -->
    <script>
//        $.noConflict(true);
    </script>
    <script type="text/javascript" src="../../../public/js/easyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../../public/js/easyUI/columns-ext.js"></script>
    <script>
        //remodal 套件全域變數設定, 需放在remodal.js套件前
        window.REMODAL_GLOBALS = {
            DEFAULTS: {
                hashTracking: false  //打開modal 時網址不出現 hash #
            }
        };
    </script>
    <script type="text/javascript" src="../../../public/js/remodal.min.js"></script>

    <!-- 多選chosen -->
    <script src="../../../public/js/chosen/chosen.jquery.js"></script>
    <!-- vue 套件 -->
    <script src="../../../public/js/vue/vue.min.js"></script>
    <script src="../../../public/js/vue/vee-validate.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <!-- Element JS for Vue.js  -->
    <script src="../../../public/js/element_ui/element.js"></script>
    <script src="../../../public/js/element_ui/locales/en.js"></script>
    <script src="../../../public/js/element_ui/locales/zh_CN.js"></script>
    <script src="../../../public/js/element_ui/locales/zh_TW.js"></script>
    <script src="../../../public/js/element_ui/locales/ja.js"></script>
    <script src="../../../public/js/element_ui/locales/ko.js"></script>


    <script>
        var gs_locale = '<%=session.locale%>';
        ELEMENT.locale(ELEMENT.lang[gs_locale.replace("_","")])
    </script>

    <!-- 驗證easyUI 欄位自訂義規則 -->
    <script type="text/javascript" src="../../../public/js/easyUI/extendValidation.js" ></script>

    <script type="text/javascript" src="../../../public/js/easyUI/datagridForEasyUI.js" ></script>


    <!-- underscore 套件 -->
    <script src="../../../public/js/underscore/underscore-min.js" type="text/javascript"></script>
    <!--<script src="/js/underscore/underscore.string.min.js" type="text/javascript"></script>-->
    <!--<script type="text/javascript"> _.mixin(_.str.exports()) </script>-->

    <!-- 時間套件 -->
    <script src="../../../public/js/moment/moment.min.js"></script>

    <script src="../../../public/js/include.js"></script>

    <script src="../../../public/js/cookieFunc.js"></script>

    <script src="../../../public/js/colorTool.js"></script>

    <!-- color picker 套件 -->
    <script src="../../../public/js/spectrum/spectrum.js"></script>
    <script src="../../../public/js/spectrum/docs/toc.js"></script>
    <script src="../../../public/js/spectrum/docs/docs.js"></script>
    <script src="../../../public/js/spectrum/docs/prettify.js"></script>

    <!-- Boostrap date 套件 -->
    <script src="../../../public/js/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="../../../public/js/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="../../../public/js/bootstrap/bootstrap-timepicker.min.js"></script>
    <!-- 全頁日曆 -->
    <script src="../../../public/js/bs-calendar/bootstrap-year-calendar.min.js"></script>

    <!--treeTable-->
    <script type="text/javascript" src="../../../public/js/tree/jquery.treetable-ajax-persist.js"></script>
    <script type="text/javascript" src="../../../public/js/tree/jquery.treetable-3.0.0.js"></script>
    <script type="text/javascript" src="../../../public/js/tree/persist-min.js"></script>
    <!--fixTable-->
    <script type="text/javascript" src="../../../public/js/fixTable/jquery.fixedheadertable.js"></script>

    <!-- 警式視窗彈出 -->
    <script src="../../../public/js/gritter/jquery.gritter.min.js"></script>

    <!-- 多選chosen -->
    <script src="../../../public/js/chosen/chosen.jquery.js"></script>

    <!-- datagrid 類別 -->
    <script type="text/javascript" src="../../../public/js/easyUI/DatagridBaseClass.js"></script>

    <!-- axios ajax Lib -->
    <script src="../../../public/js/axios/axios.min.js"></script>

    <!-- easyui diolg 預設z-index 9000  會影響到element ui -->

    <!-- dropzone 上傳圖片套件 -->
    <script src="../../../public/js/dropzone/dropzone.js"></script>

    <!-- jsTree -->
    <script src="../../../public/js/tree/jstree.min.js"></script>

</head>
<body class="no-skin" data-feedly-mini="yes">

    <div id="MainApp" class="main-container ace-save-state" style="margin-top: 35px;">
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->

                <!-- /section:basics/content.breadcrumbs -->
                <div class="page-content dominos-inventory-wrap">

                    <!-- /section:settings.box -->
                    <div class="page-header no-border-bottom">
                        <h1>
                            門市Web訂單作業
                        </h1>
                    </div><!-- /.page-header -->
                    <div class="dominos-inventory-container">

                        <div class="dominos-inventory-left">
                            <div class="main-content-data">
                                <div class="horizTable-outer">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" style="min-width:70px;">訂單編號</th>
                                            <th class="css_th" style="min-width:70px;">員工編號</th>
                                            <th class="css_th" style="min-width:70px;">訂單日期</th>
                                            <th class="css_th" style="min-width:70px;">交貨日期</th>
                                            <th class="css_th" style="min-width:60px;">狀態</th>
                                            <th class="css_th" style="min-width:80px;">訂單格式</th>
                                            <th class="css_th" style="min-width:70px;">客戶代號</th>
                                            <th class="css_th" style="min-width:70px;">客戶名稱</th>
                                            <th class="css_th" style="min-width:100px;">訂單備註</th>
                                            <th class="css_th" style="min-width:70px;">輸入者</th>
                                            <th class="css_th" style="min-width:70px;">異動者</th>
                                            <th class="css_th" style="min-width:70px;">核准者</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody text-center">
                                        <tr class="css_tr">
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">2017/05/20</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">核准</td>
                                            <td class="css_td">零零七</td>
                                            <td class="css_td">RICK</td>
                                            <td class="css_td">A65</td>
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">2017/05/20</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">核准</td>
                                            <td class="css_td">零零七</td>
                                            <td class="css_td">RICK</td>
                                            <td class="css_td">A65</td>
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">2017/05/20</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">核准</td>
                                            <td class="css_td">零零七</td>
                                            <td class="css_td">RICK</td>
                                            <td class="css_td">A65</td>
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">2017/05/20</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">核准</td>
                                            <td class="css_td">零零七</td>
                                            <td class="css_td">RICK</td>
                                            <td class="css_td">A65</td>
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">2017/05/20</td>
                                            <td class="css_td"></td>
                                            <td class="css_td">核准</td>
                                            <td class="css_td">零零七</td>
                                            <td class="css_td">RICK</td>
                                            <td class="css_td">A65</td>
                                            <td class="css_td">123</td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                            <td class="css_td"></td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="splitter"></div>

                        <div class="dominos-inventory-right">
                            <div class="dominos-btn-group">
                                    <ul>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth foCnt_details" onclick="addData()" role="button">新增</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth foCnt_walkIn" onclick="editData()" role="button">修改</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth foCnt_dayUse" onclick="deleteData()" role="button">刪除</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth foCnt_dayUse" onclick="approved()" role="button">核准</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth foCnt_dayUse" onclick="cancel()" role="button">取消核准</button>
                                            <button class="btn btn-primary btn-white btn-defaultWidth" role="button">取消核准</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth" role="button">儲存</button>
                                        </li>
                                        <li class="btn-120">
                                            <button class="btn btn-primary btn-white btn-defaultWidth" role="button">空白訂貨表單下載</button>
                                        </li>
                                    </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="main-content-data dominos-input-group">
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂單編號</label>
                                        <input type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂單日期</label>
                                        <input id="order_dat" type="text" class="input-medium resvCardSpec1" placeholder="">
                                    </div>
                                    <div class="grid-item">
                                        <label>狀態</label>
                                        <input id="order_sta" type="text" class="input-medium resvCard" placeholder="核准" disabled>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>交貨日期</label>
                                        <input id="ship_dat" type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂單格式</label>
                                        <span class="moreClick">...</span>
                                        <select name="" id="order_format" class="input-medium resvCardSpec1" style="-webkit-appearance: menulist;">
                                            <option value="">123</option>
                                            <option value="">test</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>客戶代號</label>
                                        <select name="" id="show_cod" class="input-medium w118px" style="-webkit-appearance: menulist;">
                                            <option value="">123</option>
                                            <option value="">test</option>
                                        </select>
                                        <input type="text" class="input-medium w388px input-second-2" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>送貨地點</label>
                                        <input id="ship1_add" type="text" class="input-medium w253px address-frist" placeholder="" disabled>
                                        <input id="ship2_add" type="text" class="input-medium w253px address-second" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>員工編號</label>
                                        <input type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                    </div>
                                    <div class="grid-item">
                                        <label>員工姓名</label>
                                        <input id="atten_nam" type="text" class="input-medium resvCardSpec1" placeholder="">
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂單備註</label>
                                        <input id="order_rmk" type="text" class="input-medium w510px" placeholder="">
                                    </div>
                                </div>
                                <div class="grid">
                                <div class="grid-item">
                                    <label>輸入者</label>
                                    <input id="ins_usr" type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                </div>
                                <div class="grid-item">
                                    <label>輸入日</label>
                                    <input id="ins_dat" type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                </div>
                            </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>異動者</label>
                                        <input id="upd_usr" type="text" class="input-medium resvCardSpec1" placeholder="JAMES" disabled>
                                    </div>
                                    <div class="grid-item">
                                        <label>異動日</label>
                                        <input id="upd_dat" type="text" class="input-medium resvCardSpec1" placeholder="2016/05/07" disabled>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>核准者</label>
                                        <input id="cnfirm_cod" type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                    </div>
                                    <div class="grid-item">
                                        <label>核准日</label>
                                        <input id="cnfirm_dat" type="text" class="input-medium resvCardSpec1" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="space-12"></div>
                            <div class="dominos-inventory-details">
                                <div class="main-content-data">
                                    <div class="horizTable-outer">
                                        <table class="css_table horizTable">
                                            <thead class="css_thead">
                                            <tr class="css_tr text-center">
                                                <th class="css_th" style="min-width:60px;">序號</th>
                                                <th class="css_th" style="min-width:90px;">貨號</th>
                                                <th class="css_th" style="min-width:200px;">貨品描述</th>
                                                <th class="css_th" style="min-width:90px;">單位</th>
                                                <th class="css_th" style="min-width:80px">庫存量</th>
                                                <th class="css_th" style="min-width:80px;">建議訂購量</th>
                                                <th class="css_th" style="min-width:80px;">訂購量</th>
                                                <th class="css_th" style="min-width:200px;">備註</th>
                                            </tr>
                                            </thead>
                                            <tbody class="css_tbody">
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">以定轉明友文育解圖西體家代，朋怎土又有功，是他先高怕用感經：快而一才的部康然一氣，讀失麼：臺綠害到去處重府足男友？六十字</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">1</td>
                                                <td class="css_td">370100001</td>
                                                <td class="css_td">JAMESON 8YRS 700ml</td>
                                                <td class="css_td">瓶chipn</td>
                                                <td class="css_td text-right">2.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td text-right">1.00</td>
                                                <td class="css_td">快而一才的部康然一氣</td>
                                            </tr>
                                            <tr class="css_tr BgBacchusBlue text-center">
                                                <td class="css_td" colspan="3"></td>
                                                <td class="css_td">
                                                    合計
                                                </td>
                                                <td class="text-right">100</td>
                                                <td class="text-right">100</td>
                                                <td class="text-right">100</td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

    </div>
    <script>

        //監測div寬度套件
        (function($,window,undefined){
            '$:nomunge'; // Used by YUI compressor.

            // A jQuery object containing all non-window elements to which the resize
            // event is bound.
            var elems = $([]),

                // Extend $.resize if it already exists, otherwise create it.
                jq_resize = $.resize = $.extend( $.resize, {} ),

                timeout_id,

                // Reused strings.
                str_setTimeout = 'setTimeout',
                str_resize = 'resize',
                str_data = str_resize + '-special-event',
                str_delay = 'delay',
                str_throttle = 'throttleWindow';

            // Property: jQuery.resize.delay
            //
            // The numeric interval (in milliseconds) at which the resize event polling
            // loop executes. Defaults to 250.

            jq_resize[ str_delay ] = 250;

            // Property: jQuery.resize.throttleWindow
            //
            // Throttle the native window object resize event to fire no more than once
            // every <jQuery.resize.delay> milliseconds. Defaults to true.
            //
            // Because the window object has its own resize event, it doesn't need to be
            // provided by this plugin, and its execution can be left entirely up to the
            // browser. However, since certain browsers fire the resize event continuously
            // while others do not, enabling this will throttle the window resize event,
            // making event behavior consistent across all elements in all browsers.
            //
            // While setting this property to false will disable window object resize
            // event throttling, please note that this property must be changed before any
            // window object resize event callbacks are bound.

            jq_resize[ str_throttle ] = true;

            // Event: resize event
            //
            // Fired when an element's width or height changes. Because browsers only
            // provide this event for the window element, for other elements a polling
            // loop is initialized, running every <jQuery.resize.delay> milliseconds
            // to see if elements' dimensions have changed. You may bind with either
            // .resize( fn ) or .bind( "resize", fn ), and unbind with .unbind( "resize" ).
            //
            // Usage:
            //
            // > jQuery('selector').bind( 'resize', function(e) {
            // >   // element's width or height has changed!
            // >   ...
            // > });
            //
            // Additional Notes:
            //
            // * The polling loop is not created until at least one callback is actually
            //   bound to the 'resize' event, and this single polling loop is shared
            //   across all elements.
            //
            // Double firing issue in jQuery 1.3.2:
            //
            // While this plugin works in jQuery 1.3.2, if an element's event callbacks
            // are manually triggered via .trigger( 'resize' ) or .resize() those
            // callbacks may double-fire, due to limitations in the jQuery 1.3.2 special
            // events system. This is not an issue when using jQuery 1.4+.
            //
            // > // While this works in jQuery 1.4+
            // > $(elem).css({ width: new_w, height: new_h }).resize();
            // >
            // > // In jQuery 1.3.2, you need to do this:
            // > var elem = $(elem);
            // > elem.css({ width: new_w, height: new_h });
            // > elem.data( 'resize-special-event', { width: elem.width(), height: elem.height() } );
            // > elem.resize();

            $.event.special[ str_resize ] = {

                // Called only when the first 'resize' event callback is bound per element.
                setup: function() {
                    // Since window has its own native 'resize' event, return false so that
                    // jQuery will bind the event using DOM methods. Since only 'window'
                    // objects have a .setTimeout method, this should be a sufficient test.
                    // Unless, of course, we're throttling the 'resize' event for window.
                    if ( !jq_resize[ str_throttle ] && this[ str_setTimeout ] ) { return false; }

                    var elem = $(this);

                    // Add this element to the list of internal elements to monitor.
                    elems = elems.add( elem );

                    // Initialize data store on the element.
                    $.data( this, str_data, { w: elem.width(), h: elem.height() } );

                    // If this is the first element added, start the polling loop.
                    if ( elems.length === 1 ) {
                        loopy();
                    }
                },

                // Called only when the last 'resize' event callback is unbound per element.
                teardown: function() {
                    // Since window has its own native 'resize' event, return false so that
                    // jQuery will unbind the event using DOM methods. Since only 'window'
                    // objects have a .setTimeout method, this should be a sufficient test.
                    // Unless, of course, we're throttling the 'resize' event for window.
                    if ( !jq_resize[ str_throttle ] && this[ str_setTimeout ] ) { return false; }

                    var elem = $(this);

                    // Remove this element from the list of internal elements to monitor.
                    elems = elems.not( elem );

                    // Remove any data stored on the element.
                    elem.removeData( str_data );

                    // If this is the last element removed, stop the polling loop.
                    if ( !elems.length ) {
                        clearTimeout( timeout_id );
                    }
                },

                // Called every time a 'resize' event callback is bound per element (new in
                // jQuery 1.4).
                add: function( handleObj ) {
                    // Since window has its own native 'resize' event, return false so that
                    // jQuery doesn't modify the event object. Unless, of course, we're
                    // throttling the 'resize' event for window.
                    if ( !jq_resize[ str_throttle ] && this[ str_setTimeout ] ) { return false; }

                    var old_handler;

                    // The new_handler function is executed every time the event is triggered.
                    // This is used to update the internal element data store with the width
                    // and height when the event is triggered manually, to avoid double-firing
                    // of the event callback. See the "Double firing issue in jQuery 1.3.2"
                    // comments above for more information.

                    function new_handler( e, w, h ) {
                        var elem = $(this),
                            data = $.data( this, str_data );

                        // If called from the polling loop, w and h will be passed in as
                        // arguments. If called manually, via .trigger( 'resize' ) or .resize(),
                        // those values will need to be computed.
                        data.w = w !== undefined ? w : elem.width();
                        data.h = h !== undefined ? h : elem.height();

                        old_handler.apply( this, arguments );
                    };

                    // This may seem a little complicated, but it normalizes the special event
                    // .add method between jQuery 1.4/1.4.1 and 1.4.2+
                    if ( $.isFunction( handleObj ) ) {
                        // 1.4, 1.4.1
                        old_handler = handleObj;
                        return new_handler;
                    } else {
                        // 1.4.2+
                        old_handler = handleObj.handler;
                        handleObj.handler = new_handler;
                    }
                }

            };

            function loopy() {

                // Start the polling loop, asynchronously.
                timeout_id = window[ str_setTimeout ](function(){

                    // Iterate over all elements to which the 'resize' event is bound.
                    elems.each(function(){
                        var elem = $(this),
                            width = elem.width(),
                            height = elem.height(),
                            data = $.data( this, str_data );

                        // If element size has changed since the last time, update the element
                        // data store and trigger the 'resize' event.
                        if ( width !== data.w || height !== data.h ) {
                            elem.trigger( str_resize, [ data.w = width, data.h = height ] );
                        }

                    });

                    // Loop.
                    loopy();

                }, jq_resize[ str_delay ] );

            };

        })(jQuery,this);

        //啟動拖拉
        $(".dominos-inventory-left").resizable({
            handleSelector: ".splitter",
            resizeHeight: false
        });

        //右邊被拉小時，維持右邊欄位版面整齊
        $('.dominos-inventory-right').resize(function(){
            var elem = $(this);
            var inventoryRightW = elem.width();
            console.log(inventoryRightW);
            if(inventoryRightW < 614){
                $(".w510px").css("margin-left","92px");
            }else{
                $(".w510px").css("margin-left","0");
            }

            if(inventoryRightW < 611) {
                $(".address-second").css("margin-left","93px");
                $(".input-second-2").css("margin-left","93px");
            }else{
                $(".address-second").css("margin-left","0");
                $(".input-second-2").css("margin-left","0");
            }

            if(inventoryRightW < 355) {
                $(".address-frist").css("margin-left","93px");
            }else{
                $(".address-frist").css("margin-left","0");
            }

            if(inventoryRightW < 306) {
                $(".w510px").css("margin-left","0");
                $(".address-frist").css("margin-left","0");
                $(".input-second-2").css("margin-left","0");
                $(".address-second").css("margin-left","0");
                $(".w510px").css("margin-left","0");
            }
        });

    </script>
</body>
</html>