<div>
    <!-- PMS0320010 外幣匯兌 add 彈出視窗 -->
    <div id="cashier_FXDialog-add-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">
                            <!--1-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>水單號碼</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>廳別</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>班別</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                            </div>
                            <!--2-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>水單產生日</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="" />
                                </div>
                                <div class="grid-item">
                                    <label>水單狀態</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="" />
                                </div>

                            </div>
                            <!--3-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>房號</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>序號</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>身分證/護照</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                            </div>
                            <!--4-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>旅客姓名</label>
                                    <input type="text" class="input-medium rateCode-s1-col2"
                                           placeholder=""/>
                                </div>

                                <div class="grid-item">

                                    <label>生日</label>
                                    <input type="date" class="input-medium rateCode-s1"
                                           placeholder=""/>
                                </div>
                            </div>

                            <!--5-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>幣值代號</label>
                                    <select class="input-medium rateCode-s1">
                                        <option value="USA">美金USD</option>
                                        <option value="TWN">台幣TWD</option>
                                        <option value="JP">日本JPY</option>
                                    </select>
                                </div>
                                <div class="grid-item">
                                    <label>兌換方式</label>
                                    <select class="input-medium rateCode-s1">
                                        <option value="1">1:現金</option>
                                        <option value="2">2:轉帳</option>
                                        <option value="3">3:信用卡</option>
                                    </select>
                                </div>

                                <div class="grid-item">
                                    <label>國籍</label>
                                    <select class="input-medium rateCode-s1">
                                        <option value="TWN">TWN:中華民國台灣</option>
                                        <option value="USA">USA:美國</option>
                                        <option value="JP">JP:日本</option>
                                    </select>
                                </div>
                            </div>
                            <div class="border-double1"></div>
                            <div class="borderFrame">

                                <!--6-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>外幣金額</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder=""/>
                                    </div>

                                    <div class="grid-item">
                                        <label><span>＊</span>匯率</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="" />
                                    </div>
                                    <div class="grid-item">
                                        <label>＝原兌換金額</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="" />
                                    </div>
                                </div>

                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item grid-fee" style="margin-left: 567px;">
                                        <label>-手續費</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder=""/>
                                    </div>
                                </div>

                                <!--8-->
                                <div class="grid">
                                    <div class="grid-item" style="margin-left: 567px;">
                                        <label>兌換金額</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-6"></div>
                            <div class="grid grid-textArea">
                                <label class="pull-left">支/鈔票號碼</label>
                                <textarea class="pull-left remarkInput" rows="4" placeholder=""></textarea>
                                <span class="moreClick pull-left">...</span>
                            </div>

                            <div class="space-4"></div>
                            <div class="grid grid-textArea">
                                <label class="pull-left">備註</label>
                                <textarea class="pull-left remarkInput" rows="1" placeholder=""></textarea>
                            </div>

                            <div class="space-4"></div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>Added date</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="2017/7/17 18:39:13" disabled="disabled"/>
                                </div>
                                <div class="grid-item">
                                    <label>Added by</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="cio" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>Upd date</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="2017/7/17 18:39:13" disabled="disabled"/>
                                </div>
                                <div class="grid-item">
                                    <label>Upd by</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="cio" disabled="disabled"/>
                                </div>
                            </div>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Add
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Print
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0320010 外幣匯兌 add 彈出視窗 -->

    <!-- PMS0320010 外幣匯兌 void 彈出視窗 -->
    <div id="cashier_FXDialog-void-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">
                            <!--1-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>水單號碼</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="20170403010001" disabled/>
                                </div>
                                <div class="grid-item">
                                    <label>廳別</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="FO:客務櫃檯" disabled/>
                                </div>
                                <div class="grid-item">
                                    <label>班別</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="1" disabled/>
                                </div>
                            </div>
                            <!--2-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>水單產生日</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="2017/04/03" disabled/>
                                </div>
                                <div class="grid-item">
                                    <label>水單狀態</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="Ｎ:正常" disabled/>
                                </div>

                            </div>
                            <!--3-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>房號</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="306" disabled/>
                                </div>
                                <div class="grid-item">
                                    <label>序號</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="1" disabled/>
                                </div>
                                <div class="grid-item">
                                    <label>身分證/護照</label>
                                    <input type="text" class="input-medium rateCode-s1"
                                           placeholder="F223453291" disabled/>
                                </div>
                            </div>
                            <!--4-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>旅客姓名</label>
                                    <input type="text" class="input-medium rateCode-s1-col2"
                                           placeholder="黃志寧" disabled/>
                                </div>

                                <div class="grid-item">

                                    <label>生日</label>
                                    <input type="date" class="input-medium rateCode-s1"
                                           placeholder="1981/11/10" disabled/>
                                </div>
                            </div>

                            <!--5-->
                            <div class="grid">
                                <div class="grid-item">
                                    <label>幣值代號</label>
                                    <input type="date" class="input-medium rateCode-s1"
                                           placeholder="美金USD" disabled/>
                                    <!--<select class="input-medium rateCode-s1" disabled>-->
                                        <!--<option value="USA">美金USD</option>-->
                                        <!--<option value="TWN">台幣TWD</option>-->
                                        <!--<option value="JP">日本JPY</option>-->
                                    <!--</select>-->
                                </div>
                                <div class="grid-item">
                                    <label>兌換方式</label>
                                    <input type="date" class="input-medium rateCode-s1"
                                           placeholder="1:現金" disabled/>
                                </div>

                                <div class="grid-item">
                                    <label>國籍</label>
                                    <input type="date" class="input-medium rateCode-s1"
                                           placeholder="TWN:中華民國台灣" disabled/>
                                </div>
                            </div>
                            <div class="border-double1"></div>
                            <div class="borderFrame">

                                <!--6-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>外幣金額</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="50" disabled/>
                                    </div>

                                    <div class="grid-item">
                                        <label><span>＊</span>匯率</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="30,00000" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>＝原兌換金額</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="1,500" disabled/>
                                    </div>
                                </div>

                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item grid-fee" style="margin-left: 567px;">
                                        <label>-手續費</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="0" disabled/>
                                    </div>
                                </div>

                                <!--8-->
                                <div class="grid">
                                    <div class="grid-item" style="margin-left: 567px;">
                                        <label>兌換金額</label>
                                        <input type="text" class="input-medium rateCode-s1 text-right"
                                               placeholder="1,500" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-6"></div>
                            <div class="grid grid-textArea">
                                <label class="pull-left">支/鈔票號碼</label>
                                <textarea class="pull-left remarkInput" rows="4" placeholder="B7979791B" disabled></textarea>
                                <span class="moreClick pull-left">...</span>
                            </div>

                            <div class="space-4"></div>
                            <div class="grid grid-textArea">
                                <label class="pull-left">備註</label>
                                <textarea class="pull-left remarkInput" rows="1" placeholder="" disabled></textarea>
                            </div>

                            <div class="space-4"></div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>Added date</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="2017/7/17 18:39:13" disabled="disabled"/>
                                </div>
                                <div class="grid-item">
                                    <label>Added by</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="cio" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>Upd date</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="2017/7/17 18:39:13" disabled="disabled"/>
                                </div>
                                <div class="grid-item">
                                    <label>Upd by</label>
                                    <input type="text" class="input-medium rateCode-s1" placeholder="cio" disabled="disabled"/>
                                </div>
                            </div>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Voided
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0320010 外幣匯兌 void 彈出視窗 -->

    <!-- PMS0310010 住客帳維護單筆 edit 彈出視窗 -->
    <div id="cashierGstLedger_Single-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">

                            <div class="borderFrame">
                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房號</label>
                                        <input type="text" class="input-medium resvCardSpec1" placeholder="" />
                                        <input type="text" class="input-medium resvCard" placeholder="住客序號" />
                                    </div>
                                    <div class="grid-item">
                                        <label>公帳號</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>住客帳狀態</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                </div>
                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住客姓名</label>
                                        <input type="text" class="input-medium resvCard-col2Remark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                        <!--<select class="input-medium resvCard-xs" disabled>-->
                                        <!--<option value="male">M</option>-->
                                        <!--<option value="female">F</option>-->
                                        <!--</select>-->
                                    </div>
                                    <div class="grid-item">
                                        <label>訂房卡號</label>
                                        <input type="text" class="input-medium resvCardRemark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>消費總額</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                </div>
                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium resvCard-col2Remark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>預收款</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>

                                    <div class="grid-item">
                                        <label>訂金餘額</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                </div>
                                <!--4-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>公司名稱</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>代收代支</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>未結帳總額</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                </div>
                                <!--5-->
                                <!--todo 顯示至時分 -->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>入住日期</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder="" disabled/>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂金編號</label>
                                        <input type="text" class="input-medium resvCardRemark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>已結帳總額</label>
                                        <input type="text" class="input-medium resvCard" placeholder=""/>
                                    </div>
                                </div>
                                <!--6-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>預計退房日期</label>
                                        <input type="text" class="input-medium resvCard-col2" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>禮券金額</label>
                                        <input type="text" class="input-medium resvCardRemark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>客房備註</label>
                                        <input type="text" class="input-medium resvCard-fullRemark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <!--7-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>退房提醒</label>
                                        <input type="text" class="input-medium resvCard-fullRemark" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <!-------- tabPage -------->
                            <div style="position: relative;">
                                <div class="resvTabs-topTxt" style="bottom: -28px;">
                                    <div class="resvTabs-content">
                                        <span class="subT notice">未入電話帳27(1)</span>

                                        <button class="btn btn-sm btn-primary btn-white btn-sm-font2">補入</button>

                                    </div>
                                </div>
                            </div>
                            <div class="easyui-tabs easyUi-custom1" style="min-height: 0; height: 380px !important; overflow-y: auto;">
                                <div title="1美麗華旅行社($25,000)" class="padding-tabs">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="row">
                                            <!-- 住客帳維護_單筆_分帳夾01 cashier_GstLedgerSgl01 table -->
                                            <table id="cashier_GstLedgerSgl01-table" style="width: 100%; height: 310px;"></table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div title="2美麗信大飯店($1,000)" class="padding-tabs">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="row">
                                            <!-- 住客帳維護_單筆_分帳夾01 cashier_GstLedgerSgl02 table -->
                                            <table id="cashier_GstLedgerSgl02-table" style="width: 100%; height: 310px;"></table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!--<div title="9($25,000)" class="padding-tabs"></div>-->
                                <div title="<i class='fa fa-plus blue'></i>" class=""></div>
                            </div>
                            <!-------- /.tabPage -------->

                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Advance folio</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Routing</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Posting</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Transfer</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Adjustment</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Mini Bar</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Folio Printing</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Folio Status</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Partial Settle</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Settle</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Break down</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Split</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Exit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0310010 住客帳維護單筆 edit 彈出視窗 -->

    <!-- PMS0310030 InHouse 已結帳處理-明細 edit 彈出視窗 -->
    <div id="cashierHistLedger_Detail-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">
                            <div class="borderFrame">
                            <!--<div class="grid">-->
                                <!--<label for="">(退房/在館)</label>-->
                            <!--</div>-->

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房號</label>
                                        <input type="text" class="input-medium medium-xs-82" placeholder="150"/>
                                        <input type="text" class="input-medium medium-xs-82" placeholder="住客序號"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>公帳號</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="201704010000301"/>
                                    </div>
                                    <div class="grid-item">
                                        <label>住客帳狀態</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="C:結帳"/>
                                    </div>
                                </div>
                                <!--<div class="space-custom-5"></div>-->

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住客姓名</label>
                                        <input type="text" class="input-medium addedDate" placeholder="RICK"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂房卡號</label>
                                        <input type="text" class="input-medium addedDate" placeholder="23213"/>
                                        <span class="moreClick">...</span>

                                    </div>
                                    <div class="grid-item">
                                        <label>入住日期</label>
                                        <input type="datetime-local" class="input-medium medium-c1" placeholder="2017/04/03"/>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium addedDate" placeholder="Google"/>
                                        <span class="moreClick">...</span>
                                    </div>
                                    <div class="grid-item">
                                        <label>訂房來源</label>
                                        <input type="text" class="input-medium medium-c1" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>預計退房日期</label>
                                        <input type="date" class="input-medium medium-c1" placeholder=""/>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>公司名稱</label>
                                        <input type="text" class="input-medium medium-c1" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>市場類別</label>
                                        <input type="text" class="input-medium medium-c1" placeholder=""/>
                                    </div>
                                    <div class="grid-item">
                                        <label>實際退房日期</label>
                                        <input type="datetime-local" class="input-medium medium-c1" placeholder=""/>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="grid-item">
                                        <label>客房備註</label>
                                        <input type="text" class="input-medium medium-c1-410" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>退房提醒</label>
                                        <input type="text" class="input-medium medium-c1-410" placeholder=""/>
                                        <span class="moreClick">...</span>
                                    </div>
                                </div>
                            </div>

                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">帳單列印</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">退房還原</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">預估款</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">帳單E-Mail</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="space-6"></div>
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">
                            <table id="PMS0310030-customer-table" style="height: 200px; width: 100%;"></table>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth cashierHistLedger_Detail02"
                                                role="button">明細</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="space-6"></div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="css_table">
                            <div class="css_thead">
                                <div class="css_tr center">
                                    <div class="css_th width-20">中分類代號</div>
                                    <div class="css_th width-10">消費金額</div>
                                </div>
                            </div>
                            <div class="css_tbody">
                                <div class="css_tr">
                                    <div class="css_td">PKG:Package</div>
                                    <div class="css_td">5,000</div>
                                </div>
                                <div class="css_tr">
                                    <div class="css_td">PKG:Package</div>
                                    <div class="css_td">1,000</div>
                                </div>
                                <div class="css_tr">
                                    <div class="css_td">PKG:Package</div>
                                    <div class="css_td">500,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-5">
                        <div class="css_table">
                            <div class="css_thead">
                                <div class="css_tr center">
                                    <div class="css_th width-20">付款方式</div>
                                    <div class="css_th width-10">付款金額</div>
                                </div>
                            </div>
                            <div class="css_tbody">
                                <div class="css_tr">
                                    <div class="css_td">10:付現</div>
                                    <div class="css_td">5,000</div>
                                </div>
                                <div class="css_tr">
                                    <div class="css_td">10:付現</div>
                                    <div class="css_td">33,000</div>
                                </div>
                                <div class="css_tr">
                                    <div class="css_td">10:付現</div>
                                    <div class="css_td">2,000</div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0310030 已結帳處理-明細 edit 彈出視窗 -->

    <!-- PMS0310030 已結帳處理-住客帳明細 edit 彈出視窗 -->
    <div id="cashierHistLedger_Detail02-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data borderFrame">

                            <div class="grid">
                                <label for="">(退房/在館)</label>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>房號</label>
                                    <input type="text" class="input-medium medium-xs-80" placeholder="150"/>
                                    <input type="text" class="input-medium medium-xs-80" placeholder="住客序號"/>
                                </div>

                                <div class="grid-item">
                                    <label>公帳號</label>
                                    <input type="text" class="input-medium medium-c1" placeholder="201704010000301"/>
                                </div>
                                <div class="grid-item">
                                    <label>住客帳狀態</label>
                                    <input type="text" class="input-medium medium-c1" placeholder="C:結帳"/>
                                </div>

                            </div>
                            <!--<div class="space-custom-5"></div>-->

                            <div class="grid">

                                <div class="grid-item">
                                    <label>住客姓名</label>
                                    <input type="text" class="input-medium addedDate" placeholder="RICK"/>
                                    <span class="moreClick">...</span>

                                </div>
                                <div class="grid-item">
                                    <label>訂房卡號</label>
                                    <input type="text" class="input-medium addedDate" placeholder="23213"/>
                                    <span class="moreClick">...</span>

                                </div>
                                <div class="grid-item">
                                    <label>入住日期</label>
                                    <input type="date" class="input-medium medium-c1" placeholder="2017/04/03"/>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>訂房公司</label>
                                    <input type="text" class="input-medium addedDate" placeholder="Google"/>
                                    <span class="moreClick">...</span>
                                </div>
                                <div class="grid-item">
                                    <label>訂房來源</label>
                                    <input type="text" class="input-medium medium-c1" placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>預計退房日期</label>
                                    <input type="date" class="input-medium medium-c1" placeholder=""/>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>公司名稱</label>
                                    <input type="text" class="input-medium medium-c1" placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>市場類別</label>
                                    <input type="text" class="input-medium medium-c1" placeholder=""/>
                                </div>
                                <div class="grid-item">
                                    <label>實際退房日期</label>
                                    <input type="date" class="input-medium medium-c1" placeholder=""/>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid-item">
                                    <label>客房備註</label>
                                    <input type="text" class="input-medium medium-c1-410" placeholder=""/>
                                    <span class="moreClick">...</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid-item">
                                    <label>退房提醒</label>
                                    <input type="text" class="input-medium medium-c1-410" placeholder=""/>
                                    <span class="moreClick">...</span>
                                </div>
                            </div>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">結帳還原</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">重開發票</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">修改付款方式</button>
                                    </li>
                                    <li class="text-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl margin-5">分發票</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="space-6"></div>
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="main-content-data">
                            <table id="PMS0310030-customerDetail" style="height: 200px; width: 100%;"></table>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">明細</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="space-6"></div>
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row main-content-data">
                            <div class="col-xs-4">
                                <div class="css_table">
                                    <div class="css_thead">
                                        <div class="css_tr center">
                                            <div class="css_th width-20">中分類代號</div>
                                            <div class="css_th width-10">消費金額</div>
                                        </div>
                                    </div>
                                    <div class="css_tbody">
                                        <div class="css_tr">
                                            <div class="css_td">PKG:Package</div>
                                            <div class="css_td">5,000</div>
                                        </div>
                                        <div class="css_tr">
                                            <div class="css_td">PKG:Package</div>
                                            <div class="css_td">1,000</div>
                                        </div>
                                        <div class="css_tr">
                                            <div class="css_td">PKG:Package</div>
                                            <div class="css_td">500,000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="css_table">
                                    <div class="css_thead">
                                        <div class="css_tr center">
                                            <div class="css_th width-20">發票號碼</div>
                                            <div class="css_th width-10">發票金額</div>
                                        </div>
                                    </div>
                                    <div class="css_tbody">
                                        <div class="css_tr">
                                            <div class="css_td">JF00000301</div>
                                            <div class="css_td">5,000</div>
                                        </div>
                                        <div class="css_tr">
                                            <div class="css_td">QWE123456789</div>
                                            <div class="css_td">1,000</div>
                                        </div>
                                        <div class="css_tr">
                                            <div class="css_td">RRT89</div>
                                            <div class="css_td">1,586,700</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="css_table">
                                    <div class="css_thead">
                                        <div class="css_tr center">
                                            <div class="css_th width-20">付款方式</div>
                                            <div class="css_th width-10">付款金額</div>
                                        </div>
                                    </div>
                                    <div class="css_tbody">
                                        <div class="css_tr">
                                            <div class="css_td">10:付現</div>
                                            <div class="css_td">5,000</div>
                                        </div>
                                        <div class="css_tr">
                                            <div class="css_td">10:付現</div>
                                            <div class="css_td">33,000</div>
                                        </div>
                                        <div class="css_tr">
                                            <div class="css_td">10:付現</div>
                                            <div class="css_td">2,000</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">發票明細</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">付款明細</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0310030 已結帳處理-住客帳明細 edit 彈出視窗 -->

</div>
