<div>
    <!-- PMS0410010 清掃樓層  彈出視窗 -->
    <div id="houseKeep_cleanFloor-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">

                                <div class="borderFrame">
                                    <!--1-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>棟別</label>
                                            <input type="text" class="input-medium popWindow-s1" placeholder="" />
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>樓層</label>
                                            <select class="input-medium popWindow-s1">
                                                <option value="1">1F</option>
                                                <option value="2">2F</option>
                                                <option value="3">3F</option>
                                            </select>
                                        </div>
                                        <div class="grid-item">
                                            <label>清掃人員</label>
                                            <input type="text" class="input-medium popWindow-s1-col2" placeholder=""/>
                                        </div>
                                    </div>
                                    <p class="blue">執行查詢時棟別或樓層查詢條件需至少輸入任一條件</p>


                                    <div class="horizTable-outer">
                                        <table class="css_table horizTable">
                                            <thead class="css_thead">
                                            <tr class="css_tr text-center">
                                                <th class="css_th" style="min-width:70px;">清掃</th>
                                                <th class="css_th" style="min-width:70px;">房種</th>
                                                <th class="css_th" style="min-width:70px;">檢查狀態</th>

                                                <th class="css_th" style="min-width:70px;">清掃</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">檢查狀態</th>

                                                <th class="css_th" style="min-width:70px;">清掃</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">檢查狀態</th>

                                                <th class="css_th" style="min-width:70px;">清掃</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">檢查狀態</th>

                                            </tr>
                                            </thead>
                                            <tbody class="css_tbody">
                                            <tr class="css_tr">
                                                <td class="css_td text-center"><input type="checkbox" checked/></td>
                                                <td class="css_td">303</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox" checked/></td>
                                                <td class="css_td">305</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox" checked/></td>
                                                <td class="css_td">307</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox" checked/></td>
                                                <td class="css_td">307</td>
                                                <td class="css_td">未檢查</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td text-center"><input type="checkbox" checked/></td>
                                                <td class="css_td">506</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox"/></td>
                                                <td class="css_td">507</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox"/></td>
                                                <td class="css_td">1001</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox"/></td>
                                                <td class="css_td">1001</td>
                                                <td class="css_td">未檢查</td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td text-center"><input type="checkbox" checked/></td>
                                                <td class="css_td">506</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox"/></td>
                                                <td class="css_td">507</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox"/></td>
                                                <td class="css_td">1001</td>
                                                <td class="css_td">未檢查</td>
                                                <td class="css_td text-center"><input type="checkbox"/></td>
                                                <td class="css_td">1001</td>
                                                <td class="css_td">未檢查</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">清掃</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">指定人員</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">待檢查</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">全選</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">清除</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0410010 清掃樓層 彈出視窗 -->

    <!-- PMS0410010 設定修理/參觀  彈出視窗 -->
    <div id="houseKeep_fixVisit-message" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">
                                <div class="borderFrame">
                                    <!--1-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>房號</label>
                                            <input type="text" class="input-medium popWindow-s1 " placeholder="1001" />
                                        </div>
                                        <div class="grid-item">
                                            <label>類別</label>
                                            <select class="input-medium popWindow-s1 input_sta_required">
                                                <option value="1">Out of order</option>
                                                <option value="2">Show room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>開始日期</label>
                                            <input type="date" class="input-medium popWindow-s1 input_sta_required" placeholder="" />
                                        </div>
                                        <div class="grid-item">
                                            <label>結束日期</label>
                                            <input type="date" class="input-medium popWindow-s1 input_sta_required" placeholder="" />
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>修理/參觀原因</label>
                                            <input type="text" class="input-medium popWindow-s1-col2" placeholder="" />
                                        </div>
                                    </div>

                                </div>
                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                            <div class="row">
                                <div class="right-menu-co">
                                    <ul>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                    role="button">確定</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                    role="button">Quit</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0410010 設定修理/參觀 彈出視窗 -->

    <!-- PMS0410010 修理樓層  彈出視窗 -->
    <div id="houseKeep_fixedFloor-message" class="hide padding-5" >
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">
                                <div class="borderFrame">
                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>樓層</label>
                                        <input type="text" class="input-medium resvCard-m input_sta_required" placeholder="2" />
                                    </div>
                                    <div class="grid-item">
                                        <label>棟別</label>
                                        <input type="text" class="input-medium popWindow-s1" placeholder="" />
                                    </div>
                                </div>
                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>修理期間</label>
                                        <input type="date" class="input-medium popWindow-s1 input_sta_required" placeholder="2017/05/11" />
                                        <span>至</span>
                                        <input type="date" class="input-medium popWindow-s1 input_sta_required" placeholder="2017/05/12" />
                                    </div>
                                </div>
                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>修理原因</label>
                                        <input type="text" class="input-medium popWindow-s1-col2" placeholder="LOW SEASON BLOCK" />
                                    </div>
                                </div>
                                <div class="horizTable-outer">
                                    <table class="css_table horizTable">
                                        <thead class="css_thead">
                                        <tr class="css_tr text-center">
                                            <th class="css_th" style="min-width:70px;">房種</th>
                                            <th class="css_th" style="min-width:70px;">房號</th>
                                            <th class="css_th" style="min-width:70px;">修理</th>

                                            <th class="css_th" style="min-width:70px;">房種</th>
                                            <th class="css_th" style="min-width:70px;">房號</th>
                                            <th class="css_th" style="min-width:70px;">修理</th>

                                            <th class="css_th" style="min-width:70px;">房種</th>
                                            <th class="css_th" style="min-width:70px;">房號</th>
                                            <th class="css_th" style="min-width:70px;">修理</th>

                                            <th class="css_th" style="min-width:70px;">房種</th>
                                            <th class="css_th" style="min-width:70px;">房號</th>
                                            <th class="css_th" style="min-width:70px;">修理</th>

                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody text-center">
                                        <tr class="css_tr">
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">301</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">302</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">303</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">304</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">301</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">302</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">303</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">304</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">301</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">302</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">303</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                            <td class="css_td">DXK</td>
                                            <td class="css_td">304</td>
                                            <td class="css_td text-center">
                                                <label class="width-auto">
                                                    <input type="checkbox" checked/>
                                                    <span>修理</span>
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div><!--main-content-data-->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">修理</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">全選</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">清除</button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth"
                                            role="button">Quit</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0410010 修理樓層 彈出視窗 -->

    <!-- PMS0410010 刪除修理/參觀  彈出視窗 -->
    <div id="houseKeep_delFixVisit-message" class="hide padding-5" style="top: 0 !important;">
        <div class="businessCompanyData">
            <div class="col-xs-12">
                <div class="row search-content">
                    <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                    <div class="search-co">
                        <div class="search-co-h">
                            <i class="ace-icon fa fa-search search-icon"></i>
                            <span>Search</span>
                        </div>
                        <div class="">
                            <div class="search-co-content col-xs-12 rece-search-detail">
                                <div class="row search-footer-btn">
                                    <div class="footer-btn-menu-co">
                                        <ul>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                    <div class="icon-reStyle icon-co-14"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                    <div class="icon-reStyle icon-co-11"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  <!-- /.footer-btn-menu-co -->
                                </div> <!-- /.search-footer-btn -->
                                <div class="width-95">
                                    <!--1-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>種類</label>
                                            <select class="input-medium popWindow-s1">
                                                <option value="1">Out of order</option>
                                                <option value="2">Show room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>樓層</label>
                                            <input type="text" class="input-medium popWindow-s1" placeholder="" />
                                            <span class="moreClick">...</span>
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>房號</label>
                                            <input type="text" class="input-medium popWindow-s1" placeholder="1001" />
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div> <!-- row-->
                        <div class="clearfix"></div>
                    </div> <!-- /.search-co -->
                </div> <!-- /.row  search-content-->
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">
                                <div class="borderFrame">
                                    <div class="gridTableHt">
                                        <!-- 刪除修理/參觀 dataGrid -->
                                        <table id="hk_delFixVisit-table"></table>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-danger btn-white btn-defaultWidth"
                                                role="button">刪除</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">以下全選</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Quit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0410010 刪除修理/參觀 彈出視窗 -->

    <!-- PMS0410010 刪除瑕疵房  彈出視窗 -->
    <div id="houseKeep_flawedRoom-message" class="hide padding-5" style="top: 0 !important;">
        <div class="businessCompanyData">
            <div class="col-xs-12">
                <div class="row">
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>Search</span>
                            </div>
                            <div class="search-co-content col-xs-12 rece-search-detail">
                                <div class="row search-footer-btn">
                                    <div class="footer-btn-menu-co">
                                        <ul>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                    <div class="icon-reStyle icon-co-14"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                    <div class="icon-reStyle icon-co-11"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  <!-- /.footer-btn-menu-co -->
                                </div> <!-- /.search-footer-btn -->
                                <div class="width-95">
                                    <!--1-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>樓層</label>
                                            <input type="text" class="input-medium popWindow-s1" placeholder="" />
                                        </div>
                                        <div class="grid-item">
                                            <label>房號</label>
                                            <input type="text" class="input-medium popWindow-s1" placeholder="" />
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label>查詢狀態</label>
                                            <select class="input-medium popWindow-s1-col2v2">
                                                <option value="1">非瑕疵房</option>
                                                <option value="2">瑕疵房</option>
                                                <option value="3">全部</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="grid">
                                        <div class="grid-item">
                                            <label class="pull-left">瑕疵原因</label>
                                            <div class="pull-left">
                                                <textarea class="input-medium popWindow-s1-col2v2 input-hCol2 ml-5" placeholder="pick guy"></textarea>
                                                <span class="checkbox no-margin">
                                                  <label class="checkbox-width width-auto">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                                      <span class="lbl">取消瑕疵房時設為髒房</span>
                                                  </label>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div> <!-- /.search-co -->
                    </div> <!-- /.  search-content-->
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-11">
                        <div class="row no-margin-right">
                            <div class="main-content-data">
                                <div class="borderFrame">
                                    <div class="horizTable-outer">
                                        <table class="css_table horizTable">
                                            <thead class="css_thead">
                                            <tr class="css_tr text-center">
                                                <th class="css_th" style="min-width:70px;">房種</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">瑕疵房</th>

                                                <th class="css_th" style="min-width:70px;">房種</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">瑕疵房</th>

                                                <th class="css_th" style="min-width:70px;">房種</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">瑕疵房</th>

                                                <th class="css_th" style="min-width:70px;">房種</th>
                                                <th class="css_th" style="min-width:70px;">房號</th>
                                                <th class="css_th" style="min-width:70px;">瑕疵房</th>

                                            </tr>
                                            </thead>
                                            <tbody class="css_tbody text-center">
                                            <tr class="css_tr">
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">301</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">302</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">303</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">304</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">301</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">302</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">303</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">304</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                            </tr>
                                            <tr class="css_tr">
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">301</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">302</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">303</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                                <td class="css_td">DXK</td>
                                                <td class="css_td">304</td>
                                                <td class="css_td text-center">
                                                    <input type="checkbox" checked/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div><!--main-content-data-->
                        </div>
                    </div>
                    <div class="col-xs-1">
                            <div class="row">
                                <div class="right-menu-co">
                                    <ul>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                    role="button">設定</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                    role="button">以下全選</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                    role="button">Quit</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.PMS0410010 刪除瑕疵房 彈出視窗 -->

    <!--/***
    <!--* PMS0410020 房務入帳	HK Ledger
        **/-->

    <!-- PMS0410020 hk-postion 彈出視窗 -->
    <div id="hk-postion-page" class="hide padding-5" style="top: 0 !important;">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12 main-content-data">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 hk-posting-frist">
                        <div class="grid">
                            <div class="grid-item">
                                <label class="label-spc-2">房號</label>
                                <input type="text" class="input-medium resvCard-xlxl" placeholder="314">
                                -
                                <input type="text" class="input-medium resvCard-2xs" placeholder="2">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label class="label-spc-2">C/I日期</label>
                                <input type="date" class="input-medium rateCode-s1" placeholder="">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label class="label-spc-2">住客姓名</label>
                                <input type="text" class="input-medium rateCode-s1" placeholder="李懷遠">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label class="label-spc-2">備註</label>
                                <input type="text" class="input-medium rateCode-s1" placeholder="">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item">
                                <label class="label-spc-2">帳單備註</label>
                                <input type="text" class="input-medium rateCode-s1" placeholder="">
                            </div>
                        </div>
                        <!-- 房務入帳-table dataGrid -->
                        <div class="margin-top20">
                            <table id="postion-table"></table>
                        </div>
                        <hr>
                        <div class="hk-foot">
                            <span>總計：2,000</span>
                            <span class="ml-5">22</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="width-10 float-left">
                        <div class="hk-boxs-wrap row">
                            <div class="hk-boxsRow hk-boxsMid hk-midNav-1">
                                <div class="hk-MidBoxsBlock hk-mid-1">
                                    <div class="head">
                                        <span class="left txt-lg">D01</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="content">
                                        <span>乾洗收入</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="hk-MidBoxsBlock hk-mid-2">
                                    <div class="head">
                                        <span class="left txt-lg">W01</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="content">
                                        <span>水洗收入</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="hk-boxsRow hk-boxsMid hk-midNav-2">
                                <div class="hk-MidBoxsBlock hk-mid2-1">
                                    <div class="head">
                                        <span class="left txt-lg">S06</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="content">
                                        <span>洗褲子收入</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="hk-MidBoxsBlock hk-mid2-2">
                                    <div class="head">
                                        <span class="left txt-lg">Q01</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="content">
                                        <span>洗襯衫收入</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="hk-MidBoxsBlock hk-mid2-3">
                                    <div class="head">
                                        <span class="left txt-lg">T01</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="content">
                                        <span>洗內衣收入</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="width-48 float-left no-padding-left">
                        <div class="tab-content padding-8 hk-boxs-container">
                            <div id="All" class="tab-pane in active"
                                 style="position: relative; ">
                                <div class="hk-boxs-wrap">
                                    <div class="hk-boxsRow hk-mian-content">
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="hk-boxsRow hk-mian-content-2">
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="hk-boxsBlock">
                                            <div class="head">
                                                <span class="left txt-lg">W001</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="content">
                                                <span>牛仔褲</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="hk-back-btn-wrap">
                                        <div class="col-xs-3 col-sm-3 hk-back-btn">
                                            <div class="row">
                                                <div class="right-menu-co">
                                                    <button class="btn btn-primary btn-white btn-defaultWidth hk-back-nav"
                                                            role="button" >Back
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="width-4 float-left marginLeft-27">
                        <div class="row">
                            <div class="right-menu-co">

                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth lf-modify-btn"
                                                role="button">數量＋
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">數量－
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">金額修改
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth lf-modify-btn"
                                                role="button">刪除
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">補單
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">存檔
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">離開
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-10 hk-footer">
            <div class="row">
                <span>入帳類別：03</span>
                <span class="marginLeft-30">洗衣項目</span>
            </div>
        </div>
    </div>
    <!-- /.hk-postion -->

    <!-- PMS0410020 hk-detail 彈出視窗 -->
    <div id="hk-detail-page" class="hide padding-5" style="top: 100px !important;">
        <div class="businessCompanyData">
            <!--標題-->
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <div class="row no-margin-right">

                            <div class="main-content-data borderFrame">
                                <!--1-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>房號</label>
                                        <input type="text" class="input-medium resvCardRemark" placeholder="2205">
                                        -
                                        <input type="text" class="input-medium resvCardRemark" placeholder="住客序號">                                    </div><div class="grid-item">
                                        <label>公帳號</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="5566" />
                                    </div>
                                    <div class="grid-item">
                                        <label>住客帳狀態</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="O:開帳" />
                                    </div>
                                </div>
                                <!--2-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>住客姓名</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="RICK" />
                                    </div><div class="grid-item">
                                        <label>訂房卡號</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="1233" />
                                    </div>
                                    <div class="grid-item">
                                        <label>訂房來源</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="web" />
                                    </div>
                                </div>
                                <!--3-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>訂房公司</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="google" />
                                    </div><div class="grid-item">
                                        <label>入住日期</label>
                                        <input type="date" class="input-medium medium-c1" placeholder="" />
                                    </div>
                                    <div class="grid-item">
                                        <label>市場類別</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="china" />
                                    </div>
                                </div>
                                <!--4-->
                                <div class="grid">
                                    <div class="grid-item">
                                        <label>公司名稱</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="墨墨" />
                                    </div><div class="grid-item">
                                        <label>預計退房日期</label>
                                        <input type="date" class="input-medium medium-c1" placeholder="" />
                                    </div>
                                    <div class="grid-item">
                                        <label>消費總額</label>
                                        <input type="text" class="input-medium medium-c1" placeholder="5,000" />
                                    </div>
                                </div>
                            </div><!--main-content-data-->

                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">Void</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button">補單</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>

            <!---->
            <div class="col-xs-12 margin-top20">
                <div class="row">
                    <div class="col-sm-11 col-xs-11">
                        <div class="row no-margin-right">
                            <!-- message front_message-table dataGrid -->
                            <table id="hk-detailsFrist-table" style="width:879px;height:100px;"></table>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-sm-12 -->
            <div class="col-xs-12 margin-top20">
                <div class="row">
                    <div class="col-sm-11 col-xs-11">
                        <div class="row no-margin-right">
                            <!-- message front_message-table dataGrid -->
                            <table id="hk-details-table"></table>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-sm-12 -->

            <div class="clearfix"></div>
            <!--<div class="space-4"></div>-->
        </div>
    </div>
    <!-- /.hk-detail -->
</div>
