<div class="horizTable-outer pull-left chooseCount" style="min-width: 30px; max-width:5%;">
    <table class="css_table horizTable center table-lg width-100">
        <tbody class="css_tbody">
        <tr class="css_tr">
            <td class="css_td active">All</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">1F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">2F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">3F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">4F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">5F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">6F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">7F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">8F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">9F</td>
        </tr>
        <tr class="css_tr">
            <td class="css_td">10F</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content-data pull-left borderFrame resultCount hk-dataList-container" style="width: 95%;">
    <div class="easyui-panel hk-PMS0410010">
        <table id="hk-PMS0410010-table" class=""></table>
        <div class="clearfix"></div>
    </div>
</div>


<div class="main-content-data pull-left borderFrame padding-2 resultCount hk-table-container" style="max-width: 95%;">

    <div class="counterPage">
        <div class="counterRow">
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">201</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white active">
                <div class="head">
                    <span class="txt-lg">202</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">203</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">204</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">205</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">206</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">207</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">208</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyBlue color-white">
                <div class="head">
                    <span class="txt-lg">209</span>
                    <br>
                    <span class="">樓層施工</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyGreen">
                <div class="head">
                    <span class="txt-lg">210</span>
                    <span class="ml-5">08/07~08/07</span>
                    <br>
                    <span class="">休息客</span>
                    <span class="float-right">0/0</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-darkGreen">
                <div class="head">
                    <span class="txt-lg">301</span>
                </div>
                <div class="content">
                    <span class="red text-center">請掃</span>
                </div>
                <div class="content-sub">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cd-sexyPurple">
                <div class="head">
                    <span class="txt-lg">302</span>
                    <span class="ml-5">08/07~08/07</span>
                    <br>
                    <span class="">0933554劉帥哥</span>
                    <span class="float-right">0/0</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-darkGreen">
                <div class="head">
                    <span class="txt-lg">303</span>
                </div>
                <div class="content"></div>
                <div class="content-sub">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">305</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">306</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">307</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">308</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-darkGreen">
                <div class="head">
                    <span class="txt-lg">309</span>
                </div>
                <div class="content">
                </div>
                <div class="content-sub">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">310</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cd-sexyPurple">
                <div class="head">
                    <span class="txt-lg">501</span>
                    <span class="ml-5">08/07~08/07</span>
                    <br>
                    <span class="">0933554劉帥哥</span>
                    <span class="float-right">0/0</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cd-sexyPurple">
                <div class="head">
                    <span class="txt-lg">502</span>
                    <span class="ml-5">08/07~08/07</span>
                    <br>
                    <span class="">0933554劉帥哥</span>
                    <span class="float-right">0/0</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">503</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">505</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">506</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">507</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">508</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">509</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">510</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cd-sexyPurple">
                <div class="head">
                    <span class="txt-lg">601</span>
                    <span class="ml-5">08/07~08/07</span>
                    <br>
                    <span class="">0933554劉帥哥</span>
                    <span class="float-right">0/0</span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                    <span class="left"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">602</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">603</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">605</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">606</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">607</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">608</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-darkGreen">
                <div class="head">
                    <span class="txt-lg">609</span>
                </div>
                <div class="content">
                </div>
                <div class="content-sub">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">610</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">701</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">702</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">703</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">705</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">706</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">707</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">708</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">709</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="counterBlock cb-sexyYellow">
                <div class="head">
                    <span class="left txt-lg">710</span>
                    <span class="right"></span>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                </div>
                <div class="clearfix"></div>
                <div class="content-sub">
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

</div><!--main-content-data-->

